Repository dydxprotocol/v4-chain, pull requests merged in 2023-12, with the labels that each got.

#792 [CLOB-1014] [CLOB-1004] Unify metrics library, un-modularize metrics keys
  protocol/lib/metrics/constants.go
  protocol/lib/metrics/lib.go
  protocol/lib/metrics/metric_keys.go
  protocol/lib/metrics/util.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/mev.go
  protocol/x/clob/types/order_id.go
Labels: protocol

#828 [CLOB-1007] add protos for final settlement clob pair status and removal reason
  indexer/packages/postgres/src/constants.ts
  indexer/packages/postgres/src/types/perpetual-market-types.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/clob_pair.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/protocol/v1/clob.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/shared/removal_reason.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/ender/src/scripts/dydx_clob_pair_status_to_market_status.sql
  proto/dydxprotocol/clob/clob_pair.proto
  proto/dydxprotocol/indexer/protocol/v1/clob.proto
  proto/dydxprotocol/indexer/shared/removal_reason.proto
  protocol/indexer/protocol/v1/clob.pb.go
  protocol/indexer/protocol/v1/v1_mappers.go
  protocol/indexer/protocol/v1/v1_mappers_test.go
  protocol/indexer/shared/removal_reason.pb.go
  protocol/x/clob/types/clob_pair.pb.go
Labels: indexer, protocol, proto

#833 [CLOB-1015][CLOB-1016] Update MatchPerpetualDeleveraging and DeleveragingEventV1 to have final settlement flag
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/matches.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  proto/dydxprotocol/clob/matches.proto
  proto/dydxprotocol/indexer/events/events.proto
  protocol/indexer/events/events.pb.go
  protocol/x/clob/types/matches.pb.go
Labels: indexer, protocol, proto

#840 enable sending BpMevMatches and ProposalReceiveTime to MEV indexer
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/mev.ts
  proto/dydxprotocol/clob/mev.proto
  protocol/x/clob/keeper/mev.go
  protocol/x/clob/types/mev.pb.go
Labels: indexer, protocol, proto

#841 [CLOB-1031] add query to get all liquidity tiers
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/query.ts
  proto/dydxprotocol/perpetuals/query.proto
  protocol/x/perpetuals/keeper/grpc_query_liquidity_tiers.go
  protocol/x/perpetuals/keeper/grpc_query_liquidity_tiers_test.go
  protocol/x/perpetuals/types/query.pb.go
  protocol/x/perpetuals/types/query.pb.gw.go
Labels: indexer, protocol, proto

#744 [CORE-617] [Resubmit] Add vest/rewards e2e test suite
  protocol/testing/e2e/funding/funding_e2e_test.go
  protocol/testing/e2e/trading_rewards/trading_rewards_test.go
  protocol/testutil/clob/human_order.go
  protocol/testutil/clob/order.go
  protocol/testutil/pricefeed/index_price.go
Labels: protocol

#835 [CLOB-1028] allow settlement at oracle price in ProcessDeleveraging
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/process_operations.go
Labels: protocol

#838 Enable using multiple mev telemetry hosts
  protocol/x/clob/flags/flags.go
  protocol/x/clob/flags/flags_test.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/mev.go
  protocol/x/clob/mev_telemetry/telemetry.go
Labels: protocol

#854 Fix unsettled funding sign
  indexer/packages/postgres/__tests__/db/helpers.test.ts
  indexer/packages/postgres/src/db/helpers.ts
  indexer/services/comlink/__tests__/controllers/api/v4/addresses-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/perpetual-positions-controller.test.ts
  indexer/services/comlink/__tests__/lib/helpers.test.ts
  indexer/services/comlink/src/lib/helpers.ts
  indexer/services/roundtable/src/helpers/pnl-ticks-helper.ts
Labels: indexer

#851 [IND-510] setup containerized Docker env for e2e testing
  e2e-testing/.env
  e2e-testing/docker-compose-e2e-test.yml
  e2e-testing/run-containerized-env.sh
  protocol/Makefile
  protocol/testing/e2etest-local/Dockerfile
  protocol/testing/e2etest-local/local.sh
  protocol/testing/genesis.sh
Labels: protocol

#855 [CLOB-1036] organizational update for liquidation daemon
  protocol/daemons/liquidation/client/grpc_helper.go
  protocol/daemons/liquidation/client/grpc_helper_test.go
  protocol/daemons/liquidation/client/sub_task_runner.go
Labels: protocol

#802 [CORE-668,CORE-669] - Add health monitor flags
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/daemons/flags/flags.go
  protocol/daemons/flags/flags_test.go
  protocol/daemons/pricefeed/client/client_integration_test.go
  protocol/daemons/server/types/health_checker.go
  protocol/daemons/server/types/health_monitor.go
  protocol/daemons/server/types/health_monitor_test.go
  protocol/docker-compose.yml
  protocol/x/clob/client/cli/cancel_order_cli_test.go
  protocol/x/clob/client/cli/liquidations_cli_test.go
  protocol/x/clob/client/cli/place_order_cli_test.go
Labels: protocol

#857 [CLOB-1038] liquidation daemon - grpc to get all market prices
  protocol/daemons/liquidation/client/client.go
  protocol/daemons/liquidation/client/grpc_helper.go
  protocol/daemons/liquidation/client/grpc_helper_test.go
  protocol/lib/metrics/metric_keys.go
Labels: protocol

#847 Implement `GetNegativeTncSubaccountSeenAtBlock` and `SetNegativeTncSubaccountSeenAtBlock` [CLOB-1026]
  protocol/x/clob/keeper/stateful_order_state.go
  protocol/x/subaccounts/keeper/negative_tnc_subaccount.go
  protocol/x/subaccounts/keeper/negative_tnc_subaccount_test.go
  protocol/x/subaccounts/types/keys.go
Labels: protocol

#862 Cherry-pick changes for indexer v1.0.3
  .github/workflows/indexer-build-and-push-mainnet.yml
  indexer/packages/postgres/__tests__/db/helpers.test.ts
  indexer/packages/postgres/src/db/helpers.ts
  indexer/services/comlink/__tests__/controllers/api/v4/addresses-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/perpetual-positions-controller.test.ts
  indexer/services/comlink/__tests__/lib/helpers.test.ts
  indexer/services/comlink/src/lib/helpers.ts
  indexer/services/roundtable/src/helpers/pnl-ticks-helper.ts
Labels: indexer

#860 Organize Ender SQL scripts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/lib/batched-handlers.ts
  indexer/services/ender/src/scripts/handlers/dydx_asset_create_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_block_processor_ordered_handlers.sql
  indexer/services/ender/src/scripts/handlers/dydx_block_processor_unordered_handlers.sql
  indexer/services/ender/src/scripts/handlers/dydx_deleveraging_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_funding_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_liquidity_tier_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_market_create_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_market_modify_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_market_price_update_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_perpetual_market_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_stateful_order_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_subaccount_update_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_transfer_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_update_clob_pair_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_update_perpetual_handler.sql
  indexer/services/ender/src/scripts/helpers/dydx_clob_pair_status_to_market_status.sql
  indexer/services/ender/src/scripts/helpers/dydx_create_initial_rows_for_tendermint_block.sql
  indexer/services/ender/src/scripts/helpers/dydx_create_tendermint_event.sql
  indexer/services/ender/src/scripts/helpers/dydx_create_transaction.sql
  indexer/services/ender/src/scripts/helpers/dydx_event_id_from_parts.sql
  indexer/services/ender/src/scripts/helpers/dydx_from_jsonlib_long.sql
  indexer/services/ender/src/scripts/helpers/dydx_from_protocol_order_side.sql
  indexer/services/ender/src/scripts/helpers/dydx_from_protocol_time_in_force.sql
  indexer/services/ender/src/scripts/helpers/dydx_from_serializable_int.sql
  indexer/services/ender/src/scripts/helpers/dydx_get_fee_from_liquidity.sql
  indexer/services/ender/src/scripts/helpers/dydx_get_order_status.sql
  indexer/services/ender/src/scripts/helpers/dydx_get_perpetual_market_for_clob_pair.sql
  indexer/services/ender/src/scripts/helpers/dydx_get_total_filled_from_liquidity.sql
  indexer/services/ender/src/scripts/helpers/dydx_get_weighted_average.sql
  indexer/services/ender/src/scripts/helpers/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/helpers/dydx_order_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/helpers/dydx_perpetual_position_and_order_side_matching.sql
  indexer/services/ender/src/scripts/helpers/dydx_protocol_condition_type_to_order_type.sql
  indexer/services/ender/src/scripts/helpers/dydx_tendermint_event_to_transaction_index.sql
  indexer/services/ender/src/scripts/helpers/dydx_trim_scale.sql
  indexer/services/ender/src/scripts/helpers/dydx_update_perpetual_position_aggregate_fields.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid_from_asset_position_parts.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid_from_fill_event_parts.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid_from_funding_index_update_parts.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid_from_oracle_price_parts.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid_from_order_id.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid_from_order_id_parts.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid_from_perpetual_position_parts.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid_from_subaccount_id.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid_from_subaccount_id_parts.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid_from_transaction_parts.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid_from_transfer_parts.sql
  indexer/services/ender/src/scripts/setup/create_extension_pg_stat_statements.sql
  indexer/services/ender/src/scripts/setup/create_extension_uuid_ossp.sql
Labels: indexer

#861 add more Indexer stats around funding indices
  indexer/packages/postgres/src/constants.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/models/funding-index-updates-model.ts
  indexer/services/ender/__tests__/handlers/funding-handler.test.ts
  indexer/services/ender/src/handlers/funding-handler.ts
  indexer/services/ender/src/scripts/handlers/dydx_funding_handler.sql
Labels: indexer

#864 [CORE-826] Initial protos for `x/ibcratelimit`
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ibcratelimit/capacity.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ibcratelimit/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ibcratelimit/limit_params.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ibcratelimit/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ibcratelimit/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ibcratelimit/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ibcratelimit/tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/rpc.query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/rpc.tx.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/ibcratelimit/capacity.proto
  proto/dydxprotocol/ibcratelimit/genesis.proto
  proto/dydxprotocol/ibcratelimit/limit_params.proto
  proto/dydxprotocol/ibcratelimit/query.proto
  proto/dydxprotocol/ibcratelimit/tx.proto
  protocol/x/ibcratelimit/types/capacity.pb.go
  protocol/x/ibcratelimit/types/genesis.pb.go
  protocol/x/ibcratelimit/types/limit_params.pb.go
  protocol/x/ibcratelimit/types/query.pb.go
  protocol/x/ibcratelimit/types/tx.pb.go
Labels: indexer, protocol, proto

#869 Rename TradingRewardEventV1 name and denom field
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/indexer/events/events.pb.go
Labels: indexer, protocol, proto

#859 [CLOB-1037] grpc to get all perpetuals and liquidity tiers
  protocol/daemons/liquidation/client/client.go
  protocol/daemons/liquidation/client/grpc_helper.go
  protocol/daemons/liquidation/client/grpc_helper_test.go
  protocol/lib/metrics/metric_keys.go
  protocol/mocks/QueryClient.go
  protocol/testutil/grpc/client.go
Labels: protocol

#866 Delete unused transfer code
  protocol/x/subaccounts/keeper/transfer.go
  protocol/x/subaccounts/keeper/transfer_test.go
Labels: protocol

#852 [IND-515] add fixed price exchange for e2e testing purposes
  protocol/daemons/pricefeed/client/constants/exchange_common/exchange_id.go
  protocol/daemons/pricefeed/client/constants/static_exchange_details.go
  protocol/daemons/pricefeed/client/constants/static_exchange_market_config.go
  protocol/daemons/pricefeed/client/constants/static_exchange_query_config.go
  protocol/daemons/pricefeed/client/constants/static_exchange_query_config_test.go
  protocol/daemons/pricefeed/client/price_function/test_fixed_price_exchange/exchange_query_details.go
  protocol/daemons/pricefeed/client/price_function/test_fixed_price_exchange/fixed_price_function.go
  protocol/testutil/daemons/pricefeed/exchange_config/testnet_exchange_market_config.go
Labels: protocol

#870 [CORE-827] Scaffolding code for `x/ibcratelimit`
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ibcratelimit/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/lcd.ts
  proto/dydxprotocol/ibcratelimit/query.proto
  protocol/x/ibcratelimit/client/cli/query.go
  protocol/x/ibcratelimit/client/cli/query_params.go
  protocol/x/ibcratelimit/client/cli/query_params_test.go
  protocol/x/ibcratelimit/client/cli/tx.go
  protocol/x/ibcratelimit/genesis.go
  protocol/x/ibcratelimit/genesis_test.go
  protocol/x/ibcratelimit/keeper/grpc_query.go
  protocol/x/ibcratelimit/keeper/grpc_query_test.go
  protocol/x/ibcratelimit/keeper/keeper.go
  protocol/x/ibcratelimit/keeper/keeper_test.go
  protocol/x/ibcratelimit/keeper/msg_server.go
  protocol/x/ibcratelimit/keeper/msg_server_test.go
  protocol/x/ibcratelimit/module.go
  protocol/x/ibcratelimit/module_simulation.go
  protocol/x/ibcratelimit/module_test.go
  protocol/x/ibcratelimit/simulation/helpers.go
  protocol/x/ibcratelimit/types/codec.go
  protocol/x/ibcratelimit/types/errors.go
  protocol/x/ibcratelimit/types/expected_keepers.go
  protocol/x/ibcratelimit/types/genesis.go
  protocol/x/ibcratelimit/types/genesis_test.go
  protocol/x/ibcratelimit/types/keys.go
  protocol/x/ibcratelimit/types/keys_test.go
  protocol/x/ibcratelimit/types/params.go
  protocol/x/ibcratelimit/types/query.pb.go
  protocol/x/ibcratelimit/types/query.pb.gw.go
  protocol/x/ibcratelimit/types/tx.go
  protocol/x/ibcratelimit/types/types.go
Labels: indexer, protocol, proto

#858 [CLOB-1001] Add flag to format tag values for datadog error tracking
  protocol/app/datadog.go
  protocol/app/flags/flags.go
  protocol/cmd/dydxprotocold/cmd/root.go
  protocol/docker-compose.yml
  protocol/go.mod
Labels: protocol

#850 Emit TradingRewardEventV1 events in rewards module
  protocol/app/app.go
  protocol/indexer/events/constants.go
  protocol/testing/e2e/trading_rewards/trading_rewards_test.go
  protocol/testutil/app/app.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/rewards.go
  protocol/x/rewards/keeper/keeper.go
  protocol/x/rewards/module_test.go
Labels: protocol

#876 Fix CLOB flag parsing for MEV telemetry hosts
  protocol/x/clob/flags/flags.go
Labels: protocol

#875 Fix false positive race tests by gating all R/W access to timers behind synchronization
  protocol/daemons/server/types/health_checker.go
Labels: protocol

#836 [DEC-2196] deprecate non-linear margin requirements
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/perpetual.ts
  proto/dydxprotocol/indexer/events/events.proto
  proto/dydxprotocol/perpetuals/perpetual.proto
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/liquidity_tier.go
  protocol/indexer/events/liquidity_tier_test.go
  protocol/mocks/PerpetualsKeeper.go
  protocol/testing/e2e/gov/perpetuals_test.go
  protocol/testutil/constants/perpetuals.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/liquidity_tier/liquidity_tier.go
  protocol/testutil/sim_helpers/genesis_parameters.go
  protocol/x/clob/e2e/liquidation_deleveraging_test.go
  protocol/x/perpetuals/client/cli/query_perpetual_test.go
  protocol/x/perpetuals/genesis.go
  protocol/x/perpetuals/genesis_test.go
  protocol/x/perpetuals/keeper/msg_server_set_liquidity_tier.go
  protocol/x/perpetuals/keeper/msg_server_set_liquidity_tier_test.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/module_test.go
  protocol/x/perpetuals/simulation/genesis.go
  protocol/x/perpetuals/types/errors.go
  protocol/x/perpetuals/types/genesis_test.go
  protocol/x/perpetuals/types/liquidity_tier.go
  protocol/x/perpetuals/types/liquidity_tier_test.go
  protocol/x/perpetuals/types/message_set_liquidity_tier_test.go
  protocol/x/perpetuals/types/perpetual.pb.go
  protocol/x/perpetuals/types/types.go
Labels: indexer, protocol, proto, proposal-breaking

#879 [CLOB-1050] update daemon liquidation info to include negative tnc su…
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/liquidations.ts
  proto/dydxprotocol/clob/liquidations.proto
  protocol/app/app.go
  protocol/daemons/server/liquidation.go
  protocol/daemons/server/liquidation_test.go
  protocol/daemons/server/types/liquidations/daemon_liquidation_info.go
  protocol/daemons/server/types/liquidations/daemon_liquidation_info_test.go
  protocol/daemons/server/types/liquidations/liquidatable_subaccount_ids.go
  protocol/daemons/server/types/liquidations/liquidatable_subaccount_ids_test.go
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/module.go
  protocol/x/clob/module_test.go
  protocol/x/clob/types/liquidations.pb.go
Labels: indexer, protocol, proto

#886 [IND-519] bump cosmjs/stargate dependency version to 0.32.1
  v4-proto-js/package-lock.json
  v4-proto-js/package.json
Labels: proto

#885 [CLOB-1045] proto updates for daemon liquidation request
  indexer/packages/v4-protos/src/codegen/dydxprotocol/daemons/liquidation/liquidation.ts
  proto/dydxprotocol/daemons/liquidation/liquidation.proto
  protocol/daemons/liquidation/api/liquidation.pb.go
  protocol/daemons/liquidation/client/client_test.go
  protocol/daemons/liquidation/client/grpc_helper.go
  protocol/daemons/liquidation/client/grpc_helper_test.go
  protocol/daemons/server/liquidation.go
  protocol/daemons/server/liquidation_test.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/e2e/liquidation_deleveraging_test.go
Labels: indexer, protocol, proto

#888 [IND-519] upgrade Indexer cosmos dependency versions
  indexer/packages/v4-protos/package.json
  indexer/pnpm-lock.yaml
Labels: indexer

#882 [CLOB-1044] replicate funding settlement on liquidation daemon
  protocol/daemons/liquidation/client/sub_task_runner.go
  protocol/daemons/liquidation/client/sub_task_runner_test.go
  protocol/testutil/constants/perpetuals.go
  protocol/testutil/constants/subaccounts.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/expected_keepers.go
Labels: protocol

#889 [CLOB-1043] deprecate unused grpc query
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/mocks/QueryClient.go
  protocol/x/clob/keeper/grpc_query_are_subaccounts_liquidatable.go
  protocol/x/clob/keeper/grpc_query_are_subaccounts_liquidatable_test.go
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#887 Add upgradable testnet to container test
  protocol/testing/containertest/Dockerfile
  protocol/testing/containertest/containertest.sh
  protocol/testing/containertest/preupgrade_entrypoint.sh
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/testing/containertest/testnet.go
Labels: protocol

#893 Update commit scripts
  indexer/scripts/deploy-commit-to-env.sh
  indexer/scripts/push-commit-to-ecr.sh
Labels: indexer

#894 Add upgrade test
  protocol/Makefile
  protocol/app/upgrades/v3.0.0/constants.go
  protocol/app/upgrades/v3.0.0/upgrade.go
  protocol/testing/containertest/node.go
  protocol/testing/containertest/preupgrade_entrypoint.sh
  protocol/testing/containertest/testnet_test.go
Labels: protocol

#883 Add empty string check to string flag parsing
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/daemons/flags/flags.go
  protocol/x/clob/flags/flags.go
Labels: protocol

#892 [CLOB-1047] populate subaccounts with open positions in grpc request
  protocol/daemons/liquidation/client/grpc_helper.go
  protocol/daemons/liquidation/client/grpc_helper_test.go
  protocol/daemons/liquidation/client/sub_task_runner.go
  protocol/daemons/liquidation/client/sub_task_runner_test.go
  protocol/daemons/server/liquidation.go
  protocol/daemons/server/types/liquidations/daemon_liquidation_info.go
  protocol/daemons/server/types/liquidations/daemon_liquidation_info_test.go
  protocol/lib/metrics/constants.go
Labels: protocol

#890 [CLOB-1046] populate negative tnc subaccounts in grpc request
  protocol/daemons/liquidation/client/grpc_helper.go
  protocol/daemons/liquidation/client/grpc_helper_test.go
  protocol/daemons/liquidation/client/sub_task_runner.go
  protocol/daemons/liquidation/client/sub_task_runner_test.go
  protocol/daemons/server/liquidation.go
  protocol/daemons/server/liquidation_test.go
  protocol/daemons/server/types/liquidations/daemon_liquidation_info.go
  protocol/daemons/server/types/liquidations/daemon_liquidation_info_test.go
  protocol/lib/metrics/constants.go
  protocol/testutil/constants/subaccounts.go
Labels: protocol

#896 [IND-526] Block subscribing to subaccounts from restricted regions for read-only mode.
  indexer/packages/compliance/src/constants.ts
  indexer/services/socks/__tests__/lib/subscriptions.test.ts
  indexer/services/socks/__tests__/websocket/index.test.ts
  indexer/services/socks/src/lib/subscription.ts
  indexer/services/socks/src/types.ts
  indexer/services/socks/src/websocket/index.ts
  indexer/services/socks/src/websocket/restrict-countries.ts
Labels: indexer

#873 [CLOB-1043] replicate IsLiquidatable logic on daemon
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/daemons/flags/flags.go
  protocol/daemons/flags/flags_test.go
  protocol/daemons/liquidation/client/client_test.go
  protocol/daemons/liquidation/client/grpc_helper.go
  protocol/daemons/liquidation/client/grpc_helper_test.go
  protocol/daemons/liquidation/client/sub_task_runner.go
  protocol/daemons/liquidation/client/sub_task_runner_test.go
  protocol/daemons/server/liquidation.go
  protocol/daemons/server/liquidation_test.go
  protocol/daemons/server/types/liquidations/daemon_liquidation_info.go
  protocol/daemons/server/types/liquidations/daemon_liquidation_info_test.go
  protocol/lib/collections.go
  protocol/lib/collections_test.go
  protocol/lib/metrics/constants.go
  protocol/mocks/QueryClient.go
  protocol/testutil/constants/perpetuals.go
  protocol/testutil/constants/subaccounts.go
  protocol/x/clob/keeper/grpc_query_are_subaccounts_liquidatable.go
  protocol/x/clob/keeper/grpc_query_are_subaccounts_liquidatable_test.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/types/query.pb.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/expected_keepers.go
Labels: indexer, protocol, proto

#842 [CLOB-1010] final settlement checktx validation
  protocol/testutil/constants/clob_pair.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/orders_test.go
Labels: protocol

#834 [CLOB-1021] final settlement DeliverTx validation to block trading
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/process_operations_test.go
Labels: protocol

#848 [CLOB-1017] final settlement deleveraging step in PrepareCheckState
  protocol/indexer/events/deleveraging.go
  protocol/indexer/events/deleveraging_test.go
  protocol/lib/metrics/constants.go
  protocol/lib/metrics/metric_keys.go
  protocol/mocks/MemClob.go
  protocol/mocks/MemClobKeeper.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/abci.go
  protocol/x/clob/e2e/liquidation_deleveraging_test.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/clob_pair.go
  protocol/x/clob/types/clob_pair_test.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/internal_operation.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/memclob.go
  protocol/x/clob/types/operations_to_propose.go
  protocol/x/clob/types/operations_to_propose_test.go
Labels: protocol

#903 remove adjusted IMF calculation
  indexer/services/comlink/__tests__/lib/helpers.test.ts
  indexer/services/comlink/src/lib/helpers.ts
Labels: indexer

#899 [CORE-848] Add ICA Host Submodule
  protocol/app/ante/msg_type_test.go
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/basic_manager/basic_manager.go
  protocol/app/module_accounts.go
  protocol/app/module_accounts_test.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/app/msgs/unsupported_msgs.go
  protocol/app/msgs/unsupported_msgs_test.go
  protocol/app/simulation_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/app/upgrades/v3.0.0/constants.go
  protocol/app/upgrades/v3.0.0/upgrade.go
  protocol/app/upgrades/v3.0.0/upgrade_test.go
  protocol/lib/ante/app_injected_msg_test.go
  protocol/lib/ante/disallow_msg_test.go
  protocol/lib/ante/unsupported_msgs.go
  protocol/lib/ante/unsupported_msgs_test.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/testutil/encoding/utils.go
Labels: protocol, state-breaking, feature:ICA

#902 [IND-498]: Add TradingRewardsHandler
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/helpers/conversion-helpers.ts
  indexer/packages/postgres/__tests__/stores/trading-reward-aggregation-table.test.ts
  indexer/packages/postgres/src/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20231221153944_update_trading_rewards_amount_scale.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20231221165820_update_wallet_total_trading_rewards_scale.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20231221233356_update_trading_reward_aggregations_amount_scale.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/stores/trading-reward-table.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/services/ender/__tests__/handlers/trading-rewards-handler.test.ts
  indexer/services/ender/__tests__/handlers/transfer-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/helpers/conversion-helpers.ts
  indexer/services/ender/src/handlers/trading-rewards-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/lib/block-processor.ts
  indexer/services/ender/src/lib/helper.ts
  indexer/services/ender/src/lib/types.ts
  indexer/services/ender/src/scripts/handlers/dydx_block_processor_unordered_handlers.sql
  indexer/services/ender/src/scripts/handlers/dydx_trading_rewards_handler.sql
  indexer/services/ender/src/scripts/helpers/dydx_process_trading_reward_event.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid_from_trading_rewards_parts.sql
  indexer/services/ender/src/validators/trading-rewards-validator.ts
Labels: indexer

#829 [CLOB-1009] - Allow FINAL_SETTLEMENT, and cancel open stateful orders
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/protocol/v1/clob.ts
  proto/dydxprotocol/indexer/protocol/v1/clob.proto
  protocol/indexer/events/deleveraging.go
  protocol/indexer/events/deleveraging_test.go
  protocol/indexer/protocol/v1/clob.pb.go
  protocol/lib/metrics/constants.go
  protocol/lib/metrics/metric_keys.go
  protocol/mocks/MemClob.go
  protocol/mocks/MemClobKeeper.go
  protocol/testutil/constants/clob_pair.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/abci.go
  protocol/x/clob/e2e/liquidation_deleveraging_test.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/final_settlement.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/clob_pair.go
  protocol/x/clob/types/clob_pair_test.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/internal_operation.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/memclob.go
  protocol/x/clob/types/operations_to_propose.go
  protocol/x/clob/types/operations_to_propose_test.go
Labels: indexer, protocol, proto

#898 [IND-546] Prevent IOC/FOK orders from changing order book levels / sending updates.
  indexer/packages/redis/__tests__/helpers/constants.ts
  indexer/packages/v4-proto-parser/src/order-helpers.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-update-handler.test.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
  indexer/services/vulcan/src/handlers/order-update-handler.ts
Labels: indexer

#906 Optimize OffsetSubaccountPerpetualPosition subaccount iteration
  protocol/app/ante_whitebox_test.go
  protocol/app/app.go
  protocol/daemons/server/types/liquidations/daemon_liquidation_info.go
  protocol/daemons/server/types/liquidations/daemon_liquidation_info_test.go
  protocol/testutil/clob/open_positions.go
  protocol/testutil/keeper/clob.go
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/e2e/liquidation_deleveraging_test.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/module.go
  protocol/x/clob/module_test.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_test.go
Labels: protocol

#907 Emergency patch to handle invalid TimeInForce.
  indexer/packages/postgres/__tests__/lib/protocol-translations.test.ts
  indexer/packages/postgres/src/lib/protocol-translations.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/src/scripts/dydx_from_protocol_time_in_force.sql
Labels: indexer
