Repository dydxprotocol/v4-chain, pull requests merged in 2023-09, with the labels that each got.

#254 Use latest cometbft fork
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#255 Fix compliance endpoint to use query params.
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
Labels: indexer

#250 [DEC-2088] Add metrics specific tests
  protocol/lib/metrics/util_test.go
Labels: protocol

#198 [CORE-322] Escalate log level for missing smoothed prices, index prices, ~10s after protocol start
  protocol/app/process/full_node_process_proposal_test.go
  protocol/app/process/market_prices_test.go
  protocol/app/process/process_proposal_test.go
  protocol/app/process/transactions_test.go
  protocol/testutil/keeper/assets.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/keeper/sending.go
  protocol/testutil/keeper/subaccounts.go
  protocol/x/prices/genesis_test.go
  protocol/x/prices/keeper/grpc_query_market_test.go
  protocol/x/prices/keeper/keeper.go
  protocol/x/prices/keeper/market.go
  protocol/x/prices/keeper/market_param_test.go
  protocol/x/prices/keeper/market_price_test.go
  protocol/x/prices/keeper/market_test.go
  protocol/x/prices/keeper/msg_server_update_market_prices_test.go
  protocol/x/prices/keeper/smoothed_price_test.go
  protocol/x/prices/keeper/update_price.go
  protocol/x/prices/keeper/update_price_test.go
  protocol/x/prices/keeper/validate_market_price_updates_test.go
  protocol/x/prices/module_test.go
  protocol/x/prices/types/constants.go
Labels: protocol

#252 [DEC-2104] move `time.go` to `lib/time` and add unit tests
  protocol/lib/time/time.go
  protocol/lib/time/time_test.go
  protocol/x/bridge/types/genesis.go
Labels: protocol

#249 [CLOB-852] move deleveraging out of liquidations
  protocol/lib/metrics/constants.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClob.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/liquidations_deleveraging.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/liquidation_order.go
  protocol/x/clob/types/liquidations_keeper.go
  protocol/x/clob/types/memclob.go
Labels: protocol

#214 [CORE-542] - Update delaymsg module to execute messages with a cached context
  protocol/app/app.go
  protocol/lib/abci/util.go
  protocol/lib/abci/util_test.go
  protocol/mocks/CacheMultiStore.go
  protocol/mocks/Makefile
  protocol/mocks/MultiStore.go
  protocol/x/delaymsg/keeper/dispatch.go
  protocol/x/delaymsg/keeper/dispatch_test.go
Labels: protocol

#247 [CORE-559] scaffold governance message MsgSendFromModuleToAccount
  indexer/packages/v4-protos/src/codegen/dydxprotocol/sending/transfer.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/sending/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/sending/tx.ts
  proto/dydxprotocol/sending/transfer.proto
  proto/dydxprotocol/sending/tx.proto
  protocol/app/app.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/lib/ante/internal_msg.go
  protocol/mocks/SendingKeeper.go
  protocol/testutil/keeper/sending.go
  protocol/x/sending/keeper/keeper.go
  protocol/x/sending/keeper/msg_server_create_transfer.go
  protocol/x/sending/keeper/transfer.go
  protocol/x/sending/module_test.go
  protocol/x/sending/types/codec.go
  protocol/x/sending/types/message_send_from_module_to_account.go
  protocol/x/sending/types/transfer.pb.go
  protocol/x/sending/types/tx.pb.go
  protocol/x/sending/types/types.go
Labels: indexer, protocol, proto

#248 Clean-up maps functions
  protocol/app/msgs/all_msgs_test.go
  protocol/app/msgs/app_injected_msgs_test.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/app/msgs/nested_msgs_test.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/app/msgs/unregistered_msgs_test.go
  protocol/app/msgs/unsupported_msgs_test.go
  protocol/daemons/pricefeed/client/types/mutable_exchange_market_config.go
  protocol/lib/maps/util.go
  protocol/lib/maps/util_test.go
  protocol/lib/slices.go
  protocol/lib/slices_test.go
  protocol/lib/sortable.go
  protocol/lib/sortable_test.go
  protocol/x/blocktime/keeper/keeper.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/untriggered_conditional_orders.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_test_util.go
  protocol/x/clob/types/order_hash.go
  protocol/x/clob/types/order_hash_test.go
  protocol/x/clob/types/orderbook.go
  protocol/x/delaymsg/keeper/keeper.go
  protocol/x/feetiers/keeper/keeper.go
  protocol/x/perpetuals/keeper/keeper.go
  protocol/x/rewards/keeper/keeper.go
  protocol/x/stats/keeper/keeper.go
  protocol/x/vest/keeper/keeper.go
Labels: protocol

#251 [CORE-504] Implement MsgCreateOracleMarket handler
  protocol/app/app.go
  protocol/mocks/PricesKeeper.go
  protocol/testutil/keeper/prices.go
  protocol/testutil/prices/market_param_price.go
  protocol/x/assets/keeper/asset_test.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/prices/keeper/grpc_query_market.go
  protocol/x/prices/keeper/keeper.go
  protocol/x/prices/keeper/market.go
  protocol/x/prices/keeper/market_param.go
  protocol/x/prices/keeper/market_param_test.go
  protocol/x/prices/keeper/market_price.go
  protocol/x/prices/keeper/market_price_test.go
  protocol/x/prices/keeper/market_test.go
  protocol/x/prices/keeper/msg_server_create_oracle_market.go
  protocol/x/prices/keeper/msg_server_create_oracle_market_test.go
  protocol/x/prices/types/errors.go
  protocol/x/prices/types/genesis_test.go
  protocol/x/prices/types/market_price.go
  protocol/x/prices/types/types.go
Labels: protocol

#262 fix bad merge
  protocol/x/prices/keeper/keeper.go
  protocol/x/sending/keeper/keeper.go
Labels: protocol

#243 [CLOB-866] update sorting of liquidation orders
  protocol/testutil/constants/liquidation_orders.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/types/liquidation_order.go
  protocol/x/clob/types/liquidation_order_test.go
Labels: protocol

#257 [CORE-563] scaffold MsgSetLiquidityTier
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/tx.ts
  proto/dydxprotocol/perpetuals/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/lib/ante/internal_msg.go
  protocol/x/perpetuals/keeper/msg_server_set_liquidity_tier.go
  protocol/x/perpetuals/module_test.go
  protocol/x/perpetuals/types/codec.go
  protocol/x/perpetuals/types/message_set_liquidity_tier.go
  protocol/x/perpetuals/types/tx.pb.go
Labels: indexer, protocol, proto

#261 Merge `lib/maps/` and `lib/slices.go` into `lib/collections.go`
  protocol/app/module_accounts.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/all_msgs_test.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/lib/ante/app_injected_msg_test.go
  protocol/lib/ante/internal_msg_test.go
  protocol/lib/ante/nested_msg_test.go
  protocol/lib/ante/unsupported_msgs_test.go
  protocol/lib/collections.go
  protocol/lib/collections_test.go
  protocol/lib/maps/util.go
  protocol/lib/maps/util_test.go
  protocol/lib/process/disallow_msgs_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/perpetuals/keeper/perpetual.go
Labels: protocol

#245 [IND-373] Add compliance data table.
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/compliance-data-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20230912110846_create_compliance_data_table.ts
  indexer/packages/postgres/src/helpers/db-helpers.ts
  indexer/packages/postgres/src/models/compliance-data-model.ts
  indexer/packages/postgres/src/stores/compliance-table.ts
  indexer/packages/postgres/src/types/compliance-data-types.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/query-types.ts
Labels: indexer

#264 Unbound the number of liquidation orders per block
  protocol/x/clob/flags/flags.go
Labels: protocol

#267 [IND-369] Add initial client package with placeholder client.
  indexer/Dockerfile.service.local
  indexer/Dockerfile.service.remote
  indexer/packages/compliance/.eslintrc.js
  indexer/packages/compliance/README.md
  indexer/packages/compliance/jest.config.js
  indexer/packages/compliance/jest.globalSetup.js
  indexer/packages/compliance/jest.setup.js
  indexer/packages/compliance/package.json
  indexer/packages/compliance/src/clients/compliance-client.ts
  indexer/packages/compliance/src/clients/placeholder-provider.ts
  indexer/packages/compliance/src/index.ts
  indexer/packages/compliance/src/types.ts
  indexer/packages/compliance/tsconfig.eslint.json
  indexer/packages/compliance/tsconfig.json
  indexer/pnpm-lock.yaml
  indexer/services/comlink/package.json
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/helpers/compliance/compliance-clients.ts
Labels: indexer

#269 fix documentation for /trades/perpetualMarket/:ticker endpoint
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/trades-controller.ts
Labels: indexer

#268 [DEC-2090] add unit test for long-term/stateful order + rename
  protocol/app/process/other_msgs.go
  protocol/lib/process/disallow_msgs.go
  protocol/lib/process/disallow_msgs_test.go
Labels: protocol

#260 [CORE-322] - Up time to 20s to account for extra 2-3s of errors we're seeing in dev.
  protocol/x/prices/keeper/update_price.go
  protocol/x/prices/types/constants.go
Labels: protocol

#256 Limit the number of deleveraging attempts per block
  protocol/lib/metrics/constants.go
  protocol/x/clob/abci.go
  protocol/x/clob/flags/flags.go
  protocol/x/clob/flags/flags_test.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/liquidations_deleveraging.go
Labels: protocol

#271 [DEC-2090] Move `lib/process` to `app/process`
  protocol/app/process/other_msgs.go
  protocol/app/process/utils_disallow_msgs.go
  protocol/app/process/utils_disallow_msgs_test.go
Labels: protocol

#266 [CORE-494] Reject subaccount update if it's for a market with `0` oracle price.
  protocol/x/assets/keeper/asset.go
  protocol/x/assets/keeper/asset_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/sending/keeper/transfer_test.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/types/errors.go
  protocol/x/subaccounts/types/expected_keepers.go
  protocol/x/subaccounts/types/position_size.go
Labels: protocol

#272 clean up clob hydration functions and unit tests
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/upgrades_test.go
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/module.go
  protocol/x/clob/module_simulation.go
  protocol/x/clob/module_test.go
Labels: protocol

#276 Initialize LiquidityTierRefresher cache
  indexer/services/ender/src/index.ts
Labels: indexer

#275 add BridgeEvents script
  protocol/scripts/bridge_events.go
Labels: protocol

#277 [DEC-2082] Refactor `lib/ante`
  protocol/lib/ante/app_injected_msg.go
  protocol/lib/ante/internal_msg.go
  protocol/lib/ante/nested_msg.go
  protocol/lib/ante/unsupported_msgs.go
Labels: protocol

#240 [CLOB-85] - OrderRemoval DeliverTx validation
  protocol/lib/metrics/constants.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClob.go
  protocol/x/clob/e2e/app_test.go
  protocol/x/clob/e2e/order_removal_test.go
  protocol/x/clob/keeper/msg_server_proposed_operations.go
  protocol/x/clob/keeper/msg_server_proposed_operations_test.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_test_util.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/memclob.go
  protocol/x/clob/types/message_proposed_operations.go
  protocol/x/clob/types/message_proposed_operations_test.go
Labels: protocol

#213 remove redundant interface registration calls in codec.go
  protocol/x/assets/types/codec.go
  protocol/x/blocktime/types/codec.go
  protocol/x/bridge/module_test.go
  protocol/x/bridge/types/codec.go
  protocol/x/clob/module_test.go
  protocol/x/clob/types/codec.go
  protocol/x/delaymsg/module_test.go
  protocol/x/delaymsg/types/codec.go
  protocol/x/feetiers/types/codec.go
  protocol/x/perpetuals/module_test.go
  protocol/x/perpetuals/types/codec.go
  protocol/x/prices/module_test.go
  protocol/x/prices/types/codec.go
  protocol/x/prices/types/codec_test.go
  protocol/x/rewards/types/codec.go
  protocol/x/sending/module_test.go
  protocol/x/sending/types/codec.go
  protocol/x/stats/types/codec.go
  protocol/x/vest/types/codec.go
Labels: protocol

#238 [CORE-537] Panic and halt protocol on non-responsive daemons.
  protocol/app/app.go
  protocol/app/stoppable/stoppable.go
  protocol/app/stoppable/stoppable_test.go
  protocol/daemons/pricefeed/client/client_integration_test.go
  protocol/daemons/pricefeed/client/client_test.go
  protocol/daemons/server/bridge.go
  protocol/daemons/server/liquidation.go
  protocol/daemons/server/pricefeed.go
  protocol/daemons/server/server.go
  protocol/daemons/server/server_test.go
  protocol/daemons/server/types/constants.go
  protocol/daemons/server/types/update_monitor.go
  protocol/daemons/server/types/update_monitor_test.go
  protocol/daemons/server/types/util.go
  protocol/daemons/server/types/util_test.go
  protocol/lib/metrics/constants.go
  protocol/lib/metrics/labels.go
  protocol/testutil/app/app.go
  protocol/testutil/appoptions/app_options.go
  protocol/testutil/prices/cli/util.go
  protocol/x/blocktime/client/cli/query_test.go
  protocol/x/bridge/app_test.go
  protocol/x/bridge/client/cli/query_test.go
  protocol/x/clob/client/cli/cancel_order_cli_test.go
  protocol/x/clob/client/cli/liquidations_cli_test.go
  protocol/x/clob/client/cli/place_order_cli_test.go
  protocol/x/clob/client/cli/query_clob_pair_test.go
  protocol/x/delaymsg/client/cli/query_test.go
  protocol/x/epochs/client/cli/query_epoch_info_test.go
  protocol/x/feetiers/client/cli/query_test.go
  protocol/x/perpetuals/client/cli/query_perpetual_test.go
  protocol/x/prices/client/cli/prices_cli_test.go
  protocol/x/sending/client/cli/sending_cli_test.go
  protocol/x/stats/client/cli/query_test.go
  protocol/x/subaccounts/client/cli/query_subaccount_test.go
Labels: protocol

#280 [DEC-2082] update log level + add comments + add sanity checks in tests
  protocol/app/msgs/all_msgs_test.go
  protocol/app/prepare/other_msgs.go
  protocol/lib/ante/app_injected_msg_test.go
  protocol/lib/ante/disallow_msg_test.go
  protocol/lib/ante/internal_msg_test.go
  protocol/lib/ante/nested_msg.go
  protocol/lib/ante/nested_msg_test.go
  protocol/lib/ante/unsupported_msgs_test.go
Labels: protocol

#285 [CORE-565] define community treasury module account
  protocol/app/module_accounts.go
  protocol/app/module_accounts_test.go
  protocol/x/vest/types/keys.go
Labels: protocol

#284 [CORE-562] scaffold governance message MsgUpdatePerpetualParams
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/tx.ts
  proto/dydxprotocol/perpetuals/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/all_msgs_test.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/client/docs/statik/statik.go
  protocol/client/docs/swagger-ui/swagger.yaml
  protocol/lib/ante/app_injected_msg_test.go
  protocol/lib/ante/internal_msg.go
  protocol/lib/ante/nested_msg_test.go
  protocol/lib/ante/unsupported_msgs_test.go
  protocol/x/perpetuals/keeper/msg_server_update_perpetual_params.go
  protocol/x/perpetuals/module_test.go
  protocol/x/perpetuals/types/message_update_perpetual_params.go
  protocol/x/perpetuals/types/tx.pb.go
Labels: indexer, protocol, proto

#278 organizational cleanup
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/process_operations_liquidations.go
  protocol/x/clob/keeper/process_operations_liquidations_test.go
  protocol/x/clob/keeper/process_operations_stateful_validation.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/hashing.go
  protocol/x/clob/types/hashing_test.go
Labels: protocol

#279 [CORE-583] remove sequential ID requirement on liquidity tiers
  protocol/testutil/constants/perpetuals.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/liquidity_tier/liquidity_tier.go
  protocol/x/perpetuals/genesis.go
  protocol/x/perpetuals/keeper/keeper.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/errors.go
Labels: protocol

#291 [IND-394] switch subaccount update handler to onchain translation layer logic
  indexer/services/ender/__tests__/handlers/subaccount-update-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/src/handlers/subaccount-update-handler.ts
  indexer/services/ender/src/helpers/translation-helper.ts
  indexer/services/ender/src/lib/translated-types.ts
  indexer/services/ender/src/validators/subaccount-update-validator.ts
Labels: indexer

#283 [CORE-564] scaffold governance message MsgUpdateMarketParam
  indexer/packages/v4-protos/src/codegen/dydxprotocol/prices/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/prices/tx.ts
  proto/dydxprotocol/prices/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/all_msgs_test.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/lib/ante/app_injected_msg_test.go
  protocol/lib/ante/internal_msg.go
  protocol/lib/ante/nested_msg_test.go
  protocol/lib/ante/unsupported_msgs_test.go
  protocol/x/prices/keeper/msg_server_update_market_param.go
  protocol/x/prices/module_test.go
  protocol/x/prices/types/message_update_market_param.go
  protocol/x/prices/types/tx.pb.go
Labels: indexer, protocol, proto

#232 [STAB-29] Pass in version/commit in dev/staging, shift app_info metrics to begin blocker
  .github/workflows/protocol-build-and-push-snapshot.yml
  .github/workflows/protocol-build-and-push.yml
  protocol/Makefile
  protocol/app/app.go
  protocol/cmd/dydxprotocold/cmd/root.go
  protocol/scripts/build-push-ecr.sh
Labels: protocol

#294 add AccountName suffix to community treasury / vester account variable names
  protocol/app/module_accounts.go
  protocol/app/module_accounts_test.go
  protocol/x/vest/types/keys.go
Labels: protocol

#288 [IND-370] Add additional postgres functions for compliance.
  indexer/packages/postgres/__tests__/db/migrations.test.ts
  indexer/packages/postgres/__tests__/stores/compliance-data-table.test.ts
  indexer/packages/postgres/__tests__/stores/subaccount-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20230915173306_update_compliance_data_updated_at_to_default.ts
  indexer/packages/postgres/src/helpers/stores-helpers.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/stores/compliance-table.ts
  indexer/packages/postgres/src/stores/subaccount-table.ts
  indexer/packages/postgres/src/types/compliance-data-types.ts
  indexer/packages/postgres/src/types/query-types.ts
Labels: indexer

#293 [CORE-562] implement governance message MsgUpdatePerpetualParams
  protocol/mocks/PerpetualsKeeper.go
  protocol/testutil/perpetuals/perpetuals.go
  protocol/x/perpetuals/keeper/msg_server_update_perpetual_params.go
  protocol/x/perpetuals/keeper/msg_server_update_perpetual_params_test.go
  protocol/x/perpetuals/types/message_update_perpetual_params.go
  protocol/x/perpetuals/types/message_update_perpetual_params_test.go
  protocol/x/perpetuals/types/types.go
Labels: protocol

#297 [IND-370] Add function to get subaccounts updated after date.
  indexer/packages/postgres/__tests__/stores/subaccount-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20230918143243_update_subaccount_table_add_updated_at_index.ts
  indexer/packages/postgres/src/stores/subaccount-table.ts
  indexer/packages/postgres/src/types/query-types.ts
Labels: indexer

#299 implement governance message MsgUpdateMarketParam
  protocol/x/prices/keeper/msg_server_update_market_param.go
  protocol/x/prices/keeper/msg_server_update_market_param_test.go
  protocol/x/prices/types/message_update_market_param.go
  protocol/x/prices/types/message_update_market_param_test.go
Labels: protocol

#292 [IND-32] switch order fill handler to onchain translation layer logic
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/validators/order-fill-validator.test.ts
  indexer/services/ender/src/handlers/order-fills/liquidation-handler.ts
  indexer/services/ender/src/handlers/order-fills/order-handler.ts
  indexer/services/ender/src/helpers/translation-helper.ts
  indexer/services/ender/src/lib/translated-types.ts
  indexer/services/ender/src/validators/order-fill-validator.ts
Labels: indexer

#296 [CLOB-883] PrepareCheckState Generate Liquidation orders on the fly
  protocol/x/clob/keeper/liquidations.go
Labels: protocol

#301 scaffold governance message MsgUpdateParams in perpetuals module
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/tx.ts
  proto/dydxprotocol/perpetuals/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/all_msgs_test.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/client/docs/statik/statik.go
  protocol/client/docs/swagger-ui/swagger.yaml
  protocol/lib/ante/app_injected_msg_test.go
  protocol/lib/ante/internal_msg.go
  protocol/lib/ante/nested_msg_test.go
  protocol/lib/ante/unsupported_msgs_test.go
  protocol/x/perpetuals/keeper/msg_server_update_params.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/module_test.go
  protocol/x/perpetuals/types/message_update_params.go
  protocol/x/perpetuals/types/tx.pb.go
Labels: indexer, protocol, proto

#302 assign liquidity ID in simulation tests
  protocol/x/perpetuals/simulation/genesis.go
Labels: protocol

#307 Migrate to non-deprecated method.
  protocol/x/prices/types/message_create_oracle_market.go
Labels: protocol

#305 Improve messaging for E2E tests on failure.
  protocol/app/msgs/app_test.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/e2e/app_test.go
  protocol/x/clob/e2e/conditional_orders_test.go
  protocol/x/clob/e2e/equity_tier_limit_test.go
  protocol/x/clob/e2e/liquidation_deleveraging_test.go
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/e2e/order_removal_test.go
  protocol/x/clob/e2e/rate_limit_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/clob/keeper/order_cancellation_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/sending/app_test.go
Labels: protocol

#298 [IND-370] Add task to update compliance data.
  indexer/pnpm-lock.yaml
  indexer/services/roundtable/__tests__/tasks/update-compliance-data.test.ts
  indexer/services/roundtable/package.json
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/helpers/compliance-clients.ts
  indexer/services/roundtable/src/tasks/update-compliance-data.ts
Labels: indexer

#310 [IND-368] Add middleware to check compliance.
  indexer/services/comlink/__tests__/lib/compliance-check.test.ts
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/controllers/api/v4/asset-positions-controller.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/controllers/api/v4/fills-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-pnl-controller.ts
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
  indexer/services/comlink/src/controllers/api/v4/perpetual-positions-controller.ts
  indexer/services/comlink/src/controllers/api/v4/transfers-controller.ts
  indexer/services/comlink/src/lib/compliance-check.ts
Labels: indexer

#304 Use `PerpKeepersTestContext` instead of returning all objects
  protocol/testutil/keeper/perpetuals.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/perpetuals/abci_test.go
  protocol/x/perpetuals/genesis_test.go
  protocol/x/perpetuals/keeper/grpc_query_perpetual_test.go
  protocol/x/perpetuals/keeper/keeper_test.go
  protocol/x/perpetuals/keeper/msg_server_add_premium_votes_test.go
  protocol/x/perpetuals/keeper/msg_server_create_perpetual_test.go
  protocol/x/perpetuals/keeper/msg_server_update_perpetual_params_test.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/keeper/stateful_premium_votes_validation_test.go
  protocol/x/perpetuals/module_test.go
Labels: protocol

#313 implement governance message MsgSetLiquidityTier
  protocol/mocks/PerpetualsKeeper.go
  protocol/testutil/liquidity_tier/liquidity_tier.go
  protocol/x/perpetuals/keeper/msg_server_set_liquidity_tier.go
  protocol/x/perpetuals/keeper/msg_server_set_liquidity_tier_test.go
  protocol/x/perpetuals/types/message_set_liquidity_tier.go
  protocol/x/perpetuals/types/message_set_liquidity_tier_test.go
  protocol/x/perpetuals/types/types.go
Labels: protocol

#317 use updated PerpTestContext in SetLiquidityTier test
  protocol/x/perpetuals/keeper/msg_server_set_liquidity_tier_test.go
Labels: protocol

#316 [CORE-339] Remove metric labels with infinite cardinality
  protocol/lib/metrics/constants.go
  protocol/x/epochs/keeper/epoch_info.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/sending/keeper/transfer.go
Labels: protocol

#311 Simtest fix for daemon monitoring
  protocol/app/simulation_test.go
Labels: protocol

#300 [CORE-589] - Remove binanceUS from all markets.
  protocol/daemons/pricefeed/client/constants/static_exchange_market_config.go
  protocol/daemons/pricefeed/client/constants/static_exchange_market_config_test.go
  protocol/daemons/pricefeed/client/constants/testdata/btc_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/doge_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/eth_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/usdt_exchange_config.json
  protocol/x/prices/client/testutil/binance.go
Labels: protocol

#312 Up USDT min change ppm to 1k
  protocol/testing/genesis.sh
Labels: protocol

#315 [CORE-13] Use index price instead of oracle price for price premium calculation
  protocol/lib/metrics/constants.go
  protocol/mocks/PricesKeeper.go
  protocol/testutil/constants/pricefeed.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/pricefeed/index_price.go
  protocol/testutil/prices/market_param_price.go
  protocol/x/clob/keeper/get_price_premium_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_get_premium_price_test.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/expected_keepers.go
  protocol/x/perpetuals/types/types.go
  protocol/x/prices/keeper/market_price.go
  protocol/x/prices/keeper/market_price_test.go
  protocol/x/prices/types/types.go
Labels: protocol

#328 round up initial margin calculation
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/liquidity_tier.go
  protocol/x/perpetuals/types/liquidity_tier_test.go
Labels: protocol

#320 Use `IsEpochOne` instead of `IsEpochZero`
  protocol/lib/metrics/constants.go
  protocol/x/perpetuals/keeper/perpetual.go
Labels: protocol

#329 [DEC-2081] Audit app/module/slashing.go
  protocol/app/module/slashing_test.go
Labels: protocol

#331 [DEC-2081] Audit app/msgs/**
  protocol/app/msgs/all_msgs_test.go
  protocol/app/msgs/app_injected_msgs_test.go
  protocol/app/msgs/app_test.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/app/msgs/nested_msgs_test.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/app/msgs/unsupported_msgs_test.go
Labels: protocol

#327 [DEC-2081] Audit app/middleware/middleware.go
  protocol/app/middleware/middleware.go
  protocol/app/middleware/middleware_test.go
Labels: protocol

#325 [DEC-2081] Audit app/ante/msg_type.go
  protocol/app/ante/msg_type.go
  protocol/app/ante/msg_type_test.go
Labels: protocol

#330 [DEC-2118] - Remove panics from DelayMessage
  protocol/x/delaymsg/keeper/msg_server.go
  protocol/x/delaymsg/keeper/msg_server_test.go
Labels: protocol

#282 [CORE-535] - Remove duplicate daemon flag for grpc.address config.
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/daemons/bridge/client/client.go
  protocol/daemons/bridge/client/client_test.go
  protocol/daemons/flags/flags.go
  protocol/daemons/flags/flags_test.go
  protocol/daemons/liquidation/client/client.go
  protocol/daemons/liquidation/client/client_test.go
  protocol/daemons/pricefeed/client/client.go
  protocol/daemons/pricefeed/client/client_integration_test.go
  protocol/daemons/pricefeed/client/client_test.go
  protocol/testutil/appoptions/app_options.go
  protocol/x/clob/client/cli/cancel_order_cli_test.go
  protocol/x/clob/client/cli/liquidations_cli_test.go
  protocol/x/clob/client/cli/place_order_cli_test.go
  protocol/x/prices/client/cli/prices_cli_test.go
Labels: protocol

#337 [DEC-2083] Rename encoding config function
  protocol/app/encoding.go
  protocol/app/params/encoding.go
  protocol/cmd/dydxprotocold/cmd/root.go
Labels: protocol

#332 [CORE-594] - Update USDT tickers
  protocol/daemons/pricefeed/client/constants/static_exchange_market_config.go
  protocol/daemons/pricefeed/client/constants/testdata/usdt_exchange_config.json
Labels: protocol

#321 Update CLOB / Perpetual params in genesis to match research defined values.
  protocol/testing/genesis.sh
Labels: protocol

#324 add basic validation to bridge governance messages
  protocol/x/bridge/keeper/msg_server_update_event_params_test.go
  protocol/x/bridge/keeper/msg_server_update_propose_params_test.go
  protocol/x/bridge/types/errors.go
  protocol/x/bridge/types/genesis_test.go
  protocol/x/bridge/types/msg_update_event_params.go
  protocol/x/bridge/types/msg_update_event_params_test.go
  protocol/x/bridge/types/msg_update_propose_params.go
  protocol/x/bridge/types/msg_update_propose_params_test.go
  protocol/x/bridge/types/msg_update_safety_params.go
  protocol/x/bridge/types/msg_update_safety_params_test.go
  protocol/x/bridge/types/params.go
  protocol/x/bridge/types/params_test.go
Labels: protocol

#319 implement governance message MsgUpdateParams in perpetuals module
  protocol/mocks/PerpetualsKeeper.go
  protocol/x/perpetuals/keeper/msg_server_update_params.go
  protocol/x/perpetuals/keeper/msg_server_update_params_test.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/message_update_params.go
  protocol/x/perpetuals/types/message_update_params_test.go
  protocol/x/perpetuals/types/types.go
Labels: protocol

#341 divide net settlement after summing for less rounding error
  protocol/app/process/expected_keepers.go
  protocol/mocks/ProcessPerpetualKeeper.go
  protocol/x/clob/keeper/mev.go
  protocol/x/clob/keeper/mev_test.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/expected_keepers.go
Labels: protocol

#342 Re-enable evidence module
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/basic_manager/basic_manager.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/app/simulation_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/lib/ante/app_injected_msg_test.go
  protocol/lib/ante/internal_msg_test.go
  protocol/lib/ante/nested_msg_test.go
  protocol/lib/ante/unsupported_msgs_test.go
Labels: protocol

#344 [IND-370] Run task to update compliance data.
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
Labels: indexer

#335 Use quoted port mappings to prevent yaml from interpreting them as hex.
  protocol/docker-compose.yml
Labels: protocol

#343 [IND-372] Add caching / rate-limiting logic to screen endpoint.
  indexer/packages/postgres/__tests__/stores/compliance-data-table.test.ts
  indexer/packages/postgres/src/models/compliance-data-model.ts
  indexer/packages/postgres/src/stores/compliance-table.ts
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-controller.test.ts
  indexer/services/comlink/src/caches/rate-limiters.ts
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/controllers/api/v4/height-controller.ts
  indexer/services/comlink/src/lib/errors.ts
  indexer/services/comlink/src/lib/rate-limit.ts
Labels: indexer

#346 Height gate missing index price err log
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/prices/types/constants.go
Labels: protocol

#353 [IND-382]: Add INITIALIZING to valid perpetual_markets.status
  indexer/packages/postgres/src/db/migrations/migration_files/20230922120029_add_perpetual_markets_status_initializing.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
Labels: indexer

#309 [DEC-2084] - `lib/error` audit refactors
  protocol/lib/error/log_contextualizer.go
  protocol/lib/error/logging.go
  protocol/lib/error/logging_test.go
Labels: protocol

#355 Fix protocol swagger generated docs
  protocol/client/docs/statik/statik.go
  protocol/client/docs/swagger-ui/swagger.yaml
Labels: protocol

#360 emit update perpetual indexer event
  protocol/indexer/events/perpetual.go
  protocol/indexer/events/perpetual_test.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
Labels: protocol

#361 remove subaccounts with no asset/perpetual positions
  protocol/x/subaccounts/client/cli/query_subaccount_test.go
  protocol/x/subaccounts/genesis_test.go
  protocol/x/subaccounts/keeper/grpc_query_subaccount_test.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/keeper/transfer_test.go
  protocol/x/subaccounts/module_test.go
Labels: protocol

#351 add query to get all in-flight complete bridge messages
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bridge/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bridge/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bridge/query.ts
  proto/dydxprotocol/bridge/query.proto
  protocol/client/docs/statik/statik.go
  protocol/client/docs/swagger-ui/swagger.yaml
  protocol/mocks/BridgeQueryClient.go
  protocol/x/bridge/client/cli/query.go
  protocol/x/bridge/client/cli/query_test.go
  protocol/x/bridge/keeper/complete_bridge.go
  protocol/x/bridge/keeper/grpc_query.go
  protocol/x/bridge/keeper/grpc_query_test.go
  protocol/x/bridge/module_test.go
  protocol/x/bridge/types/query.pb.go
  protocol/x/bridge/types/query.pb.gw.go
Labels: indexer, protocol, proto

#364 Add more latency metrics for liquidation daemon
  protocol/daemons/liquidation/client/client.go
  protocol/lib/metrics/constants.go
Labels: protocol

#334 Delete unused methods.
  protocol/go.mod
  protocol/go.sum
  protocol/testutil/client/context.go
  protocol/testutil/client/node_client.go
Labels: protocol

#365 allow bridge daemon to add events that have IDs greater than off-chain recognized event ID
  protocol/daemons/bridge/client/client.go
  protocol/daemons/server/types/bridge/bridge_event_manager.go
  protocol/daemons/server/types/bridge/bridge_event_manager_test.go
  protocol/lib/metrics/constants.go
  protocol/x/bridge/app_test.go
Labels: protocol

#352 Log correct market param id in price daemon error
  protocol/daemons/pricefeed/client/types/price_feed_mutable_market_configs.go
  protocol/daemons/pricefeed/client/types/price_feed_mutable_market_configs_test.go
Labels: protocol

#336 [DEC-1880] Upgrade retracted ibc-go from 7.0.0 to 7.3.0. disable solomachine and localhost clients
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/go.mod
  protocol/go.sum
  protocol/testing/genesis.sh
  protocol/testutil/constants/genesis.go
Labels: protocol

#358 [DEC-2078] - Update price_function exchange-specific method and remove unused utils.
  protocol/daemons/pricefeed/client/constants/logger.go
  protocol/daemons/pricefeed/client/price_function/binance/binance.go
  protocol/daemons/pricefeed/client/price_function/bitfinex/bitfinex.go
  protocol/daemons/pricefeed/client/price_function/bitstamp/bitstamp.go
  protocol/daemons/pricefeed/client/price_function/bybit/bybit.go
  protocol/daemons/pricefeed/client/price_function/coinbase_pro/coinbase_pro.go
  protocol/daemons/pricefeed/client/price_function/crypto_com/crypto_com.go
  protocol/daemons/pricefeed/client/price_function/exchange_error.go
  protocol/daemons/pricefeed/client/price_function/gate/gate.go
  protocol/daemons/pricefeed/client/price_function/huobi/huobi.go
  protocol/daemons/pricefeed/client/price_function/kraken/kraken.go
  protocol/daemons/pricefeed/client/price_function/kucoin/kucoin.go
  protocol/daemons/pricefeed/client/price_function/mexc/mexc.go
  protocol/daemons/pricefeed/client/price_function/okx/okx.go
  protocol/daemons/pricefeed/client/price_function/test_volatile_exchange/volatile_price_function.go
  protocol/daemons/pricefeed/client/price_function/testutil/test_util.go
  protocol/daemons/pricefeed/client/price_function/util.go
  protocol/daemons/pricefeed/client/price_function/util_test.go
Labels: protocol

#356 [CORE-594] - Remove all bitfinex exchange symbols. Update Binance USDT ticker to 1 / USDCUSDT
  protocol/daemons/pricefeed/client/constants/static_exchange_market_config.go
  protocol/daemons/pricefeed/client/constants/static_exchange_market_config_test.go
  protocol/daemons/pricefeed/client/constants/testdata/ada_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/btc_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/dot_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/eth_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/sol_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/usdt_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/xlm_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/xrp_exchange_config.json
  protocol/testutil/pricefeed/exchangeserver.go
  protocol/x/prices/client/testutil/bitfinex.go
  protocol/x/prices/client/testutil/constants.go
Labels: protocol

#371 Chunk liquidation daemon collat check request
  protocol/daemons/flags/flags.go
  protocol/daemons/flags/flags_test.go
  protocol/daemons/liquidation/client/client.go
  protocol/lib/metrics/constants.go
Labels: protocol

#363 Add container start script to get secrets.
  indexer/Dockerfile.service.local
  indexer/Dockerfile.service.remote
  indexer/scripts/container-run.sh
Labels: indexer

#374 add a script to output hex from bech32
  protocol/scripts/bech32_to_hex/bech32_to_hex.go
  protocol/scripts/bridge_events/bridge_events.go
Labels: protocol

#218 [CORE-538] Swap to cosmossdk.io/math module since the package we are using has deprecated these functions and is removed on 0.50.
  protocol/app/module/slashing.go
  protocol/app/msgs/app_injected_msgs.go
  protocol/app/process/acknowledge_bridges_test.go
  protocol/app/process/process_proposal_test.go
  protocol/lib/eth/util.go
  protocol/lib/eth/util_test.go
  protocol/testutil/bank/bank_helpers.go
  protocol/testutil/constants/bridge.go
  protocol/x/assets/keeper/asset.go
  protocol/x/assets/keeper/asset_test.go
  protocol/x/bridge/app_test.go
  protocol/x/bridge/keeper/complete_bridge_test.go
  protocol/x/bridge/keeper/msg_server_complete_bridge_test.go
  protocol/x/bridge/types/bridge_event_test.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/mev_test.go
  protocol/x/clob/keeper/process_operations_liquidations_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/delaymsg/keeper/dispatch_test.go
  protocol/x/rewards/keeper/keeper.go
  protocol/x/rewards/keeper/keeper_test.go
  protocol/x/subaccounts/keeper/transfer_test.go
  protocol/x/subaccounts/simulation/genesis.go
  protocol/x/subaccounts/simulation/genesis_test.go
  protocol/x/vest/keeper/keeper_test.go
Labels: protocol

#376 Lower collat check chunk size to 50
  protocol/daemons/flags/flags.go
Labels: protocol

#340 CLOB `DeliverTx` audit cleanup
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_operations_stateful_validation.go
  protocol/x/clob/keeper/process_operations_stateful_validation_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/types/match_with_orders.go
  protocol/x/clob/types/match_with_orders_test.go
Labels: protocol

#375 Fix rounding when calculating fees
  protocol/lib/big_math.go
  protocol/x/clob/keeper/mev.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/types/pending_updates.go
  protocol/x/clob/types/pending_updates_test.go
  protocol/x/rewards/keeper/keeper.go
Labels: protocol

#373 [IND-369] Add Elliptic compliance provider.
  indexer/packages/base/src/errors.ts
  indexer/packages/compliance/.env
  indexer/packages/compliance/__tests__/clients/elliptic-provider.test.ts
  indexer/packages/compliance/package.json
  indexer/packages/compliance/src/clients/elliptic-provider.ts
  indexer/packages/compliance/src/config.ts
  indexer/packages/compliance/src/index.ts
  indexer/packages/compliance/src/lib/error.ts
  indexer/packages/compliance/tsconfig.json
  indexer/pnpm-lock.yaml
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/lib/errors.ts
Labels: indexer

#378 Annotate overflow that happens at unrealistic values
  protocol/x/stats/keeper/keeper.go
Labels: protocol

#388 Remove state branching before placing stateful orders
  protocol/x/clob/keeper/orders.go
Labels: protocol

#372 [IND-409] create blocks/txns/events with SQL script
  indexer/services/ender/__tests__/handlers/asset-handler.test.ts
  indexer/services/ender/__tests__/handlers/funding-handler.test.ts
  indexer/services/ender/__tests__/handlers/liquidity-tier-handler.test.ts
  indexer/services/ender/__tests__/handlers/markets/market-create-handler.test.ts
  indexer/services/ender/__tests__/handlers/markets/market-modify-handler.test.ts
  indexer/services/ender/__tests__/handlers/markets/market-price-update-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/perpetual-market-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-triggered-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-removal-handler.test.ts
  indexer/services/ender/__tests__/handlers/transfer-handler.test.ts
  indexer/services/ender/__tests__/handlers/update-clob-pair-handler.test.ts
  indexer/services/ender/__tests__/handlers/update-perpetual-handler.test.ts
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
  indexer/services/ender/__tests__/lib/on-message.test.ts
  indexer/services/ender/__tests__/scripts/scripts.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/lib/helper.ts
  indexer/services/ender/src/lib/on-message.ts
  indexer/services/ender/src/scripts/dydx_create_initial_rows_for_tendermint_block.sql
  indexer/services/ender/src/scripts/dydx_create_tendermint_event.sql
  indexer/services/ender/src/scripts/dydx_create_transaction.sql
  indexer/services/ender/src/scripts/dydx_tendermint_event_to_transaction_index.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_transaction_parts.sql
Labels: indexer

#389 Add logic to indexer to modify market exponents.
  indexer/packages/postgres/src/types/market-types.ts
  indexer/services/ender/__tests__/handlers/markets/market-modify-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/src/handlers/markets/market-modify-handler.ts
Labels: indexer

#368 [CORE-607] - Apply all valid params on MarketParamUpdate
  protocol/daemons/pricefeed/client/client_integration_test.go
  protocol/daemons/pricefeed/client/client_test.go
  protocol/daemons/pricefeed/client/sub_task_runner.go
  protocol/daemons/pricefeed/client/types/price_feed_mutable_market_configs.go
  protocol/daemons/pricefeed/client/types/price_feed_mutable_market_configs_test.go
  protocol/daemons/pricefeed/client/types/price_feed_mutable_market_configs_whitebox_test.go
  protocol/mocks/PriceFeedMutableMarketConfigs.go
  protocol/testutil/daemons/pricefeed/pricefeed_utils.go
Labels: protocol

#377 [IND-202] set default pg instance to read replica for comlink
  indexer/packages/postgres/src/config.ts
  indexer/packages/postgres/src/constants.ts
  indexer/packages/postgres/src/stores/asset-position-table.ts
  indexer/packages/postgres/src/stores/asset-table.ts
  indexer/packages/postgres/src/stores/block-table.ts
  indexer/packages/postgres/src/stores/candle-table.ts
  indexer/packages/postgres/src/stores/compliance-table.ts
  indexer/packages/postgres/src/stores/fill-table.ts
  indexer/packages/postgres/src/stores/funding-index-updates-table.ts
  indexer/packages/postgres/src/stores/liquidity-tiers-table.ts
  indexer/packages/postgres/src/stores/market-table.ts
  indexer/packages/postgres/src/stores/oracle-price-table.ts
  indexer/packages/postgres/src/stores/order-table.ts
  indexer/packages/postgres/src/stores/perpetual-market-table.ts
  indexer/packages/postgres/src/stores/perpetual-position-table.ts
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/packages/postgres/src/stores/subaccount-table.ts
  indexer/packages/postgres/src/stores/tendermint-event-table.ts
  indexer/packages/postgres/src/stores/transaction-table.ts
  indexer/packages/postgres/src/stores/transfer-table.ts
  indexer/packages/postgres/src/stores/wallet-table.ts
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/controllers/api/v4/asset-positions-controller.ts
  indexer/services/comlink/src/controllers/api/v4/candles-controller.ts
  indexer/services/comlink/src/controllers/api/v4/fills-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-funding-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-pnl-controller.ts
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
  indexer/services/comlink/src/controllers/api/v4/perpetual-positions-controller.ts
  indexer/services/comlink/src/controllers/api/v4/sparklines-controller.ts
  indexer/services/comlink/src/controllers/api/v4/trades-controller.ts
  indexer/services/comlink/src/controllers/api/v4/transfers-controller.ts
  indexer/services/comlink/src/lib/compliance-check.ts
  indexer/services/comlink/src/lib/helpers.ts
Labels: indexer

#287 [CORE-571] Gov: Add New Market e2e test
  protocol/lib/bank.go
  protocol/lib/bank_test.go
  protocol/testing/e2e/gov/add_new_market_test.go
  protocol/testutil/app/app.go
  protocol/testutil/app/gov.go
  protocol/testutil/constants/assets.go
  protocol/testutil/delaymsg/delaymsg_helpers.go
  protocol/testutil/encoding/utils.go
  protocol/testutil/tx/msg_tx.go
  protocol/x/clob/e2e/app_test.go
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/e2e/order_removal_test.go
  protocol/x/clob/e2e/rate_limit_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/delaymsg/client/cli/query_test.go
  protocol/x/delaymsg/keeper/delayed_message_test.go
  protocol/x/delaymsg/keeper/dispatch_test.go
  protocol/x/delaymsg/keeper/grpc_query_test.go
  protocol/x/delaymsg/keeper/msg_server_test.go
  protocol/x/sending/app_test.go
Labels: protocol

#380 [DEC-2081] Audit ante.go and encoding.go
  protocol/app/ante_whitebox_test.go
  protocol/app/encoding.go
Labels: protocol

#379 [DEC-2081] Audit app/simulation_state.go
  protocol/app/simulation_state.go
  protocol/app/simulation_test.go
Labels: protocol

#385 Small fix to container test
  protocol/testing/containertest/testnet.go
  protocol/testing/containertest/testnet_test.go
Labels: protocol

#394 Improve readability for loops-helper.ts
  indexer/services/roundtable/src/helpers/loops-helper.ts
Labels: indexer

#392 Update MarketUpdater frequency to thirty seconds
  indexer/packages/base/src/constants.ts
  indexer/services/roundtable/src/config.ts
Labels: indexer

#326 Track lag in roundtable
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/track-lag.ts
Labels: indexer

#367 [CLOB-902] - disallow fok order fills beyond one block
  protocol/testutil/app/app.go
  protocol/testutil/app/block_advancement.go
  protocol/testutil/app/gov.go
  protocol/testutil/constants/orders.go
  protocol/testutil/constants/stateful_orders.go
  protocol/x/clob/e2e/order_matches_test.go
  protocol/x/clob/e2e/order_removal_test.go
  protocol/x/clob/e2e/rate_limit_test.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/types/errors.go
Labels: protocol

#398 Build images so they can be run with cosmovisor in addition to the binary directly
  protocol/docker-compose.yml
  protocol/testing/snapshotting/Dockerfile.snapshot
  protocol/testing/snapshotting/snapshot.sh
  protocol/testing/start.sh
  protocol/testing/testnet-dev/Dockerfile
  protocol/testing/testnet-dev/dev.sh
  protocol/testing/testnet-local/Dockerfile
  protocol/testing/testnet-local/local.sh
  protocol/testing/testnet-staging/Dockerfile
  protocol/testing/testnet-staging/staging.sh
Labels: protocol

#391 Fix localnet docker issues
  protocol/Makefile
  protocol/docker-compose.yml
Labels: protocol

#359 liquidation matches stats for quote size / quote fill amounts and Negative TNC matches
  protocol/lib/metrics/constants.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/types/match_perpetual_liquidation.go
Labels: protocol

#345 v0.3.0 upgrade handler
  indexer/packages/postgres/src/types/market-types.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/services/ender/__tests__/handlers/markets/market-modify-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/src/handlers/markets/market-modify-handler.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/app/app.go
  protocol/app/upgrades.go
  protocol/app/upgrades/v0.3.0/constants.go
  protocol/app/upgrades/v0.3.0/upgrade.go
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/market.go
  protocol/indexer/events/market_test.go
  protocol/testutil/keeper/prices.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/prices/keeper/market_param.go
  protocol/x/prices/keeper/market_price.go
Labels: indexer, protocol, proto

#405 Remove NumLiquidityTiersKey in upgrade handler
  protocol/app/upgrades/v0.3.0/upgrade.go
  protocol/x/perpetuals/keeper/perpetual.go
Labels: protocol

#381 [DEC-2081] Audit app/module_accounts.go
  protocol/app/module_accounts_test.go
Labels: protocol

#387 remove duplicate panic
  protocol/x/clob/memclob/memclob.go
Labels: protocol

#400 Fix IOC/FOK already filled removal on replay
  protocol/indexer/off_chain_updates/off_chain_updates.go
  protocol/indexer/off_chain_updates/off_chain_updates_test.go
Labels: protocol

#401 [CLOB-177] add e2e tests for rejecting long-term IOC/FOK in CheckTx and DeliverTx
  protocol/testutil/app/block_advancement.go
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/e2e/order_matches_test.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/message_place_order.go
  protocol/x/clob/types/message_place_order_test.go
Labels: protocol

#406 remove []byte aliases, unused code
  protocol/lib/bytes.go
  protocol/lib/bytes_test.go
  protocol/x/assets/keeper/asset.go
  protocol/x/assets/keeper/asset_test.go
  protocol/x/assets/keeper/grpc_query_asset.go
  protocol/x/assets/types/keys.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/keeper/block_rate_limit_config.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/equity_tier_limit.go
  protocol/x/clob/keeper/grpc_query_clob_pair.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/liquidations_config.go
  protocol/x/clob/keeper/liquidations_state.go
  protocol/x/clob/keeper/msg_server_update_clob_pair_test.go
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/order_state_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/keeper/stateful_order_state.go
  protocol/x/clob/keeper/stores.go
  protocol/x/clob/types/keys.go
  protocol/x/epochs/keeper/epoch_info.go
  protocol/x/epochs/keeper/grpc_query_epoch_info.go
  protocol/x/epochs/types/keys.go
  protocol/x/perpetuals/keeper/grpc_query_perpetual.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/keys.go
  protocol/x/prices/keeper/market_param.go
  protocol/x/prices/keeper/market_price.go
  protocol/x/prices/types/keys.go
  protocol/x/prices/types/keys_test.go
  protocol/x/rewards/keeper/keeper.go
  protocol/x/rewards/types/keys.go
  protocol/x/sending/types/keys.go
  protocol/x/subaccounts/keeper/grpc_query_subaccount.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/keys.go
  protocol/x/vest/keeper/keeper.go
  protocol/x/vest/types/keys.go
Labels: protocol

#386 [DEC-2078] Move testnet constants out of protocol code
  protocol/daemons/pricefeed/client/client_integration_test.go
  protocol/daemons/pricefeed/client/constants/exchange_common/exchange_names.go
  protocol/daemons/pricefeed/client/constants/static_exchange_market_config.go
  protocol/daemons/pricefeed/client/constants/static_exchange_market_config_test.go
  protocol/daemons/pricefeed/client/constants/static_market_names.go
  protocol/daemons/pricefeed/client/constants/static_market_names_test.go
  protocol/daemons/pricefeed/client/handler/exchange_query_handler_test.go
  protocol/daemons/pricefeed/client/price_function/coinbase_pro/coinbase_pro.go
  protocol/daemons/pricefeed/client/price_function/util_test.go
  protocol/daemons/pricefeed/client/types/mutable_exchange_market_config_test.go
  protocol/daemons/pricefeed/metrics/metrics_test.go
  protocol/testing/containertest/testnet_test.go
  protocol/testutil/constants/prices.go
  protocol/testutil/daemons/pricefeed/exchange_config/market_id.go
  protocol/testutil/daemons/pricefeed/exchange_config/static_market_names.go
  protocol/testutil/daemons/pricefeed/exchange_config/testnet_exchange_market_config.go
  protocol/testutil/pricefeed/exchangeserver.go
  protocol/x/prices/client/testutil/binance.go
  protocol/x/prices/client/testutil/constants.go
  protocol/x/prices/client/testutil/exchange_response.go
  protocol/x/prices/types/genesis_test.go
Labels: protocol

#384 [DEC-2078,DEC-2079] - Swap sync.RWMutex for sync.Mutex in all daemon code
  protocol/daemons/pricefeed/client/client_test.go
  protocol/daemons/pricefeed/client/price_fetcher/mutable_state.go
  protocol/daemons/pricefeed/client/types/market_to_price.go
  protocol/daemons/pricefeed/client/types/price_feed_mutable_market_configs.go
  protocol/daemons/pricefeed/metrics/market_pairs.go
  protocol/daemons/server/types/liquidations/liquidatable_subaccount_ids.go
  protocol/daemons/server/types/pricefeed/market_to_exchange_prices.go
Labels: protocol

#412 Fix linting issues introduced by prices change.
  protocol/daemons/pricefeed/client/client_integration_test.go
Labels: protocol

#408 Double startup daemon grace period to 1 minute
  protocol/daemons/server/types/constants.go
Labels: protocol

#415 Setup cosmovisor correctly in snapshot full node
  protocol/testing/snapshotting/snapshot.sh
Labels: protocol

#393 explicitly propagate events from cached contexts to original context in delaymsg endblocker
  protocol/x/delaymsg/keeper/dispatch.go
  protocol/x/delaymsg/keeper/dispatch_test.go
Labels: protocol

#417 [IND-369] Add block-list provider and default to Elliptic
  indexer/packages/compliance/__tests__/clients/clients.test.ts
  indexer/packages/compliance/package.json
  indexer/packages/compliance/src/clients/blocklist-provider.ts
  indexer/packages/compliance/src/clients/clients.ts
  indexer/packages/compliance/src/config.ts
  indexer/packages/compliance/src/index.ts
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/helpers/compliance/compliance-clients.ts
  indexer/services/roundtable/src/helpers/compliance-clients.ts
  indexer/services/roundtable/src/index.ts
Labels: indexer

#396 [DEC-2070] - x/prices audit: add test cases to util, clarifying comments
  protocol/x/prices/keeper/util.go
  protocol/x/prices/keeper/util_test.go
Labels: protocol

#419 Add verbose mode to bridge_events script
  protocol/scripts/bridge_events/bridge_events.go
Labels: protocol
