Repository dydxprotocol/v4-chain, pull requests merged in 2023-10, with the labels that each got.

#430 Stop including multiple copies of binary in images
  protocol/testing/snapshotting/snapshot.sh
  protocol/testing/testnet-dev/dev.sh
  protocol/testing/testnet-local/local.sh
  protocol/testing/testnet-staging/staging.sh
Labels: protocol

#433 add integration tests for stats module governance messages
  protocol/testing/e2e/gov/stats_test.go
Labels: protocol

#425 add integration tests for bridge governance messages
  protocol/testing/e2e/gov/bridge_test.go
Labels: protocol

#424 [DEC-2127] Asset Id refactoring
  protocol/testutil/keeper/assets.go
  protocol/x/assets/genesis.go
  protocol/x/assets/keeper/asset.go
  protocol/x/assets/keeper/asset_test.go
  protocol/x/assets/keeper/grpc_query_asset.go
  protocol/x/assets/keeper/keeper.go
  protocol/x/assets/types/errors.go
  protocol/x/assets/types/genesis.go
  protocol/x/assets/types/genesis_test.go
  protocol/x/assets/types/keys.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/rewards/keeper/keeper.go
  protocol/x/rewards/types/expected_keepers.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/keeper/transfer_test.go
Labels: protocol, state-breaking

#428 [CORE-606] Update PowerReduction to reflect 1e-18 stake denom unit
  protocol/app/app.go
  protocol/lib/constants.go
  protocol/testing/containertest/containertest.sh
  protocol/testing/containertest/expect/TestBankSend_aliceFinalBalances.expect
  protocol/testing/containertest/expect/TestBankSend_aliceInitialBalances.expect
  protocol/testing/containertest/expect/TestBankSend_bobFinalBalances.expect
  protocol/testing/containertest/expect/TestBankSend_bobInitialBalances.expect
  protocol/testing/containertest/expect/TestMarketPrices_initialLINKPrice.expect
  protocol/testing/genesis.sh
  protocol/testing/testnet-dev/dev.sh
  protocol/testing/testnet-local/local.sh
  protocol/testing/testnet-staging/staging.sh
  protocol/testutil/constants/genesis.go
  protocol/x/delaymsg/keeper/dispatch_test.go
Labels: protocol

#438 Add error handling for compliance.
  indexer/services/roundtable/__tests__/tasks/update-compliance-data.test.ts
  indexer/services/roundtable/src/tasks/update-compliance-data.ts
Labels: indexer

#422 [DEC-2075] x/vest test coverage + ValidateBasic fixes for Msgs
  protocol/testutil/keeper/vest.go
  protocol/x/vest/client/cli/query_vest_entry_test.go
  protocol/x/vest/genesis_test.go
  protocol/x/vest/keeper/grpc_query_test.go
  protocol/x/vest/module_test.go
  protocol/x/vest/testdata/expected_default_genesis.json
  protocol/x/vest/types/errors.go
  protocol/x/vest/types/genesis_test.go
  protocol/x/vest/types/tx.go
  protocol/x/vest/types/tx_test.go
  protocol/x/vest/types/vest_entry_test.go
Labels: protocol

#409 [DEC-2065] - Increase delay-msg test coverage, fix GetMessage panic for nil messages
  protocol/mocks/Makefile
  protocol/mocks/Msg.go
  protocol/testutil/constants/delaymsg.go
  protocol/x/delaymsg/keeper/delayed_message_test.go
  protocol/x/delaymsg/keeper/msg_server_test.go
  protocol/x/delaymsg/types/delayed_message.go
  protocol/x/delaymsg/types/delayed_message_test.go
  protocol/x/delaymsg/types/msg_delay_message.go
  protocol/x/delaymsg/types/msg_delay_message_test.go
Labels: protocol

#437 [CORE-627] - Fix daemon panics by delaying daemon start until gRPC service is available
  protocol/app/app.go
  protocol/x/prices/keeper/market.go
  protocol/x/prices/keeper/market_test.go
  protocol/x/prices/keeper/update_price.go
Labels: protocol

#443 [CORE-627] - Nit from previous PR
  protocol/x/prices/keeper/market.go
Labels: protocol

#411 [DEC-2065] ValidateBasic in msgServer.DelayMessage
  protocol/x/delaymsg/keeper/msg_server.go
  protocol/x/delaymsg/keeper/msg_server_test.go
  protocol/x/delaymsg/types/errors.go
  protocol/x/delaymsg/types/msg_delay_message.go
  protocol/x/delaymsg/types/msg_delay_message_test.go
Labels: protocol

#451 [IND-419] Add error payloads for geo-blocking and compliance blocking.
  indexer/services/comlink/__tests__/lib/compliance-check.test.ts
  indexer/services/comlink/__tests__/lib/restrict-countries.test.ts
  indexer/services/comlink/src/constants.ts
  indexer/services/comlink/src/lib/compliance-check.ts
  indexer/services/comlink/src/lib/restrict-countries.ts
Labels: indexer

#453 Don't return 403s for blocked addresses for /screen endpoint.
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
Labels: indexer

#440 [CORE-567] add integration tests for sending module governance messages
  protocol/testing/e2e/gov/sending_test.go
Labels: protocol

#460 Fix track lag timing so all numbers aren't negative
  indexer/services/roundtable/src/tasks/track-lag.ts
Labels: indexer

#445 Add prod_genesis.sh and `sample_pregenesis.json`
  protocol/app/testdata/default_genesis_state.json
  protocol/lib/constants.go
  protocol/scripts/genesis/prod_pregenesis.sh
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/delaymsg_config/perpetual_fee_params_msg.json
  protocol/testing/genesis.sh
  protocol/testutil/constants/genesis.go
  protocol/x/rewards/types/genesis_test.go
  protocol/x/rewards/types/params.go
  protocol/x/vest/client/cli/query_vest_entry_test.go
  protocol/x/vest/keeper/keeper_test.go
  protocol/x/vest/module_test.go
  protocol/x/vest/testdata/expected_default_genesis.json
  protocol/x/vest/types/genesis.go
Labels: protocol

#465 [CORE-612] update bridge parameter propose delay duration comment
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bridge/params.ts
  proto/dydxprotocol/bridge/params.proto
  protocol/client/docs/statik/statik.go
  protocol/client/docs/swagger-ui/swagger.yaml
  protocol/x/bridge/types/params.pb.go
Labels: indexer, protocol, proto

#463 Fix typo of Elliptic API.
  indexer/packages/compliance/src/clients/elliptic-provider.ts
Labels: indexer

#469 Add reason to screen API, move constants into compliance package.
  indexer/packages/compliance/src/constants.ts
  indexer/packages/compliance/src/index.ts
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-controller.test.ts
  indexer/services/comlink/__tests__/lib/compliance-check.test.ts
  indexer/services/comlink/__tests__/lib/restrict-countries.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/constants.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/lib/compliance-check.ts
  indexer/services/comlink/src/lib/restrict-countries.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#357 [DEC-2079] - Comments, test coverage for daemons/* (minus bridge, liquidations)
  protocol/daemons/constants/pricefeed.go
  protocol/daemons/flags/flags.go
  protocol/daemons/pricefeed/client/price_encoder/price_encoder.go
  protocol/daemons/pricefeed/client/price_encoder/price_encoder_test.go
  protocol/daemons/server/pricefeed.go
  protocol/daemons/server/server_test.go
  protocol/mocks/ExchangeToMarketPrices.go
  protocol/mocks/Makefile
Labels: protocol

#471 remove unused functions in x/assets
  protocol/x/assets/keeper/asset.go
  protocol/x/assets/keeper/asset_test.go
  protocol/x/assets/types/keys.go
  protocol/x/subaccounts/types/expected_keepers.go
Labels: protocol

#423 [DEC-2075] - Remove panic from ProcessVesting, called in BeginBlocker
  protocol/lib/metrics/constants.go
  protocol/x/vest/keeper/keeper.go
Labels: protocol

#470 audit lib/bytes.go
  protocol/lib/bytes.go
  protocol/lib/bytes_test.go
  protocol/x/assets/keeper/asset.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/client/cli/query_clob_pair.go
  protocol/x/clob/client/cli/query_clob_pair_test.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/msg_server_update_clob_pair_test.go
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/order_state_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/keeper/stateful_order_state.go
  protocol/x/clob/keeper/to_be_committed_stateful_order_state.go
  protocol/x/clob/keeper/uncommitted_stateful_order_state.go
  protocol/x/delaymsg/keeper/block_message_ids.go
  protocol/x/delaymsg/keeper/delayed_message.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/liquidity_tier.go
  protocol/x/perpetuals/types/perpetual.go
  protocol/x/prices/keeper/market.go
  protocol/x/prices/keeper/market_param.go
  protocol/x/prices/keeper/market_price.go
  protocol/x/prices/keeper/market_test.go
  protocol/x/stats/keeper/keeper.go
  protocol/x/subaccounts/client/cli/query_subaccount.go
  protocol/x/subaccounts/keeper/transfer.go
  protocol/x/subaccounts/keeper/transfer_test.go
Labels: protocol

#449 [DEC-2071] - x/rewards remove panics that can be invoked in EndBlocker
  protocol/x/rewards/keeper/keeper.go
  protocol/x/rewards/module.go
Labels: protocol

#454 Replace `dv4tnt` with `adv4tnt`
  protocol/app/testdata/default_genesis_state.json
  protocol/cmd/dydxprotocold/cmd/config.go
  protocol/cmd/dydxprotocold/cmd/config_test.go
  protocol/lib/constants.go
  protocol/lib/eth/util_test.go
  protocol/scripts/bridge_events/bridge_events.go
  protocol/testing/containertest/expect/TestBankSend_aliceFinalBalances.expect
  protocol/testing/containertest/expect/TestBankSend_aliceInitialBalances.expect
  protocol/testing/containertest/expect/TestBankSend_bobFinalBalances.expect
  protocol/testing/containertest/expect/TestBankSend_bobInitialBalances.expect
  protocol/testing/e2e/gov/sending_test.go
  protocol/testing/genesis.sh
  protocol/testutil/constants/assets.go
  protocol/testutil/constants/bridge.go
  protocol/testutil/constants/genesis.go
  protocol/x/bridge/app_test.go
  protocol/x/bridge/keeper/complete_bridge_test.go
  protocol/x/bridge/keeper/grpc_query_test.go
  protocol/x/bridge/keeper/msg_server_complete_bridge_test.go
  protocol/x/clob/rate_limit/multi_block_rate_limiter_test.go
  protocol/x/delaymsg/keeper/dispatch_test.go
  protocol/x/rewards/types/genesis_test.go
  protocol/x/rewards/types/params.go
  protocol/x/sending/keeper/msg_server_create_transfer_test.go
  protocol/x/sending/keeper/transfer_test.go
  protocol/x/sending/types/message_send_from_module_to_account_test.go
  protocol/x/vest/testdata/expected_default_genesis.json
  protocol/x/vest/types/genesis.go
Labels: protocol

#452 [DEC-2075] - Add it test labels for x/vest cli tests.
  protocol/x/vest/client/cli/query_vest_entry_test.go
Labels: protocol

#467 [DEC-2134] - Update existing markets with finalized config from research
  protocol/daemons/pricefeed/client/constants/testdata/ada_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/ape_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/apt_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/arb_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/atom_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/avax_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/bch_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/btc_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/comp_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/crv_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/doge_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/dot_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/etc_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/eth_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/fil_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/link_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/ltc_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/matic_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/mkr_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/near_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/op_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/shib_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/sol_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/sui_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/trx_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/uni_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/usdt_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/xlm_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/xrp_exchange_config.json
  protocol/testutil/daemons/pricefeed/exchange_config/testnet_exchange_market_config.go
Labels: protocol

#466 [DEC-2134] - Add DYDX token to genesis.sh
  protocol/daemons/pricefeed/client/constants/static_exchange_market_config_test.go
  protocol/daemons/pricefeed/client/constants/testdata/dydx_exchange_config.json
  protocol/testing/genesis.sh
  protocol/testutil/daemons/pricefeed/exchange_config/market_id.go
  protocol/testutil/daemons/pricefeed/exchange_config/testnet_exchange_market_config.go
Labels: protocol

#370 [DEC-2079] - Relocate lib files specific to daemons that are used as daemon types.
  protocol/app/app.go
  protocol/daemons/bridge/client/client.go
  protocol/daemons/liquidation/client/client.go
  protocol/daemons/pricefeed/client/client.go
  protocol/daemons/pricefeed/client/client_integration_test.go
  protocol/daemons/pricefeed/client/client_test.go
  protocol/daemons/pricefeed/client/handler/exchange_query_handler.go
  protocol/daemons/pricefeed/client/handler/exchange_query_handler_integration_test.go
  protocol/daemons/pricefeed/client/price_fetcher/price_fetcher.go
  protocol/daemons/pricefeed/client/price_fetcher/price_fetcher_test.go
  protocol/daemons/pricefeed/client/sub_task_runner.go
  protocol/daemons/server/server.go
  protocol/daemons/server/server_test.go
  protocol/daemons/types/errors.go
  protocol/daemons/types/file_handler.go
  protocol/daemons/types/grpc_client.go
  protocol/daemons/types/grpc_client_test.go
  protocol/daemons/types/grpc_server.go
  protocol/daemons/types/request_handler.go
  protocol/mocks/ExchangeQueryHandler.go
  protocol/mocks/GrpcServer.go
  protocol/mocks/Makefile
Labels: protocol

#447 [DEC-2071] - Increase x/rewards test coverage
  protocol/testutil/keeper/rewards.go
  protocol/x/rewards/client/cli/query_params_test.go
  protocol/x/rewards/module_test.go
  protocol/x/rewards/testdata/expected_default_genesis.json
  protocol/x/rewards/types/tx.go
Labels: protocol

#476 [CLOB-934] Update rate limiting for short term orders and cancellations to be per account and update the limit to be 200 per block.
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/block_rate_limit_config.ts
  proto/dydxprotocol/clob/block_rate_limit_config.proto
  protocol/lib/metrics/constants.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/testutil/constants/genesis.go
  protocol/testutil/constants/stateful_orders.go
  protocol/x/clob/e2e/app_test.go
  protocol/x/clob/e2e/rate_limit_test.go
  protocol/x/clob/genesis_test.go
  protocol/x/clob/module_test.go
  protocol/x/clob/rate_limit/order_rate_limiter.go
  protocol/x/clob/types/block_rate_limit_config.pb.go
Labels: indexer, protocol, proto

#436 [CLOB-910] Update stateful order equity tier count to use state.
  protocol/app/app.go
  protocol/mocks/MemClob.go
  protocol/testing/e2e/gov/add_new_market_test.go
  protocol/x/clob/ante/clob.go
  protocol/x/clob/e2e/equity_tier_limit_test.go
  protocol/x/clob/keeper/equity_tier_limit.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/stateful_order_state.go
  protocol/x/clob/keeper/stateful_order_state_test.go
  protocol/x/clob/keeper/stores.go
  protocol/x/clob/keeper/to_be_committed_stateful_order_state.go
  protocol/x/clob/keeper/untriggered_conditional_orders.go
  protocol/x/clob/keeper/untriggered_conditional_orders_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_purge_invalid_memclob_state_test.go
  protocol/x/clob/types/keys.go
  protocol/x/clob/types/memclob.go
Labels: protocol

#478 Update default params according to research; regenerate sample_pregenesis.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
Labels: protocol

#479 [CLOB-914] Ensure that rate limiting of short term order placements/cancellations is guarded against replay attacks.
  protocol/x/clob/e2e/app_test.go
  protocol/x/clob/e2e/rate_limit_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/rate_limit.go
Labels: protocol

#481 [breaking] Remove unused fields and functions for `Asset` and `Perpetual` objects
  indexer/packages/v4-protos/src/codegen/dydxprotocol/assets/asset.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/perpetual.ts
  proto/dydxprotocol/assets/asset.proto
  proto/dydxprotocol/perpetuals/perpetual.proto
  protocol/app/testdata/default_genesis_state.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/testutil/constants/genesis.go
  protocol/x/assets/keeper/asset.go
  protocol/x/assets/keeper/asset_test.go
  protocol/x/assets/module_test.go
  protocol/x/assets/types/asset.pb.go
  protocol/x/assets/types/errors.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/module_test.go
  protocol/x/perpetuals/simulation/genesis.go
  protocol/x/perpetuals/simulation/genesis_test.go
  protocol/x/perpetuals/types/errors.go
  protocol/x/perpetuals/types/genesis.go
  protocol/x/perpetuals/types/perpetual.pb.go
Labels: indexer, protocol, proto, state-breaking

#482 [DEC-2110] Check usdc asset exponent on creation
  protocol/x/assets/keeper/asset.go
  protocol/x/assets/keeper/asset_test.go
  protocol/x/assets/types/errors.go
  protocol/x/subaccounts/keeper/transfer_test.go
Labels: protocol, state-breaking

#485 Create clob pair starts in initializing by default in prod env
  protocol/scripts/genesis/prod_pregenesis.sh
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/containertest/containertest.sh
  protocol/testing/genesis.sh
  protocol/testing/testnet-dev/dev.sh
  protocol/testing/testnet-external/pregenesis.sh
  protocol/testing/testnet-local/local.sh
  protocol/testing/testnet-staging/staging.sh
Labels: protocol

#480 [CLOB-937] Rate limiting should not happen during `DeliverTx`.
  protocol/x/clob/e2e/rate_limit_test.go
  protocol/x/clob/rate_limit/order_rate_limiter.go
Labels: protocol

#486 [CLOB-914] Increase the mempool cache size to prevent replay attacks for short-term placements/cancellations.
  protocol/cmd/dydxprotocold/cmd/config.go
Labels: protocol

#475 [CLOB-919] log errors in clob DeliverTx handlers
  protocol/lib/error/logging.go
  protocol/lib/error/logging_test.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_create_clob_pair.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/keeper/msg_server_proposed_operations.go
  protocol/x/clob/keeper/msg_server_proposed_operations_test.go
  protocol/x/clob/keeper/msg_server_update_block_rate_limit_config.go
  protocol/x/clob/keeper/msg_server_update_clob_pair.go
  protocol/x/clob/keeper/msg_server_update_equity_tier_limit_config.go
  protocol/x/clob/keeper/msg_server_update_liquidations_config.go
Labels: protocol

#488 [CLOB-914] Ensure that the rate limiting is only occurring during `CheckTx` and `ReCheckTx`.
  protocol/x/clob/keeper/rate_limit.go
  protocol/x/clob/keeper/rate_limit_test.go
  protocol/x/clob/rate_limit/order_rate_limiter.go
Labels: protocol

#487 Revert change to orderbook instrumentation loop interval.
  indexer/services/roundtable/src/config.ts
Labels: indexer, chore

#484 [breaking] update key prefixes for clob
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/types/keys.go
Labels: protocol

#483 [DEC-2137] Replace `lib.UsdcAssetId` with `assettypes.Usdc.AssetId`
  protocol/lib/constants.go
  protocol/testutil/constants/messages.go
  protocol/testutil/constants/transfers.go
  protocol/testutil/keeper/subaccounts.go
  protocol/x/assets/keeper/asset.go
  protocol/x/assets/keeper/asset_test.go
  protocol/x/clob/client/cli/liquidations_cli_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/types/pending_updates.go
  protocol/x/rewards/keeper/keeper.go
  protocol/x/sending/app_test.go
  protocol/x/sending/client/cli/tx_create_transfer.go
  protocol/x/sending/client/cli/tx_deposit_to_subaccount.go
  protocol/x/sending/client/cli/tx_withdraw_from_subaccount.go
  protocol/x/sending/keeper/transfer_test.go
  protocol/x/sending/simulation/operations.go
  protocol/x/sending/types/message_create_transfer.go
  protocol/x/sending/types/message_create_transfer_test.go
  protocol/x/sending/types/message_deposit_to_subaccount.go
  protocol/x/sending/types/message_withdraw_from_subaccount.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/keeper/transfer.go
  protocol/x/subaccounts/simulation/genesis.go
  protocol/x/subaccounts/simulation/genesis_test.go
  protocol/x/subaccounts/types/subaccount.go
  protocol/x/subaccounts/types/subaccount_test.go
Labels: protocol

#494 [CORE-638] Set testnet default unbonding time to 12 days
  protocol/testing/testnet-external/pregenesis.sh
Labels: protocol

#496 Don't geoblock internal ips.
  indexer/CHANGELOG.md
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-controller.test.ts
  indexer/services/comlink/__tests__/lib/restrict-countries.test.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/lib/rate-limit.ts
  indexer/services/comlink/src/lib/restrict-countries.ts
  indexer/services/comlink/src/lib/utils.ts
Labels: bug, indexer, feature:regulatory_strategy

#499 [CORE-329] remove bridge to-do comments in genesis file
  protocol/testing/genesis.sh
Labels: protocol

#498 Empty delay msg in prod genesisdefault
  protocol/scripts/genesis/prod_pregenesis.sh
  protocol/scripts/genesis/sample_pregenesis.json
Labels: protocol

#493 [DEC-2065] - Unit tests for SetDelayedMessage.
  protocol/x/delaymsg/keeper/delayed_message.go
  protocol/x/delaymsg/keeper/delayed_message_test.go
Labels: protocol

#501 Force public for v4-proto-js
  v4-proto-js/package.json
Labels: proto

#492 Reduce unneeded github workflow runs
  .github/workflows/indexer-api-documentation-check.yml
  .github/workflows/indexer-build-and-push-dev-staging.yml
  .github/workflows/indexer-build-and-push-testnet.yml
  .github/workflows/indexer-build-docker-image-check.yml
  .github/workflows/indexer-build-test-coverage.yml
  .github/workflows/indexer-lint.yml
  .github/workflows/proto.yml
  .github/workflows/protocol-build-and-push-snapshot.yml
  .github/workflows/protocol-build-and-push.yml
  .github/workflows/protocol-container-tests.yml
  .github/workflows/protocol-exchange-tests.yml
  .github/workflows/protocol-lint.yml
  .github/workflows/protocol-sim.yml
  .github/workflows/protocol-test.yml
Labels: chore

#503 [CLOB-920] assert check tx in memclob public methods
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_cancel_order_test.go
  protocol/x/clob/memclob/memclob_get_premium_price_test.go
  protocol/x/clob/memclob/memclob_get_subaccount_orders_test.go
  protocol/x/clob/memclob/memclob_place_order_long_term_test.go
  protocol/x/clob/memclob/memclob_purge_invalid_memclob_state_test.go
  protocol/x/clob/memclob/memclob_remove_order_test.go
Labels: protocol

#500 update MsgCancelOrder DeliverTx failure logging
  protocol/lib/metrics/constants.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_cancel_orders_test.go
  protocol/x/clob/types/errors.go
Labels: protocol

#505 Move `consensus_params` to `genesis.sh` from `prod_genesis.sh`
  protocol/scripts/genesis/prod_pregenesis.sh
  protocol/testing/genesis.sh
Labels: protocol

#502 Adjust impact notional for `Safety` tier
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
Labels: protocol

#506 output total amount bridged and remaining in bridge events script
  protocol/scripts/bridge_events/bridge_events.go
Labels: protocol

#510 Clean-up state-key format and code
  protocol/x/assets/types/keys.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/keeper/liquidations_state.go
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/order_state_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/stateful_order_state.go
  protocol/x/clob/keeper/stateful_order_state_test.go
  protocol/x/clob/keeper/uncommitted_stateful_order_state.go
  protocol/x/clob/types/keys.go
  protocol/x/clob/types/order_id.go
  protocol/x/clob/types/order_id_test.go
  protocol/x/delaymsg/types/keys.go
  protocol/x/epochs/types/keys.go
  protocol/x/perpetuals/types/keys.go
  protocol/x/prices/types/keys.go
  protocol/x/rewards/types/keys.go
  protocol/x/stats/types/keys.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/keys.go
  protocol/x/subaccounts/types/subaccount_id.go
  protocol/x/subaccounts/types/subaccount_id_test.go
  protocol/x/vest/types/keys.go
Labels: enhancement, protocol, state-breaking, chore

#509 revert GetSubaccountOrders check tx validation
  protocol/x/clob/memclob/memclob.go
Labels: protocol

#507 Revert "Empty delay msg in prod genesisdefault"
  protocol/scripts/genesis/prod_pregenesis.sh
  protocol/scripts/genesis/sample_pregenesis.json
Labels: protocol

#448 [IND-379]: Breaking change: Add updatedAt, updatedAtBlock to Order
  indexer/packages/postgres/__tests__/db/migrations.test.ts
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20231003132007_add_updated_at_fields_to_order.ts
  indexer/packages/postgres/src/models/order-model.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/order-types.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/public/websocket-documentation.md
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-triggered-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-removal-handler.test.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/__tests__/scripts/scripts.test.ts
  indexer/services/ender/src/handlers/abstract-stateful-order-handler.ts
  indexer/services/ender/src/handlers/order-fills/abstract-order-fill-handler.ts
  indexer/services/ender/src/scripts/dydx_order_fill_handler_per_order.sql
Labels: indexer

#515 modify genesis script so that bridge module + validators + faucet equals total supply of native tokens
  protocol/testing/genesis.sh
Labels: protocol

#504 [CLOB-942] do not replay stateful orders that have order removals in the ops queue
  protocol/lib/metrics/constants.go
  protocol/x/clob/memclob/memclob.go
Labels: protocol

#521 Include .pyi files in v4-proto-py build
  Makefile
  v4-proto-py/MANIFEST.in
  v4-proto-py/setup.py
Labels: proto

#513 Add additional stats for /screen endpoint.
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
Labels: indexer, chore

#523 Override reward orace in `prod_pregenesis.sh`, add make target
  protocol/Makefile
  protocol/scripts/genesis/prod_pregenesis.sh
  protocol/scripts/genesis/sample_pregenesis.json
Labels: protocol

#528 Handle undefined / null values in bulk queries correctly.
  indexer/CHANGELOG.md
  indexer/packages/postgres/__tests__/stores/compliance-data-table.test.ts
  indexer/packages/postgres/src/helpers/stores-helpers.ts
  indexer/services/roundtable/__tests__/tasks/update-compliance-data.test.ts
Labels: bug, indexer

#526 [CLOB-943] validation and observability for stateful cancellations / placements
  protocol/lib/error/logging.go
  protocol/lib/error/logging_test.go
  protocol/lib/metrics/constants.go
  protocol/lib/metrics/util.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_cancel_orders_test.go
  protocol/x/clob/keeper/msg_server_create_clob_pair.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/keeper/msg_server_proposed_operations.go
  protocol/x/clob/keeper/msg_server_proposed_operations_test.go
  protocol/x/clob/keeper/msg_server_update_block_rate_limit_config.go
  protocol/x/clob/keeper/msg_server_update_clob_pair.go
  protocol/x/clob/keeper/msg_server_update_equity_tier_limit_config.go
  protocol/x/clob/keeper/msg_server_update_liquidations_config.go
  protocol/x/clob/keeper/order_cancellation_test.go
  protocol/x/clob/keeper/orders.go
Labels: protocol

#532 Use new binance endpoint
  protocol/CHANGELOG.md
  protocol/daemons/pricefeed/client/price_function/binance/exchange_query_details.go
  protocol/daemons/pricefeed/client/price_function/binance/exchange_query_details_test.go
Labels: protocol, chore

#534 Disable daemon health check panic
  protocol/daemons/server/types/update_monitor.go
  protocol/daemons/server/types/update_monitor_test.go
Labels: protocol

#531 fix test name
  protocol/x/clob/types/order_id_test.go
Labels: protocol, chore

#533 [DEC-2104] remove lib/time/time.go and tests
  protocol/lib/time/time.go
  protocol/lib/time/time_test.go
  protocol/x/bridge/types/genesis.go
Labels: protocol, chore

#535 Select a pseudorandom positionId when liquidating
  protocol/x/clob/flags/flags.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/random.go
Labels: enhancement, indexer, protocol, proto

#536 Release v0.3.4: Bound the number of attempted liquidations by `MaxLiquidationOrdersPerBlock`. Revert breaking change for selecting perpetual position when liquidating. Randomly select position to deleverage.
  protocol/x/clob/flags/flags.go
  protocol/x/clob/keeper/liquidations.go
Labels: protocol, proposal-breaking

#537 bugfix for hotfix: fix deltaQuantums calculation
  protocol/x/clob/keeper/liquidations.go
Labels: bug, protocol, proposal-breaking

#418 [IND-413] deprecate old IndexerTendermintEvent.data string field
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/indexer_manager/event.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/__tests__/lib/helper.test.ts
  proto/dydxprotocol/indexer/indexer_manager/event.proto
  protocol/indexer/indexer_manager/constants_test.go
  protocol/indexer/indexer_manager/event.pb.go
  protocol/indexer/indexer_manager/event_manager.go
  protocol/indexer/indexer_manager/event_manager_test.go
  protocol/indexer/indexer_manager/events.go
  protocol/mocks/IndexerEventManager.go
  protocol/testutil/keeper/assets.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/keeper/prices.go
  protocol/testutil/keeper/subaccounts.go
  protocol/x/assets/keeper/asset.go
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/clob/genesis_test.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/get_price_premium_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_cancel_orders_test.go
  protocol/x/clob/keeper/msg_server_create_clob_pair_test.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/msg_server_update_clob_pair_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/keeper/untriggered_conditional_orders.go
  protocol/x/clob/module_test.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/prices/genesis.go
  protocol/x/prices/keeper/market.go
  protocol/x/prices/keeper/market_param.go
  protocol/x/prices/keeper/market_price.go
  protocol/x/sending/app_test.go
  protocol/x/sending/keeper/transfer.go
  protocol/x/sending/keeper/transfer_test.go
  protocol/x/subaccounts/genesis.go
  protocol/x/subaccounts/keeper/subaccount.go
Labels: indexer, protocol, proto

#530 [DEC-2075] [fix-halt] Avoid overflow in vest and rewards stats
  protocol/lib/metrics/util_test.go
  protocol/lib/quantums_test.go
  protocol/testutil/big/big.go
  protocol/testutil/big/big_test.go
  protocol/x/rewards/keeper/keeper.go
  protocol/x/rewards/keeper/keeper_test.go
  protocol/x/vest/keeper/keeper.go
  protocol/x/vest/keeper/keeper_test.go
Labels: bug, protocol

#541 add flag to limit the number of subaccounts iterated for deleveraging
  protocol/lib/metrics/constants.go
  protocol/x/clob/flags/flags.go
  protocol/x/clob/flags/flags_test.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/liquidations.go
Labels: protocol

#545 Fix v4-proto-js becoming private
  v4-proto-js/package.json
Labels: proto

#547 downgrade log in deleveraging
  protocol/x/clob/keeper/deleveraging.go
Labels: protocol

#511 [DEC-2065] - Delay msg validation until SetDelayedMessage
  protocol/x/delaymsg/keeper/delayed_message.go
  protocol/x/delaymsg/keeper/delayed_message_test.go
Labels: protocol

#549 Sample latency metrics in hot code path
  protocol/lib/metrics/util.go
  protocol/x/perpetuals/keeper/perpetual.go
Labels: protocol

#550 defer time now
  protocol/lib/metrics/util.go
  protocol/x/perpetuals/keeper/perpetual.go
Labels: protocol

#542 Update vester account balance at genesis
  protocol/scripts/genesis/check_sample_pregenesis_uptodate.sh
  protocol/scripts/genesis/prod_pregenesis.sh
  protocol/testing/genesis.sh
Labels: protocol

#548 fix issue where GetCallbackMetricFromCtx
  protocol/lib/metrics/util.go
Labels: protocol

#529 Log Success/Error count for clob msg handlers
  protocol/lib/metrics/constants.go
  protocol/lib/metrics/util.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_create_clob_pair.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/keeper/msg_server_proposed_operations.go
  protocol/x/clob/keeper/msg_server_update_block_rate_limit_config.go
  protocol/x/clob/keeper/msg_server_update_clob_pair.go
  protocol/x/clob/keeper/msg_server_update_equity_tier_limit_config.go
  protocol/x/clob/keeper/msg_server_update_liquidations_config.go
Labels: protocol

#512 [DEC-2117] - Adding authority validation to MsgCompleteBridge
  protocol/x/bridge/types/msg_complete_bridge.go
  protocol/x/bridge/types/msg_complete_bridge_test.go
Labels: protocol

#552 Use Elliptic API secret, update threshold.
  indexer/CHANGELOG.md
  indexer/packages/compliance/__tests__/clients/elliptic-provider.test.ts
  indexer/packages/compliance/src/clients/elliptic-provider.ts
Labels: bug, indexer, feature:regulatory_strategy

#544 [DEC-2143] use cast to parse command line flags
  protocol/app/flags/flags.go
  protocol/daemons/flags/flags.go
  protocol/indexer/flags.go
  protocol/x/clob/flags/flags.go
Labels: protocol

#551 [DEC-2092] Swap to use gogoproto generated version of protobuf well known types.
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/generic/generic.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/generic/generic.proto
  protocol/generic/types/generic.pb.go
  protocol/x/clob/keeper/stateful_order_state.go
  protocol/x/clob/keeper/uncommitted_stateful_order_state.go
  protocol/x/delaymsg/keeper/delayed_message.go
Labels: indexer, protocol, proto

#546 [DEC-2147] - De-escalate unresponsive daemon panics to errors
  protocol/daemons/server/server.go
  protocol/daemons/server/types/constants.go
  protocol/daemons/server/types/update_monitor.go
  protocol/daemons/server/types/update_monitor_test.go
  protocol/daemons/server/types/util_test.go
Labels: protocol

#524 [DEC-2071] - Add input validation to exposed method on the keeper to maintain expected invariants
  protocol/x/rewards/keeper/keeper.go
  protocol/x/rewards/keeper/keeper_test.go
  protocol/x/rewards/types/errors.go
Labels: protocol

#556 [DEC-2148] Convert stateful order rate limits to be per account instead of per subaccount.
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/block_rate_limit_config.ts
  proto/dydxprotocol/clob/block_rate_limit_config.proto
  protocol/lib/metrics/constants.go
  protocol/x/clob/e2e/rate_limit_test.go
  protocol/x/clob/rate_limit/order_rate_limiter.go
  protocol/x/clob/types/block_rate_limit_config.pb.go
Labels: indexer, protocol, proto

#553 [DEC-2081] Audit app/prepare/full_node_prepare_proposal.go
  protocol/app/prepare/full_node_prepare_proposal_test.go
  protocol/lib/metrics/util_test.go
  protocol/testutil/app/app.go
  protocol/testutil/logger/logger.go
Labels: protocol

#561 Update TestVolatileExchange to have sharp price dislocations
  protocol/daemons/pricefeed/client/price_function/test_volatile_exchange/exchange_query_details.go
  protocol/daemons/pricefeed/client/price_function/test_volatile_exchange/volatile_price_function.go
Labels: enhancement, protocol

#563 Increase max open short term orders from 200 to 1000 in highest equity tier
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/testutil/constants/genesis.go
  protocol/x/clob/genesis_test.go
  protocol/x/clob/module_test.go
Labels: protocol

#559 Revert [CLOB-942] do not replay stateful orders
  protocol/lib/metrics/constants.go
  protocol/x/clob/memclob/memclob.go
Labels: protocol

#555 [CORE-649] add comments to bridge daemon functions and slight optimization of slice initialization
  protocol/daemons/bridge/client/client.go
  protocol/daemons/bridge/client/client_test.go
Labels: protocol, chore

#569 [CORE-658] Remove telemetry from `x/prices/EndBlocker` and rename indexer event method
  protocol/testutil/keeper/prices.go
  protocol/x/prices/genesis.go
  protocol/x/prices/keeper/indexer.go
  protocol/x/prices/keeper/market_price.go
  protocol/x/prices/module.go
Labels: protocol

#568 [CORE-648] fix delaymsg error logging
  protocol/x/delaymsg/keeper/dispatch.go
  protocol/x/delaymsg/types/keys.go
Labels: protocol, chore

#570 [CORE-652] add params validation to bridge message validation and add non-empty authority unit test
  protocol/x/bridge/types/msg_update_event_params.go
  protocol/x/bridge/types/msg_update_event_params_test.go
  protocol/x/bridge/types/msg_update_propose_params.go
  protocol/x/bridge/types/msg_update_propose_params_test.go
  protocol/x/bridge/types/msg_update_safety_params.go
  protocol/x/bridge/types/msg_update_safety_params_test.go
Labels: protocol, chore

#571 [CLOB-955] Bump cosmos sdk fork
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#579 Return short-term orders in initial payload for v4_subaccounts channel.
  indexer/CHANGELOG.md
  indexer/services/socks/__tests__/lib/subscriptions.test.ts
  indexer/services/socks/src/lib/subscription.ts
Labels: bug, indexer

#567 [DEC-2081] Audit app/prepare/prepare_proposal.go
  protocol/app/prepare/prepare_proposal.go
  protocol/app/prepare/prepare_proposal_test.go
Labels: protocol

#562 [CLOB-953] port over changes from v0.3.x release branch to main
  protocol/lib/metrics/constants.go
  protocol/x/clob/flags/flags.go
  protocol/x/clob/flags/flags_test.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/random.go
Labels: protocol

#572 [CORE-659] Standardize keys for x/blocktime
  protocol/x/blocktime/keeper/keeper.go
  protocol/x/blocktime/types/keys.go
Labels: protocol, state-breaking

#566 Remove make proto-gen documentation
  protocol/README.md
Labels: protocol

#577 [IND-412]: Correctly set order status for all order types
  indexer/CHANGELOG.md
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/src/handlers/order-fills/abstract-order-fill-handler.ts
  indexer/services/ender/src/scripts/dydx_get_order_status.sql
  indexer/services/ender/src/scripts/dydx_order_fill_handler_per_order.sql
Labels: indexer

#558 [CORE-652] add bridge disabling to prepareProposal, processProposal, acknowledgeBridges, and completeBridge
  protocol/app/process/acknowledge_bridges.go
  protocol/app/process/acknowledge_bridges_test.go
  protocol/app/process/expected_keepers.go
  protocol/app/process/process_proposal_test.go
  protocol/app/process/transactions_test.go
  protocol/mocks/ProcessBridgeKeeper.go
  protocol/x/bridge/app_test.go
  protocol/x/bridge/keeper/acknowledge_bridges.go
  protocol/x/bridge/keeper/acknowledge_bridges_test.go
  protocol/x/bridge/keeper/complete_bridge.go
  protocol/x/bridge/keeper/complete_bridge_test.go
  protocol/x/bridge/types/errors.go
Labels: protocol, proposal-breaking

#576 [CORE-658] add unit tests for `keys.go` and rename `constants` to `config`
  protocol/x/assets/types/keys_test.go
  protocol/x/blocktime/types/keys_test.go
  protocol/x/bridge/types/keys_test.go
  protocol/x/clob/types/keys_test.go
  protocol/x/delaymsg/types/keys_test.go
  protocol/x/epochs/types/keys_test.go
  protocol/x/feetiers/types/keys_test.go
  protocol/x/perpetuals/types/keys_test.go
  protocol/x/prices/types/configs.go
  protocol/x/prices/types/keys_test.go
  protocol/x/rewards/types/keys_test.go
  protocol/x/sending/types/keys_test.go
  protocol/x/stats/types/keys_test.go
  protocol/x/subaccounts/types/keys_test.go
  protocol/x/vest/types/keys_test.go
Labels: protocol

#560 [CLOB-952] - OffsetSubaccountPerpetualPosition additional unit testing
  protocol/testutil/constants/subaccounts.go
  protocol/x/clob/keeper/deleveraging_test.go
Labels: protocol

#586 [CORE-538] Upgrade to go1.21 in preparation of Cosmos 0.50
  .github/workflows/protocol-container-tests.yml
  .github/workflows/protocol-exchange-tests.yml
  .github/workflows/protocol-lint.yml
  .github/workflows/protocol-release.yml
  .github/workflows/protocol-sim.yml
  .github/workflows/protocol-test.yml
  protocol/.github/workflows/release.yml
  protocol/Dockerfile
  protocol/README.md
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#578 [CORE-672] - x/prices genesis test refactors
  protocol/x/prices/genesis_test.go
Labels: protocol

#589 [CORE-652] add more test cases and comments to bridge module
  protocol/x/bridge/app_test.go
  protocol/x/bridge/keeper/acknowledge_bridges.go
  protocol/x/bridge/keeper/acknowledge_bridges_test.go
  protocol/x/bridge/keeper/bridge_event.go
  protocol/x/bridge/keeper/bridge_event_info.go
  protocol/x/bridge/keeper/complete_bridge.go
  protocol/x/bridge/keeper/complete_bridge_test.go
  protocol/x/bridge/keeper/grpc_query_test.go
Labels: protocol, chore

#540 [breaking] Remove unused messages and fields from x/blocktime
  indexer/packages/v4-protos/src/codegen/dydxprotocol/blocktime/params.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/blocktime/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/blocktime/tx.ts
  proto/dydxprotocol/blocktime/params.proto
  proto/dydxprotocol/blocktime/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/app_injected_msgs.go
  protocol/app/msgs/app_injected_msgs_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/client/docs/swagger-ui/swagger.yaml
  protocol/lib/ante/app_injected_msg.go
  protocol/lib/ante/app_injected_msg_ante_wrapper_test.go
  protocol/lib/ante/internal_msg_test.go
  protocol/lib/ante/nested_msg_test.go
  protocol/lib/ante/unsupported_msgs_test.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/blocktime/keeper/msg_server.go
  protocol/x/blocktime/keeper/msg_server_test.go
  protocol/x/blocktime/keeper/params_test.go
  protocol/x/blocktime/types/genesis.go
  protocol/x/blocktime/types/genesis_test.go
  protocol/x/blocktime/types/params.go
  protocol/x/blocktime/types/params.pb.go
  protocol/x/blocktime/types/params_test.go
  protocol/x/blocktime/types/tx.go
  protocol/x/blocktime/types/tx.pb.go
  protocol/x/blocktime/types/tx_test.go
Labels: indexer, protocol, proto, state-breaking

#591 Add `misspell` to linter. Fix common typos.
  protocol/.golangci.yml
  protocol/daemons/pricefeed/client/price_fetcher/price_fetcher.go
  protocol/lib/ante/disallow_msg_test.go
  protocol/lib/ante/internal_msg_test.go
  protocol/testutil/app/app.go
  protocol/x/clob/keeper/msg_server_update_clob_pair_test.go
  protocol/x/clob/keeper/uncommitted_stateful_order_state.go
  protocol/x/clob/memclob/memclob_get_premium_price_test.go
  protocol/x/clob/types/quantums.go
  protocol/x/feetiers/keeper/keeper.go
  protocol/x/perpetuals/client/cli/query_perpetual_test.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/rewards/keeper/keeper.go
  protocol/x/stats/types/errors.go
  protocol/x/subaccounts/keeper/transfer_test.go
  protocol/x/subaccounts/simulation/genesis.go
Labels: protocol

#590 [IND-390]: Bump protobufjs version
  indexer/packages/v4-protos/package.json
  indexer/pnpm-lock.yaml
Labels: indexer

#581 [DEC-2097] - lib/math audit
  protocol/lib/big_math.go
  protocol/lib/big_math_test.go
  protocol/lib/math.go
  protocol/lib/math_test.go
  protocol/x/perpetuals/keeper/perpetual.go
Labels: protocol

#593 Reduce TEST-USD subticks_per_tick in genesis
  protocol/testing/genesis.sh
Labels: protocol

#594 Fix FOK orders so status is always FILLED
  indexer/services/ender/src/handlers/order-fills/abstract-order-fill-handler.ts
  indexer/services/ender/src/scripts/dydx_get_order_status.sql
Labels: indexer

#595 [CORE-568] - UpdateSmoothedPrices continues to update after error
  protocol/app/process/expected_keepers.go
  protocol/app/process/process_proposal.go
  protocol/mocks/PricesKeeper.go
  protocol/x/prices/keeper/smoothed_price.go
  protocol/x/prices/keeper/smoothed_price_test.go
  protocol/x/prices/types/types.go
Labels: protocol

#598 [CORE-648] improve comments of delaymsg module
  protocol/x/delaymsg/abci.go
  protocol/x/delaymsg/keeper/block_message_ids.go
  protocol/x/delaymsg/keeper/dispatch.go
  protocol/x/delaymsg/keeper/msg_server.go
Labels: protocol, chore

#497 [CLOB-924] Metrics Daemon - Log out app version periodically
  protocol/app/app.go
  protocol/daemons/metrics/client/client.go
  protocol/daemons/server/metrics.go
  protocol/daemons/server/types/constants.go
Labels: protocol

#583 [CORE-658] Rename methods and add comments
  protocol/daemons/pricefeed/metrics/market_pairs.go
  protocol/daemons/pricefeed/metrics/market_pairs_test.go
  protocol/daemons/pricefeed/metrics/metrics_test.go
  protocol/x/prices/genesis.go
  protocol/x/prices/keeper/grpc_query_market.go
  protocol/x/prices/keeper/market.go
  protocol/x/prices/keeper/market_param.go
  protocol/x/prices/keeper/market_price.go
  protocol/x/prices/keeper/smoothed_price.go
Labels: protocol

#600 [DEC-2149] Fix race test failures caused by cached cometbft test logger
  protocol/testutil/app/app.go
Labels: protocol

#599 [CORE-648] - Remove unnecessary logging from delaymsg.
  protocol/x/delaymsg/keeper/msg_server.go
Labels: protocol

#602 [CORE-650] clob governance message handlers: do not panic or emit metric on deliverTx
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/msg_server_create_clob_pair.go
  protocol/x/clob/keeper/msg_server_update_block_rate_limit_config.go
  protocol/x/clob/keeper/msg_server_update_clob_pair.go
  protocol/x/clob/keeper/msg_server_update_clob_pair_test.go
  protocol/x/clob/keeper/msg_server_update_equity_tier_limit_config.go
  protocol/x/clob/keeper/msg_server_update_liquidations_config.go
Labels: protocol

#587 [DEC-2096] IBC audit: move ibc util function to testutil package
  protocol/testutil/ibc/ibc.go
  protocol/testutil/ibc/ibc_test.go
Labels: protocol, chore

#588 Remove unused keys in vest, rewards
  protocol/x/rewards/types/keys.go
  protocol/x/rewards/types/keys_test.go
  protocol/x/vest/types/keys.go
  protocol/x/vest/types/keys_test.go
Labels: protocol

#580 [CORE-654] Audit lib/eth
  protocol/lib/eth/util.go
  protocol/lib/eth/util_test.go
Labels: protocol, chore

#603 [CORE-658] - Telemetry updates, remove commented out test file
  protocol/lib/metrics/constants.go
  protocol/x/prices/keeper/msg_server_create_oracle_market.go
  protocol/x/prices/keeper/msg_server_test.go
  protocol/x/prices/keeper/msg_server_update_market_param.go
Labels: protocol

#607 [CORE-658] - Migrate set type to map with empty struct value
  protocol/x/prices/keeper/validate_market_price_updates.go
Labels: protocol

#596 [CLOB-956] improve liquidations and deleveraging telemetry
  protocol/lib/metrics/constants.go
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/module_test.go
Labels: protocol

#585 [DEC-2145] Audit: Explicitly panic when insurance fund delta is not int64
  protocol/x/clob/keeper/mev.go
Labels: protocol

#605 [CORE-650] add unit test to sending module governance message
  protocol/x/sending/keeper/transfer_test.go
Labels: protocol

#604 Minor cleanup of bridge daemon
  protocol/daemons/bridge/client/client.go
  protocol/daemons/bridge/client/client_test.go
  protocol/daemons/bridge/client/types/eth_client.go
  protocol/daemons/bridge/client/types/query_client.go
Labels: protocol, chore, hygiene

#608 Prevent stateful orders from being replayed twice
  protocol/x/clob/memclob/memclob.go
Labels: protocol

#606 Remove CHANGELOG.md and update PR template
  .github/pull_request_template.md
  indexer/CHANGELOG.md
  protocol/CHANGELOG.md
Labels: indexer, protocol, chore

#613 [CLOB-959] loosen deliver tx liquidation validation and allow arbitra…
  protocol/mocks/ClobKeeper.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_operations_liquidations_test.go
  protocol/x/clob/types/liquidations_keeper.go
Labels: protocol

#610 Update genesis.sh
  protocol/testing/genesis.sh
Labels: protocol

#615 [CORE-664] Add comment/remove unnecessary lines in `x/perpetual`
  protocol/x/perpetuals/keeper/msg_server_add_premium_votes.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/types/constants.go
  protocol/x/perpetuals/types/errors.go
  protocol/x/perpetuals/types/genesis.go
  protocol/x/perpetuals/types/liquidity_tier.go
Labels: protocol

#614 Remove max insurance fund before deleveraging
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/liquidations_config.ts
  proto/dydxprotocol/clob/liquidations_config.proto
  protocol/app/testdata/default_genesis_state.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/testutil/constants/genesis.go
  protocol/testutil/constants/liquidation_configs.go
  protocol/testutil/sim_helpers/genesis_parameters.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/process_operations_liquidations_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/module_test.go
  protocol/x/clob/simulation/genesis.go
  protocol/x/clob/types/liquidations_config.pb.go
Labels: indexer, protocol, proto

#617 Add INFO logs for all parsed flags (app, daemons, clob)
  protocol/app/app.go
  protocol/daemons/bridge/client/client.go
  protocol/daemons/liquidation/client/client.go
  protocol/daemons/pricefeed/client/client.go
Labels: protocol

#554 [DEC-2081] Audit app/prepare/other_msgs.go and app/prepare/transactions.go
  protocol/app/prepare/other_msgs.go
  protocol/app/prepare/other_msgs_test.go
  protocol/app/prepare/prepare_proposal.go
  protocol/app/prepare/transactions.go
  protocol/app/prepare/transactions_test.go
Labels: protocol

#611 [DEC-2081] Simplify app/process/transactions.go to not use idx map
  protocol/app/process/transactions.go
  protocol/app/process/utils.go
  protocol/app/process/utils_test.go
Labels: protocol

#616 update logging and telemetry for ReplayOperations bug fix
  protocol/lib/metrics/constants.go
  protocol/x/clob/memclob/memclob.go
Labels: protocol

#618 [chore] Add `PrepareCheckState` metrics
  protocol/lib/metrics/constants.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/memclob/memclob.go
Labels: protocol

#619 Updating `genesis.sh` for `dev/staging`
  protocol/testing/genesis.sh
Labels: protocol

#383 [DEC-2081] Audit upgrades.go
  protocol/app/app.go
  protocol/app/upgrades.go
  protocol/app/upgrades_test.go
Labels: protocol

#622 [IND-445] Add legal copy for websocket error messages for blocked addresses.
  indexer/services/socks/__tests__/lib/subscriptions.test.ts
  indexer/services/socks/src/lib/errors.ts
  indexer/services/socks/src/lib/subscription.ts
Labels: indexer, feature:regulatory_strategy

#626 [CLOB-947] New liquidity tier for TEST-USD
  protocol/testing/genesis.sh
Labels: protocol
