Repository dydxprotocol/v4-chain, pull requests merged in 2023-11, with the labels that each got.

#733 Fix order handler to return correct updatedAt/updatedAtHeight
  indexer/packages/postgres/src/helpers/db-helpers.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/src/scripts/dydx_get_fee_from_liquidity.sql
  indexer/services/ender/src/scripts/dydx_get_order_status.sql
  indexer/services/ender/src/scripts/dydx_get_total_filled_from_liquidity.sql
  indexer/services/ender/src/scripts/dydx_order_fill_handler_per_order.sql
Labels: indexer

#732 Add context for docker-compose builds since it is necessary for newer versions of Docker.
  indexer/docker-compose-local-deployment.yml
  indexer/docker-compose.yml
Labels: indexer

#726 [CORE-703] Check funding settlement in e2e test
  protocol/testing/e2e/funding/funding_e2e_test.go
Labels: protocol

#685 [CORE-664] Perpetual audit: add validation on `MinNumVotesPerSample`, add unit tests
  protocol/x/perpetuals/e2e/authorities_test.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/errors.go
  protocol/x/perpetuals/types/genesis_test.go
  protocol/x/perpetuals/types/params.go
  protocol/x/perpetuals/types/params_test.go
Labels: protocol, state-breaking

#734 [IND-465] Add support for liquidation handler to use a single SQL function. Also fix fill and order models since clientMetadata is a nullable field.
  indexer/packages/postgres/src/models/fill-model.ts
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/order-fills/liquidation-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_liquidation_fill_handler_per_order.sql
Labels: indexer

#718 [CORE-617] Add vest/rewards e2e test suite
  protocol/testing/e2e/funding/funding_e2e_test.go
  protocol/testing/e2e/trading_rewards/trading_rewards_test.go
  protocol/testutil/clob/human_order.go
  protocol/testutil/clob/order.go
  protocol/testutil/pricefeed/index_price.go
Labels: protocol

#743 Revert "[CORE-617] Add vest/rewards e2e test suite (#718)"
  protocol/testing/e2e/funding/funding_e2e_test.go
  protocol/testing/e2e/trading_rewards/trading_rewards_test.go
  protocol/testutil/clob/human_order.go
  protocol/testutil/clob/order.go
  protocol/testutil/pricefeed/index_price.go
Labels: protocol

#737 [IND-467] Push ender market create logic to use a single sql function
  indexer/packages/postgres/src/constants.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/loops/market-refresher.ts
  indexer/packages/postgres/src/models/market-model.ts
  indexer/services/ender/__tests__/handlers/markets/market-create-handler.test.ts
  indexer/services/ender/__tests__/lib/sync-handlers.test.ts
  indexer/services/ender/__tests__/scripts/scripts.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/markets/market-create-handler.ts
  indexer/services/ender/src/handlers/order-fills/liquidation-handler.ts
  indexer/services/ender/src/handlers/order-fills/order-handler.ts
  indexer/services/ender/src/handlers/subaccount-update-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/lib/on-message.ts
  indexer/services/ender/src/scripts/dydx_market_create_handler.sql
Labels: indexer

#742 Update README.md
  README.md
Labels: documentation

#745 [IND-468] Push ender market modify logic to use a single SQL function
  indexer/services/ender/__tests__/handlers/markets/market-modify-handler.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/markets/market-modify-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_market_modify_handler.sql
Labels: indexer

#746 [IND-469] Update `ender` market price update handler to execute updates via a SQL function.
  indexer/packages/postgres/src/constants.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/models/oracle-price-model.ts
  indexer/services/ender/__tests__/handlers/markets/market-price-update-handler.test.ts
  indexer/services/ender/__tests__/scripts/scripts.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/markets/market-price-update-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_market_price_update_handler.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_oracle_price_parts.sql
Labels: indexer

#748 [IND-470] Update asset create handler to use SQL function.
  indexer/packages/postgres/src/constants.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/models/asset-model.ts
  indexer/services/ender/__tests__/handlers/asset-handler.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/asset-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_asset_create_handler.sql
Labels: indexer

#747 Add sample script to generate gov proposal for enabling trading
  protocol/scripts/governance/enable_all_clob_pairs.sh
Labels: protocol

#752 [IND-475] Update ender `update clob pair` handler to execute via a SQL function.
  indexer/services/ender/__tests__/handlers/update-clob-pair-handler.test.ts
  indexer/services/ender/__tests__/scripts/scripts.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/update-clob-pair-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_clob_pair_status_to_market_status.sql
  indexer/services/ender/src/scripts/dydx_update_clob_pair_handler.sql
Labels: indexer

#731 Deflake test-sim-nondeterminism
  protocol/app/simulation_test.go
Labels: protocol

#749 Improve usability of snapshots saved by snapshotting node
  protocol/testing/snapshotting/snapshot.sh
Labels: protocol

#755 [IND-476] Update ender update perpetual handler to execute updates via a SQL function.
  indexer/services/ender/__tests__/handlers/update-clob-pair-handler.test.ts
  indexer/services/ender/__tests__/handlers/update-perpetual-handler.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/update-perpetual-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_perpetual_market_handler.sql
  indexer/services/ender/src/scripts/dydx_update_clob_pair_handler.sql
  indexer/services/ender/src/scripts/dydx_update_perpetual_handler.sql
Labels: indexer

#760 [IND-473] Update ender perpetual market create to execute updates via a SQL function.
  indexer/services/ender/__tests__/handlers/perpetual-market-handler.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/perpetual-market-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_perpetual_market_handler.sql
Labels: indexer

#736 [IND-460] Emit deleveraging events from protocol
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/lib/on-message.test.ts
  indexer/services/ender/__tests__/validators/deleveraging-validator.test.ts
  indexer/services/ender/src/constants.ts
  indexer/services/ender/src/handlers/deleveraging-handler.ts
  indexer/services/ender/src/lib/block-processor.ts
  indexer/services/ender/src/lib/helper.ts
  indexer/services/ender/src/lib/types.ts
  indexer/services/ender/src/validators/deleveraging-validator.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/indexer/events/constants.go
  protocol/indexer/events/deleveraging.go
  protocol/indexer/events/deleveraging_test.go
  protocol/indexer/events/events.pb.go
  protocol/indexer/indexer_manager/event_manager.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/process_operations_test.go
Labels: indexer, protocol, proto

#761 [IND-472] Update ender liquidity tier upsert to execute updates via a SQL function.
  indexer/packages/postgres/src/constants.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/models/liquidity-tiers-model.ts
  indexer/services/ender/__tests__/handlers/liquidity-tier-handler.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/liquidity-tier-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_liquidity_tier_handler.sql
Labels: indexer

#753 [IND-450]: Prevent orders transitioning from canceled to best effort canceled
  indexer/packages/redis/__tests__/caches/canceled-orders-cache.test.ts
  indexer/packages/redis/src/caches/canceled-orders-cache.ts
  indexer/packages/redis/src/types.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/src/handlers/order-fills/abstract-order-fill-handler.ts
  indexer/services/ender/src/handlers/order-fills/liquidation-handler.ts
  indexer/services/ender/src/handlers/order-fills/order-handler.ts
  indexer/services/ender/src/scripts/dydx_get_order_status.sql
  indexer/services/ender/src/scripts/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/dydx_order_fill_handler_per_order.sql
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/__tests__/helpers/helpers.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
Labels: bug, indexer

#715 [CORE-666] - Robust health check
  protocol/daemons/pricefeed/client/client.go
  protocol/daemons/pricefeed/client/client_test.go
  protocol/daemons/pricefeed/client/sub_task_runner.go
  protocol/daemons/pricefeed/client/types/errors.go
  protocol/daemons/types/health_checkable.go
  protocol/daemons/types/health_checkable_test.go
  protocol/testutil/daemons/common.go
Labels: protocol

#763 [IND-474] Update ender transfer handler to execute updates via a SQLfunction.
  indexer/packages/postgres/src/constants.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/models/transfer-model.ts
  indexer/packages/postgres/src/stores/asset-position-table.ts
  indexer/packages/postgres/src/stores/candle-table.ts
  indexer/packages/postgres/src/stores/fill-table.ts
  indexer/packages/postgres/src/stores/funding-index-updates-table.ts
  indexer/packages/postgres/src/stores/oracle-price-table.ts
  indexer/packages/postgres/src/stores/order-table.ts
  indexer/packages/postgres/src/stores/perpetual-position-table.ts
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/packages/postgres/src/stores/subaccount-table.ts
  indexer/packages/postgres/src/stores/transaction-table.ts
  indexer/packages/postgres/src/stores/transfer-table.ts
  indexer/services/ender/__tests__/handlers/transfer-handler.test.ts
  indexer/services/ender/__tests__/scripts/scripts.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/transfer-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_liquidity_tier_handler.sql
  indexer/services/ender/src/scripts/dydx_transfer_handler.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_transfer_parts.sql
Labels: indexer

#464 [CORE-567] add integration tests for vest module gov msgs
  protocol/testing/e2e/gov/add_new_market_test.go
  protocol/testing/e2e/gov/bridge_test.go
  protocol/testing/e2e/gov/sending_test.go
  protocol/testing/e2e/gov/stats_test.go
  protocol/testing/e2e/gov/vest_test.go
  protocol/testutil/app/gov.go
Labels: protocol

#762 GNU Affero General Public License Updates
  LICENSE
  indexer/LICENSE
  proto/LICENSE
  protocol/LICENSE
  v4-proto-js/LICENSE
  v4-proto-py/LICENSE
Labels: indexer, protocol, proto

#766 [CLOB-976] Push indexer ECR images to mainnet.
  .github/workflows/indexer-build-and-push-mainnet.yml
Labels: chore

#754 [IND-442] Don't send cancel messages if orders are fully filled in state.
  indexer/packages/redis/__tests__/caches/state-filled-quantums-cache.test.ts
  indexer/packages/redis/src/caches/state-filled-quantums-cache.ts
  indexer/packages/redis/src/index.ts
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/__tests__/helpers/redis-helpers.ts
  indexer/services/ender/src/handlers/order-fills/liquidation-handler.ts
  indexer/services/ender/src/handlers/order-fills/order-handler.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/src/handlers/helpers.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
Labels: bug, indexer

#750 [CLOB-636] - update e2e stateful cancellations tests
  protocol/testutil/app/app.go
  protocol/x/clob/e2e/app_test.go
  protocol/x/clob/e2e/long_term_orders_test.go
Labels: protocol

#751 [CLOB-636] - add e2e tests for short term cancellations
  protocol/x/clob/e2e/short_term_orders_test.go
Labels: protocol

#765 Small short term place order refactor
  protocol/x/clob/keeper/orders.go
Labels: protocol

#767 Add more pruning configs
  protocol/testing/snapshotting/snapshot.sh
Labels: protocol

#770 [IND-471] Update ender funding to execute updates via a SQL function.
  indexer/services/ender/__tests__/handlers/funding-handler.test.ts
  indexer/services/ender/__tests__/scripts/scripts.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/funding-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_funding_handler.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_funding_index_update_parts.sql
Labels: indexer

#768 [IND-482]: Send timing fields for orders when possible
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/order-types.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
Labels: bug, indexer

#773 Fix flaky TestQueryPremiumSamples test
  protocol/x/perpetuals/client/cli/query_premiums_test.go
Labels: protocol

#774 [IND-477, IND-478, IND-479, IND-480] Update all stateful order handlers to use a SQL function to perform reads & updates.
  indexer/packages/postgres/src/lib/order-translations.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-triggered-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-removal-handler.test.ts
  indexer/services/ender/__tests__/scripts/scripts.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/abstract-stateful-order-handler.ts
  indexer/services/ender/src/handlers/stateful-order/conditional-order-placement-handler.ts
  indexer/services/ender/src/handlers/stateful-order/conditional-order-triggered-handler.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-placement-handler.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-removal-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_from_protocol_order_side.sql
  indexer/services/ender/src/scripts/dydx_protocol_condition_type_to_order_type.sql
  indexer/services/ender/src/scripts/dydx_stateful_order_handler.sql
Labels: indexer

#771 [CLOB-166] - add e2e tests for fok/ioc/po short term orders
  protocol/testutil/constants/orders.go
  protocol/testutil/msgs/util.go
  protocol/x/clob/e2e/short_term_orders_test.go
Labels: protocol

#772 [CLOB-858] Add liquidation tests with different block limits
  protocol/testutil/constants/orders.go
  protocol/testutil/constants/subaccounts.go
  protocol/x/clob/e2e/liquidation_deleveraging_test.go
Labels: protocol

#775 Default athena snapshots to be off
  indexer/services/roundtable/src/config.ts
Labels: indexer

#730 [IND-461] handle deleveraging events
  indexer/packages/postgres/src/db/migrations/migration_files/20231101173444_update_fills_type_with_deleverage.ts
  indexer/packages/postgres/src/types/fill-types.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/public/websocket-documentation.md
  indexer/services/ender/__tests__/handlers/order-fills/deleveraging-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/__tests__/lib/kafka-publisher.test.ts
  indexer/services/ender/__tests__/lib/on-message.test.ts
  indexer/services/ender/src/constants.ts
  indexer/services/ender/src/handlers/deleveraging-handler.ts
  indexer/services/ender/src/handlers/order-fills/abstract-order-fill-handler.ts
  indexer/services/ender/src/handlers/order-fills/deleveraging-handler.ts
  indexer/services/ender/src/helpers/kafka-helper.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_deleveraging_handler.sql
  indexer/services/ender/src/scripts/dydx_order_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/dydx_update_perpetual_position_aggregate_fields.sql
  indexer/services/ender/src/validators/deleveraging-validator.ts
Labels: indexer

#456 add more test cases in bridge governance integration tests
  protocol/testing/e2e/gov/bridge_test.go
Labels: protocol

#777 [IND-485]: Query for PerpetualPositions by openEventId
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/helpers/mock-generators.ts
  indexer/packages/postgres/__tests__/stores/perpetual-position-table.test.ts
  indexer/packages/postgres/src/stores/perpetual-position-table.ts
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/src/scripts/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/dydx_update_perpetual_position_aggregate_fields.sql
Labels: bug, indexer

#779 [IND-486] update trades api with fill type
  indexer/packages/kafka/src/constants.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/public/websocket-documentation.md
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/__tests__/lib/kafka-publisher.test.ts
  indexer/services/ender/src/handlers/order-fills/abstract-order-fill-handler.ts
  indexer/services/ender/src/helpers/kafka-helper.ts
Labels: indexer

#738 [CORE-666] - Implement liquidations healthcheck
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/daemons/liquidation/client/client.go
  protocol/daemons/liquidation/client/client_test.go
  protocol/daemons/liquidation/client/sub_task_runner.go
  protocol/daemons/liquidation/client/sub_task_runner_test.go
  protocol/daemons/pricefeed/client/client.go
  protocol/daemons/pricefeed/client/client_test.go
  protocol/daemons/types/health_checkable.go
  protocol/daemons/types/health_checkable_test.go
  protocol/testutil/daemons/common.go
Labels: protocol

#780 [IND-399] Improve comments, remove SQL function that wasn't being used, fix some stylistic choices in case statements.
  indexer/services/ender/__tests__/scripts/scripts.test.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_clob_pair_status_to_market_status.sql
  indexer/services/ender/src/scripts/dydx_create_tendermint_event.sql
  indexer/services/ender/src/scripts/dydx_deleveraging_handler.sql
  indexer/services/ender/src/scripts/dydx_event_id_from_parts.sql
  indexer/services/ender/src/scripts/dydx_event_to_transaction_index.sql
  indexer/services/ender/src/scripts/dydx_from_protocol_order_side.sql
  indexer/services/ender/src/scripts/dydx_from_protocol_time_in_force.sql
  indexer/services/ender/src/scripts/dydx_from_serializable_int.sql
  indexer/services/ender/src/scripts/dydx_funding_handler.sql
  indexer/services/ender/src/scripts/dydx_get_order_status.sql
  indexer/services/ender/src/scripts/dydx_get_weighted_average.sql
  indexer/services/ender/src/scripts/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/dydx_liquidity_tier_handler.sql
  indexer/services/ender/src/scripts/dydx_market_create_handler.sql
  indexer/services/ender/src/scripts/dydx_market_modify_handler.sql
  indexer/services/ender/src/scripts/dydx_market_price_update_handler.sql
  indexer/services/ender/src/scripts/dydx_order_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/dydx_perpetual_market_handler.sql
  indexer/services/ender/src/scripts/dydx_protocol_condition_type_to_order_type.sql
  indexer/services/ender/src/scripts/dydx_stateful_order_handler.sql
  indexer/services/ender/src/scripts/dydx_subaccount_update_handler.sql
  indexer/services/ender/src/scripts/dydx_tendermint_event_to_transaction_index.sql
  indexer/services/ender/src/scripts/dydx_transfer_handler.sql
  indexer/services/ender/src/scripts/dydx_update_clob_pair_handler.sql
  indexer/services/ender/src/scripts/dydx_update_perpetual_handler.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_oracle_price_parts.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_order_id.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_order_id_parts.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_subaccount_id.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_subaccount_id_parts.sql
Labels: indexer

#784 Refactor out looking up clob pair into SQL function.
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/dydx_get_perpetual_market_for_clob_pair.sql
  indexer/services/ender/src/scripts/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/dydx_order_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/dydx_stateful_order_handler.sql
  indexer/services/ender/src/scripts/dydx_update_perpetual_position_aggregate_fields.sql
Labels: indexer

#764 [CORE-666] - Implement bridge daemon health checks
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/daemons/bridge/client/client.go
  protocol/daemons/bridge/client/client_test.go
  protocol/daemons/bridge/client/sub_task_runner.go
  protocol/daemons/bridge/client/sub_task_runner_test.go
  protocol/daemons/bridge/client/types/constants/logger.go
Labels: protocol

#759 [CORE-585] In add-new-market gov e2e test, place order on new market with `0` oracle price
  protocol/testing/e2e/gov/add_new_market_test.go
Labels: protocol

#788 [IND-487] remove market enum from FillsType
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20231110103241_remove_market_fills_type.ts
  indexer/packages/postgres/src/types/fill-types.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/public/websocket-documentation.md
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/lib/kafka-publisher.test.ts
Labels: indexer

#758 [CORE-712] Add e2e funding test with varying funding rate; update how oracle price is updated
  protocol/testing/e2e/funding/funding_e2e_test.go
Labels: protocol

#458 add integration tests for rewards module governance messages
  protocol/testing/e2e/gov/rewards_test.go
Labels: protocol

#665 [CLOB-497] - conditional e2e tests for IOC/FOK/PO
  protocol/testutil/app/app.go
  protocol/testutil/constants/stateful_orders.go
  protocol/x/clob/e2e/conditional_orders_test.go
Labels: protocol

#789 [IND-486] add new trade type
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/trade-types.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/public/websocket-documentation.md
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/__tests__/lib/kafka-publisher.test.ts
  indexer/services/ender/src/handlers/order-fills/abstract-order-fill-handler.ts
Labels: indexer

#739 [DEC-1106] Remove obsolete TODOs
  protocol/app/constants.go
  protocol/app/module/slashing.go
  protocol/app/prepare/metrics.go
Labels: documentation, protocol

#450 add integration tests for perpetuals module governance messages
  protocol/testing/e2e/gov/perpetuals_test.go
Labels: protocol

#776 Disallow order removal reason fully filled
  protocol/lib/metrics/constants.go
  protocol/testutil/constants/clob_pair.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/get_price_premium_test.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/message_proposed_operations.go
Labels: protocol

#798 [CORE-793] - Remove log for recent markets.
  protocol/x/prices/keeper/update_price.go
Labels: protocol

#797 Statefully validate stateful orders in PrepareCheckState Replay
  protocol/mocks/MemClobKeeper.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/e2e/order_removal_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/mem_clob_keeper.go
Labels: protocol

#801 Chore: Height fix
  protocol/app/upgrades/v2.0.0/constants.go
Labels: protocol

#804 Sample gov script for funding vesters + adjust trading rewards
  protocol/scripts/governance/bridge_vesters_set_rewards.py
Labels: protocol

#805 Fix sample rewards script
  protocol/scripts/governance/bridge_vesters_set_rewards.py
Labels: protocol

#459 add integration tests for feetiers module governance messages
  protocol/testing/e2e/gov/feetiers_test.go
Labels: protocol

#811 [IND-481] Update handlers to use SQL function only removing the Knex option
  indexer/services/ender/__tests__/handlers/asset-handler.test.ts
  indexer/services/ender/__tests__/handlers/funding-handler.test.ts
  indexer/services/ender/__tests__/handlers/liquidity-tier-handler.test.ts
  indexer/services/ender/__tests__/handlers/markets/market-create-handler.test.ts
  indexer/services/ender/__tests__/handlers/markets/market-modify-handler.test.ts
  indexer/services/ender/__tests__/handlers/markets/market-price-update-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/__tests__/handlers/perpetual-market-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-triggered-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-removal-handler.test.ts
  indexer/services/ender/__tests__/handlers/subaccount-update-handler.test.ts
  indexer/services/ender/__tests__/handlers/transfer-handler.test.ts
  indexer/services/ender/__tests__/handlers/update-clob-pair-handler.test.ts
  indexer/services/ender/__tests__/handlers/update-perpetual-handler.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/abstract-stateful-order-handler.ts
  indexer/services/ender/src/handlers/asset-handler.ts
  indexer/services/ender/src/handlers/funding-handler.ts
  indexer/services/ender/src/handlers/liquidity-tier-handler.ts
  indexer/services/ender/src/handlers/markets/market-create-handler.ts
  indexer/services/ender/src/handlers/markets/market-modify-handler.ts
  indexer/services/ender/src/handlers/markets/market-price-update-handler.ts
  indexer/services/ender/src/handlers/order-fills/abstract-order-fill-handler.ts
  indexer/services/ender/src/handlers/order-fills/deleveraging-handler.ts
  indexer/services/ender/src/handlers/order-fills/liquidation-handler.ts
  indexer/services/ender/src/handlers/order-fills/order-handler.ts
  indexer/services/ender/src/handlers/perpetual-market-handler.ts
  indexer/services/ender/src/handlers/stateful-order/conditional-order-placement-handler.ts
  indexer/services/ender/src/handlers/stateful-order/conditional-order-triggered-handler.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-placement-handler.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-removal-handler.ts
  indexer/services/ender/src/handlers/subaccount-update-handler.ts
  indexer/services/ender/src/handlers/transfer-handler.ts
  indexer/services/ender/src/handlers/update-clob-pair-handler.ts
  indexer/services/ender/src/handlers/update-perpetual-handler.ts
Labels: indexer

#808 [CORE-517] add integration tests for prices governance messages
  protocol/testing/e2e/gov/prices_test.go
  protocol/testutil/prices/market_param_price.go
Labels: protocol

#815 [IND-481] Delete price cache in ender.
  indexer/services/ender/__tests__/caches/block-cache.test.ts
  indexer/services/ender/__tests__/caches/price-cache.test.ts
  indexer/services/ender/__tests__/handlers/funding-handler.test.ts
  indexer/services/ender/__tests__/handlers/markets/market-price-update-handler.test.ts
  indexer/services/ender/src/caches/block-cache.ts
  indexer/services/ender/src/caches/price-cache.ts
  indexer/services/ender/src/handlers/markets/market-price-update-handler.ts
Labels: indexer

#818 [IND-481] Remove market cache.
  indexer/packages/postgres/__tests__/loops/market-refresher.test.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/loops/market-refresher.ts
  indexer/services/ender/__tests__/caches/block-cache.test.ts
  indexer/services/ender/__tests__/handlers/asset-handler.test.ts
  indexer/services/ender/__tests__/handlers/perpetual-market-handler.test.ts
  indexer/services/ender/__tests__/lib/on-message.test.ts
  indexer/services/ender/__tests__/validators/asset-validator.test.ts
  indexer/services/ender/__tests__/validators/perpetual-market-validator.test.ts
  indexer/services/ender/src/caches/block-cache.ts
  indexer/services/ender/src/handlers/markets/market-create-handler.ts
  indexer/services/ender/src/handlers/markets/market-modify-handler.ts
  indexer/services/ender/src/handlers/markets/market-price-update-handler.ts
  indexer/services/ender/src/index.ts
  indexer/services/ender/src/lib/cache-manager.ts
Labels: indexer

#813 [IND-491]: Remove unused lastPrice from perpetual_markets table
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20231128171435_remove_perpetual_market_last_price.ts
  indexer/packages/postgres/src/models/perpetual-market-model.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/perpetual-market-types.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/services/comlink/__tests__/lib/request-helpers/request-transformer.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/public/websocket-documentation.md
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/src/scripts/dydx_perpetual_market_handler.sql
  indexer/services/roundtable/src/lib/athena-ddl-tables/perpetual_markets.ts
Labels: indexer, indexer-postgres-breaking

#821 [IND-399] Fix line numbers in SQL function stack traces
  indexer/services/ender/src/scripts/dydx_asset_create_handler.sql
  indexer/services/ender/src/scripts/dydx_clob_pair_status_to_market_status.sql
  indexer/services/ender/src/scripts/dydx_create_initial_rows_for_tendermint_block.sql
  indexer/services/ender/src/scripts/dydx_create_tendermint_event.sql
  indexer/services/ender/src/scripts/dydx_create_transaction.sql
  indexer/services/ender/src/scripts/dydx_deleveraging_handler.sql
  indexer/services/ender/src/scripts/dydx_event_id_from_parts.sql
  indexer/services/ender/src/scripts/dydx_from_jsonlib_long.sql
  indexer/services/ender/src/scripts/dydx_from_protocol_order_side.sql
  indexer/services/ender/src/scripts/dydx_from_protocol_time_in_force.sql
  indexer/services/ender/src/scripts/dydx_from_serializable_int.sql
  indexer/services/ender/src/scripts/dydx_funding_handler.sql
  indexer/services/ender/src/scripts/dydx_get_fee_from_liquidity.sql
  indexer/services/ender/src/scripts/dydx_get_order_status.sql
  indexer/services/ender/src/scripts/dydx_get_perpetual_market_for_clob_pair.sql
  indexer/services/ender/src/scripts/dydx_get_total_filled_from_liquidity.sql
  indexer/services/ender/src/scripts/dydx_get_weighted_average.sql
  indexer/services/ender/src/scripts/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/dydx_liquidity_tier_handler.sql
  indexer/services/ender/src/scripts/dydx_market_create_handler.sql
  indexer/services/ender/src/scripts/dydx_market_modify_handler.sql
  indexer/services/ender/src/scripts/dydx_market_price_update_handler.sql
  indexer/services/ender/src/scripts/dydx_order_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/dydx_perpetual_market_handler.sql
  indexer/services/ender/src/scripts/dydx_perpetual_position_and_order_side_matching.sql
  indexer/services/ender/src/scripts/dydx_protocol_condition_type_to_order_type.sql
  indexer/services/ender/src/scripts/dydx_stateful_order_handler.sql
  indexer/services/ender/src/scripts/dydx_subaccount_update_handler.sql
  indexer/services/ender/src/scripts/dydx_tendermint_event_to_transaction_index.sql
  indexer/services/ender/src/scripts/dydx_transfer_handler.sql
  indexer/services/ender/src/scripts/dydx_trim_scale.sql
  indexer/services/ender/src/scripts/dydx_update_clob_pair_handler.sql
  indexer/services/ender/src/scripts/dydx_update_perpetual_handler.sql
  indexer/services/ender/src/scripts/dydx_update_perpetual_position_aggregate_fields.sql
  indexer/services/ender/src/scripts/dydx_uuid.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_asset_position_parts.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_fill_event_parts.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_funding_index_update_parts.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_oracle_price_parts.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_order_id.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_order_id_parts.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_perpetual_position_parts.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_subaccount_id.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_subaccount_id_parts.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_transaction_parts.sql
  indexer/services/ender/src/scripts/dydx_uuid_from_transfer_parts.sql
Labels: indexer

#800 [CORE-619] add e2e tests for subaccount transfers
  protocol/x/sending/app_test.go
Labels: protocol

#819 [IND-495]: Update wallets postgres table with totalTradingRewards field
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/transfer-table.test.ts
  indexer/packages/postgres/__tests__/stores/wallet-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20231128175805_add_wallets_total_trading_rewards.ts
  indexer/packages/postgres/src/models/wallet-model.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/wallet-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/transfers-controller.test.ts
  indexer/services/ender/__tests__/handlers/transfer-handler.test.ts
  indexer/services/ender/src/scripts/dydx_transfer_handler.sql
Labels: indexer

#820 Track lag for block time to ingestion time
  indexer/services/ender/src/lib/on-message.ts
Labels: indexer

#812 Add v3.0.0 upgrade handler with module account initialization
  protocol/app/upgrades.go
  protocol/app/upgrades/v3.0.0/constants.go
  protocol/app/upgrades/v3.0.0/upgrade.go
  protocol/app/upgrades_test.go
Labels: protocol

#822 [IND-494]: Create trading_rewards postgres table
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/trading-rewards-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20231129153017_create_trading_rewards_table.ts
  indexer/packages/postgres/src/helpers/db-helpers.ts
  indexer/packages/postgres/src/models/trading-reward-model.ts
  indexer/packages/postgres/src/models/wallet-model.ts
  indexer/packages/postgres/src/stores/trading-reward-table.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/packages/postgres/src/types/trading-reward-types.ts
Labels: indexer

#825 [IND-496]: Create trading_reward_aggregations postgres table
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/trading-reward-aggregation-table.test.ts
  indexer/packages/postgres/__tests__/stores/trading-reward-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20231130153800_create_trading_reward_aggregations_table.ts
  indexer/packages/postgres/src/helpers/db-helpers.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/models/block-model.ts
  indexer/packages/postgres/src/models/trading-reward-aggregation-model.ts
  indexer/packages/postgres/src/models/trading-reward-model.ts
  indexer/packages/postgres/src/models/wallet-model.ts
  indexer/packages/postgres/src/stores/trading-reward-aggregation-table.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/packages/postgres/src/types/trading-reward-aggregation-types.ts
Labels: indexer
