Repository dydxprotocol/v4-chain, pull requests merged in 2024-06, with the labels that each got.

#1616 Grpc Streaming Metrics
  protocol/app/app.go
  protocol/lib/metrics/metric_keys.go
  protocol/streaming/grpc/grpc_streaming_manager.go
Labels: protocol

#1594 [CT-756] add roundtable task that uncrosses orderbook
  indexer/packages/redis/__tests__/caches/orderbook-levels-cache.test.ts
  indexer/packages/redis/src/caches/orderbook-levels-cache.ts
  indexer/packages/redis/src/caches/scripts.ts
  indexer/packages/redis/src/scripts/delete_stale_price_level.lua
  indexer/services/roundtable/__tests__/tasks/uncross-orderbook.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/uncross-orderbook.ts
Labels: indexer

#1618 [OTE-378] Remove offchain updates from `ProcessSingleMatch`
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClobKeeper.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/mem_clob_keeper.go
Labels: protocol, feature:optimistic_execution

#1593 [CT-875] Simplify indexer messages for short term order replacement
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_place_order_reduce_only_test.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/memclob/memclob_test_util.go
Labels: indexer, protocol

#1623 Restrict order replacement to only changing size, price, GTT/GTB
  protocol/x/clob/e2e/reduce_only_orders_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/types/errors.go
Labels: protocol

#1615 Simplify vault order placement
  protocol/lib/big_math.go
  protocol/lib/big_math_test.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
Labels: protocol

#1624 [OTE-138] Deprecate screen endpoint
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/index-v4.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
Labels: indexer

#1611 [SKI-45] Remove MEXC exchange from dev/staging environments
  protocol/daemons/pricefeed/client/constants/static_exchange_market_config.go
  protocol/daemons/pricefeed/client/constants/testdata/ada_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/ape_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/apt_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/arb_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/atom_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/bch_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/blur_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/btc_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/comp_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/crv_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/doge_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/dot_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/dydx_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/etc_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/eth_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/fil_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/ldo_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/link_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/ltc_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/matic_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/mkr_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/near_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/op_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/pepe_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/sei_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/shib_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/sol_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/sui_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/trx_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/wld_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/xlm_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/xrp_exchange_config.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/daemons/pricefeed/exchange_config/testnet_exchange_market_config.go
Labels: protocol

#1627 Upgrade widdershins to fix autogenerated documentation
  indexer/pnpm-lock.yaml
  indexer/services/comlink/package.json
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/scripts/generate-swagger.ts
Labels: indexer

#1620 Add v6.0.0 upgrade handler
  protocol/app/upgrades.go
  protocol/app/upgrades/v5.0.0/upgrade_container_test.go
  protocol/app/upgrades/v6.0.0/constants.go
  protocol/app/upgrades/v6.0.0/upgrade.go
  protocol/app/upgrades/v6.0.0/upgrade_container_test.go
  protocol/testing/containertest/containertest.sh
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/testing/containertest/testnet.go
Labels: protocol

#1626 GRPC Full node streaming - batching protos
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#1632 update slinky to 1.0.0
  protocol/docker-compose.yml
Labels: protocol

#1634 Consolidate orderbook updates into a single stream update
  protocol/streaming/grpc/grpc_streaming_manager.go
Labels: protocol

#1625 Add the x/listing module
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/rpc.query.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/listing/genesis.proto
  proto/dydxprotocol/listing/query.proto
  proto/dydxprotocol/listing/tx.proto
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/app/upgrades/v6.0.0/constants.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/listing/client/cli/query.go
  protocol/x/listing/client/cli/tx.go
  protocol/x/listing/genesis.go
  protocol/x/listing/keeper/grpc_query.go
  protocol/x/listing/keeper/keeper.go
  protocol/x/listing/keeper/keeper_test.go
  protocol/x/listing/keeper/msg_server.go
  protocol/x/listing/keeper/msg_server_test.go
  protocol/x/listing/module.go
  protocol/x/listing/types/codec.go
  protocol/x/listing/types/errors.go
  protocol/x/listing/types/expected_keepers.go
  protocol/x/listing/types/genesis.go
  protocol/x/listing/types/genesis.pb.go
  protocol/x/listing/types/keys.go
  protocol/x/listing/types/query.pb.go
  protocol/x/listing/types/tx.pb.go
Labels: indexer, protocol, proto

#1639 Upgrade cosmos sdk to allow tx decoding to fail in QueryTxsByEvents
  protocol/go.mod
  protocol/go.sum
Labels: protocol, backport/protocol/v5.x

#1630 fix: Schedule fork upgrade during Preblocker
  protocol/app/app.go
Labels: protocol

#1631 Remove unneeded memstores
  protocol/x/clob/abci_test.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/order_state_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/stateful_order_state.go
  protocol/x/clob/keeper/stateful_order_state_test.go
  protocol/x/clob/keeper/stores.go
  protocol/x/clob/types/keys.go
Labels: protocol

#1636 increase setup go version to v1.22 in protocol-release
  .github/workflows/protocol-release.yml
Labels: chore

#1642 [TRA-355] add script to derive vault
  protocol/scripts/vault/get_vault.go
Labels: protocol

#1648 Remove unnecessary redact
  indexer/packages/base/src/logger.ts
  indexer/packages/base/src/sanitization.ts
Labels: indexer, backport/indexer/v5.x

#1653 Ensure message forwarder samples all stats
  indexer/services/socks/src/lib/message-forwarder.ts
Labels: indexer

#1654 Comment out debug logs
  indexer/services/socks/src/lib/message-forwarder.ts
Labels: indexer

#1646 decode message in socks only once
  indexer/services/socks/src/helpers/from-kafka-helpers.ts
  indexer/services/socks/src/lib/message-forwarder.ts
Labels: indexer

#1655 Move off-chain-updates tests to its own package
  protocol/indexer/off_chain_updates/off_chain_updates.go
  protocol/indexer/off_chain_updates/off_chain_updates_test.go
Labels: protocol, chore

#1659 Add marketType to perpetual_markets athena table
  indexer/services/roundtable/src/lib/athena-ddl-tables/perpetual_markets.ts
Labels: indexer

#1633 GRPC Streaming Batching
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/lib/metrics/metric_keys.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClobKeeper.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/mem_clob_keeper.go
Labels: protocol

#1665 Rename order_replace proto event to order_replacement
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/indexer/events/events.pb.go
Labels: indexer, protocol, proto

#1612 Add custom messages to cosmwasm
  protocol/Dockerfile
  protocol/app/app.go
  protocol/contracts/dydx-messages-example/Cargo.lock
  protocol/contracts/dydx-messages-example/Cargo.toml
  protocol/contracts/dydx-messages-example/src/contract.rs
  protocol/contracts/dydx-messages-example/src/dydx_msg.rs
  protocol/contracts/dydx-messages-example/src/msg.rs
  protocol/dydx-cosmwasm/Cargo.lock
  protocol/dydx-cosmwasm/src/lib.rs
  protocol/dydx-cosmwasm/src/msg.rs
  protocol/dydx-cosmwasm/src/proto_structs.rs
  protocol/lib/tx_mode.go
  protocol/wasmbinding/bindings/msg.go
  protocol/wasmbinding/msg_plugin.go
  protocol/wasmbinding/wasm.go
  protocol/x/clob/keeper/msg_server_place_order.go
Labels: protocol

#1669 Revert "GRPC Streaming Batching (backport #1633) (#1663)"
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/lib/metrics/metric_keys.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClobKeeper.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/mem_clob_keeper.go
Labels: protocol

#1597 [CT-873] Deprecate FOK orders
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/order.ts
  proto/dydxprotocol/clob/order.proto
  protocol/app/upgrades/v6.0.0/upgrade.go
  protocol/app/upgrades/v6.0.0/upgrade_container_test.go
  protocol/mocks/ClobKeeper.go
  protocol/testing/containertest/containertest.sh
  protocol/testing/containertest/node.go
  protocol/testing/e2e/gov/wind_down_market_test.go
  protocol/testutil/constants/orders.go
  protocol/testutil/constants/stateful_orders.go
  protocol/x/clob/e2e/conditional_orders_test.go
  protocol/x/clob/e2e/equity_tier_limit_test.go
  protocol/x/clob/e2e/isolated_subaccount_orders_test.go
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/e2e/order_matches_test.go
  protocol/x/clob/e2e/order_removal_test.go
  protocol/x/clob/e2e/reduce_only_orders_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/clob/keeper/process_operations_long_term_test.go
  protocol/x/clob/keeper/process_operations_stateful_validation_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/simulation/place_order.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/match_with_orders.go
  protocol/x/clob/types/match_with_orders_test.go
  protocol/x/clob/types/message_place_order.go
  protocol/x/clob/types/message_place_order_test.go
  protocol/x/clob/types/operations_to_propose_test.go
  protocol/x/clob/types/order.pb.go
  protocol/x/clob/types/order_test.go
Labels: indexer, protocol, proto

#1622 Update pow10 functions
  protocol/daemons/pricefeed/client/price_function/util.go
  protocol/daemons/pricefeed/client/price_function/util_test.go
  protocol/lib/big_math.go
  protocol/lib/big_math_test.go
  protocol/lib/quantums.go
  protocol/testutil/big/big.go
  protocol/testutil/perpetuals/perpetuals.go
  protocol/testutil/perpetuals/perpetuals_test.go
  protocol/testutil/prices/market_param_price.go
  protocol/testutil/prices/market_param_price_test.go
  protocol/x/assets/keeper/asset.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/types/price_to_subticks.go
  protocol/x/clob/types/quantums.go
  protocol/x/prices/keeper/market_price.go
  protocol/x/ratelimit/types/params.go
Labels: protocol

#1617 Add custom queries to cosmwasm
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/app/app.go
  protocol/contracts/dydx-messages-example/Cargo.lock
  protocol/contracts/dydx-messages-example/src/contract.rs
  protocol/contracts/dydx-messages-example/src/msg.rs
  protocol/dydx-cosmwasm/Cargo.lock
  protocol/dydx-cosmwasm/cargo.toml
  protocol/dydx-cosmwasm/src/lib.rs
  protocol/dydx-cosmwasm/src/proto_structs.rs
  protocol/dydx-cosmwasm/src/querier.rs
  protocol/dydx-cosmwasm/src/query.rs
  protocol/dydx-cosmwasm/src/route.rs
  protocol/dydx-cosmwasm/src/serializable_int.rs
  protocol/wasmbinding/bindings/queries.go
  protocol/wasmbinding/queries.go
  protocol/wasmbinding/query_plugin.go
  protocol/wasmbinding/wasm.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#1679 Code cleanup
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-placement-handler.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
Labels: indexer

#1682 Revert "Remove collateralization-check for unmatched orders (backport…
  protocol/mocks/MemClobKeeper.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/e2e/order_removal_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_cancel_order_test.go
  protocol/x/clob/memclob/memclob_get_order_filled_amount_test.go
  protocol/x/clob/memclob/memclob_place_order_long_term_test.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/memclob/memclob_purge_invalid_memclob_state_test.go
  protocol/x/clob/memclob/memclob_remove_order_test.go
  protocol/x/clob/memclob/memclob_test_util.go
  protocol/x/clob/types/mem_clob_keeper.go
Labels: protocol

#1667 Handle stateful order replacement in Ender
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-triggered-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-removal-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-replacement-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/validators/stateful-order-validator.test.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-replacement-handler.ts
  indexer/services/ender/src/scripts/handlers/dydx_stateful_order_handler.sql
  indexer/services/ender/src/validators/stateful-order-validator.ts
Labels: indexer

#1685 Rm dbg logs
  indexer/services/socks/src/lib/message-forwarder.ts
Labels: indexer

#1692 Revert "Revert "Remove collateralization-check for unmatched orders (backport…"
  protocol/mocks/MemClobKeeper.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/e2e/order_removal_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_cancel_order_test.go
  protocol/x/clob/memclob/memclob_get_order_filled_amount_test.go
  protocol/x/clob/memclob/memclob_place_order_long_term_test.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/memclob/memclob_purge_invalid_memclob_state_test.go
  protocol/x/clob/memclob/memclob_remove_order_test.go
  protocol/x/clob/memclob/memclob_test_util.go
  protocol/x/clob/types/mem_clob_keeper.go
Labels: protocol

#1687 GRPC Streaming add channel buffer per subscription and metrics
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/lib/metrics/metric_keys.go
  protocol/streaming/grpc/grpc_streaming_manager.go
Labels: protocol

#1688 [TRA-380] use serializable int for equity and inventory in vault query
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  proto/dydxprotocol/vault/query.proto
  protocol/x/vault/keeper/grpc_query_vault.go
  protocol/x/vault/keeper/grpc_query_vault_test.go
  protocol/x/vault/types/query.pb.go
Labels: indexer, protocol, proto

#1690 Stop serializing message to logger tags
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_place_order.go
Labels: protocol

#1678 [chore] Move `perpetuals/keeper` helper functions to `perpetuals/lib`
  protocol/daemons/liquidation/client/sub_task_runner.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/lib/lib.go
  protocol/x/perpetuals/lib/lib_test.go
  protocol/x/subaccounts/keeper/subaccount.go
Labels: protocol, chore, performance, non-breaking

#1686 Handle order replacement in vulcan
  indexer/packages/redis/__tests__/helpers/constants.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-replace-handler.test.ts
  indexer/services/vulcan/__tests__/lib/on-message.test.ts
  indexer/services/vulcan/src/handlers/order-replace-handler.ts
  indexer/services/vulcan/src/lib/on-message.ts
Labels: indexer

#1691 [Performance] Optimize state-reads of perpetual information when doing collateral checks
  protocol/daemons/liquidation/client/sub_task_runner.go
  protocol/x/perpetuals/types/perpinfo.go
  protocol/x/subaccounts/keeper/isolated_subaccount.go
  protocol/x/subaccounts/keeper/isolated_subaccount_test.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_helper.go
  protocol/x/subaccounts/types/errors.go
Labels: protocol, refactor, performance

#1699 Revert "[TRA-219] emit transfer indexer event on vault deposit
  protocol/app/app.go
  protocol/testutil/keeper/vault.go
  protocol/x/vault/keeper/keeper.go
  protocol/x/vault/keeper/msg_server_deposit_to_vault.go
  protocol/x/vault/types/expected_keepers.go
Labels: protocol

#1698 MsgBatchCancel Skip sequence number validation
  protocol/app/ante/util.go
  protocol/app/ante/util_test.go
Labels: protocol

#1409 Update and optimize use of `ws` library in `socks`
  indexer/Dockerfile.auxo.remote
  indexer/Dockerfile.bazooka.remote
  indexer/Dockerfile.postgres-package.local
  indexer/Dockerfile.service.local
  indexer/Dockerfile.service.remote
  indexer/package.json
  indexer/patches/@types+ws+8.5.10.patch
  indexer/pnpm-lock.yaml
  indexer/services/socks/__tests__/websocket/index.test.ts
  indexer/services/socks/package.json
  indexer/services/socks/src/helpers/wss.ts
  indexer/services/socks/src/websocket/index.ts
Labels: indexer

#1683 Flip LOOPS_ENABLED_UNCROSS_ORDERBOOK flag default to true
  indexer/services/roundtable/src/config.ts
Labels: indexer

#1662 [CT-913] Fix issue where pnl wasn't being calculated for some subaccounts
  indexer/packages/postgres/__tests__/stores/pnl-ticks-table.test.ts
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/services/roundtable/__tests__/tasks/create-pnl-ticks.test.ts
  indexer/services/roundtable/src/tasks/create-pnl-ticks.ts
Labels: indexer

#1574 Flip SEND_SUBACCOUNT_WEBSOCKET_MESSAGE_FOR_CANCELS_MISSING_ORDERS flag default to true
  indexer/services/vulcan/src/config.ts
Labels: indexer

#1701 Add latest block height to /addresses API endpoint
  indexer/services/comlink/__tests__/controllers/api/v4/addresses-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1675 [CT-919] Add pnl stats task
  indexer/packages/postgres/__tests__/stores/pnl-ticks-table.test.ts
  indexer/packages/postgres/__tests__/stores/transfer-table.test.ts
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/packages/postgres/src/stores/transfer-table.ts
  indexer/services/roundtable/__tests__/tasks/pnl-instrumentation.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/pnl-instrumentation.ts
Labels: indexer

#1704 Change >=2 to >2 for stale pnl accounts
  indexer/services/roundtable/src/tasks/pnl-instrumentation.ts
Labels: indexer

#1645 Remove extra db lookup
  indexer/packages/postgres/__tests__/db/helpers.test.ts
  indexer/packages/postgres/src/db/helpers.ts
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/ender/__tests__/handlers/subaccount-update-handler.test.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/__tests__/helpers/kafka-helper.test.ts
  indexer/services/ender/src/handlers/order-fills/deleveraging-handler.ts
  indexer/services/ender/src/handlers/order-fills/liquidation-handler.ts
  indexer/services/ender/src/handlers/order-fills/order-handler.ts
  indexer/services/ender/src/handlers/subaccount-update-handler.ts
  indexer/services/ender/src/helpers/kafka-helper.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/handlers/dydx_deleveraging_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_subaccount_update_handler.sql
  indexer/services/ender/src/scripts/helpers/dydx_get_market_for_id.sql
  indexer/services/ender/src/scripts/helpers/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/helpers/dydx_order_fill_handler_per_order.sql
Labels: indexer

#1680 Cleanup and consolidate msg enums
  protocol/contracts/dydx-messages-example/src/contract.rs
  protocol/contracts/dydx-messages-example/src/dydx_msg.rs
  protocol/contracts/dydx-messages-example/src/error.rs
  protocol/contracts/dydx-messages-example/src/lib.rs
  protocol/contracts/dydx-messages-example/src/msg.rs
Labels: protocol

#1709 Use `testing.TB` interface where possible in testutils
  protocol/testutil/ante/testutil.go
  protocol/testutil/app/block_advancement.go
  protocol/testutil/app/gov.go
  protocol/testutil/daemons/pricefeed/pricefeed_utils.go
  protocol/testutil/delaymsg/delaymsg_helpers.go
  protocol/testutil/encoding/utils.go
  protocol/testutil/json/json_utils.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/keeper/prices.go
  protocol/testutil/memclob/collateralization.go
  protocol/testutil/memclob/offchain_updates.go
  protocol/testutil/network/network.go
  protocol/testutil/perpetuals/perpetuals.go
  protocol/testutil/pricefeed/index_price.go
  protocol/testutil/prices/cli/util.go
  protocol/testutil/tracer/decode.go
  protocol/x/clob/client/testutil/genesis_state.go
  protocol/x/prices/client/testutil/exchange_response.go
Labels: protocol

#1707 GRPC streaming move lock above send orderbook updates
  protocol/streaming/grpc/grpc_streaming_manager.go
Labels: protocol

#1689 chore: move SettledUpdate type to the types package
  protocol/x/subaccounts/keeper/isolated_subaccount.go
  protocol/x/subaccounts/keeper/isolated_subaccount_test.go
  protocol/x/subaccounts/keeper/negative_tnc_subaccount.go
  protocol/x/subaccounts/keeper/oimf.go
  protocol/x/subaccounts/keeper/oimf_test.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_helper.go
  protocol/x/subaccounts/types/settled_update.go
Labels: protocol, chore

#1711 chore: `x/subaccounts` move helper functions to to `lib` package
  protocol/daemons/liquidation/client/sub_task_runner.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_helper.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/lib/oimf.go
  protocol/x/subaccounts/lib/oimf_test.go
  protocol/x/subaccounts/lib/updates.go
  protocol/x/subaccounts/lib/updates_test.go
Labels: protocol, chore, refactor

#1697 [OTE-419] Add GB_GEO to compliance reasons
  indexer/packages/postgres/src/db/migrations/migration_files/20240613174832_add_gb_to_compliance_reasons.ts
  indexer/packages/postgres/src/types/compliance-status-types.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/helpers/compliance/compliance-utils.ts
Labels: indexer

#1619 [OTE-379] Move Indexer SendOnchainData from Endblocker to Precommitter
  protocol/app/app.go
Labels: protocol, feature:optimistic_execution

#1722 Optimize GetSettlementPpmWithPerpetual, Remove GetSettlementPpm
  protocol/app/process/expected_keepers.go
  protocol/mocks/ProcessPerpetualKeeper.go
  protocol/x/clob/keeper/mev.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/lib/lib.go
  protocol/x/perpetuals/lib/lib_test.go
  protocol/x/subaccounts/types/expected_keepers.go
Labels: protocol, chore, performance

#1720 GRPC streaming backport batching and nonblocking sends
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/lib/metrics/metric_keys.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClobKeeper.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#1724 chore: remove `BigInt0()` & `BigFloat0()`
  protocol/lib/big_math_test.go
  protocol/lib/constants.go
  protocol/lib/convert.go
  protocol/x/clob/simulation/place_order.go
  protocol/x/rewards/keeper/keeper.go
  protocol/x/subaccounts/lib/updates.go
Labels: protocol, chore, performance

#1716 [OTE-438] Allow users to read data if they are in FIRST_STRIKE_CLOSE_ONLY
  indexer/services/comlink/__tests__/lib/compliance-and-geo-check.test.ts
  indexer/services/comlink/src/lib/compliance-and-geo-check.ts
Labels: indexer

#1644 [TRA-354] Add a hard cap to the number of markets listed for PML
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/rpc.tx.ts
  proto/dydxprotocol/listing/genesis.proto
  proto/dydxprotocol/listing/query.proto
  proto/dydxprotocol/listing/tx.proto
  protocol/app/basic_manager/basic_manager.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/lib/ante/internal_msg.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/listing/genesis.go
  protocol/x/listing/keeper/grpc_query_markets_hard_cap.go
  protocol/x/listing/keeper/grpc_query_markets_hard_cap_test.go
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/keeper/msg_server_set_hard_cap.go
  protocol/x/listing/keeper/msg_server_set_hard_cap_test.go
  protocol/x/listing/module.go
  protocol/x/listing/types/genesis.go
  protocol/x/listing/types/genesis.pb.go
  protocol/x/listing/types/keys.go
  protocol/x/listing/types/query.pb.go
  protocol/x/listing/types/tx.pb.go
Labels: indexer, protocol, proto, pml

#1723 optimize perpInfos
  protocol/daemons/liquidation/client/sub_task_runner.go
  protocol/x/perpetuals/types/errors.go
  protocol/x/perpetuals/types/perpinfo.go
  protocol/x/subaccounts/keeper/isolated_subaccount.go
  protocol/x/subaccounts/keeper/isolated_subaccount_test.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/lib/updates.go
  protocol/x/subaccounts/types/errors.go
  protocol/x/subaccounts/types/expected_keepers.go
Labels: protocol

#1728 [OTE-420]: Deprecate ONBOARD from Indexer
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
Labels: indexer

#1677 Add documentation on getting started with dydx-cosmwasm
  protocol/dydx-cosmwasm/README.md
Labels: protocol

#1602 [CT-856] Add order replacement to fix vault causing orderbook flickering
  protocol/app/app.go
  protocol/indexer/events/stateful_order.go
  protocol/mocks/ClobKeeper.go
  protocol/testutil/keeper/vault.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/vault/keeper/keeper.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/types/expected_keepers.go
Labels: protocol

#1735 Send order remove subaccount message on order replace
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-replace-handler.test.ts
  indexer/services/vulcan/__tests__/helpers/websocket-helpers.ts
  indexer/services/vulcan/src/handlers/order-replace-handler.ts
Labels: indexer

#1739 [OTE-415] Add test for getting perpetual clob details
  protocol/x/clob/keeper/clob_pair_test.go
Labels: protocol

#1733 [TRA-415] implement market mapper rev share gov msg
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/params.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/rpc.tx.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/revshare/genesis.proto
  proto/dydxprotocol/revshare/params.proto
  proto/dydxprotocol/revshare/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/lib/ante/internal_msg.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/revshare/genesis.go
  protocol/x/revshare/keeper/msg_set_marketmapper_revenue_share.go
  protocol/x/revshare/keeper/msg_set_marketmapper_revenue_share_test.go
  protocol/x/revshare/keeper/revshare.go
  protocol/x/revshare/types/errors.go
  protocol/x/revshare/types/genesis.go
  protocol/x/revshare/types/genesis.pb.go
  protocol/x/revshare/types/keys.go
  protocol/x/revshare/types/params.go
  protocol/x/revshare/types/params.pb.go
  protocol/x/revshare/types/tx.pb.go
Labels: indexer, protocol, proto, revshare

#1738 [CT-946] only send snapshots to uninitialized streams
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/x/clob/keeper/keeper.go
Labels: protocol

#1747 Handle invalid price level updates gracefully.
  indexer/packages/redis/__tests__/caches/orderbook-levels-cache.test.ts
  indexer/packages/redis/src/caches/orderbook-levels-cache.ts
Labels: indexer

#1637 Optimize `ContainsDuplicates`
  protocol/lib/collections.go
  protocol/lib/collections_test.go
Labels: protocol

#1749 Cherry-pick "Handle invalid price level updates gracefully. (#1747)"
  indexer/packages/redis/__tests__/caches/orderbook-levels-cache.test.ts
  indexer/packages/redis/src/caches/orderbook-levels-cache.ts
  indexer/packages/redis/src/errors.ts
Labels: indexer

#1744 [TRA-433] Add MarketMapperRevShareDetails state and associated functions
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/revshare.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/revshare/query.proto
  proto/dydxprotocol/revshare/revshare.proto
  protocol/x/revshare/keeper/grpc_query_marketmapper_revshare_details.go
  protocol/x/revshare/keeper/grpc_query_marketmapper_revshare_details_test.go
  protocol/x/revshare/keeper/revshare.go
  protocol/x/revshare/keeper/revshare_test.go
  protocol/x/revshare/types/keys.go
  protocol/x/revshare/types/query.pb.go
  protocol/x/revshare/types/query.pb.gw.go
  protocol/x/revshare/types/revshare.pb.go
Labels: indexer, protocol, proto, revshare

#1746 [TRA-442] Add query for market mapper revenue share params
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/query.ts
  proto/dydxprotocol/revshare/query.proto
  protocol/x/revshare/keeper/grpc_query_marketmapper_revenue_params.go
  protocol/x/revshare/keeper/grpc_query_marketmapper_revenue_params_test.go
  protocol/x/revshare/keeper/grpc_query_marketmapper_revshare_details.go
  protocol/x/revshare/types/query.pb.go
  protocol/x/revshare/types/query.pb.gw.go
Labels: indexer, protocol, proto

#1731 [CT-941] introduce state methods for managing the safety heap
  protocol/x/subaccounts/keeper/safety_heap_state.go
  protocol/x/subaccounts/keeper/safety_heap_state_test.go
  protocol/x/subaccounts/keeper/safety_heap_stores.go
  protocol/x/subaccounts/types/errors.go
  protocol/x/subaccounts/types/keys.go
  protocol/x/subaccounts/types/subaccount.go
Labels: protocol

#1753 add MapToSortedSlice function
  protocol/lib/collections.go
  protocol/lib/collections_test.go
Labels: protocol

#1751 Perf: add an software override (1.5sec) for `TimeoutPropose`
  protocol/cmd/dydxprotocold/cmd/root.go
Labels: protocol, state-breaking, performance

#1759 Fix screen endpoint
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/lib/helpers.ts
Labels: indexer

#1762 chore: clean-up `UpdateAssetPositions` and `UpdatePerpetualPositions`
  protocol/x/subaccounts/lib/updates.go
Labels: protocol, chore, hygiene

#1763 Add helper methods to compare risks
  protocol/lib/margin/risk.go
  protocol/lib/margin/risk_test.go
  protocol/x/subaccounts/lib/updates.go
Labels: protocol

#1765 Remove unnecessary `ProductKeeper` abstraction
  protocol/testing/e2e/gov/add_new_market_test.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/expected_keepers.go
  protocol/x/subaccounts/types/position_size.go
Labels: protocol

#1767 Clean `subaccounts/lib/updates.go` codepaths
  protocol/daemons/liquidation/client/sub_task_runner.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/lib/updates.go
  protocol/x/subaccounts/lib/updates_test.go
  protocol/x/subaccounts/types/asset_position.go
  protocol/x/subaccounts/types/asset_position_test.go
  protocol/x/subaccounts/types/errors.go
  protocol/x/subaccounts/types/perpetual_position.go
  protocol/x/subaccounts/types/perpetual_position_test.go
  protocol/x/subaccounts/types/subaccount.go
  protocol/x/subaccounts/types/subaccount_test.go
Labels: protocol, hygiene

#1770 Remove `getFillQuoteQuantums()` function
  protocol/lib/metrics/constants.go
  protocol/x/clob/keeper/grpc_query_mev_node_to_node.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/mev.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/process_single_match.go
Labels: protocol

#1775 Move vault end blocker before clob
  protocol/app/app.go
Labels: protocol

#1774 [TRA-446] include vault shares in genesis state
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/genesis.ts
  proto/dydxprotocol/vault/genesis.proto
  protocol/app/testdata/default_genesis_state.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/vault/genesis.go
  protocol/x/vault/keeper/shares.go
  protocol/x/vault/keeper/shares_test.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/genesis.go
  protocol/x/vault/types/genesis.pb.go
Labels: indexer, protocol, proto

#1768 chore: Update slinky version
  protocol/app/app.go
  protocol/app/vote_extensions/expected_keepers.go
  protocol/app/vote_extensions/extend_vote_handler.go
  protocol/cmd/dydxprotocold/cmd/config.go
  protocol/daemons/flags/flags.go
  protocol/daemons/types/grpc_client.go
  protocol/go.mod
  protocol/go.sum
  protocol/mocks/OracleClient.go
  protocol/testing/containertest/node.go
  protocol/x/prices/keeper/slinky_adapter.go
  protocol/x/prices/keeper/slinky_adapter_test.go
  protocol/x/prices/types/types.go
Labels: protocol, non-breaking

#1769 Remove `PendingUpdates` struct and logic
  protocol/mocks/ClobKeeper.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/pending_updates.go
  protocol/x/clob/types/pending_updates_test.go
Labels: protocol

#1779 Clean up subaccount test util functions
  protocol/testutil/keeper/subaccounts.go
  protocol/testutil/util/subaccounts_util.go
  protocol/x/clob/client/cli/cancel_order_cli_test.go
  protocol/x/clob/client/cli/place_order_cli_test.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/sending/e2e/isolated_subaccount_transfers_test.go
  protocol/x/sending/types/transfer_test.go
  protocol/x/subaccounts/client/cli/query_subaccount_test.go
  protocol/x/subaccounts/genesis_test.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/keeper/transfer_test.go
  protocol/x/subaccounts/types/update_test.go
Labels: protocol

#1785 update test constants
  protocol/testutil/constants/positions.go
  protocol/testutil/constants/subaccounts.go
Labels: protocol

#1782 [TRA-451] initialize vaults on start-up in local, dev, staging
  protocol/scripts/genesis/prod_pregenesis.sh
  protocol/testing/containertest/containertest.sh
  protocol/testing/e2etest-local/local.sh
  protocol/testing/genesis.sh
  protocol/testing/testnet-dev/dev.sh
  protocol/testing/testnet-external/pregenesis.sh
  protocol/testing/testnet-local/local.sh
  protocol/testing/testnet-staging/staging.sh
Labels: protocol

#1777 [CT-971] Add flag for socks batch processing
  indexer/services/socks/__tests__/lib/message-forwarder.test.ts
  indexer/services/socks/src/config.ts
  indexer/services/socks/src/index.ts
  indexer/services/socks/src/lib/message-forwarder.ts
Labels: indexer

#1787 switch to use the helper method to create positions
  protocol/daemons/liquidation/client/sub_task_runner_test.go
  protocol/x/clob/client/cli/liquidations_cli_test.go
  protocol/x/clob/e2e/app_test.go
  protocol/x/clob/e2e/conditional_orders_test.go
  protocol/x/clob/e2e/isolated_subaccount_orders_test.go
  protocol/x/clob/e2e/liquidation_deleveraging_test.go
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/e2e/reduce_only_orders_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/clob/e2e/withdrawal_gating_test.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/process_operations_liquidations_test.go
  protocol/x/clob/keeper/process_operations_long_term_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/sending/app_test.go
  protocol/x/subaccounts/keeper/isolated_subaccount_test.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/lib/oimf_test.go
  protocol/x/subaccounts/lib/updates_test.go
  protocol/x/subaccounts/types/genesis_test.go
  protocol/x/subaccounts/types/subaccount_test.go
  protocol/x/vault/keeper/grpc_query_vault_test.go
  protocol/x/vault/keeper/msg_server_deposit_to_vault_test.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/shares_test.go
  protocol/x/vault/keeper/vault_test.go
Labels: protocol

#1742 Fix vault orderbook flickering
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/off_chain_updates/off_chain_updates.ts
  proto/dydxprotocol/indexer/events/events.proto
  proto/dydxprotocol/indexer/off_chain_updates/off_chain_updates.proto
  protocol/.github/workflows/release.yml
  protocol/app/app.go
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/stateful_order.go
  protocol/indexer/off_chain_updates/types/off_chain_updates.pb.go
  protocol/mocks/ClobKeeper.go
  protocol/testutil/keeper/vault.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/vault/keeper/keeper.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/types/expected_keepers.go
Labels: indexer, protocol, proto, backport/protocol/v5.1.x

#1783 [TRA-418] Add upgrade handler and test for x/revshare module state initialization
  protocol/app/upgrades.go
  protocol/app/upgrades/v6.0.0/upgrade.go
  protocol/app/upgrades/v6.0.0/upgrade_container_test.go
  protocol/x/revshare/types/types.go
Labels: protocol, revshare

#1786 [CT-970] Add debug logs to roundtable task, fix case where marketId!=perpetualId
  indexer/services/roundtable/__tests__/helpers/pnl-ticks-helper.test.ts
  indexer/services/roundtable/src/helpers/pnl-ticks-helper.ts
  indexer/services/roundtable/src/tasks/create-pnl-ticks.ts
Labels: indexer

#1813 Set heartbeat defaults
  indexer/services/socks/src/config.ts
Labels: indexer

#1816 Revert "Fix screen endpoint (backport #1759)"
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/lib/helpers.ts
Labels: indexer

#1817 Revert "[OTE-420]: Deprecate ONBOARD from Indexer (backport #1728)"
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
Labels: indexer

#1818 Revert "[OTE-438] Allow users to read data if they are in FIRST_STRIKE_CLOSE_ONLY (backport #1716)"
  indexer/services/comlink/__tests__/lib/compliance-and-geo-check.test.ts
  indexer/services/comlink/src/lib/compliance-and-geo-check.ts
Labels: indexer

#1812 Optimize pnl queries
  indexer/packages/postgres/__tests__/stores/pnl-ticks-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240628141851_create_pnl_ticks_block_time_index.ts
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/services/auxo/src/index.ts
  indexer/services/auxo/src/types.ts
  indexer/services/roundtable/__tests__/tasks/pnl-instrumentation.test.ts
  indexer/services/roundtable/src/tasks/pnl-instrumentation.ts
Labels: indexer

#1810 [TRA-444] Emit a metric to record market mapper revenue per market
  protocol/lib/metrics/constants.go
  protocol/x/subaccounts/keeper/transfer.go
Labels: protocol, revshare
