Repository dydxprotocol/v4-chain, pull requests merged in 2024-02, with the labels that each got.

#1031 [CORE-854] Add licensing info in `x/ratelimit` and attributions to Stride
  protocol/x/ratelimit/LICENSE
  protocol/x/ratelimit/README.md
  protocol/x/ratelimit/ibc_middleware.go
  protocol/x/ratelimit/keeper/packet.go
  protocol/x/ratelimit/util/ibc.go
  protocol/x/ratelimit/util/ibc_test.go
  protocol/x/ratelimit/util/parse_denom.go
Labels: protocol, backport/protocol/v4.x

#1029 [OTE-129] remove geoblocking from Indexer endpoints
  indexer/services/comlink/src/controllers/api/v4/candles-controller.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/controllers/api/v4/height-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-funding-controller.ts
  indexer/services/comlink/src/controllers/api/v4/orderbook-controller.ts
  indexer/services/comlink/src/controllers/api/v4/perpetual-markets-controller.ts
  indexer/services/comlink/src/controllers/api/v4/sparklines-controller.ts
  indexer/services/comlink/src/controllers/api/v4/time-controller.ts
  indexer/services/comlink/src/controllers/api/v4/trades-controller.ts
Labels: indexer

#1039 [CT-423] Add missing index
  indexer/packages/postgres/src/db/migrations/migration_files/20240202084811_add_perpetual_positions_open_event_id_index.ts
Labels: indexer

#1041 [cherry-pick] [CT-423] Add missing index (#1039)
  indexer/packages/postgres/src/db/migrations/migration_files/20240202084811_add_perpetual_positions_open_event_id_index.ts
Labels: indexer

#1033 [CT-82] Split equity tier validation for short term and stateful orders
  protocol/mocks/MemClobKeeper.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/keeper/equity_tier_limit.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/types/mem_clob_keeper.go
Labels: protocol, refactor

#1032 [OTE-131] add compliance status table
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/compliance-status-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240131142122_create_compliance_status_table.ts
  indexer/packages/postgres/src/helpers/db-helpers.ts
  indexer/packages/postgres/src/helpers/stores-helpers.ts
  indexer/packages/postgres/src/models/compliance-status-model.ts
  indexer/packages/postgres/src/stores/compliance-status-table.ts
  indexer/packages/postgres/src/types/compliance-status-types.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/query-types.ts
Labels: indexer

#1045 Reduce number of logs by logging to debug
  indexer/services/socks/src/lib/message-forwarder.ts
  indexer/services/vulcan/src/lib/on-message.ts
Labels: indexer

#1042 Try-catch update functions in cache-update loops.
  indexer/packages/postgres/src/loops/asset-refresher.ts
  indexer/packages/postgres/src/loops/liquidity-tier-refresher.ts
  indexer/packages/postgres/src/loops/loopHelper.ts
  indexer/packages/postgres/src/loops/perpetual-market-refresher.ts
Labels: indexer

#1034 [OTE-135] add roundtable task for CLOSE_ONLY -> BLOCKED compliance status transition
  indexer/packages/postgres/src/index.ts
  indexer/services/roundtable/__tests__/tasks/perform-compliance-status-transitions.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/perform-compliance-status-transitions.ts
Labels: indexer

#1009 migrate more callsites to the new logging library + new unwrapSdkContext
  protocol/app/middleware/middleware.go
  protocol/app/process/process_proposal.go
  protocol/app/upgrades/v3.0.0/upgrade.go
  protocol/app/upgrades/v4.0.0/upgrade.go
  protocol/indexer/off_chain_updates/off_chain_updates.go
  protocol/indexer/off_chain_updates/off_chain_updates_test.go
  protocol/lib/error/logging.go
  protocol/lib/error/logging_test.go
  protocol/lib/log/constants.go
  protocol/testutil/memclob/offchain_updates.go
  protocol/x/assets/keeper/grpc_query_asset.go
  protocol/x/blocktime/keeper/grpc_query.go
  protocol/x/blocktime/keeper/msg_server.go
  protocol/x/blocktime/module.go
  protocol/x/bridge/keeper/grpc_query.go
  protocol/x/bridge/keeper/msg_server_acknowledge_bridges.go
  protocol/x/bridge/keeper/msg_server_complete_bridge.go
  protocol/x/bridge/keeper/msg_server_update_event_params.go
  protocol/x/bridge/keeper/msg_server_update_propose_params.go
  protocol/x/bridge/keeper/msg_server_update_safety_params.go
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_place_order_reduce_only_test.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/memclob/memclob_place_perpetual_liquidation_test.go
  protocol/x/clob/memclob/memclob_test_util.go
  protocol/x/epochs/module.go
  protocol/x/feetiers/keeper/grpc_query.go
  protocol/x/feetiers/keeper/msg_server.go
  protocol/x/perpetuals/keeper/msg_server_update_perpetual_params.go
  protocol/x/rewards/keeper/grpc_query.go
  protocol/x/rewards/keeper/msg_server.go
  protocol/x/rewards/module.go
  protocol/x/sending/keeper/msg_server_create_transfer.go
  protocol/x/sending/keeper/msg_server_create_transfer_test.go
  protocol/x/stats/keeper/grpc_query.go
  protocol/x/stats/keeper/msg_server.go
  protocol/x/stats/module.go
  protocol/x/subaccounts/keeper/grpc_query_subaccount.go
  protocol/x/vest/keeper/grpc_query.go
  protocol/x/vest/keeper/msg_server_test.go
Labels: protocol

#1047 migrate more callsites to the new logging library + new unwrapSdkContext
  protocol/app/middleware/middleware.go
  protocol/app/process/process_proposal.go
  protocol/app/upgrades/v3.0.0/upgrade.go
  protocol/app/upgrades/v4.0.0/upgrade.go
  protocol/indexer/off_chain_updates/off_chain_updates.go
  protocol/indexer/off_chain_updates/off_chain_updates_test.go
  protocol/lib/error/logging.go
  protocol/lib/error/logging_test.go
  protocol/lib/log/constants.go
  protocol/testutil/memclob/offchain_updates.go
  protocol/x/assets/keeper/grpc_query_asset.go
  protocol/x/blocktime/keeper/grpc_query.go
  protocol/x/blocktime/keeper/msg_server.go
  protocol/x/blocktime/module.go
  protocol/x/bridge/keeper/grpc_query.go
  protocol/x/bridge/keeper/msg_server_acknowledge_bridges.go
  protocol/x/bridge/keeper/msg_server_complete_bridge.go
  protocol/x/bridge/keeper/msg_server_update_event_params.go
  protocol/x/bridge/keeper/msg_server_update_propose_params.go
  protocol/x/bridge/keeper/msg_server_update_safety_params.go
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_place_order_reduce_only_test.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/memclob/memclob_place_perpetual_liquidation_test.go
  protocol/x/clob/memclob/memclob_test_util.go
  protocol/x/epochs/module.go
  protocol/x/feetiers/keeper/grpc_query.go
  protocol/x/feetiers/keeper/msg_server.go
  protocol/x/perpetuals/keeper/msg_server_update_perpetual_params.go
  protocol/x/rewards/keeper/grpc_query.go
  protocol/x/rewards/keeper/msg_server.go
  protocol/x/rewards/module.go
  protocol/x/sending/keeper/msg_server_create_transfer.go
  protocol/x/sending/keeper/msg_server_create_transfer_test.go
  protocol/x/stats/keeper/grpc_query.go
  protocol/x/stats/keeper/msg_server.go
  protocol/x/stats/module.go
  protocol/x/subaccounts/keeper/grpc_query_subaccount.go
  protocol/x/vest/keeper/grpc_query.go
  protocol/x/vest/keeper/msg_server_test.go
Labels: protocol

#1044 Fix `x/ratelimit` `ProcessWithdrawal` logic; improve info logs
  protocol/x/ratelimit/keeper/keeper.go
  protocol/x/ratelimit/keeper/keeper_test.go
  protocol/x/ratelimit/keeper/packet.go
  protocol/x/ratelimit/util/ibc.go
Labels: protocol

#1043 [OTE-134] update compliance_status table in compliance provider Roundtable task
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/compliance-status-table.test.ts
  indexer/packages/postgres/src/stores/compliance-status-table.ts
  indexer/packages/postgres/src/types/compliance-status-types.ts
  indexer/services/roundtable/__tests__/tasks/perform-compliance-status-transitions.test.ts
  indexer/services/roundtable/__tests__/tasks/update-compliance-data.test.ts
  indexer/services/roundtable/src/tasks/perform-compliance-status-transitions.ts
  indexer/services/roundtable/src/tasks/update-compliance-data.ts
Labels: indexer

#1052 bump golint version to allow make lint to work again
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1051 [bugfix][protocol] fix settled funding event emission
  protocol/x/subaccounts/types/events.go
Labels: protocol, backport/protocol/v4.x

#1053 Fix --home flag being ignored in cosmos v0.50
  protocol/cmd/dydxprotocold/cmd/root.go
  protocol/go.mod
  protocol/go.sum
Labels: protocol, backport/protocol/v4.x

#1030 [STAB-32] Push CheckTx concurrency into protocol
  protocol/app/ante.go
  protocol/app/ante_whitebox_test.go
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1056 Update default rate limit params for USDC
  protocol/app/testdata/default_genesis_state.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/ratelimit/types/params.go
  protocol/x/ratelimit/types/params_test.go
Labels: protocol, backport/protocol/v4.x

#1059 [OTE-154] Update CLOB IsSingleClobMsgTx to not take ctx
  protocol/app/ante/gas.go
  protocol/x/clob/ante/ante_wrapper.go
  protocol/x/clob/ante/clob.go
  protocol/x/clob/ante/clob_test.go
Labels: protocol

#1058 [feature] Add request_id to all code paths using lib.UnwrapSDKContext
  protocol/lib/context.go
  protocol/lib/log/constants.go
Labels: protocol

#1062 Make app runnable without creating default home dir
  protocol/cmd/dydxprotocold/cmd/root.go
  protocol/cmd/dydxprotocold/main.go
  protocol/testing/containertest/node.go
Labels: protocol, backport/protocol/v4.x

#1061 Optimize funding index update query
  indexer/packages/postgres/src/stores/funding-index-updates-table.ts
Labels: indexer

#1060 Add Indexes to candles and orders to optimize queries
  indexer/packages/postgres/src/db/migrations/migration_files/20240208153050_add_candles_ticket_resolution_index.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240208161948_add_orders_clobpairid_subaccountid_index.ts
Labels: indexer

#1065 Optimize funding index update query (#1061)
  indexer/packages/postgres/src/stores/funding-index-updates-table.ts
Labels: indexer

#1066 Optimize funding index update query (#1061)
  indexer/packages/postgres/src/stores/funding-index-updates-table.ts
Labels: indexer

#1064 [CORE-598] Cache current collateralization and margin requirements per subaccount
  protocol/x/subaccounts/keeper/subaccount.go
Labels: protocol

#1068 [CORE-596] Remove TODO to add tests
  protocol/x/subaccounts/types/position_size_test.go
Labels: protocol, chore

#1071 Metric for when subaccounts are created
  protocol/lib/metrics/metric_keys.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/subaccounts/keeper/subaccount.go
Labels: protocol

#1073 Fix unnecessary home directory creation issues
  protocol/cmd/dydxprotocold/cmd/root.go
  protocol/cmd/dydxprotocold/main.go
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1077 [OTE-163] Fix query: add `amino.oneof` option to clob oneof metadata
  proto/dydxprotocol/clob/clob_pair.proto
  protocol/x/clob/types/clob_pair.pb.go
Labels: protocol, proto, backport/protocol/v4.x

#1081 Upgrade iavl to v1.0.1 to prune orphan nodes async
  protocol/go.mod
  protocol/go.sum
Labels: protocol, backport/protocol/v4.x

#1083 Add triggerPrice to Athena table
  indexer/services/roundtable/src/lib/athena-ddl-tables/orders.ts
Labels: indexer

#1048 [OTE-132] new compliance logic for comlink address-related endpoints
  indexer/services/comlink/__tests__/helpers/helpers.ts
  indexer/services/comlink/__tests__/lib/compliance-and-geo-check.test.ts
  indexer/services/comlink/__tests__/lib/compliance-check.test.ts
  indexer/services/comlink/__tests__/lib/restrict-countries.test.ts
  indexer/services/comlink/package.json
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/controllers/api/v4/asset-positions-controller.ts
  indexer/services/comlink/src/controllers/api/v4/fills-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-block-trading-rewards-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-pnl-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-trading-reward-aggregations-controller.ts
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
  indexer/services/comlink/src/controllers/api/v4/perpetual-positions-controller.ts
  indexer/services/comlink/src/controllers/api/v4/transfers-controller.ts
  indexer/services/comlink/src/lib/compliance-and-geo-check.ts
  indexer/services/comlink/src/lib/compliance-check.ts
  indexer/services/comlink/src/lib/restrict-countries.ts
Labels: indexer

#1084 Upgrade forks: cosmos v0.50.4 and cometbft v0.38.5
  protocol/go.mod
  protocol/go.sum
Labels: protocol, backport/protocol/v4.x

#1080 [OTE-178] Increase maximum number of connections
  protocol/cmd/dydxprotocold/cmd/config.go
Labels: protocol

#1086 [OTE-180] Update Cosmos SDK and add parallel query tests.
  protocol/app/e2e/query_test.go
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1090 Upgrade client/v2 to fix autocli signing issues
  protocol/go.mod
  protocol/go.sum
Labels: protocol, backport/protocol/v4.x

#1093 Introduce flag to ignore invalid FundingEvent where the perpetualId doesn't exist
  indexer/services/ender/__tests__/handlers/funding-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/validators/funding-validator.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/scripts/handlers/dydx_funding_handler.sql
  indexer/services/ender/src/validators/funding-validator.ts
Labels: indexer

#1096 Add `print-block` cmd to scripts README
  indexer/services/scripts/README.md
Labels: indexer

#1049 [OTE-130] implement new geo-blocking strategy for socks
  indexer/services/socks/__tests__/lib/subscriptions.test.ts
  indexer/services/socks/__tests__/websocket/index.test.ts
  indexer/services/socks/src/helpers/header-utils.ts
  indexer/services/socks/src/lib/subscription.ts
  indexer/services/socks/src/websocket/index.ts
  indexer/services/socks/src/websocket/restrict-countries.ts
Labels: indexer

#1087 [OTE-139] implement GET /compliance/screen/{address} endpoint
  indexer/packages/postgres/src/models/compliance-status-model.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/index-v4.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
  indexer/services/comlink/src/lib/constants.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1088 [OTE-137] implement POST /compliance/setStatus for dev/staging environments
  indexer/services/comlink/.env.test
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1094 [CT-508] MsgBatchCancel Protos
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/tx.ts
  proto/dydxprotocol/clob/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/x/clob/keeper/msg_server_batch_cancel.go
  protocol/x/clob/module_test.go
  protocol/x/clob/types/operation.pb.go
  protocol/x/clob/types/tx.pb.go
Labels: indexer, protocol, proto

#1104 Cherry pick https://github.com/dydxprotocol/v4-chain/pull/1083 into release
  indexer/services/roundtable/src/lib/athena-ddl-tables/orders.ts
Labels: indexer

#1097 [CT-521] move funding handler from unordered_handlers to ordered_handlers
  indexer/services/ender/__tests__/handlers/funding-handler.test.ts
  indexer/services/ender/__tests__/handlers/perpetual-market-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/helpers/postgres-helpers.ts
  indexer/services/ender/__tests__/lib/on-message.test.ts
  indexer/services/ender/__tests__/validators/funding-validator.test.ts
  indexer/services/ender/src/lib/sync-handlers.ts
  indexer/services/ender/src/scripts/handlers/dydx_block_processor_ordered_handlers.sql
  indexer/services/ender/src/scripts/handlers/dydx_block_processor_unordered_handlers.sql
  indexer/services/ender/src/scripts/handlers/dydx_funding_handler.sql
  indexer/services/ender/src/validators/funding-validator.ts
Labels: indexer

#1101 [CT-520] Validatebasic for new MsgBatchCancel
  protocol/x/clob/types/constants.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/message_batch_cancel.go
  protocol/x/clob/types/message_batch_cancel_test.go
Labels: protocol

#1107 [CT-619] deprecate pessimistic add-to-book collateralization check
  protocol/testing/e2e/gov/add_new_market_test.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/orders_test.go
Labels: protocol

#1100 Ensure that all matching status are returned in list orders endpoint
  indexer/packages/postgres/src/stores/order-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/orders-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
  indexer/services/roundtable/src/tasks/cancel-stale-orders.ts
Labels: bug, indexer

#1112 Cherry-pick https://github.com/dydxprotocol/v4-chain/pull/1100 into release branch
  indexer/packages/postgres/src/stores/order-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/orders-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
  indexer/services/roundtable/src/tasks/cancel-stale-orders.ts
Labels: indexer

#1114 Cherry-pick https://github.com/dydxprotocol/v4-chain/pull/1093 into v4
  indexer/services/ender/__tests__/handlers/funding-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/validators/funding-validator.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/scripts/handlers/dydx_funding_handler.sql
  indexer/services/ender/src/validators/funding-validator.ts
Labels: indexer

#1115 Cherry-pick https://github.com/dydxprotocol/v4-chain/pull/1104 into v4
  indexer/services/roundtable/src/lib/athena-ddl-tables/orders.ts
Labels: indexer

#1117 Change back indenting.
  protocol/x/clob/abci_test.go
  protocol/x/subaccounts/keeper/transfer_test.go
Labels: protocol

#1106 [TRA-63] Move insurance fund into x/perpetuals
  protocol/app/module_accounts.go
  protocol/app/module_accounts_test.go
  protocol/app/upgrades/v3.0.0/upgrade.go
  protocol/testutil/keeper/auth.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/client/cli/liquidations_cli_test.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/mev_test.go
  protocol/x/clob/keeper/process_operations_liquidations_test.go
  protocol/x/clob/keeper/process_operations_long_term_test.go
  protocol/x/clob/module_test.go
  protocol/x/clob/types/keys.go
  protocol/x/clob/types/keys_test.go
  protocol/x/perpetuals/types/addresses.go
  protocol/x/perpetuals/types/addresses_test.go
  protocol/x/perpetuals/types/keys.go
  protocol/x/perpetuals/types/keys_test.go
  protocol/x/subaccounts/keeper/transfer.go
  protocol/x/subaccounts/keeper/transfer_test.go
Labels: protocol, refactor, isolated-markets

#1119 Optimize string building loop to write to a single buffer instead of to multiple buffers that are concatenated.
  protocol/x/clob/types/operation.go
Labels: protocol

#1108 [OTE-151] Create ante handlers which parallelize processing per account until a global lock is necessary.
  protocol/app/ante.go
  protocol/app/ante/basic_test.go
  protocol/app/ante_test.go
  protocol/app/ante_whitebox_test.go
  protocol/app/app.go
  protocol/app/e2e/ante_test.go
  protocol/app/e2e/query_test.go
  protocol/go.mod
  protocol/go.sum
  protocol/lib/ante/app_injected_msg_ante_wrapper.go
  protocol/lib/ante/app_injected_msg_ante_wrapper_test.go
  protocol/lib/ante/app_injected_msg_test.go
  protocol/testutil/app/app.go
  protocol/testutil/constants/positions.go
  protocol/x/clob/ante/ante_wrapper.go
  protocol/x/clob/ante/ante_wrapper_test.go
Labels: protocol

#1120 add DELEVERAGING event type to print-block script
  indexer/services/scripts/src/helpers/block-helpers.ts
  indexer/services/scripts/src/helpers/types.ts
Labels: indexer

#1122 [OTE-151] Don't attempt to write the store during simulated transactions.
  protocol/app/ante.go
Labels: protocol

#1121 [CT-641] Update deleveraging handler for DeleveragingEventV1
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/services/ender/__tests__/handlers/order-fills/deleveraging-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/validators/deleveraging-validator.test.ts
  indexer/services/ender/src/scripts/handlers/dydx_deleveraging_handler.sql
  indexer/services/ender/src/validators/deleveraging-validator.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/indexer/events/deleveraging.go
  protocol/indexer/events/deleveraging_test.go
  protocol/indexer/events/events.pb.go
  protocol/x/clob/keeper/deleveraging.go
Labels: indexer, protocol, proto

#1123 Cherry-pick https://github.com/dydxprotocol/v4-chain/pull/1121
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/services/ender/__tests__/handlers/order-fills/deleveraging-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/validators/deleveraging-validator.test.ts
  indexer/services/ender/src/scripts/handlers/dydx_deleveraging_handler.sql
  indexer/services/ender/src/validators/deleveraging-validator.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/indexer/events/deleveraging.go
  protocol/indexer/events/deleveraging_test.go
  protocol/indexer/events/events.pb.go
  protocol/x/clob/keeper/deleveraging.go
Labels: indexer, protocol, proto

#1124 [CT-641] Update deleveraging handler for DeleveragingEventV1 (#1121)
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/services/ender/__tests__/handlers/order-fills/deleveraging-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/validators/deleveraging-validator.test.ts
  indexer/services/ender/src/scripts/handlers/dydx_deleveraging_handler.sql
  indexer/services/ender/src/validators/deleveraging-validator.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/indexer/events/deleveraging.go
  protocol/indexer/events/deleveraging_test.go
  protocol/indexer/events/events.pb.go
  protocol/x/clob/keeper/deleveraging.go
Labels: indexer, protocol, proto

#1118 [TRA-62] Add market type to the CreatePerpetual API
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/perpetual.ts
  proto/dydxprotocol/perpetuals/perpetual.proto
  protocol/Makefile
  protocol/mocks/PerpetualsKeeper.go
  protocol/scripts/genesis/copy_sample_pregenesis.sh
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/e2e/gov/perpetuals_test.go
  protocol/testing/genesis.sh
  protocol/testutil/constants/genesis.go
  protocol/testutil/constants/perpetuals.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/perpetuals/perpetuals.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/client/cli/query_clob_pair_test.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/mev_test.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/perpetuals/client/cli/query_perpetual_test.go
  protocol/x/perpetuals/genesis.go
  protocol/x/perpetuals/genesis_test.go
  protocol/x/perpetuals/keeper/msg_server_create_perpetual.go
  protocol/x/perpetuals/keeper/msg_server_create_perpetual_test.go
  protocol/x/perpetuals/keeper/msg_server_update_perpetual_params_test.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/module_test.go
  protocol/x/perpetuals/simulation/genesis.go
  protocol/x/perpetuals/types/errors.go
  protocol/x/perpetuals/types/perpetual.pb.go
  protocol/x/perpetuals/types/types.go
  protocol/x/sending/keeper/transfer_test.go
  protocol/x/subaccounts/keeper/subaccount_test.go
Labels: indexer, protocol, proto, state-breaking, isolated-markets
