Repository dydxprotocol/v4-chain, pull requests merged in 2024-01, with the labels that each got.

#878 [feature] Block withdrawals if a negative equity subaccount was recently seen in state
  protocol/lib/metrics/constants.go
  protocol/mocks/SubaccountsKeeper.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/sending/keeper/transfer.go
  protocol/x/sending/types/expected_keepers.go
  protocol/x/subaccounts/keeper/negative_tnc_subaccount.go
  protocol/x/subaccounts/keeper/negative_tnc_subaccount_test.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/keeper/transfer.go
  protocol/x/subaccounts/types/types.go
  protocol/x/subaccounts/types/update.go
  protocol/x/subaccounts/types/update_test.go
Labels: protocol

#913 Add trading_rewards to print block script
  indexer/services/ender/__tests__/handlers/trading-rewards-handler.test.ts
  indexer/services/ender/src/lib/block-processor.ts
  indexer/services/scripts/src/helpers/block-helpers.ts
  indexer/services/scripts/src/helpers/types.ts
Labels: indexer

#901 [IND-511] e2e test for limit order matching
  e2e-testing/README.md
  e2e-testing/__tests__/helpers/constants.ts
  e2e-testing/__tests__/helpers/types.ts
  e2e-testing/__tests__/helpers/utils.ts
  e2e-testing/__tests__/orders.test.ts
  e2e-testing/__tests__/transfers.test.ts
  e2e-testing/clear-all-kafa-topics.sh
  e2e-testing/package.json
  e2e-testing/pnpm-lock.yaml
  indexer/packages/postgres/__tests__/stores/fill-table.test.ts
  indexer/packages/postgres/__tests__/stores/order-table.test.ts
  indexer/packages/postgres/src/db/helpers.ts
  indexer/packages/postgres/src/stores/fill-table.ts
  indexer/packages/postgres/src/stores/order-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
  indexer/services/ender/src/lib/candles-generator.ts
  protocol/Makefile
Labels: indexer, protocol

#915 Update BlockTable.getLatest to throw an error and simplify logic
  indexer/packages/base/src/stats-util.ts
  indexer/packages/postgres/__tests__/stores/block-table.test.ts
  indexer/packages/postgres/src/stores/block-table.ts
  indexer/services/comlink/__tests__/controllers/api/v4/height-controller.test.ts
  indexer/services/comlink/__tests__/lib/helpers.test.ts
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/controllers/api/v4/asset-positions-controller.ts
  indexer/services/comlink/src/controllers/api/v4/height-controller.ts
  indexer/services/ender/src/caches/block-cache.ts
  indexer/services/roundtable/src/tasks/cancel-stale-orders.ts
  indexer/services/roundtable/src/tasks/create-pnl-ticks.ts
  indexer/services/roundtable/src/tasks/remove-expired-orders.ts
  indexer/services/roundtable/src/tasks/track-lag.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
Labels: indexer

#916 Fix Trading reward event processing (#913)
  indexer/services/ender/__tests__/handlers/trading-rewards-handler.test.ts
  indexer/services/ender/src/lib/block-processor.ts
  indexer/services/scripts/src/helpers/block-helpers.ts
  indexer/services/scripts/src/helpers/types.ts
Labels: indexer

#917 [IND-500]: Create Aggregate trading rewards roundtable task outline
  indexer/services/roundtable/__tests__/tasks/aggregate-trading-rewards.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/aggregate-trading-rewards.ts
Labels: indexer

#921 [bugfix][protocol] make funding payment event ordering deterministic
  protocol/x/subaccounts/keeper/subaccount.go
Labels: protocol

#897 [CORE-836] Implement `GetBaseline`
  protocol/app/app.go
  protocol/x/ratelimit/keeper/keeper.go
  protocol/x/ratelimit/keeper/keeper_test.go
  protocol/x/ratelimit/types/expected_keepers.go
  protocol/x/ratelimit/types/params.go
Labels: protocol

#922 [CORE-538] Address nit
  protocol/app/process/other_msgs.go
  protocol/x/ratelimit/keeper/keeper_test.go
  protocol/x/ratelimit/types/expected_keepers.go
Labels: protocol

#920 [CORE-538] Remove DB shutdown, Cosmos 0.50 SDK does this now in BaseApp
  protocol/app/app.go
  protocol/app/simulation_test.go
  protocol/cmd/dydxprotocold/cmd/root.go
  protocol/testutil/app/app.go
  protocol/testutil/network/network.go
Labels: protocol

#904 [feat][protocol] Write block number to state when encountering zero-fill deleveraging op [CLOB-1030]
  protocol/lib/metrics/metric_keys.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/clob/types/match_perpetual_deleveraging.go
  protocol/x/clob/types/match_perpetual_deleveraging_test.go
  protocol/x/clob/types/message_proposed_operations_test.go
Labels: protocol

#872 [CLOB-1020] [CLOB-1048] Logging Library with Contextual Tags
  .github/workflows/protocol-build-and-push-snapshot.yml
  protocol/indexer/off_chain_updates/off_chain_updates.go
  protocol/lib/log/constants.go
  protocol/lib/log/utils.go
  protocol/lib/tx_mode.go
  protocol/lib/tx_mode_test.go
  protocol/x/clob/abci.go
  protocol/x/clob/ante/clob.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/grpc_query_mev_node_to_node.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/mev.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_cancel_orders_test.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/msg_server_proposed_operations.go
  protocol/x/clob/keeper/msg_server_proposed_operations_test.go
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/keeper/stateful_order_state.go
Labels: protocol

#925 add more granular stats for liquidations/deleveraging
  indexer/services/ender/__tests__/handlers/order-fills/deleveraging-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/src/handlers/order-fills/liquidation-handler.ts
Labels: indexer

#930 [IND-553]: Add support for trading reward tables in Athena
  indexer/services/roundtable/src/lib/athena-ddl-tables/trading_reward_aggregations.ts
  indexer/services/roundtable/src/lib/athena-ddl-tables/trading_rewards.ts
  indexer/services/roundtable/src/tasks/update-research-environment.ts
Labels: indexer

#909 [CLOB-1056] add validations for enums in clob protos
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/message_place_order.go
  protocol/x/clob/types/message_place_order_test.go
Labels: protocol

#931 [CLOB-1056] add validations for enums in clob protos (#909)
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/message_place_order.go
  protocol/x/clob/types/message_place_order_test.go
Labels: protocol

#910 [CLOB-1054] state R/W methods for last trade price
  protocol/x/clob/keeper/match_state.go
  protocol/x/clob/keeper/match_state_test.go
  protocol/x/clob/keeper/stores.go
  protocol/x/clob/types/keys.go
Labels: protocol

#929 Update `controller_enabled` to false in `genesis.sh`
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
Labels: protocol, chore

#912 [IND-552] add roundtable task to take fast sync Postgres snapshots every 4 hours
  indexer/packages/base/src/constants.ts
  indexer/services/roundtable/__tests__/tasks/take-fast-sync-snapshot.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/helpers/aws.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/delete-old-fast-sync-snapshots.ts
  indexer/services/roundtable/src/tasks/take-fast-sync-snapshot.ts
  indexer/services/roundtable/src/tasks/update-research-environment.ts
Labels: indexer

#927 [IND-499]: Add AggregateTradingRewardsProcessedCache with roundtable task
  indexer/packages/base/src/date-helpers.ts
  indexer/packages/base/src/index.ts
  indexer/packages/postgres/__tests__/helpers/mock-generators.ts
  indexer/packages/postgres/__tests__/stores/trading-reward-aggregation-table.test.ts
  indexer/packages/postgres/__tests__/stores/wallet-table.test.ts
  indexer/packages/postgres/src/models/trading-reward-aggregation-model.ts
  indexer/packages/postgres/src/stores/trading-reward-aggregation-table.ts
  indexer/packages/postgres/src/stores/wallet-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/packages/postgres/src/types/wallet-types.ts
  indexer/packages/redis/__tests__/caches/aggregate-trading-rewards-processed-cache.test.ts
  indexer/packages/redis/src/caches/aggregate-trading-rewards-processed-cache.ts
  indexer/packages/redis/src/index.ts
  indexer/services/ender/__tests__/handlers/trading-rewards-handler.test.ts
  indexer/services/roundtable/__tests__/tasks/aggregate-trading-rewards.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/lib/constants.ts
  indexer/services/roundtable/src/tasks/aggregate-trading-rewards.ts
Labels: indexer

#932 [CORE-538] Integrate AutoCLI as part of Cosmos 0.47 -> 0.50 upgrade and re-add a few standalone commands that changed packages
  protocol/cmd/dydxprotocold/cmd/root.go
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#919 [CLOB-1058] Allow FOK/IOC Reduce Only Orders
  protocol/testutil/constants/orders.go
  protocol/testutil/constants/subaccounts.go
  protocol/x/clob/e2e/reduce_only_orders_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/message_place_order.go
  protocol/x/clob/types/message_place_order_test.go
Labels: protocol

#933 [IND-504]: Update /v4/addresses/:address to return totalTradingRewards
  indexer/services/comlink/__tests__/controllers/api/v4/addresses-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#940 add FINAL_SETTLEMENT to perpetual markets status constraint
  indexer/packages/postgres/__tests__/stores/perpetual-market-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240108175501_add_perpetual_markets_status_final_settlement.ts
Labels: indexer

#942 Emergency patch to handle invalid TimeInForce.
  indexer/packages/postgres/__tests__/lib/protocol-translations.test.ts
  indexer/packages/postgres/src/lib/protocol-translations.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/src/scripts/helpers/dydx_from_protocol_time_in_force.sql
Labels: indexer

#944 Revert "Emergency patch to handle invalid TimeInForce. (#942)"
  indexer/packages/postgres/__tests__/lib/protocol-translations.test.ts
  indexer/packages/postgres/src/lib/protocol-translations.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/src/scripts/helpers/dydx_from_protocol_time_in_force.sql
Labels: indexer

#938 [CLOB-1054] update state R/W methods
  protocol/x/clob/keeper/match_state.go
  protocol/x/clob/keeper/match_state_test.go
  protocol/x/clob/keeper/stores.go
  protocol/x/clob/types/keys.go
Labels: protocol

#926 [CLOB-1055] - final settlement e2e tests
  protocol/testing/e2e/gov/add_new_market_test.go
  protocol/testing/e2e/gov/bridge_test.go
  protocol/testing/e2e/gov/feetiers_test.go
  protocol/testing/e2e/gov/perpetuals_test.go
  protocol/testing/e2e/gov/prices_test.go
  protocol/testing/e2e/gov/rewards_test.go
  protocol/testing/e2e/gov/sending_test.go
  protocol/testing/e2e/gov/stats_test.go
  protocol/testing/e2e/gov/vest_test.go
  protocol/testing/e2e/gov/wind_down_market_test.go
  protocol/testutil/app/gov.go
  protocol/testutil/constants/orders.go
  protocol/testutil/constants/stateful_orders.go
  protocol/testutil/constants/subaccounts.go
Labels: protocol

#948 Emergency patch to handle invalid TimeInForce.
  indexer/packages/postgres/__tests__/lib/protocol-translations.test.ts
  indexer/packages/postgres/src/lib/protocol-translations.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/src/scripts/helpers/dydx_from_protocol_time_in_force.sql
Labels: indexer

#951 [IND-557] fix occasional missing pnl ticks
  indexer/services/roundtable/__tests__/helpers/pnl-ticks-helper.test.ts
  indexer/services/roundtable/__tests__/tasks/create-pnl-ticks.test.ts
  indexer/services/roundtable/src/helpers/pnl-ticks-helper.ts
  indexer/services/roundtable/src/tasks/create-pnl-ticks.ts
Labels: indexer

#952 [IND-500]: Add logic to aggregate trading rewards
  indexer/packages/postgres/__tests__/helpers/conversion-helpers.ts
  indexer/packages/postgres/src/stores/trading-reward-aggregation-table.ts
  indexer/packages/postgres/src/stores/trading-reward-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/services/roundtable/__tests__/tasks/aggregate-trading-rewards.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/tasks/aggregate-trading-rewards.ts
Labels: indexer

#936 [feat][protocol]: gate withdrawals if negative TNC subaccount encountered after liquidation and deleveraging steps
  protocol/lib/metrics/metric_keys.go
  protocol/mocks/MemClob.go
  protocol/mocks/MemClobKeeper.go
  protocol/x/clob/abci.go
  protocol/x/clob/e2e/withdrawal_gating_test.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/internal_operation.go
  protocol/x/clob/types/memclob.go
  protocol/x/clob/types/operations_to_propose.go
Labels: protocol

#945 [CLOB-1054] trigger conditional orders using traded price within the …
  protocol/app/app.go
  protocol/testutil/constants/orders.go
  protocol/testutil/constants/stateful_orders.go
  protocol/testutil/constants/subaccounts.go
  protocol/testutil/keeper/clob.go
  protocol/x/clob/e2e/conditional_orders_test.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/keeper/untriggered_conditional_orders.go
  protocol/x/clob/types/constants.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/clob/types/memclob.go
Labels: protocol

#956 Upgrade cosmos fork to fix RPC queries
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#957 fix lint
  protocol/x/clob/e2e/withdrawal_gating_test.go
Labels: protocol

#954 [IND-503]: Add historical trading reward block and aggregation endpoints
  indexer/packages/postgres/src/stores/trading-reward-aggregation-table.ts
  indexer/packages/postgres/src/stores/trading-reward-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/historical-block-trading-reward-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/historical-trading-reward-aggregations-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/index-v4.ts
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-block-trading-rewards-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-trading-reward-aggregations-controller.ts
  indexer/services/comlink/src/lib/validation/schemas.ts
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#953 add lock multiplier for pnl ticks roundtable task
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
Labels: indexer

#959 Start processing aggregate trading rewards from first reward
  indexer/services/roundtable/__tests__/tasks/aggregate-trading-rewards.test.ts
  indexer/services/roundtable/src/tasks/aggregate-trading-rewards.ts
Labels: indexer

#958 [CLOB-1054] add some telemetry for conditional order triggering
  protocol/lib/metrics/constants.go
  protocol/lib/metrics/metric_keys.go
  protocol/x/clob/keeper/stateful_order_state.go
  protocol/x/clob/keeper/untriggered_conditional_orders.go
Labels: protocol

#949 E2E Tests for Replacement RO Orders, allow all types of RO order replacements
  protocol/testutil/app/app.go
  protocol/testutil/constants/orders.go
  protocol/x/clob/e2e/reduce_only_orders_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/errors.go
Labels: protocol

#941 [CORE-824] `x/ratelimit`: Implement `UpdateCapacityEndBlocker`
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ratelimit/limit_params.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ratelimit/query.ts
  proto/dydxprotocol/ratelimit/limit_params.proto
  proto/dydxprotocol/ratelimit/query.proto
  protocol/app/app.go
  protocol/lib/metrics/constants.go
  protocol/x/blocktime/keeper/keeper.go
  protocol/x/blocktime/keeper/keeper_test.go
  protocol/x/blocktime/module.go
  protocol/x/ratelimit/keeper/keeper.go
  protocol/x/ratelimit/keeper/keeper_test.go
  protocol/x/ratelimit/module.go
  protocol/x/ratelimit/types/errors.go
  protocol/x/ratelimit/types/expected_keepers.go
  protocol/x/ratelimit/types/limit_params.pb.go
  protocol/x/ratelimit/types/query.pb.go
  protocol/x/ratelimit/util/baseline.go
  protocol/x/ratelimit/util/baseline_test.go
  protocol/x/ratelimit/util/capacity.go
  protocol/x/ratelimit/util/capacity_test.go
Labels: indexer, protocol, proto, state-breaking, feature:x/ratelimit

#961 Add sample script to generate governance proposal to send from community treasury
  protocol/scripts/governance/community_treasury_sending.py
Labels: protocol

#963 Indexer account for reduce only resize errors
  protocol/indexer/shared/order_removal_reason.go
  protocol/indexer/shared/order_removal_reason_test.go
Labels: protocol

#965 Remove first block from aggregate trading rewards roundtable task interval
  indexer/services/roundtable/__tests__/tasks/aggregate-trading-rewards.test.ts
  indexer/services/roundtable/src/tasks/aggregate-trading-rewards.ts
Labels: bug, indexer

#935 [CORE-538] Have testing genesis.sh match expected gov parameters for 0.50
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
Labels: protocol

#966 [DEC-2201] Ensure that we use the client context with AutoCLI
  protocol/cmd/dydxprotocold/cmd/root.go
  protocol/cmd/dydxprotocold/cmd/root_test.go
  protocol/cmd/dydxprotocold/main.go
  protocol/testing/containertest/node.go
  protocol/testutil/app/app.go
Labels: protocol

#967 Revert "[CLOB-1014] [CLOB-1004] Unify metrics library, un-modularize …
  protocol/lib/metrics/lib.go
  protocol/lib/metrics/util.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/mev.go
  protocol/x/clob/types/order_id.go
Labels: protocol

#969 [DEC-2202] Update datadog agent image to use ECR hosted image.
  indexer/datadog/Dockerfile
  protocol/docker-compose.yml
Labels: indexer, protocol, chore

#970 Remove basePositionNotional from Indexer APIs
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240117120410_remove_unused_liquidity_tiers_columns.ts
  indexer/packages/postgres/src/models/liquidity-tiers-model.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/liquidity-tiers-types.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/services/comlink/__tests__/lib/request-helpers/request-transformer.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/public/websocket-documentation.md
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/handlers/liquidity-tier-handler.test.ts
  indexer/services/ender/__tests__/validators/liquidity-tier-validator.test.ts
  indexer/services/ender/src/helpers/kafka-helper.ts
  indexer/services/ender/src/scripts/handlers/dydx_liquidity_tier_handler.sql
  indexer/services/ender/src/validators/liquidity-tier-validator.ts
  indexer/services/roundtable/src/helpers/websocket.ts
  indexer/services/roundtable/src/lib/athena-ddl-tables/liquidity_tiers.ts
Labels: indexer

#971 Cherry-pick basePositionNotional deprecation in Indexer APIs
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240117120410_remove_unused_liquidity_tiers_columns.ts
  indexer/packages/postgres/src/models/liquidity-tiers-model.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/liquidity-tiers-types.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/services/comlink/__tests__/lib/request-helpers/request-transformer.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/public/websocket-documentation.md
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/handlers/liquidity-tier-handler.test.ts
  indexer/services/ender/__tests__/validators/liquidity-tier-validator.test.ts
  indexer/services/ender/src/helpers/kafka-helper.ts
  indexer/services/ender/src/scripts/handlers/dydx_liquidity_tier_handler.sql
  indexer/services/ender/src/validators/liquidity-tier-validator.ts
  indexer/services/roundtable/src/helpers/websocket.ts
  indexer/services/roundtable/src/lib/athena-ddl-tables/liquidity_tiers.ts
Labels: indexer

#972 Fix withdrawal gating double usage of metrics name for two different types of counters.
  protocol/lib/metrics/metric_keys.go
  protocol/x/clob/keeper/deleveraging.go
Labels: protocol

#973 [IND-556] wait until bazooka image finishes upgrading before running bazooka in auxo lambda
  indexer/services/auxo/src/index.ts
Labels: indexer

#974 Add Golang handler for custom querier OracleQuery
  protocol/app/app.go
  protocol/wasmbinding/README.md
  protocol/wasmbinding/bindings/oracle_query.go
  protocol/wasmbinding/queries.go
  protocol/wasmbinding/query_plugin.go
  protocol/wasmbinding/wasm.go
Labels: protocol

#977 Example escrow contract with sending messages that compiles.
  protocol/app/app.go
  protocol/contracts/dydx-messages-example/Cargo.lock
  protocol/contracts/dydx-messages-example/Cargo.toml
  protocol/contracts/dydx-messages-example/src/contract.rs
  protocol/contracts/dydx-messages-example/src/dydx_msg.rs
  protocol/contracts/dydx-messages-example/src/error.rs
  protocol/contracts/dydx-messages-example/src/helpers.rs
  protocol/contracts/dydx-messages-example/src/integration_tests.rs
  protocol/contracts/dydx-messages-example/src/lib.rs
  protocol/contracts/dydx-messages-example/src/msg.rs
  protocol/contracts/dydx-messages-example/src/state.rs
  protocol/go.mod
  protocol/go.sum
  protocol/wasmbinding/README.md
  protocol/wasmbinding/bindings/msg.go
  protocol/wasmbinding/msg_plugin.go
  protocol/wasmbinding/wasm.go
Labels: protocol

#979 Add Rust library for Dydx Query
  protocol/dydx-cosmwasm/Cargo.lock
  protocol/dydx-cosmwasm/README.md
  protocol/dydx-cosmwasm/cargo.toml
  protocol/dydx-cosmwasm/src/dydx_types.rs
  protocol/dydx-cosmwasm/src/lib.rs
  protocol/dydx-cosmwasm/src/proto_structs.rs
  protocol/dydx-cosmwasm/src/querier.rs
  protocol/dydx-cosmwasm/src/query.rs
  protocol/dydx-cosmwasm/src/route.rs
  protocol/wasmbinding/README.md
  protocol/wasmbinding/bindings/oracle_query.go
  protocol/wasmbinding/queries.go
  protocol/wasmbinding/query_plugin.go
Labels: protocol

#976 [CORE-538] Fix bogus account numbers being generated in tests and re-enable tests.
  protocol/testutil/auth/auth_helpers.go
  protocol/x/subaccounts/keeper/transfer_test.go
Labels: protocol

#975 [CORE-538] Update usage of mocks and re-enable test.
  protocol/x/clob/keeper/mev_test.go
Labels: protocol

#955 [feat][protocol] halt withdrawals if chain outage seen within the last 5 minutes
  indexer/packages/v4-protos/src/codegen/dydxprotocol/blocktime/query.lcd.ts
  proto/dydxprotocol/blocktime/query.proto
  protocol/app/app.go
  protocol/app/simulation_test.go
  protocol/lib/metrics/metric_keys.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/sending.go
  protocol/testutil/keeper/subaccounts.go
  protocol/x/blocktime/keeper/keeper.go
  protocol/x/blocktime/module_simulation.go
  protocol/x/blocktime/types/query.pb.go
  protocol/x/blocktime/types/query.pb.gw.go
  protocol/x/clob/e2e/withdrawal_gating_test.go
  protocol/x/sending/app_test.go
  protocol/x/subaccounts/genesis_test.go
  protocol/x/subaccounts/keeper/grpc_query_subaccount_test.go
  protocol/x/subaccounts/keeper/keeper.go
  protocol/x/subaccounts/keeper/negative_tnc_subaccount_test.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/keeper/transfer_test.go
  protocol/x/subaccounts/module_test.go
  protocol/x/subaccounts/types/expected_keepers.go
Labels: indexer, protocol, proto

#980 add subaccount module querying support
  protocol/wasmbinding/README.md
  protocol/wasmbinding/queries.go
  protocol/wasmbinding/query_plugin.go
Labels: protocol

#981 [CORE-538] Fix CLI tests to correctly generate module address
  protocol/testutil/bank/bank_helpers.go
  protocol/x/clob/client/cli/cancel_order_cli_test.go
  protocol/x/clob/client/cli/liquidations_cli_test.go
  protocol/x/clob/client/cli/place_order_cli_test.go
Labels: protocol

#985 add rust lib for subaccount query
  protocol/dydx-cosmwasm/.cargo/config
  protocol/dydx-cosmwasm/Cargo.lock
  protocol/dydx-cosmwasm/cargo.toml
  protocol/dydx-cosmwasm/src/bytes_helper.rs
  protocol/dydx-cosmwasm/src/dydx_types.rs
  protocol/dydx-cosmwasm/src/lib.rs
  protocol/dydx-cosmwasm/src/proto_structs.rs
  protocol/dydx-cosmwasm/src/querier.rs
  protocol/dydx-cosmwasm/src/query.rs
  protocol/dydx-cosmwasm/src/response_helper.rs
  protocol/dydx-cosmwasm/src/route.rs
Labels: protocol

#984 [CORE-538] Reduce usage of basic_manager.ModuleBasics in favor of using module.NewBasicManagerFrom...
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/basic_manager/basic_manager.go
  protocol/app/genesis.go
  protocol/app/genesis_test.go
  protocol/app/middleware/middleware.go
  protocol/app/middleware/middleware_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/cmd/dydxprotocold/cmd/root.go
Labels: protocol

#982 [CORE-538] Update iaviewer comment.
  protocol/scripts/iaviewer/iaviewer.go
Labels: protocol

#987 Add `MarketPrice` query in example smart contract
  protocol/app/app.go
  protocol/contracts/dydx-messages-example/Cargo.lock
  protocol/contracts/dydx-messages-example/src/contract.rs
  protocol/contracts/dydx-messages-example/src/msg.rs
  protocol/dydx-cosmwasm/src/lib.rs
  protocol/dydx-cosmwasm/src/msg.rs
  protocol/dydx-cosmwasm/src/proto_structs.rs
  protocol/dydx-cosmwasm/src/querier.rs
  protocol/dydx-cosmwasm/src/query.rs
  protocol/dydx-cosmwasm/src/route.rs
  protocol/wasmbinding/queries.go
Labels: protocol

#964 [protocol][feat] add RPC query endpoint for withdrawal gating information
  indexer/packages/v4-protos/src/codegen/dydxprotocol/subaccounts/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/subaccounts/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/subaccounts/query.ts
  proto/dydxprotocol/subaccounts/query.proto
  protocol/mocks/MemClob.go
  protocol/mocks/MemClobKeeper.go
  protocol/mocks/QueryClient.go
  protocol/x/subaccounts/keeper/grpc_query_withdrawal_and_transfers_blocked_info.go
  protocol/x/subaccounts/keeper/grpc_query_withdrawal_and_transfers_blocked_info_test.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/query.pb.go
  protocol/x/subaccounts/types/query.pb.gw.go
  protocol/x/subaccounts/types/update.go
Labels: indexer, protocol, proto

#988 placing orders
  protocol/app/app.go
  protocol/contracts/dydx-messages-example/src/contract.rs
  protocol/contracts/dydx-messages-example/src/msg.rs
  protocol/dydx-cosmwasm/src/lib.rs
  protocol/dydx-cosmwasm/src/msg.rs
  protocol/wasmbinding/bindings/msg.go
  protocol/wasmbinding/msg_plugin.go
  protocol/wasmbinding/wasm.go
Labels: protocol

#992 market make
  protocol/contracts/dydx-messages-example/src/contract.rs
  protocol/wasmbinding/msg_plugin.go
Labels: protocol

#994 Revert "Revert "[CLOB-1014] [CLOB-1004] Unify metrics library, un-mod…
  .github/workflows/protocol-build-and-push-snapshot.yml
  protocol/lib/metrics/lib.go
  protocol/lib/metrics/util.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/mev.go
  protocol/x/clob/types/order_id.go
Labels: protocol

#997 remvoe some print statements
  protocol/x/blocktime/keeper/keeper.go
Labels: protocol

#993 [CORE-538] Remove genesis check that isn't needed since the issue was with how testapp was simulating block processing.
  protocol/testutil/app/app.go
  protocol/testutil/keeper/delaymsg.go
  protocol/testutil/logger/logger.go
  protocol/x/clob/abci.go
Labels: protocol

#999 Update default postgres options for tables
  indexer/packages/postgres/src/stores/fill-table.ts
  indexer/packages/postgres/src/stores/order-table.ts
  indexer/packages/postgres/src/stores/perpetual-position-table.ts
  indexer/packages/postgres/src/stores/subaccount-table.ts
Labels: indexer

#998 [CORE-538] Split out fixing test to its own separate task.
  protocol/x/clob/e2e/order_removal_test.go
  protocol/x/delaymsg/keeper/dispatch_test.go
Labels: protocol

#1001 [IND-558]: Add index to address for compliance_data
  indexer/packages/postgres/src/db/migrations/migration_files/20240122143649_add_compliance_table_address_index.ts
Labels: indexer

#1000 [CORE-852] Upgrade Cosmos to 0.50.3 to be able to re-add rosetta cmd.
  protocol/go.mod
  protocol/go.sum
  protocol/mocks/BankKeeper.go
  protocol/mocks/Logger.go
Labels: protocol

#1002 [CORE-852] Re-add Rosetta cmd
  protocol/cmd/dydxprotocold/cmd/root.go
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1010 Fix addresses endpoing requiring Wallet
  indexer/services/comlink/__tests__/controllers/api/v4/addresses-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/historical-block-trading-reward-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-block-trading-rewards-controller.ts
Labels: indexer

#1012 Fix Dockerfile, add bintuils-gold.
  protocol/Dockerfile
Labels: protocol

#1011 Scaffolding x/govplus module
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/govplus/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/govplus/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/govplus/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/govplus/tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/rpc.query.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/govplus/genesis.proto
  proto/dydxprotocol/govplus/query.proto
  proto/dydxprotocol/govplus/tx.proto
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/app/upgrades/v4.0.0/constants.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/govplus/client/cli/query.go
  protocol/x/govplus/client/cli/tx.go
  protocol/x/govplus/genesis.go
  protocol/x/govplus/keeper/keeper.go
  protocol/x/govplus/keeper/keeper_test.go
  protocol/x/govplus/keeper/msg_server.go
  protocol/x/govplus/keeper/msg_server_test.go
  protocol/x/govplus/module.go
  protocol/x/govplus/types/codec.go
  protocol/x/govplus/types/genesis.go
  protocol/x/govplus/types/genesis.pb.go
  protocol/x/govplus/types/keys.go
  protocol/x/govplus/types/keys_test.go
  protocol/x/govplus/types/query.pb.go
  protocol/x/govplus/types/tx.pb.go
Labels: indexer, protocol, proto

#960 [CORE-794] enable authz module to allow granting privileges
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/basic_manager/basic_manager.go
  protocol/app/constants/constants.go
  protocol/app/datadog.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/nested_msgs.go
  protocol/app/msgs/nested_msgs_test.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/app/msgs/unregistered_msgs.go
  protocol/app/msgs/unregistered_msgs_test.go
  protocol/app/simulation_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/app/upgrades/v4.0.0/constants.go
  protocol/cmd/dydxprotocold/cmd/root.go
  protocol/cmd/dydxprotocold/cmd/root_test.go
  protocol/cmd/dydxprotocold/main.go
  protocol/lib/ante/nested_msg.go
  protocol/lib/ante/nested_msg_test.go
  protocol/lib/metrics/constants.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/e2e/authz/authz_test.go
  protocol/testutil/app/app.go
  protocol/testutil/constants/stateful_orders.go
  protocol/testutil/msgs/nested_msgs.go
  protocol/x/clob/client/cli/cancel_order_cli_test.go
  protocol/x/clob/client/cli/liquidations_cli_test.go
  protocol/x/clob/client/cli/place_order_cli_test.go
  protocol/x/prices/client/cli/prices_cli_test.go
  protocol/x/sending/client/cli/sending_cli_test.go
Labels: protocol

#1014 [CLOB-1063] add latency and gauge metrics for conditional orders
  protocol/lib/metrics/metric_keys.go
  protocol/x/clob/keeper/untriggered_conditional_orders.go
  protocol/x/govplus/keeper/keeper_test.go
  protocol/x/ratelimit/types/params.go
Labels: protocol

#962 [CORE-834] Wire x/ratelimit methods to IBC transfer logic
  protocol/app/app.go
  protocol/lib/metrics/constants.go
  protocol/x/ratelimit/ibc_middleware.go
  protocol/x/ratelimit/keeper/keeper.go
  protocol/x/ratelimit/keeper/packet.go
  protocol/x/ratelimit/keeper/packet_test.go
  protocol/x/ratelimit/types/expected_keepers.go
  protocol/x/ratelimit/types/ibc.go
  protocol/x/ratelimit/types/keys.go
  protocol/x/ratelimit/util/capacity_test.go
  protocol/x/ratelimit/util/ibc.go
  protocol/x/ratelimit/util/ibc_test.go
  protocol/x/ratelimit/util/parse_denom.go
  protocol/x/ratelimit/util/parse_denom_test.go
Labels: protocol, state-breaking, feature:x/ratelimit

#1015 Disable `MsgCancelProposal`
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/app/msgs/unsupported_msgs.go
  protocol/app/msgs/unsupported_msgs_test.go
  protocol/lib/ante/unsupported_msgs.go
Labels: protocol

#1020 Fix typo for historical trading rewards
  indexer/services/roundtable/src/tasks/aggregate-trading-rewards.ts
Labels: indexer

#1017 [CORE-850] Bump Cosmos-SDK version for updated default gov parameters
  protocol/app/testdata/default_genesis_state.json
  protocol/go.mod
  protocol/go.sum
  protocol/testutil/constants/genesis.go
Labels: protocol

#1019 [CORE-824] Add upgrade handler for ratelimit keeper
  protocol/app/upgrades.go
  protocol/app/upgrades/v4.0.0/upgrade.go
Labels: protocol

#1016 Implement x/govplus MsgSlashValidator
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/govplus/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/govplus/tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/rpc.tx.ts
  proto/dydxprotocol/govplus/tx.proto
  protocol/app/app.go
  protocol/app/basic_manager/basic_manager.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/app/simulation_test.go
  protocol/lib/ante/internal_msg.go
  protocol/testutil/app/app.go
  protocol/x/govplus/keeper/keeper.go
  protocol/x/govplus/keeper/keeper_test.go
  protocol/x/govplus/keeper/msg_server.go
  protocol/x/govplus/keeper/msg_server_test.go
  protocol/x/govplus/types/errors.go
  protocol/x/govplus/types/expected_keepers.go
  protocol/x/govplus/types/keys.go
  protocol/x/govplus/types/keys_test.go
  protocol/x/govplus/types/tx.go
  protocol/x/govplus/types/tx.pb.go
  protocol/x/govplus/types/tx_test.go
Labels: indexer, protocol, proto

#1022 Fix Aggregate Historical Trading rewards and always use generated id in tables
  indexer/packages/postgres/src/stores/candle-table.ts
  indexer/packages/postgres/src/stores/fill-table.ts
  indexer/packages/postgres/src/stores/funding-index-updates-table.ts
  indexer/packages/postgres/src/stores/oracle-price-table.ts
  indexer/packages/postgres/src/stores/order-table.ts
  indexer/packages/postgres/src/stores/perpetual-position-table.ts
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/packages/postgres/src/stores/subaccount-table.ts
  indexer/packages/postgres/src/stores/tendermint-event-table.ts
  indexer/packages/postgres/src/stores/trading-reward-aggregation-table.ts
  indexer/packages/postgres/src/stores/trading-reward-table.ts
  indexer/packages/postgres/src/stores/transaction-table.ts
  indexer/packages/postgres/src/stores/transfer-table.ts
  indexer/services/roundtable/__tests__/tasks/aggregate-trading-rewards.test.ts
  indexer/services/roundtable/src/tasks/aggregate-trading-rewards.ts
Labels: bug, indexer

#1018 [IND-545]: Batch Process Vulcan messages
  indexer/packages/kafka/__tests__/consumer.test.ts
  indexer/packages/kafka/src/config.ts
  indexer/packages/kafka/src/consumer.ts
  indexer/services/ender/src/helpers/kafka/kafka-controller.ts
  indexer/services/scripts/src/print-block.ts
  indexer/services/socks/src/lib/message-forwarder.ts
  indexer/services/vulcan/src/config.ts
  indexer/services/vulcan/src/helpers/kafka/kafka-controller.ts
  indexer/services/vulcan/src/index.ts
  indexer/services/vulcan/src/lib/on-batch.ts
Labels: indexer

#1024 Fix Aggregate Historical Trading rewards and always use generated id in tables (#1022)
  indexer/packages/postgres/src/stores/candle-table.ts
  indexer/packages/postgres/src/stores/fill-table.ts
  indexer/packages/postgres/src/stores/funding-index-updates-table.ts
  indexer/packages/postgres/src/stores/oracle-price-table.ts
  indexer/packages/postgres/src/stores/order-table.ts
  indexer/packages/postgres/src/stores/perpetual-position-table.ts
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/packages/postgres/src/stores/subaccount-table.ts
  indexer/packages/postgres/src/stores/tendermint-event-table.ts
  indexer/packages/postgres/src/stores/trading-reward-aggregation-table.ts
  indexer/packages/postgres/src/stores/trading-reward-table.ts
  indexer/packages/postgres/src/stores/transaction-table.ts
  indexer/packages/postgres/src/stores/transfer-table.ts
  indexer/services/roundtable/__tests__/tasks/aggregate-trading-rewards.test.ts
  indexer/services/roundtable/src/tasks/aggregate-trading-rewards.ts
Labels: indexer

#1021 [CT-34] Use constants defined in testutil for subaccount module tests
  protocol/testutil/constants/positions.go
  protocol/x/subaccounts/keeper/subaccount_test.go
Labels: protocol, chore, refactor

#1007 [STAB-24] Migrate over to cosmos version now that performance improvement had been released.
  protocol/app/ante.go
Labels: protocol
