Repository dydxprotocol/v4-chain, pull requests merged in 2024-08, with the labels that each got.

#2004 [TRA-523] Switch localnet to use dydx_migration_api marketmap provider
  protocol/contrib/slinky/oracle.json
  protocol/docker-compose.yml
Labels: protocol

#2007 Remove requirement for force flag when creating new topics
  indexer/services/bazooka/__tests__/index.test.ts
  indexer/services/bazooka/src/index.ts
Labels: indexer

#2000 [OTE-600] Emit metrics for geoblock endpoint
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
Labels: indexer

#1996 Add post only crosses maker order as first class order status field
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/types/orderbook.go
Labels: protocol

#1776 GPRC Streaming change default flag options, break upon connection order
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/streaming/full_node_streaming_manager.go
Labels: protocol

#2012 Adam/ct 1059 address issue with orderbookmidprice calculation
  indexer/packages/redis/__tests__/caches/orderbook-levels-cache.test.ts
  indexer/packages/redis/src/caches/orderbook-levels-cache.ts
  indexer/services/ender/src/lib/candles-generator.ts
Labels: bug, indexer

#2003 Full Node Status taker order status protos
  proto/dydxprotocol/clob/order.proto
  proto/dydxprotocol/clob/query.proto
  protocol/x/clob/types/liquidation_order.go
  protocol/x/clob/types/order.pb.go
  protocol/x/clob/types/orderbook.go
  protocol/x/clob/types/query.pb.go
Labels: protocol, proto

#1997 have individual vault quoting parameters
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/params.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/share.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/vault.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/vault/genesis.proto
  proto/dydxprotocol/vault/params.proto
  proto/dydxprotocol/vault/query.proto
  proto/dydxprotocol/vault/share.proto
  proto/dydxprotocol/vault/tx.proto
  proto/dydxprotocol/vault/vault.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/app/upgrades/v5.0.0/upgrade.go
  protocol/app/upgrades/v5.2.0/upgrade.go
  protocol/lib/ante/internal_msg.go
  protocol/mocks/VaultKeeper.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/testutil/constants/genesis.go
  protocol/x/vault/client/cli/query_test.go
  protocol/x/vault/genesis.go
  protocol/x/vault/keeper/grpc_query.go
  protocol/x/vault/keeper/grpc_query_test.go
  protocol/x/vault/keeper/msg_server_update_default_quoting_params.go
  protocol/x/vault/keeper/msg_server_update_default_quoting_params_test.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/params.go
  protocol/x/vault/keeper/params_test.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/keeper/vault_test.go
  protocol/x/vault/types/genesis.go
  protocol/x/vault/types/genesis.pb.go
  protocol/x/vault/types/keys.go
  protocol/x/vault/types/params.go
  protocol/x/vault/types/params.pb.go
  protocol/x/vault/types/params_test.go
  protocol/x/vault/types/query.pb.go
  protocol/x/vault/types/share.pb.go
  protocol/x/vault/types/tx.pb.go
  protocol/x/vault/types/types.go
  protocol/x/vault/types/vault.pb.go
Labels: indexer, protocol, proto

#2011 return empty vault orders if clob pair does not exist or is in final settlement
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/types/errors.go
Labels: protocol

#2020 Fix proto formatting
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/order.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/order.proto
  proto/dydxprotocol/clob/query.proto
  protocol/x/clob/types/order.pb.go
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#2021 FNS protos - add taker order in stream update oneof
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#2017 add gov msg that sets vault quoting params
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  proto/dydxprotocol/vault/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/lib/ante/internal_msg.go
  protocol/testutil/constants/vault.go
  protocol/x/vault/keeper/msg_server_set_vault_quoting_params.go
  protocol/x/vault/keeper/msg_server_set_vault_quoting_params_test.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/keeper/vault_test.go
  protocol/x/vault/types/tx.pb.go
Labels: indexer, protocol, proto

#2025 include vault quoting params in vault query
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  proto/dydxprotocol/vault/query.proto
  protocol/x/vault/keeper/grpc_query_vault.go
  protocol/x/vault/keeper/grpc_query_vault_test.go
  protocol/x/vault/types/query.pb.go
Labels: indexer, protocol, proto

#2037 include vault quoting params in vault query (#2025)
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  proto/dydxprotocol/vault/query.proto
  protocol/x/vault/keeper/grpc_query_vault.go
  protocol/x/vault/keeper/grpc_query_vault_test.go
  protocol/x/vault/types/query.pb.go
Labels: indexer, protocol, proto

#2038 vault query does not error on non-existent clob pair
  protocol/x/vault/keeper/grpc_query_vault.go
  protocol/x/vault/keeper/grpc_query_vault_test.go
Labels: protocol

#2035 [OTE-664] Change docker-compose to new syntax
  .github/workflows/protocol-benchmark.yml
  .github/workflows/protocol-test.yml
  protocol/Makefile
Labels: protocol

#2030 Change kafka producer client config
  protocol/indexer/flags.go
  protocol/indexer/msgsender/msgsender_kafka.go
Labels: protocol

#2040 add v6 upgrade handler for x/vault
  protocol/app/upgrades.go
  protocol/app/upgrades/v6.0.0/upgrade.go
  protocol/app/upgrades/v6.0.0/upgrade_container_test.go
  protocol/x/vault/keeper/params.go
Labels: protocol

#1992 add subaccount support for grpc stream
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#2042 Adam/revert all candles
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/candle-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240627152937_candles_add_mid_book_price_open_and_close.ts
  indexer/packages/postgres/src/models/candle-model.ts
  indexer/packages/postgres/src/types/candle-types.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/redis/__tests__/caches/orderbook-levels-cache.test.ts
  indexer/packages/redis/src/caches/orderbook-levels-cache.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/ender/__tests__/helpers/redis-helpers.ts
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
  indexer/services/ender/src/lib/candles-generator.ts
  indexer/services/roundtable/src/lib/athena-ddl-tables/candles.ts
Labels: indexer

#2045 Adam/remove candles main
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/candle-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240627152937_candles_add_mid_book_price_open_and_close.ts
  indexer/packages/postgres/src/models/candle-model.ts
  indexer/packages/postgres/src/types/candle-types.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/redis/__tests__/caches/orderbook-levels-cache.test.ts
  indexer/packages/redis/src/caches/orderbook-levels-cache.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/ender/__tests__/helpers/redis-helpers.ts
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
  indexer/services/ender/src/lib/candles-generator.ts
  indexer/services/roundtable/src/lib/athena-ddl-tables/candles.ts
Labels: indexer

#2046 Update main-net node setup.
  protocol/testing/mainnet/mainnet.sh
  protocol/testing/mainnet/start.sh
Labels: protocol

#2036 Restructure FNS global cache to be list
  protocol/streaming/full_node_streaming_manager.go
Labels: protocol

#2047 Adam/add candles hloc
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/candle-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240627152937_candles_add_mid_book_price_open_and_close.ts
  indexer/packages/postgres/src/models/candle-model.ts
  indexer/packages/postgres/src/types/candle-types.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/redis/__tests__/caches/orderbook-levels-cache.test.ts
  indexer/packages/redis/src/caches/orderbook-levels-cache.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/ender/__tests__/helpers/redis-helpers.ts
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
  indexer/services/ender/src/lib/candles-generator.ts
  indexer/services/roundtable/src/lib/athena-ddl-tables/candles.ts
Labels: indexer

#2053 Update mainnet and testnet images for v6.0.0 development
  protocol/testing/mainnet/mainnet.sh
  protocol/testing/mainnet/vars.sh
  protocol/testing/testnet/testnet.sh
  protocol/testing/testnet/vars.sh
Labels: protocol

#2051 Bump grpc stream flag default values
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
Labels: protocol

#2022 [Full node streaming] emit taker order status at end of matching loop
  protocol/mocks/MemClobKeeper.go
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/noop_streaming_manager.go
  protocol/streaming/types/interface.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_grpc_streaming.go
  protocol/x/clob/types/liquidation_order.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/order.go
  protocol/x/clob/types/orderbook.go
Labels: protocol

#2065 fix merge conflict and metric emissions
  protocol/streaming/full_node_streaming_manager.go
Labels: protocol

#2064 Bump Cosmos SDK version
  protocol/go.mod
  protocol/go.sum
Labels: protocol, backport/protocol/v6.x

#2069 Upgrade slinky to 1.0.8
  protocol/Dockerfile
  protocol/app/upgrades/v6.0.0/upgrade.go
  protocol/go.mod
  protocol/go.sum
  protocol/lib/marketmap/utils.go
Labels: protocol

#2068 Full node streaming batch size reset to 2000, properly zero out cache on flush
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/streaming/full_node_streaming_manager.go
Labels: protocol

#2066 fix TEST-USD marketmap genesis
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
Labels: protocol

#2043 update sidecar in localnet to support polymarket
  protocol/contrib/slinky/oracle.json
  protocol/docker-compose.yml
Labels: protocol

#1965 [OTE-544][OTE-545] Add rountable task for leaderboard table
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/pnl-ticks-table.test.ts
  indexer/packages/postgres/src/lib/helpers.ts
  indexer/packages/postgres/src/lib/vault-addresses.json
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/packages/postgres/src/types/leaderboard-pnl-types.ts
  indexer/packages/redis/src/caches/leaderboard-processed-cache.ts
  indexer/packages/redis/src/index.ts
  indexer/services/roundtable/__tests__/tasks/create-leaderboard.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/create-leaderboard.ts
Labels: indexer

#2059 FNS subaccount implementation
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/subaccounts/streaming.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/clob/query.proto
  proto/dydxprotocol/subaccounts/streaming.proto
  protocol/app/app.go
  protocol/lib/metrics/metric_keys.go
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/noop_streaming_manager.go
  protocol/streaming/types/interface.go
  protocol/testutil/keeper/subaccounts.go
  protocol/x/clob/keeper/grpc_stream_orderbook.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/types/query.pb.go
  protocol/x/subaccounts/keeper/keeper.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/streaming.pb.go
  protocol/x/subaccounts/types/types.go
Labels: indexer, protocol, proto

#2063 [CT-1050] DeliverTx state change reset for subaccount updates
  .github/workflows/protocol-build-and-push.yml
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/clob/types/message_clob_match.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/types.go
Labels: protocol

#2078 Fix snapshot bool
  .github/workflows/protocol-build-and-push.yml
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/types.go
Labels: protocol

#2079 Full Node Streaming Recurring snapshots
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/streaming/full_node_streaming_manager.go
Labels: protocol

#1908 Add websocket support to full node streaming
  .github/workflows/protocol-build-and-push.yml
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/docker-compose.yml
  protocol/go.mod
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/ws/websocket_message_sender.go
  protocol/streaming/ws/websocket_server.go
Labels: protocol

#2091 Revert "Increase default rebalance timeout"
  indexer/packages/kafka/src/config.ts
Labels: indexer

#2092 Full Node Streaming default port 9092
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/docker-compose.yml
Labels: protocol

#2088 [CT-1103] FNS subaccount WS support
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/ws/websocket_server.go
Labels: protocol

#2090 Reduce voting period to 2min for devnets
  protocol/testing/genesis.sh
Labels: protocol

#2085 Disable leaderboard pnl roundtable jobs
  indexer/services/roundtable/src/config.ts
Labels: indexer

#2082 Enforce uniqueness of timestamp nonce
  protocol/lib/collections.go
  protocol/lib/collections_test.go
  protocol/x/accountplus/keeper/timestampnonce.go
  protocol/x/accountplus/keeper/timestampnonce_test.go
Labels: protocol

#2084 add VaultParams protos and store
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/params.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/vault.ts
  proto/dydxprotocol/vault/genesis.proto
  proto/dydxprotocol/vault/params.proto
  proto/dydxprotocol/vault/query.proto
  proto/dydxprotocol/vault/tx.proto
  proto/dydxprotocol/vault/vault.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/lib/ante/internal_msg.go
  protocol/testing/genesis.sh
  protocol/testutil/constants/vault.go
  protocol/x/vault/genesis.go
  protocol/x/vault/keeper/grpc_query_vault.go
  protocol/x/vault/keeper/grpc_query_vault_test.go
  protocol/x/vault/keeper/msg_server_deposit_to_vault.go
  protocol/x/vault/keeper/msg_server_deposit_to_vault_test.go
  protocol/x/vault/keeper/msg_server_set_vault_params.go
  protocol/x/vault/keeper/msg_server_set_vault_params_test.go
  protocol/x/vault/keeper/msg_server_set_vault_quoting_params_test.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/params.go
  protocol/x/vault/keeper/params_test.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/keeper/vault_test.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/genesis.go
  protocol/x/vault/types/genesis.pb.go
  protocol/x/vault/types/keys.go
  protocol/x/vault/types/params.go
  protocol/x/vault/types/params.pb.go
  protocol/x/vault/types/params_test.go
  protocol/x/vault/types/query.pb.go
  protocol/x/vault/types/tx.pb.go
  protocol/x/vault/types/vault.pb.go
Labels: indexer, protocol, proto

#2097 move CODEOWNERS file
  CODEOWNERS
  protocol/CODEOWNERS
Labels: protocol

#2096 Unify version name constants in images
  protocol/testing/containertest/Dockerfile
  protocol/testing/containertest/containertest.sh
  protocol/testing/containertest/testnet.go
  protocol/testing/containertest/testnet_test.go
  protocol/testing/current_version.sh
  protocol/testing/mainnet/Dockerfile
  protocol/testing/mainnet/vars.sh
  protocol/testing/testnet/Dockerfile
  protocol/testing/testnet/vars.sh
  protocol/testing/version/README.md
  protocol/testing/version/VERSION_CURRENT
  protocol/testing/version/VERSION_PREUPGRADE
  protocol/testing/version/version.go
  protocol/testing/version/version.sh
Labels: protocol

#2099 rely on vault params store to iterate through vaults instead of total shares store
  protocol/app/upgrades/v6.0.0/upgrade.go
  protocol/testutil/constants/vault.go
  protocol/x/vault/genesis.go
  protocol/x/vault/keeper/msg_server_update_default_quoting_params.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/params.go
  protocol/x/vault/keeper/params_test.go
  protocol/x/vault/keeper/shares.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/keeper/vault_test.go
  protocol/x/vault/types/types.go
Labels: protocol

#2101 Set fromBeginning to false by default
  indexer/services/vulcan/src/config.ts
  indexer/services/vulcan/src/helpers/kafka/kafka-controller.ts
Labels: indexer

#2102 add megavault module account
  protocol/app/module_accounts.go
  protocol/app/module_accounts_test.go
  protocol/x/vault/types/keys.go
  protocol/x/vault/types/keys_test.go
Labels: protocol

#2107 Set fromBeginning to false by default (#2101)
  indexer/services/vulcan/src/config.ts
  indexer/services/vulcan/src/helpers/kafka/kafka-controller.ts
Labels: indexer

#2108 allow configuring full preupgrade version name
  protocol/testing/containertest/containertest.sh
  protocol/testing/version/README.md
  protocol/testing/version/VERSION_FULL_NAME_PREUPGRADE
  protocol/testing/version/version.sh
Labels: protocol

#2106 add v7 upgrade handler
  protocol/app/upgrades.go
  protocol/app/upgrades/v6.0.0/upgrade_container_test.go
  protocol/app/upgrades/v7.0.0/constants.go
  protocol/app/upgrades/v7.0.0/upgrade.go
  protocol/app/upgrades/v7.0.0/upgrade_container_test.go
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/testing/version/VERSION_CURRENT
  protocol/testing/version/VERSION_FULL_NAME_PREUPGRADE
  protocol/testing/version/VERSION_PREUPGRADE
Labels: protocol

#2104 [OTE-686] Add Scaffolding for x/affiliates
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/rpc.query.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/affiliates/genesis.proto
  proto/dydxprotocol/affiliates/query.proto
  proto/dydxprotocol/affiliates/tx.proto
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/app/upgrades/v7.0.0/constants.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/affiliates/client/cli/query.go
  protocol/x/affiliates/client/cli/tx.go
  protocol/x/affiliates/genesis.go
  protocol/x/affiliates/keeper/grpc_query.go
  protocol/x/affiliates/keeper/keeper.go
  protocol/x/affiliates/keeper/keeper_test.go
  protocol/x/affiliates/keeper/msg_server.go
  protocol/x/affiliates/keeper/msg_server_test.go
  protocol/x/affiliates/module.go
  protocol/x/affiliates/types/codec.go
  protocol/x/affiliates/types/expected_keepers.go
  protocol/x/affiliates/types/genesis.go
  protocol/x/affiliates/types/genesis.pb.go
  protocol/x/affiliates/types/keys.go
  protocol/x/affiliates/types/query.pb.go
  protocol/x/affiliates/types/tx.pb.go
Labels: indexer, protocol, proto, feature:x/affiliates

#2111 Support empty params for websocket endpoint
  protocol/streaming/ws/websocket_server.go
Labels: protocol

#2109 refactor vault deposit into megavault deposit
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/share.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  proto/dydxprotocol/vault/genesis.proto
  proto/dydxprotocol/vault/query.proto
  proto/dydxprotocol/vault/share.proto
  proto/dydxprotocol/vault/tx.proto
  protocol/app/module/interface_registry.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/app/upgrades/v5.2.0/upgrade.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/testutil/constants/genesis.go
  protocol/testutil/constants/vault.go
  protocol/testutil/encoding/utils.go
  protocol/x/vault/client/cli/query.go
  protocol/x/vault/client/cli/tx.go
  protocol/x/vault/genesis.go
  protocol/x/vault/keeper/deposit.go
  protocol/x/vault/keeper/deposit_test.go
  protocol/x/vault/keeper/grpc_query_shares.go
  protocol/x/vault/keeper/grpc_query_shares_test.go
  protocol/x/vault/keeper/grpc_query_vault.go
  protocol/x/vault/keeper/grpc_query_vault_test.go
  protocol/x/vault/keeper/msg_server_deposit_to_megavault.go
  protocol/x/vault/keeper/msg_server_deposit_to_megavault_test.go
  protocol/x/vault/keeper/msg_server_deposit_to_vault.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/shares.go
  protocol/x/vault/keeper/shares_test.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/keeper/vault_test.go
  protocol/x/vault/types/genesis.go
  protocol/x/vault/types/genesis.pb.go
  protocol/x/vault/types/keys.go
  protocol/x/vault/types/keys_test.go
  protocol/x/vault/types/megavault.go
  protocol/x/vault/types/msg_deposit_to_megavault.go
  protocol/x/vault/types/msg_deposit_to_megavault_test.go
  protocol/x/vault/types/query.pb.go
  protocol/x/vault/types/query.pb.gw.go
  protocol/x/vault/types/share.pb.go
  protocol/x/vault/types/tx.pb.go
Labels: indexer, protocol, proto

#2116 add megavault total shares query cli
  protocol/x/vault/client/cli/query.go
Labels: protocol

#2110 Fix upgrade container test (v6 -> vCosmWasm)
  protocol/app/upgrades.go
  protocol/app/upgrades/v.cosmwasm.0/config/client.toml
  protocol/app/upgrades/v6.0.0/upgrade_container_test.go
  protocol/app/upgrades/v6.1.0/constants.go
  protocol/app/upgrades/v6.1.0/upgrade.go
  protocol/app/upgrades/v6.1.0/upgrade_container_test.go
  protocol/testing/containertest/containertest.sh
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/testing/containertest/testnet.go
Labels: protocol

#2118 paginate liquidation daemon response
  protocol/daemons/flags/flags.go
  protocol/daemons/flags/flags_test.go
  protocol/daemons/liquidation/client/grpc_helper.go
  protocol/daemons/liquidation/client/grpc_helper_test.go
  protocol/daemons/liquidation/client/sub_task_runner.go
  protocol/daemons/liquidation/client/sub_task_runner_test.go
  protocol/daemons/server/liquidation.go
  protocol/daemons/server/types/liquidations/daemon_liquidation_info.go
  protocol/daemons/server/types/liquidations/daemon_liquidation_info_test.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/e2e/withdrawal_gating_test.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/liquidations_test.go
Labels: protocol

#2075 [OTE-699] Wasm execution rate-limit implementation
  protocol/app/ante.go
  protocol/app/ante/wasm_execute.go
  protocol/app/ante/wasm_execute_test.go
  protocol/app/ante_test.go
  protocol/app/app.go
  protocol/lib/ante/rate_limit.go
  protocol/lib/ante/rate_limit_test.go
  protocol/mocks/BlockTimeKeeper.go
  protocol/mocks/ICS4Wrapper.go
  protocol/testutil/ante/testutil.go
  protocol/x/clob/keeper/rate_limit.go
  protocol/x/ratelimit/keeper/keeper.go
  protocol/x/ratelimit/keeper/wasm_ratelimit.go
  protocol/x/ratelimit/module.go
  protocol/x/ratelimit/types/types.go
Labels: protocol

#2122 add telemetry and logs for liquidation daemon
  protocol/daemons/liquidation/client/grpc_helper.go
  protocol/daemons/liquidation/client/sub_task_runner.go
  protocol/lib/metrics/constants.go
Labels: protocol

#2124 skip liquidation task loop if last committed block height is the same
  protocol/daemons/liquidation/client/grpc_helper_test.go
  protocol/daemons/liquidation/client/sub_task_runner.go
Labels: protocol

#2126 disable username generation roundtable task
  indexer/services/roundtable/src/config.ts
Labels: indexer

#2132 Stop creating client.toml in container tests
  protocol/testing/containertest/node.go
Labels: protocol

#2133 Remove unnecessary logs and add Ender metrics
  indexer/packages/kafka/src/batch-kafka-producer.ts
  indexer/services/ender/src/lib/batched-handlers.ts
  indexer/services/ender/src/lib/candles-generator.ts
  indexer/services/ender/src/lib/on-message.ts
  indexer/services/ender/src/lib/sync-handlers.ts
Labels: indexer

#2120 [TRA-566] Add listing vault deposit params proto and msg
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/params.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/tx.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/listing/params.proto
  proto/dydxprotocol/listing/query.proto
  proto/dydxprotocol/listing/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/lib/ante/internal_msg.go
  protocol/x/listing/client/cli/query.go
  protocol/x/listing/client/cli/query_params.go
  protocol/x/listing/keeper/grpc_query_listing_vault_deposit_params.go
  protocol/x/listing/keeper/grpc_query_listing_vault_deposit_params_test.go
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/keeper/msg_set_listing_vault_deposit_params.go
  protocol/x/listing/keeper/msg_set_listing_vault_deposit_params_test.go
  protocol/x/listing/types/errors.go
  protocol/x/listing/types/keys.go
  protocol/x/listing/types/params.go
  protocol/x/listing/types/params.pb.go
  protocol/x/listing/types/query.pb.go
  protocol/x/listing/types/query.pb.gw.go
  protocol/x/listing/types/tx.pb.go
Labels: indexer, protocol, proto, pml

#2138 Full node streaming remove minimum for snapshot interval flag
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
Labels: protocol

#2121 [TRA-568] Initial vault PnL endpoints.
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/__tests__/lib/helpers.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/index-v4.ts
  indexer/services/comlink/src/controllers/api/v4/historical-pnl-controller.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
  indexer/services/comlink/src/lib/helpers.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#2137 Add instance id to socks metrics
  indexer/Dockerfile.bazooka.remote
  indexer/packages/base/__tests__/instance-id.test.ts
  indexer/packages/base/package.json
  indexer/packages/base/src/config.ts
  indexer/packages/base/src/index.ts
  indexer/packages/base/src/instance-id.ts
  indexer/packages/base/tsconfig.json
  indexer/pnpm-lock.yaml
  indexer/services/socks/src/helpers/wss.ts
  indexer/services/socks/src/index.ts
  indexer/services/socks/src/lib/message-forwarder.ts
  indexer/services/socks/src/lib/subscription.ts
  indexer/services/socks/src/websocket/index.ts
Labels: indexer

#2112 [OTE-689] add protos for affiliates
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/affiliates.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/rpc.tx.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/src/helpers/translation-helper.ts
  indexer/services/ender/src/lib/translated-types.ts
  indexer/services/ender/src/lib/types.ts
  proto/dydxprotocol/affiliates/affiliates.proto
  proto/dydxprotocol/affiliates/query.proto
  proto/dydxprotocol/affiliates/tx.proto
  proto/dydxprotocol/indexer/events/events.proto
  protocol/app/basic_manager/basic_manager.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/indexer/events/events.pb.go
  protocol/lib/ante/internal_msg.go
  protocol/x/affiliates/keeper/grpc_query.go
  protocol/x/affiliates/keeper/msg_server.go
  protocol/x/affiliates/types/affiliates.pb.go
  protocol/x/affiliates/types/query.pb.go
  protocol/x/affiliates/types/tx.pb.go
Labels: indexer, protocol, proto

#2140 Fix auxo build and add auxo build check
  .github/workflows/indexer-build-docker-image-check.yml
  indexer/Dockerfile.auxo.remote
Labels: indexer

#2005 [OTE-561] Blocklist cosmwasm messages not needed for MVP
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/app/msgs/unsupported_msgs.go
  protocol/app/msgs/unsupported_msgs_test.go
  protocol/lib/ante/internal_msg.go
  protocol/lib/ante/unsupported_msgs.go
Labels: protocol

#2083 [CT-1106] set autoCommitThreshold default to 100
  indexer/packages/kafka/src/config.ts
  indexer/packages/kafka/src/consumer.ts
  indexer/services/vulcan/src/lib/on-batch.ts
Labels: indexer

#2131 Update compliance roundtable batch size and add stale compliance metrics
  indexer/services/roundtable/__tests__/tasks/update-compliance-data.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/tasks/update-compliance-data.ts
Labels: indexer

#2142 [CT-968] Fix snapshot validation by including subaccounts from proposed operation queue
  protocol/x/clob/keeper/process_operations.go
Labels: protocol

#2115 fix merge conflicts
  .github/workflows/protocol-build-and-push.yml
  protocol/daemons/liquidation/client/sub_task_runner.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/subaccounts/keeper/isolated_subaccount.go
  protocol/x/subaccounts/keeper/isolated_subaccount_test.go
  protocol/x/subaccounts/keeper/negative_tnc_subaccount.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_helper.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/lib/oimf.go
  protocol/x/subaccounts/lib/oimf_test.go
  protocol/x/subaccounts/lib/updates.go
  protocol/x/subaccounts/lib/updates_test.go
  protocol/x/subaccounts/types/settled_update.go
Labels: protocol

#2148 [TRA-569] Factor out subaccount response computation into state-less function.
  indexer/services/comlink/__tests__/lib/helpers.test.ts
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/lib/helpers.ts
Labels: indexer

#2150 [OTE-727] Add stub endpoint for affiliates/referral_code
  indexer/services/comlink/__tests__/controllers/api/v4/affiliates-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/index-v4.ts
  indexer/services/comlink/src/controllers/api/v4/affiliates-controller.ts
  indexer/services/comlink/src/types.ts
Labels: indexer, feature:indexer/affiliates

#2158 remove deposit amount from pml message
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/tx.ts
  proto/dydxprotocol/listing/tx.proto
  protocol/x/listing/keeper/msg_create_market_permissionless_test.go
  protocol/x/listing/types/tx.pb.go
Labels: indexer, protocol, proto

#2093 Add new liquidity tiers to genesis
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/x/perpetuals/types/genesis.go
Labels: protocol

#2157 Change PML liquidity tier to isolated
  protocol/testutil/constants/genesis.go
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/keeper/listing_test.go
  protocol/x/listing/types/constants.go
Labels: protocol, pml

#2155 [OTE-727] Add additional affiliates api stubs
  indexer/services/comlink/__tests__/controllers/api/v4/affiliates-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/affiliates-controller.ts
  indexer/services/comlink/src/types.ts
Labels: indexer, feature:indexer/affiliates

#2159 [TRA-569] Add positions endpoint for vaults
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
  indexer/services/comlink/src/lib/helpers.ts
Labels: indexer

#2165 Use Cosmos SDK gas-free feature branch
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#2160 implement megavault shares locking
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/share.ts
  proto/dydxprotocol/vault/genesis.proto
  proto/dydxprotocol/vault/share.proto
  protocol/app/testdata/default_genesis_state.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/vault/genesis.go
  protocol/x/vault/keeper/shares.go
  protocol/x/vault/keeper/shares_test.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/genesis.pb.go
  protocol/x/vault/types/keys.go
  protocol/x/vault/types/keys_test.go
  protocol/x/vault/types/owner_share_unlocks.go
  protocol/x/vault/types/owner_share_unlocks_test.go
  protocol/x/vault/types/share.pb.go
Labels: indexer, protocol, proto

#2167 register deprecated vault MsgUpdateParams
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  proto/dydxprotocol/vault/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/unsupported_msgs.go
  protocol/app/msgs/unsupported_msgs_test.go
  protocol/lib/ante/nested_msg_test.go
  protocol/lib/ante/unsupported_msgs.go
  protocol/x/vault/types/codec.go
  protocol/x/vault/types/tx.pb.go
Labels: indexer, protocol, proto

#2163 [OT-767] add two new rules to indexer eslint
  indexer/packages/base/src/axios/errors.ts
  indexer/packages/base/src/config-util.ts
  indexer/packages/base/src/logger.ts
  indexer/packages/base/src/types.ts
  indexer/packages/dev/.eslintrc.js
  indexer/packages/postgres/__tests__/stores/pnl-ticks-table.test.ts
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/packages/postgres/src/stores/transfer-table.ts
  indexer/packages/postgres/src/types/block-types.ts
  indexer/packages/postgres/src/types/candle-types.ts
  indexer/packages/postgres/src/types/compliance-data-types.ts
  indexer/packages/postgres/src/types/compliance-status-types.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/fill-types.ts
  indexer/packages/postgres/src/types/leaderboard-pnl-types.ts
  indexer/packages/postgres/src/types/market-types.ts
  indexer/packages/postgres/src/types/order-types.ts
  indexer/packages/postgres/src/types/pagination-types.ts
  indexer/packages/postgres/src/types/perpetual-market-types.ts
  indexer/packages/postgres/src/types/perpetual-position-types.ts
  indexer/packages/postgres/src/types/pnl-ticks-types.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/packages/postgres/src/types/subaccount-usernames-types.ts
  indexer/packages/postgres/src/types/tendermint-event-types.ts
  indexer/packages/postgres/src/types/trading-reward-aggregation-types.ts
  indexer/packages/postgres/src/types/trading-reward-types.ts
  indexer/packages/postgres/src/types/utility-types.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/packages/redis/src/helpers/redis.ts
  indexer/packages/redis/src/types.ts
  indexer/services/auxo/src/types.ts
  indexer/services/bazooka/src/index.ts
  indexer/services/comlink/__tests__/lib/helpers.test.ts
  indexer/services/comlink/src/caches/rate-limiters.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
  indexer/services/comlink/src/helpers/compliance/compliance-clients.ts
  indexer/services/comlink/src/lib/helpers.ts
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/handlers/liquidity-tier-handler.test.ts
  indexer/services/ender/__tests__/helpers/kafka-helper.test.ts
  indexer/services/ender/src/handlers/order-fills/abstract-order-fill-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/lib/block-processor.ts
  indexer/services/ender/src/lib/candles-generator.ts
  indexer/services/ender/src/lib/kafka-publisher.ts
  indexer/services/ender/src/lib/translated-types.ts
  indexer/services/ender/src/lib/types.ts
  indexer/services/roundtable/__tests__/tasks/update-compliance-data.test.ts
  indexer/services/roundtable/src/helpers/compliance-clients.ts
  indexer/services/roundtable/src/helpers/loops-helper.ts
  indexer/services/roundtable/src/helpers/types.ts
  indexer/services/roundtable/src/tasks/aggregate-trading-rewards.ts
  indexer/services/roundtable/src/tasks/pnl-instrumentation.ts
  indexer/services/roundtable/src/tasks/track-lag.ts
  indexer/services/scripts/src/helpers/pnl-validation-helpers.ts
  indexer/services/scripts/src/helpers/types.ts
  indexer/services/socks/src/lib/message-forwarder.ts
  indexer/services/socks/src/lib/rate-limit.ts
  indexer/services/socks/src/types.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
Labels: indexer

#2117 Keplr geoblock new endpoint
  indexer/pnpm-lock.yaml
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/package.json
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
  indexer/services/comlink/tsconfig.json
Labels: indexer

#2166 [OTE-752] Add totalVolume and isWhitelistAffiliate to wallets table
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/transfer-table.test.ts
  indexer/packages/postgres/__tests__/stores/wallet-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240827162119_add_wallets_total_volume_and_affiliates_whitelist.ts
  indexer/packages/postgres/src/models/wallet-model.ts
  indexer/packages/postgres/src/stores/wallet-table.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/packages/postgres/src/types/wallet-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/transfers-controller.test.ts
  indexer/services/ender/__tests__/handlers/trading-rewards-handler.test.ts
  indexer/services/ender/__tests__/handlers/transfer-handler.test.ts
  indexer/services/ender/src/scripts/handlers/dydx_transfer_handler.sql
Labels: indexer, feature:indexer/affiliates

#2169 add share unlocking mechanism to megavault
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  proto/dydxprotocol/vault/tx.proto
  protocol/app/app.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/lib/ante/internal_msg.go
  protocol/testutil/delaymsg/delaymsg_helpers.go
  protocol/testutil/keeper/vault.go
  protocol/x/vault/keeper/keeper.go
  protocol/x/vault/keeper/msg_server_unlock_shares.go
  protocol/x/vault/keeper/msg_server_unlock_shares_test.go
  protocol/x/vault/keeper/shares.go
  protocol/x/vault/keeper/shares_test.go
  protocol/x/vault/types/expected_keepers.go
  protocol/x/vault/types/tx.pb.go
Labels: indexer, protocol, proto

#2174 [OTE-729] Affiliates update fills table
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240829161445_add_fills_affiliateearnedrevshare.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240829161450_add_fills_subaccountid_index.ts
  indexer/packages/postgres/src/models/fill-model.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/fill-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/fills-controller.test.ts
  indexer/services/comlink/__tests__/helpers/helpers.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/lib/kafka-publisher.test.ts
Labels: indexer

#2175 [OTE-753] add new persistent cache table
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/persistent-cache-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240829171730_create_persistent_cache_table.ts
  indexer/packages/postgres/src/helpers/db-helpers.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/models/persistent-cache-model.ts
  indexer/packages/postgres/src/stores/persistent-cache-table.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/persistent-cache-types.ts
  indexer/packages/postgres/src/types/query-types.ts
Labels: indexer, feature:indexer/affiliates

#2176 bug: Fix market update antehandler
  protocol/app/ante/market_update.go
  protocol/app/ante/market_update_test.go
Labels: protocol

#2177 [OTE-751] create affiliate referred users table
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/affiliate-referred-users-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240830154741_create_affiliate_referred_users_table.ts
  indexer/packages/postgres/src/helpers/db-helpers.ts
  indexer/packages/postgres/src/models/affiliate-referred-users-model.ts
  indexer/packages/postgres/src/stores/affiliate-referred-users-table.ts
  indexer/packages/postgres/src/stores/persistent-cache-table.ts
  indexer/packages/postgres/src/types/affiliate-referred-users-types.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/query-types.ts
Labels: feature:indexer/affiliates
