Repository dydxprotocol/v4-chain, pull requests merged in 2024-04, with the labels that each got.

#1292 Revert "[CT-708] Indexer track e2e latency (#1237)"
  indexer/packages/v4-protos/src/index.ts
  indexer/packages/v4-protos/src/utils.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/src/lib/helper.ts
  indexer/services/socks/src/lib/message-forwarder.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/__tests__/helpers/constants.ts
  indexer/services/vulcan/__tests__/helpers/helpers.ts
  indexer/services/vulcan/__tests__/helpers/websocket-helpers.ts
  indexer/services/vulcan/__tests__/lib/on-message.test.ts
  indexer/services/vulcan/src/handlers/handler.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
  indexer/services/vulcan/src/handlers/order-update-handler.ts
  indexer/services/vulcan/src/lib/on-message.ts
Labels: indexer

#1269 [Backport v3.x] backport full node streaming - stateful order updates
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/app/app.go
  protocol/lib/context.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClob.go
  protocol/mocks/MemClobKeeper.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_grpc_streaming.go
  protocol/x/clob/memclob/memclob_grpc_streaming_test.go
  protocol/x/clob/memclob/memclob_purge_invalid_memclob_state_test.go
  protocol/x/clob/memclob/memclob_remove_order_test.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/memclob.go
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#1299 Fix swagger generation makefile command / regen swagger docs
  protocol/Makefile
  protocol/client/docs/statik/statik.go
  protocol/client/docs/swagger-ui/swagger.yaml
Labels: protocol

#1293 remove vault constants
  protocol/x/vault/keeper/orders.go
Labels: protocol, chore, backport/protocol/v5.x

#1300 remove vault constants (#1293)
  protocol/x/vault/keeper/orders.go
Labels: protocol

#1301 Remove custom ping message from socks
  indexer/services/socks/__tests__/lib/invalid-message.test.ts
  indexer/services/socks/__tests__/websocket/index.test.ts
  indexer/services/socks/src/lib/invalid-message.ts
  indexer/services/socks/src/lib/ping.ts
  indexer/services/socks/src/types.ts
  indexer/services/socks/src/websocket/index.ts
Labels: indexer

#1304 Sample more stats in socks
  indexer/services/socks/src/websocket/index.ts
Labels: indexer

#1302 [OTE-256] Add upgrade handler to initialize OI during upgrade handler
  protocol/app/upgrades/v5.0.0/upgrade.go
  protocol/app/upgrades/v5.0.0/upgrade_container_test.go
  protocol/testing/containertest/preupgrade_genesis.json
Labels: protocol

#1303 Cherry-pick changes
  indexer/services/socks/__tests__/lib/invalid-message.test.ts
  indexer/services/socks/__tests__/websocket/index.test.ts
  indexer/services/socks/src/lib/invalid-message.ts
  indexer/services/socks/src/lib/ping.ts
  indexer/services/socks/src/types.ts
  indexer/services/socks/src/websocket/index.ts
Labels: indexer

#1290 Explicitly close websockets on errors
  indexer/services/socks/src/helpers/wss.ts
Labels: indexer

#1317 Increase the number of allowed connections to 8000
  protocol/cmd/dydxprotocold/cmd/config.go
Labels: protocol

#1313 [TRA-104] Add parentSubaccountNumber API for orders
  indexer/packages/redis/__tests__/helpers/constants.ts
  indexer/services/comlink/__tests__/controllers/api/v4/orders-controller.test.ts
  indexer/services/comlink/__tests__/lib/request-helpers/request-transformer.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1289 Improve Slinky logs to prevent unnecessary logs
  protocol/daemons/slinky/client/price_fetcher.go
Labels: protocol

#1321 [SKI-26]: Prevent funding index update with no oracle prices from halting indexer
  indexer/services/ender/__tests__/handlers/funding-handler.test.ts
  indexer/services/ender/src/scripts/handlers/dydx_funding_handler.sql
Labels: indexer

#1318 Skip equity tier limit check in PlaceShortTermOrder
  protocol/x/clob/e2e/equity_tier_limit_test.go
  protocol/x/clob/keeper/equity_tier_limit.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/orders_test.go
Labels: protocol

#1323 fix lint
  protocol/x/clob/keeper/equity_tier_limit.go
Labels: protocol

#1324 [TRA-207] register vault http queries
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.lcd.ts
  proto/dydxprotocol/vault/query.proto
  protocol/x/vault/module.go
  protocol/x/vault/types/query.pb.go
  protocol/x/vault/types/query.pb.gw.go
Labels: indexer, protocol, proto

#1325 [TRA-198] vaults do not quote if order size is 0
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
Labels: protocol

#1319 [SKI-27]: Open prometheus port for Oracle to be exposed
  protocol/testing/testnet-dev/dev.sh
  protocol/testing/testnet-local/local.sh
  protocol/testing/testnet-staging/staging.sh
Labels: protocol

#1327 Remove unnecessary message serialization in clob AnteHandle
  protocol/app/ante.go
  protocol/x/clob/ante/clob.go
Labels: protocol

#1320 Add uint256 package and int256 wrapper
  protocol/go.mod
  protocol/go.sum
  protocol/lib/int256/int256.go
  protocol/lib/int256/int256_test.go
Labels: protocol

#1332 [TRA-209] Skip various order placement logic for vault orders
  protocol/mocks/ClobKeeper.go
  protocol/x/clob/ante/clob.go
  protocol/x/clob/ante/clob_test.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/types/expected_keepers.go
Labels: protocol

#1333 [TRA-213] return error if shares to mint is rounded down to zero
  protocol/x/vault/keeper/shares.go
  protocol/x/vault/keeper/shares_test.go
  protocol/x/vault/types/errors.go
Labels: protocol

#1314 Indexer e2e latency round 2
  indexer/packages/v4-protos/src/index.ts
  indexer/packages/v4-protos/src/utils.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/src/lib/helper.ts
  indexer/services/socks/src/lib/message-forwarder.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/__tests__/helpers/constants.ts
  indexer/services/vulcan/__tests__/helpers/helpers.ts
  indexer/services/vulcan/__tests__/helpers/websocket-helpers.ts
  indexer/services/vulcan/__tests__/lib/on-message.test.ts
  indexer/services/vulcan/src/handlers/handler.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
  indexer/services/vulcan/src/handlers/order-update-handler.ts
  indexer/services/vulcan/src/lib/on-message.ts
Labels: indexer

#1331 [TRA-195] Add new error code to be returned when orders fail isolated subaccount checks.
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/shared/removal_reason.ts
  proto/dydxprotocol/indexer/shared/removal_reason.proto
  protocol/indexer/shared/order_removal_reason.go
  protocol/indexer/shared/order_removal_reason_test.go
  protocol/indexer/shared/types/removal_reason.pb.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClobKeeper.go
  protocol/mocks/mocks/CacheMultiStore.go
  protocol/mocks/mocks/MultiStore.go
  protocol/testutil/constants/orders.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/e2e/isolated_subaccount_orders_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_get_order_filled_amount_test.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/memclob/memclob_purge_invalid_memclob_state_test.go
  protocol/x/clob/memclob/memclob_remove_order_test.go
  protocol/x/clob/simulation/place_order.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/orderbook.go
  protocol/x/clob/types/orderbook_test.go
  protocol/x/subaccounts/types/update.go
Labels: indexer, protocol, proto, isolated-markets

#1343 [TRA-219] emit transfer indexer event on vault deposit
  protocol/app/app.go
  protocol/testutil/keeper/vault.go
  protocol/x/vault/keeper/keeper.go
  protocol/x/vault/keeper/msg_server_deposit_to_vault.go
  protocol/x/vault/types/expected_keepers.go
Labels: protocol

#1345 Bump slinky sidecar, re-enabled volatile market
  protocol/docker-compose.yml
  protocol/testing/testnet-dev/dev.sh
  protocol/testing/testnet-local/local.sh
  protocol/testing/testnet-staging/staging.sh
Labels: protocol

#1348 Add iavl initial version fix
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1351 [OTE-266]Update OI caps to new values
  protocol/app/upgrades/v5.0.0/upgrade.go
  protocol/app/upgrades/v5.0.0/upgrade_container_test.go
Labels: protocol

#1353 IAVL fix for pruned v1 nodes
  protocol/.github/workflows/release.yml
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1355 update caps in genesis file
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
Labels: protocol

#1356 Fix message_time_since_received_post_processing stat
  indexer/services/vulcan/src/lib/on-message.ts
Labels: indexer

#1360 Add updatedAt to compliance v2 API responses
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1363 Fix metrics initialization in cometbft fork
  protocol/go.mod
  protocol/go.sum
Labels: protocol, backport/protocol/v4.x

#1359 [TRA-93] initialize vault module params in v5.0.0 upgrade handler
  protocol/app/upgrades.go
  protocol/app/upgrades/v5.0.0/upgrade.go
  protocol/app/upgrades/v5.0.0/upgrade_container_test.go
  protocol/x/vault/types/types.go
Labels: protocol

#1365 generate unique market names in simulation
  protocol/x/prices/simulation/genesis.go
Labels: protocol

#1305 update DB and APIs to add OI caps info
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240329154240_liquidity_tier_update.ts
  indexer/packages/postgres/src/models/liquidity-tiers-model.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/liquidity-tiers-types.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/services/comlink/__tests__/lib/request-helpers/request-transformer.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/handlers/liquidity-tier-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/validators/liquidity-tier-validator.test.ts
  indexer/services/ender/src/handlers/liquidity-tier-handler.ts
  indexer/services/ender/src/helpers/kafka-helper.ts
  indexer/services/ender/src/lib/block-processor.ts
  indexer/services/ender/src/lib/helper.ts
  indexer/services/ender/src/lib/types.ts
  indexer/services/ender/src/scripts/handlers/dydx_liquidity_tier_handler.sql
  indexer/services/ender/src/validators/liquidity-tier-validator.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/indexer/events/constants.go
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/liquidity_tier.go
  protocol/indexer/events/liquidity_tier_test.go
Labels: indexer, protocol, proto

#1361 [CT-681] add sql script to backfill deleveraging side
  indexer/services/ender/src/scripts/backfill/backfill_deleveraging_side_202404.sql
Labels: indexer

#1374 Add upgrade handler for v4.1.0
  protocol/app/upgrades.go
  protocol/app/upgrades/v4.1.0/constants.go
  protocol/app/upgrades/v4.1.0/upgrade.go
  protocol/testing/containertest/testnet.go
Labels: protocol

#1375 [CT-681] fix liquidated side and offsetting side for indexer delevera…
  indexer/services/ender/__tests__/handlers/order-fills/deleveraging-handler.test.ts
  indexer/services/ender/src/scripts/handlers/dydx_deleveraging_handler.sql
Labels: indexer

#1377 [CT-619] deprecate pessimistic add-to-book collateralization check (#…
  protocol/testing/e2e/gov/add_new_market_test.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/orders_test.go
Labels: protocol

#1372 [CT-755] implement logic for FIRST_STRIKE_CLOSE_ONLY mode
  indexer/packages/postgres/__tests__/stores/compliance-status-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240410111632_add_compliance_status_status_first_strike_close_only.ts
  indexer/packages/postgres/src/types/compliance-status-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
Labels: indexer

#1378 Regen mocks
  protocol/mocks/AnteDecorator.go
  protocol/mocks/AppOptions.go
  protocol/mocks/BankKeeper.go
  protocol/mocks/BridgeKeeper.go
  protocol/mocks/BridgeQueryClient.go
  protocol/mocks/BridgeServiceClient.go
  protocol/mocks/CacheMultiStore.go
  protocol/mocks/Configurator.go
  protocol/mocks/DelayMsgKeeper.go
  protocol/mocks/EthClient.go
  protocol/mocks/ExchangeConfigUpdater.go
  protocol/mocks/ExchangeQueryHandler.go
  protocol/mocks/ExchangeToMarketPrices.go
  protocol/mocks/ExtendVoteHandler.go
  protocol/mocks/FileHandler.go
  protocol/mocks/GrpcClient.go
  protocol/mocks/GrpcServer.go
  protocol/mocks/HealthCheckable.go
  protocol/mocks/IndexerEventManager.go
  protocol/mocks/IndexerMessageSender.go
  protocol/mocks/Logger.go
  protocol/mocks/MarketPairFetcher.go
  protocol/mocks/MemClob.go
  protocol/mocks/MsgRouter.go
  protocol/mocks/MultiStore.go
  protocol/mocks/OracleClient.go
  protocol/mocks/PerpetualsClobKeeper.go
  protocol/mocks/PerpetualsKeeper.go
  protocol/mocks/PrepareBridgeKeeper.go
  protocol/mocks/PrepareClobKeeper.go
  protocol/mocks/PreparePerpetualsKeeper.go
  protocol/mocks/PriceFeedMutableMarketConfigs.go
  protocol/mocks/PriceFetcher.go
  protocol/mocks/PriceUpdateGenerator.go
  protocol/mocks/ProcessBridgeKeeper.go
  protocol/mocks/ProcessClobKeeper.go
  protocol/mocks/ProcessPerpetualKeeper.go
  protocol/mocks/ProcessStakingKeeper.go
  protocol/mocks/QueryClient.go
  protocol/mocks/QueryServer.go
  protocol/mocks/RequestHandler.go
  protocol/mocks/SendingKeeper.go
  protocol/mocks/Server.go
  protocol/mocks/SubaccountsKeeper.go
  protocol/mocks/TimeProvider.go
  protocol/mocks/TxBuilder.go
  protocol/mocks/TxConfig.go
  protocol/mocks/UpdateMarketPriceTxDecoder.go
  protocol/mocks/VaultKeeper.go
Labels: protocol

#1362 [TRA-221] add OwnerShares and AllVaults query and cli
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  proto/dydxprotocol/vault/query.proto
  protocol/x/vault/client/cli/query.go
  protocol/x/vault/keeper/grpc_query_shares.go
  protocol/x/vault/keeper/grpc_query_shares_test.go
  protocol/x/vault/keeper/grpc_query_vault.go
  protocol/x/vault/keeper/grpc_query_vault_test.go
  protocol/x/vault/types/query.pb.go
  protocol/x/vault/types/query.pb.gw.go
Labels: indexer, protocol, proto

#1344 [TRA-220] add activation threshold on vaults
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/params.ts
  proto/dydxprotocol/vault/params.proto
  protocol/app/testdata/default_genesis_state.json
  protocol/client/docs/statik/statik.go
  protocol/client/docs/swagger-ui/swagger.yaml
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/vault/keeper/msg_server_update_params_test.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/params_test.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/params.go
  protocol/x/vault/types/params.pb.go
  protocol/x/vault/types/params_test.go
Labels: indexer, protocol, proto

#1383 update container test for v4.1.0
  protocol/testing/containertest/containertest.sh
Labels: protocol

#1342 Defensively dedupe and not panic
  protocol/lib/collections.go
  protocol/lib/collections_test.go
  protocol/lib/log/constants.go
  protocol/x/clob/keeper/untriggered_conditional_orders.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_purge_invalid_memclob_state_test.go
Labels: protocol

#1357 Upgrade IAVL to fix issues saving to disk
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1369 Skip add to book collat check upon placement for conditional orders
  protocol/testutil/constants/subaccounts.go
  protocol/x/clob/e2e/conditional_orders_test.go
  protocol/x/clob/keeper/orders.go
Labels: protocol

#1390 bounded quotes by oracle price
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
Labels: protocol

#1186 Emit metric to track withdrawal amounts
  protocol/lib/metrics/lib.go
  protocol/lib/metrics/metric_keys.go
  protocol/x/ratelimit/keeper/packet.go
Labels: protocol, backport/protocol/v4.x, backport/protocol/v5.x

#1352 [OTE-229] Add open interest update event and handlers
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240422012837_base_open_interest_for_perp.ts
  indexer/packages/postgres/src/models/perpetual-market-model.ts
  indexer/packages/postgres/src/stores/oracle-price-table.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/perpetual-market-types.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/services/comlink/__tests__/lib/request-helpers/request-transformer.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/handlers/open-interest-update-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/src/handlers/open-interest-update-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/lib/block-processor.ts
  indexer/services/ender/src/lib/helper.ts
  indexer/services/ender/src/lib/types.ts
  indexer/services/ender/src/scripts/handlers/dydx_block_processor_ordered_handlers.sql
  indexer/services/ender/src/scripts/handlers/dydx_open_interest_update_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_perpetual_market_handler.sql
  indexer/services/ender/src/validators/open-interest-update-validator.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/app/app.go
  protocol/indexer/events/constants.go
  protocol/indexer/events/events.pb.go
  protocol/mocks/PerpetualsKeeper.go
  protocol/testutil/keeper/perpetuals.go
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/perpetuals/abci.go
  protocol/x/perpetuals/abci_test.go
  protocol/x/perpetuals/keeper/keeper.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/keys.go
  protocol/x/perpetuals/types/types.go
Labels: indexer, protocol, proto, backport/protocol/v5.x

#1396 [TRA-230] emit metric on number of active vaults
  protocol/lib/metrics/constants.go
  protocol/x/vault/keeper/orders.go
Labels: protocol

#1395 [TRA-227] Add V2 for perpetual market create event + handlers.
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/services/ender/__tests__/handlers/perpetual-market-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/__tests__/lib/on-message.test.ts
  indexer/services/ender/__tests__/validators/perpetual-market-validator.test.ts
  indexer/services/ender/src/handlers/perpetual-market-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/lib/block-processor.ts
  indexer/services/ender/src/lib/helper.ts
  indexer/services/ender/src/lib/types.ts
  indexer/services/ender/src/scripts/handlers/dydx_block_processor_ordered_handlers.sql
  indexer/services/ender/src/scripts/handlers/dydx_perpetual_market_v1_handler.sql
  indexer/services/ender/src/scripts/handlers/dydx_perpetual_market_v2_handler.sql
  indexer/services/ender/src/validators/perpetual-market-validator.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/indexer/events/constants.go
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/perpetual_market_create.go
  protocol/indexer/events/perpetual_market_create_test.go
Labels: indexer, protocol, proto, isolated-markets, backport/protocol/v5.x

#1400 decouple grpc and non validating full node flags
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
Labels: protocol

#1403 [TRA-233] Fix IsIsolatedPerpetual function orientation
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/subaccounts/keeper/negative_tnc_subaccount.go
Labels: protocol, backport/protocol/v5.x

#1244 Add support for pagination at table level.
  indexer/packages/postgres/__tests__/stores/fill-table.test.ts
  indexer/packages/postgres/__tests__/stores/order-table.test.ts
  indexer/packages/postgres/__tests__/stores/transfer-table.test.ts
  indexer/packages/postgres/src/stores/fill-table.ts
  indexer/packages/postgres/src/stores/order-table.ts
  indexer/packages/postgres/src/stores/transfer-table.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/pagination-types.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/services/comlink/src/controllers/api/v4/fills-controller.ts
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
  indexer/services/comlink/src/controllers/api/v4/trades-controller.ts
  indexer/services/comlink/src/controllers/api/v4/transfers-controller.ts
  indexer/services/ender/__tests__/handlers/transfer-handler.test.ts
  indexer/services/roundtable/__tests__/tasks/cancel-stale-orders.test.ts
  indexer/services/roundtable/src/tasks/cancel-stale-orders.ts
Labels: indexer

#1393 [Internal Audit] Standardize usage around `SetPerpetual`
  protocol/testing/e2e/gov/perpetuals_test.go
  protocol/x/perpetuals/genesis.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/message_create_perpetual_test.go
  protocol/x/perpetuals/types/message_update_perpetual_params_test.go
  protocol/x/perpetuals/types/perpetual.go
  protocol/x/perpetuals/types/perpetual_test.go
  protocol/x/subaccounts/keeper/subaccount_test.go
Labels: protocol

#1411 Fix Compliance types and validation
  indexer/pnpm-lock.yaml
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/package.json
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
Labels: indexer

#1415 [OTE-255] Improve error log around RemoveDisallowMsg decoder
  protocol/app/prepare/other_msgs.go
Labels: protocol

#1416 Update comment and error in response to internal audit
  protocol/app/process/slinky_market_price_decoder.go
  protocol/x/prices/keeper/market.go
Labels: protocol

#1418 [CT-776] Fix consensus failure from unhandled error.
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/order_removals.ts
  proto/dydxprotocol/clob/order_removals.proto
  protocol/indexer/shared/order_removal_reason.go
  protocol/testutil/constants/stateful_orders.go
  protocol/x/clob/e2e/conditional_orders_test.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/order_removals.pb.go
Labels: bug, indexer, protocol, proto, isolated-markets

#1419 [OTE-255]: Fix RemoveDisallowMsgs: tx parse error
  protocol/app/prepare/other_msgs.go
  protocol/app/prepare/other_msgs_test.go
  protocol/app/prepare/prepare_proposal.go
  protocol/app/prepare/prepare_proposal_test.go
Labels: protocol

#1417 [TRA-234]: Move price cache population to Preblocker
  protocol/app/app.go
  protocol/lib/metrics/constants.go
  protocol/mocks/PricesKeeper.go
  protocol/x/prices/abci.go
  protocol/x/prices/keeper/keeper.go
  protocol/x/prices/module.go
  protocol/x/prices/types/types.go
Labels: protocol

#1425 simple error logging for create-pnl-ticks
  indexer/services/roundtable/src/tasks/create-pnl-ticks.ts
Labels: indexer

#1428 Cherrypick: simple error logging for create-pnl-ticks (#1425)
  indexer/services/roundtable/src/tasks/create-pnl-ticks.ts
Labels: indexer

#1430 skip errored pnl ticks
  indexer/services/roundtable/src/helpers/pnl-ticks-helper.ts
Labels: indexer

#1432 remove logging referenced objects
  indexer/services/roundtable/src/helpers/pnl-ticks-helper.ts
Labels: indexer

#1422 move e2e test app instantiation to Build
  protocol/testutil/app/app.go
Labels: protocol

#1437 e2e test for hydration in preblocker
  protocol/x/clob/e2e/app_test.go
Labels: protocol

#1412 Move clob hydration to preblocker
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClob.go
  protocol/x/clob/abci.go
  protocol/x/clob/ante/clob.go
  protocol/x/clob/ante/clob_test.go
  protocol/x/clob/e2e/app_test.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/module.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/memclob.go
Labels: protocol

#1438 Upgrade to newly rebased cometbft fork
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1434 Add `QueryAllLiquidityTiers` to CLI
  protocol/x/perpetuals/client/cli/query.go
  protocol/x/perpetuals/client/cli/query_all_liquidity_tiers.go
  protocol/x/perpetuals/client/cli/query_all_liquidity_tiers_test.go
  protocol/x/perpetuals/module_test.go
Labels: protocol, backport/protocol/v5.x

#1442 Refactor perpetual upgrade handlers in `v5.0.0`
  protocol/app/upgrades/v5.0.0/upgrade.go
  protocol/app/upgrades/v5.0.0/upgrade_container_test.go
  protocol/mocks/PerpetualsKeeper.go
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/x/perpetuals/types/types.go
Labels: protocol

#1447 [DEC-2225] disable simulation of MsgCancelProposal
  protocol/app/simulation_test.go
Labels: protocol
