Repository dydxprotocol/v4-chain, pull requests merged in 2024-05, with the labels that each got.

#1445 [OTE-278][OTE-279] Update protos for orderplace and orderremove to add timestamps
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/off_chain_updates/off_chain_updates.ts
  proto/dydxprotocol/indexer/off_chain_updates/off_chain_updates.proto
  protocol/indexer/off_chain_updates/types/off_chain_updates.pb.go
Labels: indexer, protocol, proto

#1452 feat: add a prometheus instance to the dydx local network
  protocol/contrib/prometheus/prometheus.yml
  protocol/docker-compose.yml
Labels: protocol

#1450 updated default vault parameters
  protocol/app/testdata/default_genesis_state.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/vault/types/params.go
Labels: protocol

#1454 move open interest handler to block handler map
  indexer/services/ender/__tests__/handlers/open-interest-update-handler.test.ts
  indexer/services/ender/src/lib/block-processor.ts
Labels: indexer, backport/indexer/v5.x

#1456 [CT-804] Fix stateful order removal event ordering.
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-triggered-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-removal-handler.test.ts
  indexer/services/ender/src/lib/block-processor.ts
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
Labels: indexer, protocol

#1455 Make funding payment event ordering deterministic
  protocol/x/subaccounts/keeper/subaccount.go
Labels: protocol

#1462 Add a cli to convert module name to address
  protocol/cmd/dydxprotocold/cmd/root.go
  protocol/cmd/dydxprotocold/cmd/root_test.go
Labels: protocol

#1468 fix: Fix v5 upgrade VE handler
  protocol/app/upgrades/v5.0.0/upgrade.go
Labels: protocol

#1472 Metrics for grpc full node streaming
  protocol/app/app.go
  protocol/lib/metrics/metric_keys.go
  protocol/streaming/grpc/grpc_streaming_manager.go
Labels: protocol

#1473 [chore] remove costly metrics
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/memclob/memclob.go
Labels: protocol

#1476 [TRA-107] Add parentSubaccountNumber endpoint for historical-pnl
  indexer/services/comlink/__tests__/controllers/api/v4/historical-pnl-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/historical-pnl-controller.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1448 Orderbook Fills emission
  protocol/lib/collections.go
  protocol/lib/metrics/metric_keys.go
  protocol/mocks/MemClob.go
  protocol/mocks/MemClobKeeper.go
  protocol/mocks/PricesKeeper.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_grpc_streaming.go
  protocol/x/clob/memclob/memclob_purge_invalid_memclob_state_test.go
  protocol/x/clob/memclob/memclob_remove_order_test.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/memclob.go
  protocol/x/clob/types/message_clob_match.go
  protocol/x/clob/types/operations_to_propose.go
Labels: protocol

#1484 Update iavl with WorkingHash fix
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1483 [TRA-241] Pricefeed Server: remove unnecessary metrics & only report invalid cases
  protocol/daemons/pricefeed/client/client_integration_test.go
  protocol/daemons/server/types/pricefeed/exchange_to_price.go
  protocol/daemons/server/types/pricefeed/exchange_to_price_test.go
  protocol/daemons/server/types/pricefeed/market_to_exchange_prices.go
  protocol/daemons/server/types/pricefeed/market_to_exchange_prices_test.go
  protocol/lib/metrics/constants.go
  protocol/x/prices/keeper/market_price.go
  protocol/x/prices/keeper/update_price.go
  protocol/x/prices/keeper/validate_market_price_updates.go
Labels: protocol

#1491 Stop passing in app PreBlocker to slinky VE handler
  protocol/app/app.go
Labels: protocol, backport/protocol/v5.x

#1482 Update indexer README
  indexer/README.md
Labels: indexer

#1493 Fix typo for fetching orders for parent subaccount.
  indexer/services/socks/__tests__/lib/subscriptions.test.ts
  indexer/services/socks/src/lib/subscription.ts
Labels: indexer

#1497 Merged initial commits from 2024-hackathon-cosmwasm
  protocol/Dockerfile
  protocol/app/app.go
  protocol/app/basic_manager/basic_manager.go
  protocol/app/module_accounts.go
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1499 Cherry pick escrow contract example and Rust library for dYdX Query
  protocol/app/app.go
  protocol/contracts/dydx-messages-example/.cargo/config
  protocol/contracts/dydx-messages-example/.circleci/config.yml
  protocol/contracts/dydx-messages-example/.editorconfig
  protocol/contracts/dydx-messages-example/.github/workflows/Basic.yml
  protocol/contracts/dydx-messages-example/.github/workflows/Release.yml
  protocol/contracts/dydx-messages-example/.gitignore
  protocol/contracts/dydx-messages-example/.gitpod.Dockerfile
  protocol/contracts/dydx-messages-example/.gitpod.yml
  protocol/contracts/dydx-messages-example/Cargo.lock
  protocol/contracts/dydx-messages-example/Cargo.toml
  protocol/contracts/dydx-messages-example/Developing.md
  protocol/contracts/dydx-messages-example/LICENSE
  protocol/contracts/dydx-messages-example/NOTICE
  protocol/contracts/dydx-messages-example/README.md
  protocol/contracts/dydx-messages-example/src/contract.rs
  protocol/contracts/dydx-messages-example/src/dydx_msg.rs
  protocol/contracts/dydx-messages-example/src/error.rs
  protocol/contracts/dydx-messages-example/src/lib.rs
  protocol/contracts/dydx-messages-example/src/msg.rs
  protocol/contracts/dydx-messages-example/src/state.rs
  protocol/dydx-cosmwasm/Cargo.lock
  protocol/dydx-cosmwasm/README.md
  protocol/dydx-cosmwasm/cargo.toml
  protocol/dydx-cosmwasm/src/dydx_types.rs
  protocol/dydx-cosmwasm/src/lib.rs
  protocol/dydx-cosmwasm/src/proto_structs.rs
  protocol/dydx-cosmwasm/src/querier.rs
  protocol/dydx-cosmwasm/src/query.rs
  protocol/dydx-cosmwasm/src/route.rs
  protocol/go.mod
  protocol/wasmbinding/README.md
  protocol/wasmbinding/bindings/msg.go
  protocol/wasmbinding/msg_plugin.go
  protocol/wasmbinding/queries.go
  protocol/wasmbinding/query_plugin.go
  protocol/wasmbinding/wasm.go
Labels: protocol

#1500 Add BEC to initial subaccount orders socks channel
  indexer/services/socks/__tests__/lib/subscriptions.test.ts
  indexer/services/socks/src/lib/subscription.ts
Labels: indexer

#1501 [CT-834] new endpoint for stateful orders
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/mocks/QueryClient.go
  protocol/x/clob/client/cli/query.go
  protocol/x/clob/client/cli/query_stateful_order.go
  protocol/x/clob/keeper/grpc_query_stateful_order.go
  protocol/x/clob/keeper/grpc_query_stateful_order_test.go
  protocol/x/clob/module_test.go
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#1513 Fix subaccount validation to account for updated subaccount limit.
  indexer/services/comlink/__tests__/lib/validation/schemas.test.ts
  indexer/services/comlink/src/lib/validation/schemas.ts
Labels: indexer

#1407 Add script to create full node
  protocol/scripts/create_full_node.sh
Labels: protocol

#1514 Upgrade kafkajs to 2.2.4 in Indexer
  indexer/packages/kafka/package.json
  indexer/pnpm-lock.yaml
  indexer/services/auxo/package.json
  indexer/services/bazooka/package.json
  indexer/services/ender/package.json
  indexer/services/roundtable/package.json
  indexer/services/scripts/package.json
  indexer/services/socks/package.json
  indexer/services/vulcan/package.json
Labels: indexer

#1519 Convert error from isolated subaccount constraints to order removal reason.
  protocol/indexer/shared/order_removal_reason.go
  protocol/indexer/shared/order_removal_reason_test.go
Labels: protocol

#1505 Add governance scripts
  protocol/.gitignore
  protocol/scripts/governance/vote_in_dev.sh
  protocol/scripts/governance/vote_in_staging.sh
Labels: protocol

#1507 Update pricefeed metrics map for id -> pair during RunMarketParamUpdaterTaskLoop
  protocol/daemons/pricefeed/client/sub_task_runner.go
  protocol/daemons/pricefeed/metrics/metrics_test.go
Labels: protocol

#1420 Add support for pagination at controller level.
  indexer/services/comlink/__tests__/controllers/api/v4/fills-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/trades-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/transfers-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/fills-controller.ts
  indexer/services/comlink/src/controllers/api/v4/trades-controller.ts
  indexer/services/comlink/src/controllers/api/v4/transfers-controller.ts
  indexer/services/comlink/src/lib/validation/schemas.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1527 [CT-808] Add subaccount limit per pnl run
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/helpers/pnl-ticks-helper.ts
  indexer/services/roundtable/src/tasks/create-pnl-ticks.ts
Labels: indexer

#1531 workflows: go1.21 -> go1.22
  .github/workflows/protocol-container-tests.yml
  .github/workflows/protocol-exchange-tests.yml
  .github/workflows/protocol-lint.yml
  .github/workflows/protocol-sim.yml
  .github/workflows/protocol-test.yml
Labels: chore

#1532 Remove unreachable codepath
  indexer/services/vulcan/src/handlers/order-update-handler.ts
Labels: indexer

#1529 [CT-808] Add pagination for pnl endpoint
  indexer/packages/postgres/__tests__/stores/pnl-ticks-table.test.ts
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/scripts/deploy-commit-to-env.sh
  indexer/services/comlink/__tests__/controllers/api/v4/historical-pnl-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/historical-pnl-controller.ts
  indexer/services/comlink/src/types.ts
  indexer/services/roundtable/__tests__/tasks/create-pnl-ticks.test.ts
  indexer/services/scripts/src/helpers/pnl-validation-helpers.ts
Labels: indexer

#1533 Add benchmark workflow
  .github/workflows/protocol-benchmark.yml
  protocol/Makefile
  protocol/lib/big_math_test.go
Labels: protocol, chore

#1534 [SKI-41] Separate healthcheck for Slinky Client and reduce logs
  protocol/app/app.go
  protocol/daemons/pricefeed/client/constants/logger.go
  protocol/daemons/slinky/client/client.go
  protocol/daemons/slinky/client/client_test.go
  protocol/daemons/slinky/client/constants.go
  protocol/daemons/types/health_checkable.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/prices/keeper/update_price.go
Labels: protocol

#1541 Upgrade cosmos sdk to allow tx decoding to fail in GetBlockWithTxs
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1546 Improve the performance of `BaseToQuoteQuantums` & `BigRatMulPpm`
  protocol/lib/big_math.go
  protocol/lib/big_math_test.go
  protocol/lib/quantums.go
  protocol/lib/quantums_test.go
Labels: protocol, performance, non-breaking

#1550 Update proto README.md
  proto/README.md
Labels: proto

#1545 [CT-852] Deprecate StatefulOrderPlacementV1
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/indexer/events/events.pb.go
Labels: indexer, protocol, proto

#1551 [CT-853] Generate order replacement protos
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/off_chain_updates/off_chain_updates.ts
  proto/dydxprotocol/indexer/events/events.proto
  proto/dydxprotocol/indexer/off_chain_updates/off_chain_updates.proto
  protocol/indexer/events/events.pb.go
  protocol/indexer/off_chain_updates/types/off_chain_updates.pb.go
Labels: indexer, protocol, proto

#1540 [CT-846] Send subaccount websocket message when cancel is received for non-existent order
  indexer/packages/kafka/src/constants.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/services/comlink/public/websocket-documentation.md
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/src/config.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
Labels: indexer

#1544 [TRA-109] Filter out transfers between child subaccounts of same parent.
  indexer/services/socks/__tests__/constants.ts
  indexer/services/socks/__tests__/helpers/from-kafka-helpers.test.ts
  indexer/services/socks/src/helpers/from-kafka-helpers.ts
Labels: indexer

#1552 [CT-854] Send short term order replacement message to Indexer
  protocol/indexer/off_chain_updates/off_chain_updates.go
  protocol/indexer/off_chain_updates/off_chain_updates_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_test_util.go
  protocol/x/clob/types/offchain_updates.go
Labels: protocol

#1559 remove unused order types from documentation
  indexer/packages/postgres/__tests__/lib/protocol-translations.test.ts
  indexer/packages/postgres/src/lib/protocol-translations.ts
  indexer/packages/postgres/src/types/order-types.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/public/websocket-documentation.md
Labels: documentation, indexer

#1554 Improve `QuoteToBaseQuantums`
  protocol/lib/quantums.go
  protocol/lib/quantums_test.go
Labels: protocol, performance, non-breaking

#1562 Update README.md for running single Indexer test file
  indexer/README.md
Labels: indexer

#1563 Add additional `big_math` helper functions
  protocol/lib/big_math.go
  protocol/lib/big_math_test.go
Labels: protocol

#1528 Remove logic of `FundingRateToIndex`
  protocol/lib/quantums.go
  protocol/testutil/perpetuals/perpetuals.go
  protocol/x/perpetuals/funding/funding.go
  protocol/x/perpetuals/funding/funding_test.go
  protocol/x/perpetuals/keeper/perpetual.go
Labels: protocol, performance

#1565 Remove use of `big.Rat` from x/vest
  protocol/x/vest/keeper/keeper.go
Labels: protocol, non-breaking

#1568 Reduce Slinky logs by filtering to only output error logs locally
  protocol/docker-compose.yml
Labels: protocol

#1571 Turn on declaration maps for vscode click through between packages
  indexer/tsconfig.json
Labels: indexer

#1575 Add benchmark and optimize `ContainsDuplicates`
  protocol/lib/collections.go
  protocol/lib/collections_test.go
Labels: protocol

#1578 Upgrade Slinky Sidecar Version to v0.4.6
  protocol/docker-compose.yml
Labels: protocol

#1576 validate that vault deposit does not exceed max uint64
  protocol/x/vault/keeper/msg_server_deposit_to_vault.go
  protocol/x/vault/keeper/msg_server_deposit_to_vault_test.go
  protocol/x/vault/types/msg_deposit_to_vault.go
  protocol/x/vault/types/msg_deposit_to_vault_test.go
Labels: bug, protocol

#1564 reduce use of `big.Rat` in various modules
  protocol/x/clob/types/quantums.go
  protocol/x/clob/types/quantums_test.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/rewards/keeper/keeper.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/types/errors.go
Labels: protocol

#1585 [CT-839] Add blockHeight to subaccount websocket message
  indexer/packages/kafka/src/websocket-helper.ts
  indexer/packages/postgres/__tests__/loops/block-height-refresher.test.ts
  indexer/packages/postgres/src/config.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/loops/block-height-refresher.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/services/comlink/public/websocket-documentation.md
  indexer/services/ender/__tests__/handlers/subaccount-update-handler.test.ts
  indexer/services/ender/__tests__/handlers/transfer-handler.test.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/__tests__/helpers/kafka-helper.test.ts
  indexer/services/ender/src/handlers/order-fills/abstract-order-fill-handler.ts
  indexer/services/ender/src/handlers/stateful-order/conditional-order-placement-handler.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-placement-handler.ts
  indexer/services/ender/src/handlers/subaccount-update-handler.ts
  indexer/services/ender/src/handlers/trading-rewards-handler.ts
  indexer/services/ender/src/handlers/transfer-handler.ts
  indexer/services/ender/src/helpers/kafka-helper.ts
  indexer/services/socks/__tests__/lib/message-forwarder.test.ts
  indexer/services/socks/__tests__/lib/subscriptions.test.ts
  indexer/services/socks/src/index.ts
  indexer/services/socks/src/lib/subscription.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-update-handler.test.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
  indexer/services/vulcan/src/index.ts
Labels: indexer

#1530 Add a channel buffer to decouple abci and grpc streaming
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/lib/metrics/metric_keys.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/x/clob/keeper/keeper.go
Labels: protocol

#1588 Increase separation of orderbooks in the memclob
  protocol/mocks/MemClob.go
  protocol/mocks/MemClobKeeper.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/e2e/app_test.go
  protocol/x/clob/e2e/batch_cancel_test.go
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/e2e/reduce_only_orders_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/equity_tier_limit.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_cancel_order_test.go
  protocol/x/clob/memclob/memclob_cancels.go
  protocol/x/clob/memclob/memclob_create_orderbook_test.go
  protocol/x/clob/memclob/memclob_get_order_test.go
  protocol/x/clob/memclob/memclob_get_premium_price_test.go
  protocol/x/clob/memclob/memclob_get_subaccount_orders_test.go
  protocol/x/clob/memclob/memclob_grpc_streaming.go
  protocol/x/clob/memclob/memclob_grpc_streaming_test.go
  protocol/x/clob/memclob/memclob_place_order_reduce_only_test.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/memclob/memclob_purge_invalid_memclob_state_test.go
  protocol/x/clob/memclob/memclob_test_util.go
  protocol/x/clob/memclob/orderbook.go
  protocol/x/clob/memclob/orderbook_cancels_test.go
  protocol/x/clob/simulation/cancel_orders.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/memclob.go
  protocol/x/clob/types/orderbook.go
Labels: protocol

#1596 Remove `big.Rat` usage from `x/ratelimit` module
  protocol/x/ratelimit/util/capacity.go
Labels: protocol, performance, non-breaking

#1592 Clean up open-interest liquidity tier calculations
  .github/workflows/protocol-benchmark.yml
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/liquidity_tier.go
  protocol/x/perpetuals/types/liquidity_tier_test.go
  protocol/x/subaccounts/keeper/subaccount_test.go
Labels: protocol, performance

#1590 Add hints to maps
  protocol/x/subaccounts/keeper/isolated_subaccount.go
  protocol/x/subaccounts/keeper/subaccount.go
Labels: protocol, performance, non-breaking

#1589 Remove use of `BigIntMulSignedPpm` in favor of `BigMulPpm`
  protocol/lib/big_math.go
  protocol/x/clob/keeper/mev.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/types/pending_updates.go
  protocol/x/rewards/keeper/keeper.go
Labels: protocol, performance, non-breaking

#1599 update log level to error for e2e tests
  protocol/testutil/app/app.go
Labels: protocol

#1587 Remove collateralization-check for unmatched orders
  protocol/mocks/MemClobKeeper.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/e2e/order_removal_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_cancel_order_test.go
  protocol/x/clob/memclob/memclob_get_order_filled_amount_test.go
  protocol/x/clob/memclob/memclob_place_order_long_term_test.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/memclob/memclob_purge_invalid_memclob_state_test.go
  protocol/x/clob/memclob/memclob_remove_order_test.go
  protocol/x/clob/memclob/memclob_test_util.go
  protocol/x/clob/types/mem_clob_keeper.go
Labels: protocol, performance

#1604 [CT-873] deprecate FOK in memclob
  protocol/x/clob/e2e/order_matches_test.go
  protocol/x/clob/keeper/process_operations_stateful_validation_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/simulation/place_order.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/match_with_orders.go
  protocol/x/clob/types/match_with_orders_test.go
  protocol/x/clob/types/message_place_order.go
Labels: protocol

#1603 [CT-874] Add realizedPnl/unrealizedPnl to consolidated subaccount websocket msg sent from fills/liquidations/deleveraging Ender handlers
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/src/handlers/order-fills/deleveraging-handler.ts
  indexer/services/ender/src/handlers/order-fills/liquidation-handler.ts
  indexer/services/ender/src/handlers/order-fills/order-handler.ts
Labels: indexer

#1613 [CT-885] Deprecate and remove OpenOrdersCache
  indexer/packages/redis/src/index.ts
  indexer/services/roundtable/__tests__/tasks/orderbook-instrumentation.test.ts
  indexer/services/roundtable/src/tasks/orderbook-instrumentation.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-update-handler.test.ts
  indexer/services/vulcan/__tests__/helpers/helpers.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
  indexer/services/vulcan/src/handlers/order-update-handler.ts
Labels: indexer

#1614 Revert "Add a channel buffer to decouple abci and grpc streaming (#15…
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/lib/metrics/metric_keys.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/x/clob/keeper/keeper.go
Labels: protocol
