Repository dydxprotocol/v4-chain, pull requests merged in 2024-07, with the labels that each got.

#1820 [TRA-434] Governance msg MsgSetMarketMapperRevShareDetailsForMarket
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/tx.ts
  proto/dydxprotocol/revshare/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/lib/ante/internal_msg.go
  protocol/x/revshare/keeper/msg_set_marketmapper_rev_share_details.go
  protocol/x/revshare/keeper/msg_set_marketmapper_rev_share_details_test.go
  protocol/x/revshare/types/tx.pb.go
Labels: indexer, protocol, proto

#1815 [TRA-461] define `MsgWithdrawFromVault` proto
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/vault.ts
  proto/dydxprotocol/vault/genesis.proto
  proto/dydxprotocol/vault/query.proto
  proto/dydxprotocol/vault/tx.proto
  proto/dydxprotocol/vault/vault.proto
  protocol/app/module/interface_registry.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/testutil/encoding/utils.go
  protocol/x/vault/keeper/msg_server_withdraw_from_vault.go
  protocol/x/vault/types/genesis.pb.go
  protocol/x/vault/types/query.pb.go
  protocol/x/vault/types/tx.pb.go
  protocol/x/vault/types/vault.pb.go
Labels: indexer, protocol, proto

#1828 [TRA-466] add individual parameters of vaults
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/vault.ts
  proto/dydxprotocol/vault/genesis.proto
  proto/dydxprotocol/vault/vault.proto
  protocol/x/vault/genesis.go
  protocol/x/vault/keeper/params.go
  protocol/x/vault/keeper/params_test.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/types/genesis.pb.go
  protocol/x/vault/types/keys.go
  protocol/x/vault/types/params.go
  protocol/x/vault/types/vault.pb.go
Labels: indexer, protocol, proto

#1825 [TRA-461] Add stateless + stateful validation for `MsgWithdrawFromVault`
  protocol/testutil/constants/vault.go
  protocol/x/vault/keeper/deposit.go
  protocol/x/vault/keeper/deposit_test.go
  protocol/x/vault/keeper/grpc_query_shares_test.go
  protocol/x/vault/keeper/grpc_query_vault_test.go
  protocol/x/vault/keeper/msg_server_deposit_to_vault_test.go
  protocol/x/vault/keeper/msg_server_withdraw_from_vault.go
  protocol/x/vault/keeper/msg_server_withdraw_from_vault_test.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/shares.go
  protocol/x/vault/keeper/shares_test.go
  protocol/x/vault/keeper/vault_test.go
  protocol/x/vault/keeper/withdraw.go
  protocol/x/vault/keeper/withdraw_test.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/msg_deposit_to_vault.go
  protocol/x/vault/types/msg_deposit_to_vault_test.go
  protocol/x/vault/types/msg_withdraw_from_vault.go
  protocol/x/vault/types/msg_withdraw_from_vault_test.go
  protocol/x/vault/types/vault_id_test.go
Labels: protocol

#1830 Add baseOpenInterest to perpetual_markets athena table
  indexer/services/roundtable/src/lib/athena-ddl-tables/perpetual_markets.ts
Labels: indexer

#1829 Align screen & geoblock compliance endpoints
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
Labels: indexer

#1831 [TRA-470] update vault constant names
  protocol/x/vault/keeper/params_test.go
Labels: protocol

#1809 [OTE-407][OTE-409][OTE-426]Update wasm bindings to use custom encoder
  protocol/contracts/dydx-messages-example/src/contract.rs
  protocol/contracts/dydx-messages-example/src/msg.rs
  protocol/dydx-cosmwasm/src/lib.rs
  protocol/dydx-cosmwasm/src/msg.rs
  protocol/wasmbinding/bindings/msg.go
  protocol/wasmbinding/msg_plugin.go
  protocol/wasmbinding/wasm.go
Labels: protocol

#1834 [TRA-471] update shares in vault query response to use NumShares type
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  proto/dydxprotocol/vault/query.proto
  protocol/x/vault/keeper/grpc_query_vault.go
  protocol/x/vault/keeper/grpc_query_vault_test.go
  protocol/x/vault/types/query.pb.go
Labels: indexer, protocol, proto

#1821 [CT-950] safety heap methods
  protocol/x/subaccounts/keeper/safety_heap.go
  protocol/x/subaccounts/keeper/safety_heap_test.go
Labels: protocol

#1837 feat: Add antehandler for x/mm updates
  protocol/app/ante.go
  protocol/app/ante/market_update.go
  protocol/app/ante/market_update_test.go
  protocol/app/ante_test.go
  protocol/app/app.go
  protocol/go.mod
  protocol/go.sum
  protocol/testutil/ante/testutil.go
Labels: protocol

#1841 Revert "Revert "[OTE-438] Allow users to read data if they are in FIRST_STRIKE_CLOSE_ONLY (backport #1716)""
  indexer/services/comlink/__tests__/lib/compliance-and-geo-check.test.ts
  indexer/services/comlink/src/lib/compliance-and-geo-check.ts
Labels: indexer

#1842 Revert "Revert "[OTE-420]: Deprecate ONBOARD from Indexer (backport #1728)""
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
Labels: indexer

#1843 Revert "Revert "Fix screen endpoint (backport #1759)""
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/lib/helpers.ts
Labels: indexer

#1840 add raydium url to localnet slinky
  protocol/docker-compose.yml
Labels: protocol

#1849 Ignore short-term clob messages with non-zero tx timeout.
  protocol/testutil/sdk/tx/tx.go
  protocol/x/clob/ante/clob.go
  protocol/x/clob/ante/clob_test.go
Labels: protocol, backport/protocol/v5.x, backport/protocol/v5.1.x

#1854 Reject short-term orders with 0 < TimeoutHeight < GoodTilBlock.
  protocol/x/clob/ante/clob.go
  protocol/x/clob/ante/clob_test.go
Labels: protocol, backport/protocol/v5.x, backport/protocol/v5.1.x

#1858 Log order id and good til block of rejected st orders.
  protocol/x/clob/ante/clob.go
Labels: protocol

#1852 [TRA-468] add cli cmds to query revshare state
  protocol/x/revshare/client/cli/query.go
  protocol/x/revshare/client/cli/query_params.go
Labels: protocol, revshare

#1857 [TRA-478] compute only order IDs when cancelling vault orders
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
Labels: protocol

#1863 fix historical pnl endpoint name in docs
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/historical-pnl-controller.ts
Labels: indexer

#1846 feat(oe): Deprecate `marketToCreatedAt` on prices keeper
  protocol/x/prices/keeper/keeper.go
  protocol/x/prices/keeper/market.go
  protocol/x/prices/keeper/market_test.go
  protocol/x/prices/keeper/update_price.go
  protocol/x/prices/types/configs.go
Labels: protocol, feature:optimistic_execution

#1862 Revert "Increase conditional order trigger multiplier to 25
  protocol/testutil/constants/orders.go
  protocol/testutil/constants/stateful_orders.go
  protocol/x/clob/e2e/conditional_orders_test.go
  protocol/x/clob/types/constants.go
Labels: protocol

#1867 [TRA-480] Implement functionality to acquire next market id
  protocol/x/prices/keeper/market.go
  protocol/x/prices/keeper/market_test.go
  protocol/x/prices/types/keys.go
Labels: protocol, state-breaking, pml

#1872 [TRA-483] Implement functionality to acquire next perpetual id
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/keys.go
Labels: protocol, pml

#1868 [TRA-479] have vaults in best fee tier
  protocol/app/app.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/feetiers.go
  protocol/testutil/keeper/rewards.go
  protocol/x/feetiers/genesis_test.go
  protocol/x/feetiers/keeper/keeper.go
  protocol/x/feetiers/keeper/keeper_test.go
  protocol/x/feetiers/keeper/msg_server.go
  protocol/x/feetiers/keeper/msg_server_test.go
  protocol/x/feetiers/module.go
  protocol/x/feetiers/types/expected_keepers.go
  protocol/x/feetiers/types/types.go
  protocol/x/vault/genesis.go
  protocol/x/vault/keeper/msg_server_deposit_to_vault.go
  protocol/x/vault/keeper/msg_server_deposit_to_vault_test.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/keeper/vault_test.go
  protocol/x/vault/types/keys.go
Labels: protocol

#1873 [TRA-484] Implement functionality to acquire next clob pair id
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/types/keys.go
Labels: protocol, pml

#1814 increase default API limit from 100 -> 1000
  indexer/services/comlink/src/config.ts
Labels: indexer

#1859 [TRA-461] Remove `x/vault/MsgWithdrawFromVault`
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  proto/dydxprotocol/vault/tx.proto
  protocol/app/module/interface_registry.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/testutil/constants/vault.go
  protocol/testutil/encoding/utils.go
  protocol/x/vault/keeper/msg_server_withdraw_from_vault.go
  protocol/x/vault/keeper/msg_server_withdraw_from_vault_test.go
  protocol/x/vault/keeper/withdraw.go
  protocol/x/vault/keeper/withdraw_test.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/msg_withdraw_from_vault.go
  protocol/x/vault/types/msg_withdraw_from_vault_test.go
  protocol/x/vault/types/tx.pb.go
Labels: indexer, protocol, proto

#1864 Add upgrade handler for v5.1
  protocol/app/upgrades/v5.1.0/constants.go
  protocol/app/upgrades/v5.1.0/upgrade.go
  protocol/testing/containertest/containertest.sh
  protocol/testing/containertest/preupgrade_genesis.json
Labels: protocol

#1874 add handling to deal with infinite loops in id acquisition
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/prices/keeper/market.go
Labels: protocol, pml

#1870 [CT-989] update indexer subaccount updates to include new quote balance
  protocol/indexer/events/subaccount_update.go
Labels: protocol

#1875 Store stateful order expirations individually in state
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/e2e/app_test.go
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/msg_server_cancel_orders_test.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/order_cancellation_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/keeper/process_proposer_matches_events.go
  protocol/x/clob/keeper/process_proposer_matches_events_test.go
  protocol/x/clob/keeper/stateful_order_state.go
  protocol/x/clob/keeper/stateful_order_state_test.go
  protocol/x/clob/keeper/stores.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/keys.go
  protocol/x/clob/types/keys_test.go
  protocol/x/clob/types/mem_clob_keeper.go
Labels: protocol

#1869 [CT-988] Include position quote balance in nc and mmr calculations
  protocol/indexer/events/subaccount_update.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/perpetuals/lib/lib.go
  protocol/x/perpetuals/lib/lib_test.go
  protocol/x/subaccounts/lib/updates.go
  protocol/x/subaccounts/types/position_size.go
Labels: protocol

#1881 Remove info log for `TimeoutPropose` override
  protocol/cmd/dydxprotocold/cmd/root.go
Labels: protocol, backport/protocol/v5.1.x

#1839 [TRA-475]: Add Transfer Between endpoint
  indexer/packages/postgres/__tests__/stores/transfer-table.test.ts
  indexer/packages/postgres/src/stores/subaccount-table.ts
  indexer/packages/postgres/src/stores/transfer-table.ts
  indexer/services/comlink/__tests__/controllers/api/v4/transfers-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/transfers-controller.ts
  indexer/services/comlink/src/lib/validation/schemas.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1877 [TRA-481] change vault order skewing to non-linear
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
Labels: protocol

#1884 quote balance test cleanup
  protocol/daemons/liquidation/client/sub_task_runner_test.go
  protocol/testutil/constants/positions.go
  protocol/testutil/constants/subaccounts.go
  protocol/testutil/util/subaccounts_util.go
  protocol/x/clob/client/cli/liquidations_cli_test.go
  protocol/x/clob/e2e/app_test.go
  protocol/x/clob/e2e/conditional_orders_test.go
  protocol/x/clob/e2e/isolated_subaccount_orders_test.go
  protocol/x/clob/e2e/liquidation_deleveraging_test.go
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/e2e/reduce_only_orders_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/clob/e2e/withdrawal_gating_test.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/process_operations_liquidations_test.go
  protocol/x/clob/keeper/process_operations_long_term_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/lib/oimf_test.go
  protocol/x/subaccounts/lib/updates_test.go
  protocol/x/subaccounts/types/genesis_test.go
  protocol/x/subaccounts/types/subaccount_test.go
  protocol/x/vault/keeper/grpc_query_vault_test.go
  protocol/x/vault/keeper/orders_test.go
Labels: protocol

#1880 [OTE-531] feat(OE): Move PruneRateLimit from EndBlocker to PrepareCheckState
  protocol/x/clob/abci.go
Labels: protocol, feature:optimistic_execution

#1891 Fix close not being called for iterators
  protocol/x/clob/keeper/process_proposer_matches_events.go
  protocol/x/clob/keeper/stateful_order_state.go
Labels: protocol

#1886 [TRA-169] keep existing vault orders if price and size don't need updates
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/genesis.ts
  proto/dydxprotocol/vault/genesis.proto
  protocol/app/app.go
  protocol/app/testdata/default_genesis_state.json
  protocol/lib/bytes.go
  protocol/lib/bytes_test.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/vault/genesis.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/types/genesis.pb.go
  protocol/x/vault/types/keys.go
  protocol/x/vault/types/orders.go
  protocol/x/vault/types/orders_test.go
  protocol/x/vault/types/params.go
  protocol/x/vault/types/vault_id.go
Labels: indexer, protocol, proto

#1888 Add collat check to impact price calculation
  protocol/mocks/MemClobKeeper.go
  protocol/testutil/constants/subaccounts.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_get_impact_price_subticks_test.go
  protocol/x/clob/types/mem_clob_keeper.go
Labels: protocol

#1896 Revert vault orderbook flickering from v5.1
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/off_chain_updates/off_chain_updates.ts
  proto/dydxprotocol/indexer/events/events.proto
  proto/dydxprotocol/indexer/off_chain_updates/off_chain_updates.proto
  protocol/.github/workflows/release.yml
  protocol/app/app.go
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/stateful_order.go
  protocol/indexer/off_chain_updates/types/off_chain_updates.pb.go
  protocol/mocks/ClobKeeper.go
  protocol/testutil/keeper/vault.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/vault/keeper/keeper.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/types/expected_keepers.go
Labels: indexer, protocol, proto

#1897 Revert "[CT-856] Add order replacement to fix vault causing orderbook…
  protocol/app/app.go
  protocol/indexer/events/stateful_order.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClobKeeper.go
  protocol/testutil/keeper/vault.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/vault/keeper/keeper.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/types/expected_keepers.go
Labels: protocol, backport/protocol/v5.2.x

#1898 Revert "Release vault flickering indexer fix (#1741)"
  indexer/packages/redis/__tests__/helpers/constants.ts
  indexer/packages/redis/src/index.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/off_chain_updates/off_chain_updates.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-triggered-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-removal-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-replacement-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/validators/stateful-order-validator.test.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-replacement-handler.ts
  indexer/services/ender/src/scripts/handlers/dydx_stateful_order_handler.sql
  indexer/services/ender/src/validators/stateful-order-validator.ts
  indexer/services/roundtable/__tests__/tasks/orderbook-instrumentation.test.ts
  indexer/services/roundtable/src/tasks/orderbook-instrumentation.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-replace-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-update-handler.test.ts
  indexer/services/vulcan/__tests__/helpers/helpers.ts
  indexer/services/vulcan/__tests__/helpers/websocket-helpers.ts
  indexer/services/vulcan/__tests__/lib/on-message.test.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
  indexer/services/vulcan/src/handlers/order-replace-handler.ts
  indexer/services/vulcan/src/handlers/order-update-handler.ts
  indexer/services/vulcan/src/lib/on-message.ts
  proto/dydxprotocol/indexer/events/events.proto
  proto/dydxprotocol/indexer/off_chain_updates/off_chain_updates.proto
  protocol/indexer/events/events.pb.go
  protocol/indexer/off_chain_updates/types/off_chain_updates.pb.go
Labels: indexer, protocol, proto

#1902 Revert vault flickering indexer changes
  indexer/packages/redis/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-triggered-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-removal-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-replacement-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/validators/stateful-order-validator.test.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-replacement-handler.ts
  indexer/services/ender/src/scripts/handlers/dydx_stateful_order_handler.sql
  indexer/services/ender/src/validators/stateful-order-validator.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-replace-handler.test.ts
  indexer/services/vulcan/__tests__/helpers/websocket-helpers.ts
  indexer/services/vulcan/__tests__/lib/on-message.test.ts
  indexer/services/vulcan/src/handlers/order-replace-handler.ts
  indexer/services/vulcan/src/lib/on-message.ts
Labels: indexer

#1903 [CT-964] Send deleveraging events in grpc stream
  protocol/x/clob/keeper/process_operations.go
Labels: protocol

#1904 Revert "Revert vault orderbook flickering from v5.1 (#1896)"
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/off_chain_updates/off_chain_updates.ts
  proto/dydxprotocol/indexer/events/events.proto
  proto/dydxprotocol/indexer/off_chain_updates/off_chain_updates.proto
  protocol/.github/workflows/release.yml
  protocol/app/app.go
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/stateful_order.go
  protocol/indexer/off_chain_updates/types/off_chain_updates.pb.go
  protocol/mocks/ClobKeeper.go
  protocol/testutil/keeper/vault.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/vault/keeper/keeper.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/types/expected_keepers.go
Labels: indexer, protocol, proto

#1901 [CT-1002] small optimization for rebalancing
  protocol/x/subaccounts/keeper/margining.go
  protocol/x/subaccounts/keeper/margining_test.go
Labels: protocol

#1889 [CT-1002] functions to move collateral in and out of perpetual positions
  protocol/testutil/perpetuals/perpetuals.go
  protocol/x/subaccounts/keeper/margining.go
  protocol/x/subaccounts/keeper/margining_test.go
  protocol/x/subaccounts/lib/updates.go
  protocol/x/subaccounts/lib/updates_test.go
  protocol/x/subaccounts/types/position_size.go
  protocol/x/subaccounts/types/settled_update.go
  protocol/x/subaccounts/types/update.go
Labels: protocol

#1906 gRPC streaming clean up
  protocol/app/app.go
  protocol/mocks/ClobKeeper.go
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/noop_streaming_manager.go
  protocol/streaming/types/errors.go
  protocol/streaming/types/interface.go
  protocol/streaming/util/util.go
  protocol/testutil/keeper/clob.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/grpc_stream_orderbook.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/errors.go
Labels: protocol

#1708 Fix CI for cosmwasm integrated V4-chain
  protocol/Dockerfile
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/module_accounts.go
  protocol/app/module_accounts_test.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/app/simulation_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/app/upgrades.go
  protocol/app/upgrades/v.cosmwasm.0/config/client.toml
  protocol/app/upgrades/v.cosmwasm.0/constants.go
  protocol/app/upgrades/v.cosmwasm.0/upgrade.go
  protocol/app/upgrades/v.cosmwasm.0/upgrade_container_test.go
  protocol/app/upgrades/v6.0.0/upgrade_container_test.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/testing/containertest/testnet.go
  protocol/wasmbinding/bindings/msg.go
  protocol/wasmbinding/bindings/queries.go
  protocol/wasmbinding/msg_plugin.go
  protocol/wasmbinding/queries.go
Labels: protocol

#1899 add panic recovering to vault abci methods
  protocol/x/vault/abci.go
Labels: protocol, backport/protocol/v5.2.x

#1912 [TRA-499] remove pagination from historical-pnl/parentSubaccountNumber endpt
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/historical-pnl-controller.ts
Labels: indexer

#1913 Add upper and lower caps columns for ddl tables
  indexer/services/roundtable/src/lib/athena-ddl-tables/liquidity_tiers.ts
Labels: indexer

#1910 Revert vault orderbook flickering changes but keep endblocker change
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/off_chain_updates/off_chain_updates.ts
  proto/dydxprotocol/indexer/events/events.proto
  proto/dydxprotocol/indexer/off_chain_updates/off_chain_updates.proto
  protocol/.github/workflows/release.yml
  protocol/app/app.go
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/stateful_order.go
  protocol/indexer/off_chain_updates/types/off_chain_updates.pb.go
  protocol/mocks/ClobKeeper.go
  protocol/testutil/keeper/vault.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/vault/keeper/keeper.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/types/expected_keepers.go
Labels: indexer, protocol, proto

#1918 perf: Emit blocktime as sample
  protocol/lib/metrics/metric_keys.go
  protocol/x/blocktime/keeper/keeper.go
Labels: protocol, backport/protocol/v5.x, backport/protocol/v5.1.x, backport/protocol/v5.2.x

#1922 feat: add `x/marketmap` module
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/basic_manager/basic_manager.go
  protocol/app/genesis_test.go
  protocol/app/module_accounts.go
  protocol/app/module_accounts_test.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/app/upgrades.go
  protocol/app/upgrades/v6.0.0/constants.go
  protocol/app/upgrades/v6.0.0/upgrade.go
  protocol/app/upgrades/v6.0.0/upgrade_container_test.go
  protocol/go.mod
  protocol/go.sum
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/app/app.go
Labels: protocol

#1684 Set all ints in documentation to ints rather than numbers
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/types.ts
Labels: indexer

#1923 [TRA-501] Add a wrapper function for clob pair creation
  protocol/x/listing/keeper/keeper.go
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/types/constants.go
  protocol/x/listing/types/expected_keepers.go
Labels: protocol, pml

#1924 Fix ordering of begin/end blocker to match rc2.
  protocol/app/app.go
Labels: protocol

#1727 [CT-850] feat(OE): add flag to enable optimistic block execution
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
Labels: protocol, feature:optimistic_execution

#1925 fix updatedAt in /geoblock response
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
Labels: indexer

#1916 [OTE-559] Create accountplus module
  indexer/packages/v4-protos/src/codegen/dydxprotocol/accountplus/accountplus.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/accountplus/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/accountplus/accountplus.proto
  proto/dydxprotocol/accountplus/genesis.proto
  protocol/testutil/keeper/accountplus.go
  protocol/x/accountplus/genesis.go
  protocol/x/accountplus/genesis_test.go
  protocol/x/accountplus/keeper/keeper.go
  protocol/x/accountplus/types/accountplus.pb.go
  protocol/x/accountplus/types/genesis.pb.go
  protocol/x/accountplus/types/keys.go
Labels: indexer, protocol, proto, feature:timestamp_nonce

#1926 Do not overwrite existing CLOSE_ONLY/BLOCKED compliance statuses
  indexer/packages/postgres/__tests__/stores/compliance-status-table.test.ts
  indexer/packages/postgres/src/stores/compliance-status-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/services/roundtable/__tests__/tasks/update-compliance-data.test.ts
  indexer/services/roundtable/src/tasks/perform-compliance-status-transitions.ts
  indexer/services/roundtable/src/tasks/update-compliance-data.ts
Labels: indexer

#1927 [TRA-504] flip vault order client IDs on order expiration/fill
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
Labels: protocol, backport/protocol/v5.2.x

#1917 [OTE-539] Add subaccounts username table
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/subaccount-usernames-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240715155120_subaccount_usernames.ts
  indexer/packages/postgres/src/helpers/db-helpers.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/models/subaccount-usernames-model.ts
  indexer/packages/postgres/src/stores/subaccount-usernames-table.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/packages/postgres/src/types/subaccount-usernames-types.ts
Labels: indexer

#1928 [TRA-502] Add function to create oracle markets for PML
  protocol/x/listing/keeper/keeper.go
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/types/constants.go
  protocol/x/listing/types/expected_keepers.go
Labels: protocol, pml

#1933 [TRA-503] Add PML function to create perpetual
  protocol/app/app.go
  protocol/x/listing/keeper/keeper.go
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/types/constants.go
  protocol/x/listing/types/expected_keepers.go
Labels: protocol, pml

#1935 [OTE-542] add index for subaccount id in pnl ticks table
  indexer/packages/postgres/src/db/migrations/migration_files/20240717142808_pnl_ticks_subaccount_id_index.ts
Labels: indexer

#1942 Sample onBatch stats
  indexer/services/socks/src/lib/message-forwarder.ts
Labels: indexer

#1932 [OTE-540] Add roundtable task to generate usernames
  indexer/packages/postgres/__tests__/stores/subaccount-usernames-table.test.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/stores/subaccount-table.ts
  indexer/packages/postgres/src/stores/subaccount-usernames-table.ts
  indexer/packages/postgres/src/types/subaccount-usernames-types.ts
  indexer/pnpm-lock.yaml
  indexer/services/roundtable/__tests__/tasks/subaccount-username-generator.test.ts
  indexer/services/roundtable/__tests__/tasks/update-compliance-data.test.ts
  indexer/services/roundtable/package.json
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/subaccount-username-generator.ts
Labels: indexer

#1947 update subaccountId to address
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/leaderboard-pnl-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240717160024_create_leaderboard_pnl_table.ts
  indexer/packages/postgres/src/models/leaderboard-pnl-model.ts
  indexer/packages/postgres/src/stores/leaderboard-pnl-table.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/leaderboard-pnl-types.ts
  indexer/packages/postgres/src/types/query-types.ts
Labels: indexer

#1950 [OTE-53] Bump cosmos-sdk fork version (Abort OE in PrepareProposal)
  protocol/go.mod
  protocol/go.sum
Labels: protocol, feature:optimistic_execution

#1948 [TRA-506] Enable market in marketmap when creating new oracle market
  protocol/app/app.go
  protocol/testutil/keeper/assets.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/marketmap.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/keeper/prices.go
  protocol/testutil/keeper/rewards.go
  protocol/testutil/keeper/sending.go
  protocol/testutil/keeper/subaccounts.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/lib/lib_test.go
  protocol/x/prices/keeper/keeper.go
  protocol/x/prices/keeper/market.go
  protocol/x/prices/keeper/market_test.go
  protocol/x/prices/keeper/msg_server_create_oracle_market_test.go
  protocol/x/prices/keeper/slinky_adapter_test.go
  protocol/x/prices/module.go
  protocol/x/prices/module_test.go
  protocol/x/prices/types/errors.go
  protocol/x/prices/types/expected_keepers.go
  protocol/x/subaccounts/keeper/subaccount_test.go
Labels: protocol

#1952 [TRA-509] skip vault order calculation if market price is 0
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/types/errors.go
Labels: protocol, backport/protocol/v5.2.x

#1954 use RunCached in vault abci
  protocol/x/vault/abci.go
Labels: protocol, backport/protocol/v5.2.x

#1941 OTE-558 Add scaffolding for module
  indexer/packages/v4-protos/src/codegen/dydxprotocol/accountplus/genesis.ts
  proto/dydxprotocol/accountplus/accountplus.proto
  proto/dydxprotocol/accountplus/genesis.proto
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/basic_manager/basic_manager.go
  protocol/app/testdata/default_genesis_state.json
  protocol/app/upgrades/v6.0.0/constants.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/x/accountplus/genesis.go
  protocol/x/accountplus/genesis_test.go
  protocol/x/accountplus/keeper/keeper.go
  protocol/x/accountplus/keeper/keeper_test.go
  protocol/x/accountplus/keeper/timestampnonce.go
  protocol/x/accountplus/keeper/timestampnonce_test.go
  protocol/x/accountplus/module.go
  protocol/x/accountplus/types/accountplus.pb.go
  protocol/x/accountplus/types/codec.go
  protocol/x/accountplus/types/genesis.go
  protocol/x/accountplus/types/genesis.pb.go
  protocol/x/accountplus/types/keys.go
Labels: indexer, protocol, proto, feature:timestamp_nonce

#1956 [OTE-553] Skip sequence increment for timestamp nonce
  protocol/app/ante.go
  protocol/app/ante/timestampnonce.go
  protocol/app/ante/timestampnonce_test.go
  protocol/x/accountplus/keeper/keeper.go
  protocol/x/accountplus/keeper/timestampnonce.go
  protocol/x/accountplus/keeper/timestampnonce_test.go
Labels: protocol, feature:timestamp_nonce

#1958 Fix orders issue for deleveraging events
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/noop_streaming_manager.go
  protocol/streaming/types/interface.go
  protocol/x/clob/keeper/keeper.go
Labels: protocol

#1911 Remove revshare from pre-upgrade genesis.
  protocol/testing/containertest/preupgrade_genesis.json
Labels: protocol

#1963 [OTE-551] Add timestamp nonce business logic to keeper and antehandler
  protocol/app/ante.go
  protocol/app/ante/sigverify.go
  protocol/app/ante/sigverify_test.go
  protocol/app/ante/timestampnonce.go
  protocol/app/ante_test.go
  protocol/app/app.go
  protocol/testutil/ante/testutil.go
  protocol/x/accountplus/keeper/keeper.go
  protocol/x/accountplus/keeper/keeper_test.go
  protocol/x/accountplus/keeper/timestampnonce.go
  protocol/x/accountplus/keeper/timestampnonce_test.go
Labels: protocol, feature:timestamp_nonce

#1960 [TRA-508] Require that market exists in market map when creating new oracle market
  protocol/app/app.go
  protocol/app/prepare/prepare_proposal_test.go
  protocol/app/process/full_node_process_proposal_test.go
  protocol/app/process/market_prices_test.go
  protocol/app/process/process_proposal_test.go
  protocol/app/process/transactions_test.go
  protocol/go.mod
  protocol/go.sum
  protocol/lib/marketmap/utils.go
  protocol/lib/marketmap/utils_test.go
  protocol/mocks/OracleClient.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/e2e/gov/add_new_market_test.go
  protocol/testing/e2e/gov/perpetuals_test.go
  protocol/testing/e2e/gov/prices_test.go
  protocol/testing/genesis.sh
  protocol/testutil/app/app.go
  protocol/testutil/constants/genesis.go
  protocol/testutil/constants/marketmap.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/keeper/prices.go
  protocol/testutil/network/network.go
  protocol/testutil/prices/cli/util.go
  protocol/testutil/prices/market_param_price.go
  protocol/testutil/sim_helpers/genesis_parameters.go
  protocol/x/clob/genesis_test.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/get_price_premium_test.go
  protocol/x/clob/keeper/grpc_query_mev_node_to_node_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/msg_server_update_clob_pair_test.go
  protocol/x/clob/keeper/msg_server_update_liquidations_config_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/module_test.go
  protocol/x/perpetuals/genesis_test.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/lib/lib_test.go
  protocol/x/perpetuals/module_test.go
  protocol/x/prices/client/cli/query_market_param_test.go
  protocol/x/prices/genesis_test.go
  protocol/x/prices/keeper/grpc_query_market_test.go
  protocol/x/prices/keeper/keeper_test.go
  protocol/x/prices/keeper/market.go
  protocol/x/prices/keeper/market_param_test.go
  protocol/x/prices/keeper/market_price_test.go
  protocol/x/prices/keeper/market_test.go
  protocol/x/prices/keeper/msg_server_create_oracle_market_test.go
  protocol/x/prices/keeper/msg_server_update_market_param_test.go
  protocol/x/prices/keeper/msg_server_update_market_prices_test.go
  protocol/x/prices/keeper/slinky_adapter_test.go
  protocol/x/prices/keeper/update_price_test.go
  protocol/x/prices/keeper/validate_market_price_updates_test.go
  protocol/x/prices/module_test.go
  protocol/x/prices/simulation/genesis.go
  protocol/x/prices/types/errors.go
  protocol/x/prices/types/expected_keepers.go
  protocol/x/rewards/keeper/keeper_test.go
  protocol/x/subaccounts/keeper/subaccount_test.go
Labels: protocol

#1887 Candles HLOC Data
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/candle-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240627152937_candles_add_mid_book_price_open_and_close.ts
  indexer/packages/postgres/src/models/candle-model.ts
  indexer/packages/postgres/src/types/candle-types.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/redis/__tests__/caches/orderbook-levels-cache.test.ts
  indexer/packages/redis/src/caches/orderbook-levels-cache.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/ender/__tests__/helpers/redis-helpers.ts
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
  indexer/services/ender/src/lib/candles-generator.ts
  indexer/services/roundtable/src/lib/athena-ddl-tables/candles.ts
Labels: indexer

#1966 [OTE-626]: Add support for whitelisted addresses
  indexer/packages/compliance/__tests__/geoblocking/restrict-countries.test.ts
  indexer/packages/compliance/src/config.ts
  indexer/packages/compliance/src/geoblocking/restrict-countries.ts
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/__tests__/lib/compliance-and-geo-check.test.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
  indexer/services/comlink/src/lib/compliance-and-geo-check.ts
Labels: indexer

#1968 perf: further reduce timeout propose to 1sec
  protocol/cmd/dydxprotocold/cmd/root.go
Labels: protocol, backport/protocol/v5.2.x

#1962 feat: reject market-updates that modify enabled field in ante-handler
  protocol/app/ante.go
  protocol/app/ante/market_update.go
  protocol/app/ante/market_update_test.go
  protocol/app/app.go
  protocol/go.mod
  protocol/go.sum
  protocol/x/prices/types/errors.go
Labels: protocol

#1879 [OTE-529] feat(OE): Deprecate in-mem Untriggered Conditional Orders
  protocol/testutil/constants/stateful_orders.go
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/final_settlement.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/untriggered_conditional_orders.go
  protocol/x/clob/keeper/untriggered_conditional_orders_test.go
Labels: protocol, feature:optimistic_execution

#1970 [OTE-553] Timestamp nonce
  protocol/app/ante.go
  protocol/app/ante/sigverify.go
  protocol/app/ante/timestampnonce.go
  protocol/app/ante/timestampnonce_test.go
  protocol/lib/metrics/constants.go
  protocol/x/accountplus/ante/timestampnonce.go
  protocol/x/accountplus/ante/timestampnonce_test.go
  protocol/x/accountplus/keeper/keeper.go
  protocol/x/accountplus/keeper/keeper_test.go
  protocol/x/accountplus/keeper/timestampnonce.go
  protocol/x/accountplus/keeper/timestampnonce_test.go
Labels: protocol, feature:timestamp_nonce

#1964 remove panic when getting quantums from zero position
  protocol/x/subaccounts/lib/updates.go
  protocol/x/subaccounts/types/genesis_test.go
  protocol/x/subaccounts/types/position_size.go
  protocol/x/subaccounts/types/position_size_test.go
Labels: protocol

#1961 [TRA-503] Complete implementation for x/listing CreatePerpetual
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/types/constants.go
  protocol/x/listing/types/errors.go
Labels: protocol

#1975 [OTE-551] Add seq incrementation skip to non-clob ante handling
  protocol/app/ante.go
Labels: protocol, feature:timestamp_nonce

#1973 add helper function to get big int value
  protocol/dydx-cosmwasm/src/serializable_int.rs
Labels: protocol

#1982 Round up when calculating impact price subticks
  protocol/x/clob/memclob/memclob.go
Labels: protocol

#1984 [OTE-553] Fix early return during timestamp nonce check bug
  protocol/app/ante/sigverify.go
  protocol/app/ante/sigverify_test.go
Labels: protocol, feature:timestamp_nonce

#1957 set vault spread ppm to 30bps on testing envs
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
Labels: protocol

#1993 update versions
  protocol/contracts/dydx-messages-example/Cargo.lock
  protocol/contracts/dydx-messages-example/Cargo.toml
  protocol/dydx-cosmwasm/Cargo.lock
  protocol/dydx-cosmwasm/cargo.toml
Labels: protocol

#1974 [TRA-505] Add x/listing testing framework and test for CreateMarket
  protocol/app/app.go
  protocol/testutil/app/app.go
  protocol/testutil/keeper/listing.go
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/keeper/listing_test.go
  protocol/x/listing/module.go
  protocol/x/listing/types/errors.go
Labels: protocol

#1998 Change fromBeginning to a flag
  indexer/services/vulcan/src/config.ts
  indexer/services/vulcan/src/helpers/kafka/kafka-controller.ts
Labels: indexer

#2002 Fix issue with message-forwarder tests
  indexer/services/socks/__tests__/lib/message-forwarder.test.ts
  indexer/services/socks/src/helpers/from-kafka-helpers.ts
Labels: indexer

#1991 [TRA-512] Add MsgCreateMarketPermissionless msg
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/tx.ts
  proto/dydxprotocol/listing/tx.proto
  protocol/app/module/interface_registry.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/testutil/constants/genesis.go
  protocol/x/listing/keeper/msg_create_market_permissionless.go
  protocol/x/listing/keeper/msg_create_market_permissionless_test.go
  protocol/x/listing/types/errors.go
  protocol/x/listing/types/expected_keepers.go
  protocol/x/listing/types/tx.pb.go
Labels: indexer, protocol, proto

#2001 fix: reformat slinky provider names
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
Labels: protocol
