Repository dydxprotocol/v4-chain, pull requests merged in 2024-10, with the labels that each got.

#2415 [CT-629] Fix entryPrice calc
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/src/scripts/helpers/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/helpers/dydx_update_perpetual_position_aggregate_fields.sql
Labels: indexer

#2403 Filter out to single tick per interval.
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
Labels: indexer

#2280 Add tests for when market pair name changes
  protocol/testing/e2e/gov/prices_test.go
  protocol/x/prices/keeper/msg_server_update_market_param_test.go
Labels: protocol

#2422 Fix flaky vault test.
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
Labels: indexer

#2421 chore: Bump Cometbft to log proposer when proposal is rejected
  protocol/go.mod
  protocol/go.sum
Labels: non-breaking

#2423 [OTE-846] Bazooka sequential clear
  indexer/services/bazooka/src/index.ts
Labels: indexer

#2324 [TRA-611] Get MarketPrice exponent from marketmap
  indexer/packages/v4-protos/src/codegen/dydxprotocol/prices/market_param.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/prices/market_price.ts
  proto/dydxprotocol/prices/market_param.proto
  proto/dydxprotocol/prices/market_price.proto
  protocol/app/ante/market_update_test.go
  protocol/mocks/PricesKeeper.go
  protocol/testing/e2e/gov/prices_test.go
  protocol/testutil/app/order.go
  protocol/testutil/constants/genesis.go
  protocol/x/prices/keeper/market.go
  protocol/x/prices/keeper/market_param.go
  protocol/x/prices/keeper/market_price.go
  protocol/x/prices/keeper/market_test.go
  protocol/x/prices/keeper/msg_server_create_oracle_market.go
  protocol/x/prices/keeper/msg_server_create_oracle_market_test.go
  protocol/x/prices/keeper/msg_server_update_market_param_test.go
  protocol/x/prices/module_test.go
  protocol/x/prices/simulation/genesis.go
  protocol/x/prices/types/errors.go
  protocol/x/prices/types/market_param.pb.go
  protocol/x/prices/types/market_price.go
  protocol/x/prices/types/market_price.pb.go
  protocol/x/prices/types/types.go
Labels: indexer, protocol, proto

#2430 Fix issue with flaky candle test
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
Labels: indexer

#2406 Add upgrade handler for v6_0_0_testnet_fix_1
  protocol/app/upgrades.go
  protocol/app/upgrades/v6.0.0_testnet_fix_1/constants.go
  protocol/app/upgrades/v6.0.0_testnet_fix_1/upgrade.go
Labels: protocol

#2412 [CT-1202] logic to handle unauthorized maker orders when authenticato…
  protocol/app/app.go
  protocol/mocks/MemClobKeeper.go
  protocol/testutil/keeper/accountplus.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/listing.go
  protocol/testutil/memclob/keeper.go
  protocol/x/accountplus/keeper/authenticators.go
  protocol/x/accountplus/types/errors.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/keeper/authenticators.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/operations_to_propose.go
Labels: protocol

#2435 Move FinalizeBlock event staging logic into a generic EventStager
  protocol/finalizeblock/event_stager.go
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/noop_streaming_manager.go
  protocol/streaming/types/interface.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/types.go
Labels: protocol

#2413 Update GetAllRevshare to handle liquidations
  protocol/x/affiliates/abci.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/revshare/keeper/revshare.go
  protocol/x/revshare/keeper/revshare_test.go
  protocol/x/revshare/types/errors.go
Labels: protocol

#2387 remove deprecated params from x/vault params query
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  proto/dydxprotocol/vault/query.proto
  protocol/x/vault/types/query.pb.go
Labels: indexer, protocol, proto

#2441 Return undefined from getOrderbookMidPriceMap
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
  indexer/services/ender/src/lib/candles-generator.ts
Labels: indexer

#2432 [TRA-654] add listing module state init into v7 upgrade handler
  protocol/app/upgrades.go
  protocol/app/upgrades/v7.0.0/upgrade.go
  protocol/app/upgrades/v7.0.0/upgrade_container_test.go
  protocol/x/listing/types/constants.go
Labels: protocol, pml

#2444 [CT-1259] move account plus test functions to testutil
  protocol/testutil/tx/msg_tx.go
  protocol/x/accountplus/ante/ante_test.go
  protocol/x/accountplus/ante/circuit_breaker_test.go
  protocol/x/accountplus/authenticator/base_test.go
  protocol/x/accountplus/authenticator/signature_authenticator_test.go
Labels: protocol

#2439 Split affiliate info fees by taker and maker
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/affiliate-info-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20241002144813_change_affiliate_info_fee_columns.ts
  indexer/packages/postgres/src/models/affiliate-info-model.ts
  indexer/packages/postgres/src/stores/affiliate-info-table.ts
  indexer/packages/postgres/src/types/affiliate-info-types.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/affiliates-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/affiliates-controller.ts
  indexer/services/comlink/src/types.ts
  indexer/services/roundtable/__tests__/tasks/update-affiliate-info.test.ts
Labels: indexer, feature:indexer/affiliates

#2446 Fix bug with PnL aggregation.
  indexer/services/comlink/__tests__/lib/helpers.test.ts
  indexer/services/comlink/src/controllers/api/v4/historical-pnl-controller.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
  indexer/services/comlink/src/lib/helpers.ts
Labels: indexer

#2312 Update indexer testnet url
  indexer/pnpm-lock.yaml
  indexer/services/comlink/package.json
  indexer/services/comlink/public/api-documentation.md
Labels: indexer

#2449 [OTE-849] Add metrics to track revenue shares
  protocol/lib/metrics/constants.go
  protocol/x/revshare/types/types.go
  protocol/x/subaccounts/keeper/transfer.go
Labels: protocol

#2452 [CT-1268] fix genesis for account plus
  protocol/x/accountplus/genesis.go
  protocol/x/accountplus/genesis_test.go
  protocol/x/accountplus/keeper/authenticators.go
  protocol/x/accountplus/keeper/keeper.go
Labels: protocol

#2434 [TRA-671] Prevent connect messages in x/authz
  protocol/lib/ante/nested_msg.go
  protocol/lib/ante/nested_msg_test.go
  protocol/testutil/msgs/nested_msgs.go
Labels: protocol

#2453 fix tsnonce preventing multisignature bug
  protocol/x/accountplus/ante/timestampnonce.go
  protocol/x/accountplus/ante/timestampnonce_test.go
Labels: protocol

#2447 feat: make PML compatible with OE by staging in-memory CLOB side effects
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/finalize_block.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/clob/finalize_block.proto
  protocol/mocks/MemClob.go
  protocol/testutil/keeper/clob.go
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/genesis.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/get_price_premium_test.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/mev_test.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_get_impact_price_subticks_test.go
  protocol/x/clob/types/finalize_block.pb.go
  protocol/x/clob/types/keys.go
  protocol/x/clob/types/memclob.go
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/keeper/listing_test.go
  protocol/x/listing/types/expected_keepers.go
Labels: indexer, protocol, proto, pml

#2458 Update sidecar to connect v2
  protocol/contrib/connect/oracle.json
  protocol/contrib/prometheus/prometheus.yml
  protocol/docker-compose.yml
  protocol/testing/testnet-local/local.sh
Labels: protocol

#2464 don't initialize megavault subaccount if balance is 0 in genesis
  protocol/testing/genesis.sh
Labels: protocol

#2454 Get latest hourly tick to compute final tick for megavault PnL.
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
Labels: indexer, backport/indexer/v7.x

#2469 Revert "feat: make PML compatible with OE by staging in-memory CLOB side effects (backport #2447)"
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/finalize_block.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/clob/finalize_block.proto
  protocol/mocks/MemClob.go
  protocol/testutil/keeper/clob.go
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/genesis.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/get_price_premium_test.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/mev_test.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_get_impact_price_subticks_test.go
  protocol/x/clob/types/finalize_block.pb.go
  protocol/x/clob/types/keys.go
  protocol/x/clob/types/memclob.go
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/keeper/listing_test.go
  protocol/x/listing/types/expected_keepers.go
Labels: indexer, protocol, proto

#2470 feat: make PML compatible with OE by staging in-memory CLOB side effects (backport #2447)
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/finalize_block.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/clob/finalize_block.proto
  protocol/mocks/MemClob.go
  protocol/testutil/keeper/clob.go
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/genesis.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/get_price_premium_test.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/mev_test.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_get_impact_price_subticks_test.go
  protocol/x/clob/types/finalize_block.pb.go
  protocol/x/clob/types/keys.go
  protocol/x/clob/types/memclob.go
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/keeper/listing_test.go
  protocol/x/listing/types/expected_keepers.go
Labels: indexer, protocol, proto

#2473 add afflaiteReferredMakerRebates field to response
  indexer/services/comlink/__tests__/controllers/api/v4/affiliates-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/affiliates-controller.ts
  indexer/services/comlink/src/types.ts
Labels: indexer, feature:indexer/affiliates

#2461 [CT-1262] add e2e tests for new auth flow failure cases
  protocol/app/app.go
  protocol/testutil/app/app.go
  protocol/testutil/constants/genesis.go
  protocol/x/accountplus/authenticator/all_of.go
  protocol/x/accountplus/authenticator/any_of.go
  protocol/x/accountplus/authenticator/clob_pair_id_filter.go
  protocol/x/accountplus/authenticator/clob_pair_id_filter_test.go
  protocol/x/accountplus/authenticator/composite.go
  protocol/x/accountplus/authenticator/composition_test.go
  protocol/x/accountplus/authenticator/message_filter.go
  protocol/x/accountplus/authenticator/message_filter_test.go
  protocol/x/accountplus/authenticator/signature_authenticator.go
  protocol/x/accountplus/authenticator/subaccount_filter.go
  protocol/x/accountplus/authenticator/subaccount_filter_test.go
  protocol/x/accountplus/types/errors.go
  protocol/x/accountplus/types/iface.go
  protocol/x/accountplus/types/message_add_authenticator.go
  protocol/x/accountplus/types/message_add_authenticator_test.go
  protocol/x/clob/e2e/permissioned_keys_test.go
Labels: protocol

#2480 [OTE-852] Register rpc routes in module
  protocol/x/revshare/module.go
Labels: protocol

#2482 [OTE-863] update username generation query
  indexer/packages/postgres/src/stores/subaccount-usernames-table.ts
Labels: indexer

#2475 Improve vault endpoint performance.
  indexer/packages/postgres/__tests__/stores/funding-index-updates-table.test.ts
  indexer/packages/postgres/src/stores/funding-index-updates-table.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
Labels: indexer, backport/indexer/v7.x

#2455 [CT-629] Fix entryPrice calc
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/src/scripts/helpers/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/helpers/dydx_update_perpetual_position_aggregate_fields.sql
Labels: indexer

#2485 Fix test flakiness due to using inconsistent time.
  indexer/services/comlink/__tests__/lib/helpers.test.ts
Labels: indexer

#2489 Add GRPC gateway route for listing module and add hard cap setting
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/query.lcd.ts
  proto/dydxprotocol/listing/query.proto
  protocol/x/listing/module.go
  protocol/x/listing/types/query.pb.go
  protocol/x/listing/types/query.pb.gw.go
Labels: indexer, protocol, proto, pml, backport/protocol/v7.x

#2494 [OTE-876] update roundtable loop timings for instrumentation and uncrossing
  indexer/services/roundtable/src/config.ts
Labels: indexer

#2499 [OTE-877] deprecate OI indexer update event
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/indexer/events/events.pb.go
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/perpetuals/abci.go
  protocol/x/perpetuals/abci_test.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/types.go
Labels: indexer, protocol, proto

#2492 set each megavault share to be worth 0.001 usdc on 7.x upgrade
  protocol/app/upgrades/v7.0.0/upgrade.go
  protocol/app/upgrades/v7.0.0/upgrade_container_test.go
Labels: protocol

#2500 [OTE-880] Emit log in case of collisions
  indexer/services/roundtable/src/tasks/subaccount-username-generator.ts
Labels: indexer

#2509 add metadata to megavault operator params
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/params.ts
  proto/dydxprotocol/vault/params.proto
  protocol/app/testdata/default_genesis_state.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/testutil/constants/genesis.go
  protocol/x/vault/keeper/grpc_query_test.go
  protocol/x/vault/keeper/params_test.go
  protocol/x/vault/types/params.go
  protocol/x/vault/types/params.pb.go
Labels: indexer, protocol, proto

#2503 Rename MATIC to POL in genesis and tests
  protocol/daemons/pricefeed/client/constants/static_exchange_market_config_test.go
  protocol/daemons/pricefeed/client/constants/testdata/matic_exchange_config.json
  protocol/daemons/pricefeed/client/constants/testdata/pol_exchange_config.json
  protocol/daemons/pricefeed/client/handler/exchange_query_handler_test.go
  protocol/daemons/slinky/config/market.json
  protocol/daemons/slinky/config/oracle.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/testing/genesis.sh
  protocol/testing/mainnet/genesis.json
  protocol/testing/testnet-dev/dev.sh
  protocol/testing/testnet-staging/staging.sh
  protocol/testing/testnet/genesis.json
  protocol/testutil/constants/genesis.go
  protocol/testutil/constants/pricefeed.go
  protocol/testutil/constants/prices.go
  protocol/testutil/daemons/pricefeed/exchange_config/market_id.go
  protocol/testutil/daemons/pricefeed/exchange_config/static_market_names.go
  protocol/testutil/daemons/pricefeed/exchange_config/testnet_exchange_market_config.go
Labels: protocol

#2491 [TRA-721] Enforce sidecar versions
  protocol/app/app.go
  protocol/daemons/slinky/client/client.go
  protocol/daemons/slinky/client/client_test.go
  protocol/daemons/slinky/client/constants.go
  protocol/daemons/slinky/client/sidecar_version_checker.go
  protocol/daemons/slinky/client/sidecar_version_checker_test.go
  protocol/go.mod
  protocol/mocks/Makefile
  protocol/mocks/SidecarVersionChecker.go
Labels: protocol

#2513 Add config var to exclude specific stateful order ids from being processed.
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-triggered-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-removal-handler.test.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/lib/block-processor.ts
  indexer/services/ender/src/lib/types.ts
  indexer/services/ender/src/scripts/handlers/dydx_block_processor_ordered_handlers.sql
  indexer/services/ender/src/scripts/handlers/dydx_block_processor_unordered_handlers.sql
  indexer/services/ender/src/validators/stateful-order-validator.ts
  indexer/services/ender/src/validators/validator.ts
Labels: indexer, backport/indexer/v7.x

#2512 Drop patch number from upgrade name, v7.0.0 to v7.0
  protocol/app/upgrades.go
  protocol/app/upgrades/v7.0/constants.go
  protocol/app/upgrades/v7.0/upgrade.go
  protocol/app/upgrades/v7.0/upgrade_container_test.go
  protocol/testing/version/VERSION_CURRENT
Labels: protocol, chore

#2517 FNS polish - metrics, max msg size, default flag values
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/lib/metrics/metric_keys.go
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/ws/websocket_server.go
Labels: protocol

#2516 Add script to get insurance fund balances
  protocol/scripts/markets/get_isolated_market_insurance_fund.py
Labels: protocol

#2518 reusing subscription ids
  protocol/streaming/full_node_streaming_manager.go
Labels: protocol

#2519 add wallet when transfer to subaccount
  indexer/services/ender/__tests__/handlers/transfer-handler.test.ts
  indexer/services/ender/src/scripts/handlers/dydx_transfer_handler.sql
Labels: indexer

#2521 update migration to stop excessive consumption of computation
  indexer/packages/postgres/src/db/migrations/migration_files/20240910101410_change_fills_affiliaterevshare_type.ts
Labels: indexer, backport/indexer/v7.x

#2523 FNS - bounds check raw subscription payload int vals
  protocol/streaming/ws/websocket_server.go
Labels: protocol

#2273 Feature Branch - Full Node Streaming into `protocol/v6.x`
  .github/workflows/protocol-build-and-push.yml
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/order.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/streaming.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/subaccounts/streaming.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/clob/order.proto
  proto/dydxprotocol/clob/query.proto
  proto/dydxprotocol/clob/streaming.proto
  proto/dydxprotocol/subaccounts/streaming.proto
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/docker-compose.yml
  protocol/finalizeblock/event_stager.go
  protocol/go.mod
  protocol/lib/metrics/constants.go
  protocol/lib/metrics/metric_keys.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClobKeeper.go
  protocol/streaming/constants.go
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/noop_streaming_manager.go
  protocol/streaming/types/interface.go
  protocol/streaming/util/util.go
  protocol/streaming/ws/websocket_message_sender.go
  protocol/streaming/ws/websocket_server.go
  protocol/testutil/keeper/subaccounts.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/grpc_stream_finalize_block.go
  protocol/x/clob/keeper/grpc_stream_orderbook.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_grpc_streaming.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/module.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/clob/types/liquidation_order.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/message_clob_match.go
  protocol/x/clob/types/order.go
  protocol/x/clob/types/order.pb.go
  protocol/x/clob/types/orderbook.go
  protocol/x/clob/types/query.pb.go
  protocol/x/clob/types/streaming.pb.go
  protocol/x/subaccounts/keeper/keeper.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/streaming.pb.go
  protocol/x/subaccounts/types/types.go
Labels: indexer, protocol, proto

#2525 Get funding index maps for vault positions in chunks.
  indexer/packages/postgres/src/stores/funding-index-updates-table.ts
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
Labels: indexer

#2528 Vulcan topic to 210 partitions
  indexer/services/bazooka/src/index.ts
Labels: indexer

#2531 Bump SDK - Always Reset OE
  protocol/go.mod
  protocol/go.sum
Labels: protocol, non-breaking

#2479 [CT-1262] add e2e tests for permissioned keys success cases
  protocol/app/ante.go
  protocol/app/ante/pubkey.go
  protocol/app/app.go
  protocol/testutil/constants/stateful_orders.go
  protocol/x/accountplus/ante/circuit_breaker.go
  protocol/x/accountplus/ante/circuit_breaker_test.go
  protocol/x/accountplus/authenticator/signature_authenticator.go
  protocol/x/affiliates/e2e/register_affiliate_test.go
  protocol/x/clob/e2e/permissioned_keys_test.go
Labels: protocol

#2539 Add missing fields to perpetual markets kafka update
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/services/ender/src/helpers/kafka-helper.ts
Labels: indexer

#2540 De-duplicate and filter out invalid pnl ticks for megavault.
  indexer/pnpm-lock.yaml
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/__tests__/lib/helpers.test.ts
  indexer/services/comlink/package.json
  indexer/services/comlink/src/controllers/api/v4/historical-pnl-controller.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
  indexer/services/comlink/src/lib/helpers.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#2524 [TRA-513] Deprecate exchange config json and min exchanges
  indexer/packages/v4-protos/src/codegen/dydxprotocol/prices/market_param.ts
  proto/dydxprotocol/prices/market_param.proto
  protocol/app/ante/market_update_test.go
  protocol/daemons/pricefeed/client/types/price_feed_mutable_market_configs_test.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/e2e/gov/prices_test.go
  protocol/testing/genesis.sh
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/keeper/listing_test.go
  protocol/x/prices/keeper/market_param_test.go
  protocol/x/prices/keeper/market_test.go
  protocol/x/prices/keeper/msg_server_update_market_param_test.go
  protocol/x/prices/keeper/slinky_adapter_test.go
  protocol/x/prices/module_test.go
  protocol/x/prices/types/genesis_test.go
  protocol/x/prices/types/market_param.go
  protocol/x/prices/types/market_param.pb.go
  protocol/x/prices/types/market_param_test.go
  protocol/x/prices/types/message_create_oracle_market_test.go
  protocol/x/prices/types/message_update_market_param_test.go
Labels: indexer, protocol, proto

#2544 Full node streaming -- perp position to signed int
  indexer/packages/v4-protos/src/codegen/dydxprotocol/subaccounts/streaming.ts
  proto/dydxprotocol/subaccounts/streaming.proto
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/streaming.pb.go
Labels: indexer, protocol, proto

#2526 [OTE-882] Add prefix to accountplus keeper
  protocol/app/upgrades/v8.0/migrate_accountplus_test.go
  protocol/app/upgrades/v8.0/upgrade.go
  protocol/x/accountplus/keeper/keeper.go
  protocol/x/accountplus/keeper/keeper_test.go
  protocol/x/accountplus/keeper/timestampnonce.go
  protocol/x/accountplus/types/keys.go
Labels: protocol

#2550 pass shares to withdraw in megavault withdrawal query rest endpoint
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.lcd.ts
  proto/dydxprotocol/vault/query.proto
  protocol/x/vault/types/query.pb.go
  protocol/x/vault/types/query.pb.gw.go
Labels: indexer, protocol, proto
