Repository dydxprotocol/v4-chain, pull requests merged in 2024-09, with the labels that each got.

#2179 [OTE-750] Affiliates new affiliate info table
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/affiliate-info-table.test.ts
  indexer/packages/postgres/__tests__/stores/affiliate-referred-users-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240830154741_create_affiliate_referred_users_table.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240830165511_create_affiliate_info_table.ts
  indexer/packages/postgres/src/helpers/db-helpers.ts
  indexer/packages/postgres/src/models/affiliate-info-model.ts
  indexer/packages/postgres/src/models/affiliate-referred-users-model.ts
  indexer/packages/postgres/src/stores/affiliate-info-table.ts
  indexer/packages/postgres/src/types/affiliate-info-types.ts
  indexer/packages/postgres/src/types/affiliate-referred-users-types.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/query-types.ts
Labels: indexer, feature:indexer/affiliates

#2149 Add subaccount id as kafka key for subaccount messages
  indexer/services/ender/__tests__/lib/kafka-publisher.test.ts
  indexer/services/ender/src/lib/kafka-publisher.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
Labels: indexer

#2184 Add no-op v6.0.0_testnet_fix upgrade for testnet
  protocol/app/upgrades.go
  protocol/app/upgrades/v6.0.0_testnet_fix/constants.go
  protocol/app/upgrades/v6.0.0_testnet_fix/upgrade.go
Labels: protocol

#2187 Build image with different pre and post upgrade versions for testnet
  protocol/testing/testnet/testnet.sh
  protocol/testing/version/version.sh
Labels: protocol

#2193 [OTE-774] add protos for unconditional revshare config
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/revshare.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/tx.ts
  proto/dydxprotocol/revshare/revshare.proto
  proto/dydxprotocol/revshare/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/lib/ante/internal_msg.go
  protocol/x/revshare/keeper/msg_update_unconditional_revshare_config.go
  protocol/x/revshare/types/revshare.pb.go
  protocol/x/revshare/types/tx.pb.go
Labels: indexer, protocol, proto

#2194 Add repartitioning step to bazooka
  indexer/services/bazooka/src/index.ts
Labels: indexer

#2197 rename column in fills table
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240904161445_fills_rename_affiliateearnedrevshare.ts
  indexer/packages/postgres/src/models/fill-model.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/fill-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/fills-controller.test.ts
  indexer/services/comlink/__tests__/helpers/helpers.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/lib/kafka-publisher.test.ts
Labels: indexer

#2161 [OTE-738] update name generation with manual list
  indexer/pnpm-lock.yaml
  indexer/services/roundtable/__tests__/helpers/usernames-helper.test.ts
  indexer/services/roundtable/package.json
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/helpers/adjectives.json
  indexer/services/roundtable/src/helpers/nouns.json
  indexer/services/roundtable/src/helpers/usernames-helper.ts
  indexer/services/roundtable/src/tasks/subaccount-username-generator.ts
Labels: indexer

#2195 [OTE-759] Add register affiliate event handling
  indexer/packages/postgres/src/constants.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/services/ender/__tests__/handlers/register-affiliate-handler.test.ts
  indexer/services/ender/__tests__/validators/register-affiliate-validator.test.ts
  indexer/services/ender/src/handlers/register-affiliate-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/lib/block-processor.ts
  indexer/services/ender/src/lib/helper.ts
  indexer/services/ender/src/lib/types.ts
  indexer/services/ender/src/scripts/handlers/dydx_block_processor_unordered_handlers.sql
  indexer/services/ender/src/scripts/handlers/dydx_register_affiliate_handler.sql
  indexer/services/ender/src/validators/register-affiliate-validator.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/indexer/events/constants.go
  protocol/indexer/events/events.pb.go
Labels: indexer, protocol, proto, feature:indexer/affiliates

#2199 Delete topics based on existing partitions
  indexer/services/bazooka/__tests__/index.test.ts
  indexer/services/bazooka/src/index.ts
Labels: indexer

#2202 Fix bug in clearing topics
  indexer/services/bazooka/src/index.ts
Labels: indexer

#2210 Revert "Fix bug in clearing topics (backport #2202)"
  indexer/services/bazooka/src/index.ts
Labels: indexer

#2209 Revert "Fix bug in clearing topics (backport #2202)"
  indexer/services/bazooka/src/index.ts
Labels: indexer

#2201 [OTE-758] Add affiliateRevShare to ender fill handlers
  indexer/services/ender/__tests__/handlers/order-fills/deleveraging-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/src/scripts/handlers/dydx_deleveraging_handler.sql
  indexer/services/ender/src/scripts/helpers/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/helpers/dydx_order_fill_handler_per_order.sql
Labels: indexer

#2221 Short-circuit `RegisterAffiliate` state read when address is invalid
  protocol/x/affiliates/keeper/keeper.go
Labels: protocol

#2214 [OTE-694]implement queries for affiliates
  protocol/x/affiliates/keeper/grpc_query.go
  protocol/x/affiliates/keeper/grpc_query_test.go
  protocol/x/affiliates/types/errors.go
Labels: protocol

#2224 Expose maxWaitTimeInMs and set subaccounts partitions to 3
  indexer/packages/kafka/src/config.ts
  indexer/packages/kafka/src/consumer.ts
  indexer/services/bazooka/src/index.ts
Labels: indexer

#2181 [CT-1178] Only emit finalized subaccount update
  protocol/lib/metrics/metric_keys.go
  protocol/mocks/ClobKeeper.go
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/noop_streaming_manager.go
  protocol/streaming/types/interface.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/types/types.go
Labels: protocol

#2222 [OTE-755] Add update wallet total volume roundtable task
  indexer/packages/postgres/__tests__/stores/wallet-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240906134410_add_fills_created_at_index.ts
  indexer/packages/postgres/src/stores/wallet-table.ts
  indexer/services/roundtable/__tests__/tasks/update-wallet-total-volume.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/update-wallet-total-volume.ts
Labels: indexer

#2196 [OTE-775] add keeper methods to update unconditional revshare config
  proto/dydxprotocol/affiliates/tx.proto
  protocol/app/app.go
  protocol/testutil/keeper/affiliates.go
  protocol/testutil/keeper/assets.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/listing.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/keeper/prices.go
  protocol/testutil/keeper/revshare.go
  protocol/testutil/keeper/rewards.go
  protocol/testutil/keeper/sending.go
  protocol/testutil/keeper/subaccounts.go
  protocol/x/affiliates/keeper/keeper.go
  protocol/x/affiliates/keeper/msg_server.go
  protocol/x/affiliates/types/errors.go
  protocol/x/affiliates/types/expected_keepers.go
  protocol/x/affiliates/types/tx.pb.go
  protocol/x/revshare/keeper/keeper.go
  protocol/x/revshare/keeper/msg_set_marketmapper_revenue_share.go
  protocol/x/revshare/keeper/msg_set_marketmapper_revenue_share_test.go
  protocol/x/revshare/keeper/msg_update_unconditional_revshare_config.go
  protocol/x/revshare/keeper/msg_update_unconditional_revshare_config_test.go
  protocol/x/revshare/keeper/revshare.go
  protocol/x/revshare/keeper/revshare_test.go
  protocol/x/revshare/types/errors.go
  protocol/x/revshare/types/keys.go
  protocol/x/revshare/types/msg_update_unconditional_revshare_config.go
Labels: protocol, proto

#2227 Full Node Streaming - reorder protobuf single length fields before variable length fields
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#2232 [OTE-791] Add proto for affiliate whitelist
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/affiliates.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/query.ts
  proto/dydxprotocol/affiliates/affiliates.proto
  proto/dydxprotocol/affiliates/query.proto
  protocol/x/affiliates/keeper/grpc_query.go
  protocol/x/affiliates/types/affiliates.pb.go
  protocol/x/affiliates/types/query.pb.go
Labels: indexer, protocol, proto

#2216 [OTE-692] Implement message server for affiliates
  protocol/x/affiliates/keeper/msg_server.go
  protocol/x/affiliates/keeper/msg_server_test.go
Labels: protocol

#2185 [CT-1040] Push Notifications (1 of 4) - Add Notification Package
  indexer/Dockerfile.bazooka.remote
  indexer/Dockerfile.service.local
  indexer/Dockerfile.service.remote
  indexer/packages/notifications/.env
  indexer/packages/notifications/.env.development
  indexer/packages/notifications/.env.production
  indexer/packages/notifications/.env.test
  indexer/packages/notifications/.eslintrc.js
  indexer/packages/notifications/README.md
  indexer/packages/notifications/__tests__/localization.test.ts
  indexer/packages/notifications/__tests__/message.test.ts
  indexer/packages/notifications/jest.config.js
  indexer/packages/notifications/jest.globalSetup.js
  indexer/packages/notifications/jest.setup.js
  indexer/packages/notifications/package.json
  indexer/packages/notifications/src/config.ts
  indexer/packages/notifications/src/index.ts
  indexer/packages/notifications/src/lib/firebase.ts
  indexer/packages/notifications/src/localization.ts
  indexer/packages/notifications/src/localized-messages.ts
  indexer/packages/notifications/src/message.ts
  indexer/packages/notifications/src/types.ts
  indexer/packages/notifications/tsconfig.eslint.json
  indexer/packages/notifications/tsconfig.json
  indexer/pnpm-lock.yaml
Labels: indexer

#2234 [OTE-793] modify affiliate api stubs
  indexer/services/comlink/__tests__/controllers/api/v4/affiliates-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/affiliates-controller.ts
  indexer/services/comlink/src/types.ts
Labels: indexer, feature:indexer/affiliates

#2236 drop isWhitelist from wallets table
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/transfer-table.test.ts
  indexer/packages/postgres/__tests__/stores/wallet-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240911144027_drop_wallets_iswhitelist_column.ts
  indexer/packages/postgres/src/models/wallet-model.ts
  indexer/packages/postgres/src/stores/wallet-table.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/packages/postgres/src/types/wallet-types.ts
  indexer/services/ender/src/scripts/handlers/dydx_transfer_handler.sql
Labels: indexer

#2238 Remove unnecessary logs
  indexer/services/socks/src/lib/message-forwarder.ts
  indexer/services/vulcan/src/lib/on-batch.ts
Labels: indexer

#2235 [OTE-730] add test to check register affiliate auth
  protocol/x/affiliates/e2e/register_affiliate_test.go
  protocol/x/affiliates/keeper/msg_server.go
Labels: protocol

#2188 [CT-1040] Push Notifications (2 of 4) - Add Token To Postgres
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/helpers/mock-generators.ts
  indexer/packages/postgres/__tests__/stores/firebase-notification-token-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240809153326_create_firebase_notification_tokens_table.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/models/firebase-notification-token-model.ts
  indexer/packages/postgres/src/stores/firebase-notification-token-table.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/firebase-notification-token-types.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/query-types.ts
Labels: indexer

#2191 [CT-1040] Push Notifications (3 of 4) - Add RegisterToken to Comlink
  indexer/packages/postgres/src/stores/firebase-notification-token-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/pnpm-lock.yaml
  indexer/services/comlink/.env.test
  indexer/services/comlink/__tests__/controllers/api/v4/addresses-controller.test.ts
  indexer/services/comlink/package.json
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/lib/errors.ts
  indexer/services/comlink/src/lib/helpers.ts
  indexer/services/comlink/src/lib/validation/schemas.ts
  indexer/services/comlink/src/types.ts
  indexer/services/roundtable/__tests__/tasks/delete-old-firebase-notification-tokens.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/delete-old-firebase-notification-tokens.ts
Labels: indexer

#2244 Fix vulcan post processing metrics not emitted for short term orders
  indexer/services/vulcan/src/lib/on-message.ts
Labels: indexer

#2151 [TRA-530] When changing market pair name, validate that new pair exists in the market map
  protocol/x/prices/keeper/market_param.go
  protocol/x/prices/keeper/market_param_test.go
Labels: bug, protocol

#2228 [OTE-776] Implement GetAllRevshares
  protocol/x/clob/types/types.go
  protocol/x/revshare/keeper/revshare.go
  protocol/x/revshare/keeper/revshare_test.go
  protocol/x/revshare/types/constants.go
  protocol/x/revshare/types/errors.go
  protocol/x/revshare/types/types.go
Labels: protocol

#2219 [OTE-696] Emit register affiliate event on successful registration
  protocol/app/app.go
  protocol/indexer/events/affiliates.go
  protocol/indexer/events/affiliates_test.go
  protocol/indexer/events/constants.go
  protocol/testutil/keeper/affiliates.go
  protocol/testutil/keeper/assets.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/listing.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/keeper/prices.go
  protocol/testutil/keeper/revshare.go
  protocol/testutil/keeper/rewards.go
  protocol/testutil/keeper/sending.go
  protocol/testutil/keeper/subaccounts.go
  protocol/x/affiliates/keeper/keeper.go
  protocol/x/affiliates/keeper/keeper_test.go
Labels: protocol

#2248 Fix log message
  protocol/x/prices/keeper/update_price.go
Labels: protocol

#2220 [OTE-779] Check affiliate tiers are strictly increasing before updating tiers
  protocol/x/affiliates/keeper/grpc_query_test.go
  protocol/x/affiliates/keeper/keeper.go
  protocol/x/affiliates/keeper/keeper_test.go
  protocol/x/affiliates/keeper/msg_server.go
Labels: protocol

#2243 [OTE-760] implement comlink affiliate metadata endpoint
  indexer/services/comlink/__tests__/controllers/api/v4/affiliates-controller.test.ts
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/affiliates-controller.ts
Labels: indexer, feature:indexer/affiliates

#2255 fix lint for affiliates
  protocol/x/revshare/keeper/revshare_test.go
Labels: protocol

#2247 [TRA-571] Add query to get intervaled PnL ticks.
  indexer/packages/postgres/__tests__/stores/pnl-ticks-table.test.ts
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/packages/postgres/src/types/pnl-ticks-types.ts
Labels: indexer

#2162 [CT-1160] add relevant protos to dydxprotocol
  indexer/packages/v4-protos/src/codegen/dydxprotocol/accountplus/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/accountplus/models.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/accountplus/params.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/accountplus/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/accountplus/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/accountplus/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/accountplus/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/accountplus/tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/rpc.query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/rpc.tx.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/accountplus/genesis.proto
  proto/dydxprotocol/accountplus/models.proto
  proto/dydxprotocol/accountplus/params.proto
  proto/dydxprotocol/accountplus/query.proto
  proto/dydxprotocol/accountplus/tx.proto
  protocol/app/testdata/default_genesis_state.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/x/accountplus/types/genesis.pb.go
  protocol/x/accountplus/types/models.pb.go
  protocol/x/accountplus/types/params.pb.go
  protocol/x/accountplus/types/query.pb.go
  protocol/x/accountplus/types/query.pb.gw.go
  protocol/x/accountplus/types/tx.pb.go
Labels: indexer, protocol, proto

#2218 [OTE-695] Aggregate referred volume in endblocker
  protocol/x/affiliates/abci.go
  protocol/x/affiliates/keeper/keeper.go
  protocol/x/affiliates/keeper/keeper_test.go
  protocol/x/affiliates/module.go
  protocol/x/affiliates/types/expected_keepers.go
Labels: protocol

#2182 [CT-1179] add licensing info for x/accountplus and attributions to Os…
  protocol/x/accountplus/LICENSE
  protocol/x/accountplus/README.md
Labels: protocol

#2252 [OTE-780] Add client code for affiliates
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/genesis.ts
  proto/dydxprotocol/affiliates/genesis.proto
  protocol/app/testdata/default_genesis_state.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/x/affiliates/client/cli/query.go
  protocol/x/affiliates/client/cli/query_test.go
  protocol/x/affiliates/client/cli/tx.go
  protocol/x/affiliates/genesis.go
  protocol/x/affiliates/keeper/grpc_query.go
  protocol/x/affiliates/keeper/grpc_query_test.go
  protocol/x/affiliates/types/genesis.go
  protocol/x/affiliates/types/genesis.pb.go
  protocol/x/revshare/keeper/revshare_test.go
Labels: indexer, protocol, proto

#2253 [OTE-456] FNS x OE: stage `FinalizeBlock` events and emit in `Precommit`
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/streaming.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/clob/streaming.proto
  protocol/app/app.go
  protocol/lib/metrics/constants.go
  protocol/lib/metrics/metric_keys.go
  protocol/streaming/constants.go
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/noop_streaming_manager.go
  protocol/streaming/types/interface.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/grpc_stream_finalize_block.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/types/streaming.pb.go
  protocol/x/subaccounts/keeper/subaccount.go
Labels: indexer, protocol, proto

#2259 add megavault operator params and update message
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/params.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  proto/dydxprotocol/vault/genesis.proto
  proto/dydxprotocol/vault/params.proto
  proto/dydxprotocol/vault/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/lib/ante/internal_msg.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/testutil/constants/genesis.go
  protocol/x/vault/genesis.go
  protocol/x/vault/keeper/msg_server_update_operator_params.go
  protocol/x/vault/keeper/msg_server_update_operator_params_test.go
  protocol/x/vault/keeper/params.go
  protocol/x/vault/keeper/params_test.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/genesis.go
  protocol/x/vault/types/genesis.pb.go
  protocol/x/vault/types/keys.go
  protocol/x/vault/types/keys_test.go
  protocol/x/vault/types/params.go
  protocol/x/vault/types/params.pb.go
  protocol/x/vault/types/params_test.go
  protocol/x/vault/types/tx.pb.go
Labels: indexer, protocol, proto

#2239 [TRA-599] Set market pair for telemetry in Slinky Daemon
  protocol/daemons/slinky/client/market_pair_fetcher.go
Labels: protocol

#2265 Add instance to vulcan metrics
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
  indexer/services/vulcan/src/handlers/order-update-handler.ts
  indexer/services/vulcan/src/index.ts
  indexer/services/vulcan/src/lib/on-batch.ts
  indexer/services/vulcan/src/lib/on-message.ts
  indexer/services/vulcan/src/lib/send-message-helper.ts
Labels: indexer

#2217 [OTE-687] Bump fee tiers for referees
  protocol/app/app.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/feetiers.go
  protocol/testutil/keeper/listing.go
  protocol/testutil/keeper/rewards.go
  protocol/x/feetiers/keeper/keeper.go
  protocol/x/feetiers/keeper/keeper_test.go
  protocol/x/feetiers/types/constants.go
  protocol/x/feetiers/types/expected_keepers.go
Labels: protocol

#2260 [CT-1190] Emit `FinalizeBlock` updates in single batch.
  protocol/streaming/full_node_streaming_manager.go
Labels: protocol

#2268 Fix broken vulcan tests
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-update-handler.test.ts
  indexer/services/vulcan/__tests__/lib/on-message.test.ts
  indexer/services/vulcan/__tests__/lib/send-message-helper.test.ts
  indexer/services/vulcan/src/handlers/handler.ts
Labels: indexer

#2263 [TRA-571] Add vault table and vault event version/subtype.
  indexer/packages/postgres/__tests__/db/migrations.test.ts
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/vault-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240912180829_create_vaults_table.ts
  indexer/packages/postgres/src/helpers/db-helpers.ts
  indexer/packages/postgres/src/models/vault-model.ts
  indexer/packages/postgres/src/stores/vault-table.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/packages/postgres/src/types/vault-types.ts
  protocol/indexer/events/constants.go
Labels: indexer, protocol

#2262 allow megavault operator to set vault params
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/lib/ante/internal_msg.go
  protocol/x/vault/client/cli/tx.go
  protocol/x/vault/client/cli/util.go
  protocol/x/vault/keeper/msg_server_set_vault_params.go
  protocol/x/vault/keeper/msg_server_set_vault_params_test.go
Labels: protocol

#2183 [CT-1161] add signature verification authenticator
  protocol/x/accountplus/authenticator/authentication_request.go
  protocol/x/accountplus/authenticator/base_test.go
  protocol/x/accountplus/authenticator/iface.go
  protocol/x/accountplus/authenticator/requests.go
  protocol/x/accountplus/authenticator/signature_authenticator.go
  protocol/x/accountplus/authenticator/signature_authenticator_test.go
Labels: protocol

#2241 Adam/ct 1040 push notifications stack 5
  indexer/services/comlink/__tests__/controllers/api/v4/addresses-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
  indexer/services/comlink/src/helpers/compliance/compliance-utils.ts
  indexer/services/comlink/src/lib/validation/schemas.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#2256 [CT-1193] introduce authenticator manager
  protocol/app/app.go
  protocol/testutil/ante/testutil.go
  protocol/testutil/keeper/accountplus.go
  protocol/x/accountplus/authenticator/manager.go
  protocol/x/accountplus/authenticator/manager_test.go
  protocol/x/accountplus/keeper/keeper.go
Labels: protocol

#2276 [TRA-531] When market pair changes, disable old market and enable new market
  protocol/x/prices/keeper/market_param.go
  protocol/x/prices/keeper/market_param_test.go
  protocol/x/prices/types/errors.go
  protocol/x/prices/types/expected_keepers.go
Labels: protocol

#2242 add megavault withdrawal fee estimation
  protocol/lib/big_math.go
  protocol/lib/big_math_test.go
  protocol/lib/vault/utils.go
  protocol/lib/vault/utils_test.go
  protocol/mocks/PerpetualsKeeper.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/keeper/withdraw.go
  protocol/x/vault/keeper/withdraw_test.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/expected_keepers.go
Labels: protocol

#2281 include operator params in vault params query
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  proto/dydxprotocol/vault/query.proto
  protocol/x/vault/keeper/grpc_query.go
  protocol/x/vault/keeper/grpc_query_test.go
  protocol/x/vault/types/query.pb.go
Labels: indexer, protocol, proto

#2269 [OTE-762] Affiliates comlink affiliate info
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/affiliate-info-table.test.ts
  indexer/packages/postgres/__tests__/stores/subaccount-usernames-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240913142157_change_affiliate_info_decimal_precision_and_add_total_referred_volume.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/models/affiliate-info-model.ts
  indexer/packages/postgres/src/stores/affiliate-info-table.ts
  indexer/packages/postgres/src/stores/subaccount-usernames-table.ts
  indexer/packages/postgres/src/types/affiliate-info-types.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/affiliates-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/affiliates-controller.ts
  indexer/services/comlink/src/types.ts
Labels: indexer, feature:indexer/affiliates

#2272 only create clob pair during deliver tx and cli cmd for pml
  protocol/testutil/keeper/listing.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/listing/client/cli/tx.go
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/keeper/listing_test.go
  protocol/x/listing/keeper/msg_create_market_permissionless.go
  protocol/x/listing/types/errors.go
  protocol/x/listing/types/expected_keepers.go
Labels: protocol

#2277 add ability to allocate to vaults
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  proto/dydxprotocol/vault/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/x/vault/client/cli/tx.go
  protocol/x/vault/keeper/msg_server_allocate_to_vault.go
  protocol/x/vault/keeper/msg_server_allocate_to_vault_test.go
  protocol/x/vault/keeper/msg_server_set_vault_params.go
  protocol/x/vault/keeper/msg_server_set_vault_params_test.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/expected_keepers.go
  protocol/x/vault/types/tx.pb.go
Labels: indexer, protocol, proto

#2275 [CT-1194] add more relevant authenticators
  protocol/app/app.go
  protocol/x/accountplus/authenticator/all_of.go
  protocol/x/accountplus/authenticator/any_of.go
  protocol/x/accountplus/authenticator/composite.go
  protocol/x/accountplus/authenticator/composition_test.go
  protocol/x/accountplus/authenticator/message_filter.go
  protocol/x/accountplus/authenticator/message_filter_test.go
  protocol/x/accountplus/testutils/generic_authenticator.go
  protocol/x/accountplus/testutils/spy_authenticator.go
Labels: protocol

#2287 [TRA-572] Send upsert vault event when setting parameters of vault.
  protocol/app/app.go
  protocol/indexer/events/upsert_vault.go
  protocol/testutil/keeper/vault.go
  protocol/x/vault/keeper/keeper.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/params.go
  protocol/x/vault/keeper/params_test.go
Labels: protocol

#2282 [TRA-571] Add resolution argument to vault PnL endpoint.
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#2286 Set to-vulcan topic to 150 partitions
  indexer/services/bazooka/src/index.ts
Labels: indexer

#2290 allow operator and governance to retrieve from vaults
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  proto/dydxprotocol/vault/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/x/vault/client/cli/tx.go
  protocol/x/vault/keeper/msg_server_retrieve_from_vault.go
  protocol/x/vault/keeper/msg_server_retrieve_from_vault_test.go
  protocol/x/vault/types/tx.pb.go
Labels: indexer, protocol, proto

#2288 add megavault withdrawal msg
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  proto/dydxprotocol/vault/tx.proto
  protocol/app/module/interface_registry.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/testutil/encoding/utils.go
  protocol/x/vault/keeper/deposit.go
  protocol/x/vault/keeper/msg_server_allocate_to_vault.go
  protocol/x/vault/keeper/msg_server_withdraw_from_megavault.go
  protocol/x/vault/keeper/msg_server_withdraw_from_megavault_test.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/keeper/withdraw.go
  protocol/x/vault/keeper/withdraw_test.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/events.go
  protocol/x/vault/types/tx.pb.go
Labels: indexer, protocol, proto

#2294 re-enable tests on vault best fee tier and order size changing due to allocation and retrieval
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/vault_test.go
Labels: protocol

#2293 [TRA-621] Sweep bank funds of megavault into subaccount.
  protocol/app/app.go
  protocol/mocks/AssetsKeeper.go
  protocol/mocks/Makefile
  protocol/testutil/keeper/vault.go
  protocol/x/assets/types/types.go
  protocol/x/vault/abci.go
  protocol/x/vault/keeper/keeper.go
  protocol/x/vault/keeper/sweep_funds.go
  protocol/x/vault/keeper/sweep_funds_test.go
  protocol/x/vault/types/expected_keepers.go
  protocol/x/vault/types/megavault.go
Labels: protocol

#2198 Sp/vault post only orders
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
Labels: protocol

#2258 [OTE-790]Implement affiliates whitelist logic
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/tx.ts
  proto/dydxprotocol/affiliates/tx.proto
  protocol/app/app.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/lib/ante/internal_msg.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClobKeeper.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/listing.go
  protocol/testutil/memclob/keeper.go
  protocol/x/affiliates/client/cli/query.go
  protocol/x/affiliates/client/cli/query_test.go
  protocol/x/affiliates/keeper/grpc_query.go
  protocol/x/affiliates/keeper/grpc_query_test.go
  protocol/x/affiliates/keeper/keeper.go
  protocol/x/affiliates/keeper/keeper_test.go
  protocol/x/affiliates/keeper/msg_server.go
  protocol/x/affiliates/keeper/msg_server_test.go
  protocol/x/affiliates/types/constants.go
  protocol/x/affiliates/types/errors.go
  protocol/x/affiliates/types/expected_keepers.go
  protocol/x/affiliates/types/keys.go
  protocol/x/affiliates/types/tx.pb.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/revshare/keeper/msg_set_marketmapper_revenue_share.go
  protocol/x/revshare/keeper/msg_update_unconditional_revshare_config.go
  protocol/x/revshare/keeper/revshare.go
  protocol/x/revshare/keeper/revshare_test.go
  protocol/x/subaccounts/keeper/transfer_test.go
Labels: indexer, protocol, proto

#2296 Revert "Sp/vault post only orders (#2198)"
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
Labels: protocol

#2301 disable deactivating vaults with positive equity
  protocol/x/vault/keeper/msg_server_withdraw_from_megavault_test.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/params.go
  protocol/x/vault/keeper/params_test.go
  protocol/x/vault/keeper/vault_test.go
  protocol/x/vault/types/errors.go
Labels: protocol

#2303 emit transfer event on vault allocation, retrieval, and withdrawal
  protocol/x/vault/keeper/deposit.go
  protocol/x/vault/keeper/deposit_test.go
  protocol/x/vault/keeper/msg_server_allocate_to_vault.go
  protocol/x/vault/keeper/msg_server_allocate_to_vault_test.go
  protocol/x/vault/keeper/msg_server_deposit_to_megavault_test.go
  protocol/x/vault/keeper/msg_server_retrieve_from_vault.go
  protocol/x/vault/keeper/msg_server_retrieve_from_vault_test.go
  protocol/x/vault/keeper/msg_server_withdraw_from_megavault_test.go
  protocol/x/vault/keeper/withdraw.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/expected_keepers.go
  protocol/x/vault/types/msg_allocate_to_vault.go
  protocol/x/vault/types/msg_allocate_to_vault_test.go
  protocol/x/vault/types/msg_deposit_to_megavault.go
  protocol/x/vault/types/msg_deposit_to_megavault_test.go
  protocol/x/vault/types/msg_retrieve_from_vault.go
  protocol/x/vault/types/msg_retrieve_from_vault_test.go
  protocol/x/vault/types/msg_withdraw_from_megavault.go
  protocol/x/vault/types/msg_withdraw_from_megavault_test.go
Labels: protocol

#2233 [OTE-757] add update affiliate info roundtable
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/affiliate-info-table.test.ts
  indexer/packages/postgres/__tests__/stores/wallet-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240910101410_change_fills_affiliaterevshare_type.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240919142157_change_affiliate_info_default_value.ts
  indexer/packages/postgres/src/stores/affiliate-info-table.ts
  indexer/packages/postgres/src/stores/wallet-table.ts
  indexer/packages/postgres/src/types/persistent-cache-types.ts
  indexer/services/roundtable/__tests__/tasks/update-affiliate-info.test.ts
  indexer/services/roundtable/__tests__/tasks/update-wallet-total-volume.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/update-affiliate-info.ts
  indexer/services/roundtable/src/tasks/update-wallet-total-volume.ts
Labels: indexer

#2307 Add event for swept funds.
  protocol/x/vault/keeper/sweep_funds.go
  protocol/x/vault/types/events.go
Labels: protocol

#2299 add quoting logic of deactivated, stand-by, close-only modes of vaults
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/params.go
  protocol/x/vault/keeper/params_test.go
  protocol/x/vault/keeper/withdraw.go
Labels: protocol

#2308 exclude deactivated vaults from megavault equity
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/vault.ts
  proto/dydxprotocol/vault/vault.proto
  protocol/x/vault/keeper/msg_server_withdraw_from_megavault_test.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/keeper/vault_test.go
  protocol/x/vault/keeper/withdraw.go
  protocol/x/vault/types/vault.pb.go
Labels: indexer, protocol, proto

#2304 [TRA-625] Add upgrade handler for migrating vault params.
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  proto/dydxprotocol/vault/query.proto
  protocol/app/upgrades.go
  protocol/app/upgrades/v7.0.0/upgrade.go
  protocol/app/upgrades/v7.0.0/upgrade_container_test.go
  protocol/mocks/VaultKeeper.go
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/x/vault/keeper/deprecated_state.go
  protocol/x/vault/keeper/grpc_query_vault_params.go
  protocol/x/vault/keeper/grpc_query_vault_params_test.go
  protocol/x/vault/keeper/params.go
  protocol/x/vault/types/query.pb.go
  protocol/x/vault/types/query.pb.gw.go
  protocol/x/vault/types/types.go
Labels: indexer, protocol, proto

#2309 [OTE-755] Wrap wallet total volume roundtable queries in transaction
  indexer/packages/postgres/__tests__/stores/wallet-table.test.ts
  indexer/packages/postgres/src/stores/affiliate-info-table.ts
  indexer/packages/postgres/src/stores/wallet-table.ts
  indexer/services/roundtable/__tests__/tasks/update-wallet-total-volume.test.ts
  indexer/services/roundtable/src/tasks/update-wallet-total-volume.ts
Labels: indexer, feature:indexer/affiliates

#2285 [CT-1195] add keeper methods and msg server implementation
  indexer/packages/v4-protos/src/codegen/dydxprotocol/accountplus/tx.ts
  proto/dydxprotocol/accountplus/tx.proto
  protocol/app/app.go
  protocol/testutil/ante/testutil.go
  protocol/testutil/keeper/accountplus.go
  protocol/x/accountplus/keeper/authenticators.go
  protocol/x/accountplus/keeper/keeper.go
  protocol/x/accountplus/keeper/keeper_test.go
  protocol/x/accountplus/keeper/msg_server.go
  protocol/x/accountplus/keeper/msg_server_test.go
  protocol/x/accountplus/keeper/params.go
  protocol/x/accountplus/types/errors.go
  protocol/x/accountplus/types/keys.go
  protocol/x/accountplus/types/message_add_authenticator.go
  protocol/x/accountplus/types/message_add_authenticator_test.go
  protocol/x/accountplus/types/tx.pb.go
Labels: indexer, protocol, proto

#2257 [CT-1196] move replay protectin out of sigverify
  protocol/app/ante.go
  protocol/app/ante/replay_protection.go
  protocol/app/ante/sigverify.go
  protocol/app/ante/sigverify_test.go
Labels: protocol

#2311 [OTE-821] Affiliates roundtable metrics
  indexer/services/roundtable/__tests__/tasks/update-affiliate-info.test.ts
  indexer/services/roundtable/__tests__/tasks/update-wallet-total-volume.test.ts
  indexer/services/roundtable/src/tasks/update-affiliate-info.ts
  indexer/services/roundtable/src/tasks/update-wallet-total-volume.ts
Labels: indexer, feature:indexer/affiliates

#2315 feat: usdt protection in antehandler
  protocol/app/ante.go
  protocol/app/ante/market_update.go
  protocol/app/ante/market_update_test.go
  protocol/app/ante_test.go
Labels: protocol

#2319 Remove open interest handler
  indexer/services/ender/__tests__/handlers/open-interest-update-handler.test.ts
  indexer/services/ender/src/handlers/open-interest-update-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/lib/block-processor.ts
  indexer/services/ender/src/lib/helper.ts
  indexer/services/ender/src/lib/types.ts
  indexer/services/ender/src/scripts/handlers/dydx_block_processor_ordered_handlers.sql
  indexer/services/ender/src/scripts/handlers/dydx_open_interest_update_handler.sql
  indexer/services/ender/src/validators/open-interest-update-validator.ts
Labels: indexer

#2302 [OTE-815] Update GetTierForAffiliates and MsgRegisterAffiliates to handle empty tiers
  protocol/x/affiliates/keeper/grpc_query_test.go
  protocol/x/affiliates/keeper/keeper.go
  protocol/x/affiliates/keeper/keeper_test.go
  protocol/x/affiliates/keeper/msg_server_test.go
  protocol/x/affiliates/types/errors.go
  protocol/x/feetiers/keeper/keeper_test.go
  protocol/x/subaccounts/keeper/transfer_test.go
Labels: protocol

#2289 Add Orderbook Mid Price Cache
  indexer/packages/redis/__tests__/caches/orderbook-mid-prices-cache.test.ts
  indexer/packages/redis/src/caches/orderbook-mid-prices-cache.ts
  indexer/packages/redis/src/caches/scripts.ts
  indexer/packages/redis/src/index.ts
  indexer/packages/redis/src/scripts/add_market_price.lua
  indexer/packages/redis/src/scripts/get_market_median_price.lua
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
  indexer/services/ender/src/lib/candles-generator.ts
  indexer/services/roundtable/__tests__/tasks/cache-orderbook-mid-prices.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/cache-orderbook-mid-prices.ts
Labels: indexer

#2322 Revert "feat: usdt protection in antehandler (backport #2315)"
  protocol/app/ante.go
  protocol/app/ante/market_update.go
  protocol/app/ante/market_update_test.go
  protocol/app/ante_test.go
Labels: protocol

#2316 add megavault withdrawal info query
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  proto/dydxprotocol/vault/query.proto
  protocol/x/vault/client/cli/query.go
  protocol/x/vault/keeper/grpc_query_withdrawal_info.go
  protocol/x/vault/keeper/grpc_query_withdrawal_info_test.go
  protocol/x/vault/keeper/withdraw.go
  protocol/x/vault/types/query.pb.go
  protocol/x/vault/types/query.pb.gw.go
Labels: indexer, protocol, proto

#2323 add megavault owner shares query
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  proto/dydxprotocol/vault/query.proto
  protocol/x/vault/client/cli/query.go
  protocol/x/vault/keeper/grpc_query_shares.go
  protocol/x/vault/keeper/grpc_query_shares_test.go
  protocol/x/vault/types/query.pb.go
  protocol/x/vault/types/query.pb.gw.go
Labels: indexer, protocol, proto

#2297 Sp/vault post only orders
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
Labels: protocol

#2327 Add TransferToVault keeper method
  protocol/x/vault/keeper/msg_server_allocate_to_vault.go
  protocol/x/vault/keeper/vault.go
Labels: protocol

#2300 [OTE-817] update trading rewards with new logic
  protocol/testing/e2e/trading_rewards/trading_rewards_test.go
  protocol/x/revshare/keeper/revshare.go
  protocol/x/revshare/keeper/revshare_test.go
  protocol/x/revshare/types/constants.go
  protocol/x/rewards/keeper/keeper.go
  protocol/x/rewards/keeper/keeper_test.go
Labels: protocol

#2298 [OTE-816] Update Revshare logic for affiliates
  protocol/app/app.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/listing.go
  protocol/testutil/keeper/sending.go
  protocol/testutil/keeper/subaccounts.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/revshare/keeper/revshare.go
  protocol/x/revshare/keeper/revshare_test.go
  protocol/x/revshare/types/errors.go
  protocol/x/revshare/types/types.go
  protocol/x/rewards/keeper/keeper.go
  protocol/x/rewards/keeper/keeper_test.go
  protocol/x/subaccounts/keeper/keeper.go
  protocol/x/subaccounts/keeper/transfer.go
  protocol/x/subaccounts/keeper/transfer_test.go
  protocol/x/subaccounts/types/expected_keepers.go
Labels: protocol

#2284 [OTE-788] Update revshare safety
  protocol/app/app.go
  protocol/testing/e2e/gov/feetiers_test.go
  protocol/testutil/keeper/assets.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/listing.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/keeper/prices.go
  protocol/testutil/keeper/revshare.go
  protocol/testutil/keeper/rewards.go
  protocol/testutil/keeper/sending.go
  protocol/testutil/keeper/subaccounts.go
  protocol/x/affiliates/keeper/keeper.go
  protocol/x/affiliates/keeper/msg_server.go
  protocol/x/affiliates/types/expected_keepers.go
  protocol/x/feetiers/keeper/keeper.go
  protocol/x/feetiers/keeper/keeper_test.go
  protocol/x/feetiers/keeper/params.go
  protocol/x/feetiers/types/errors.go
  protocol/x/feetiers/types/expected_keepers.go
  protocol/x/feetiers/types/types.go
  protocol/x/revshare/keeper/keeper.go
  protocol/x/revshare/keeper/msg_set_marketmapper_revenue_share.go
  protocol/x/revshare/keeper/msg_update_unconditional_revshare_config.go
  protocol/x/revshare/keeper/revshare.go
  protocol/x/revshare/keeper/revshare_test.go
Labels: protocol

#2313 [CT-1197] add query methods for smart account
  protocol/lib/metrics/metric_keys.go
  protocol/x/accountplus/keeper/authenticators.go
  protocol/x/accountplus/keeper/keeper_test.go
  protocol/x/accountplus/keeper/query.go
  protocol/x/accountplus/types/codec.go
  protocol/x/accountplus/types/errors.go
Labels: protocol

#2329 cap total size of vault orders in close only mode
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
Labels: protocol

#2328 include client ids in vault query
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  proto/dydxprotocol/vault/query.proto
  protocol/x/vault/keeper/grpc_query_vault.go
  protocol/x/vault/keeper/grpc_query_vault_test.go
  protocol/x/vault/types/query.pb.go
Labels: indexer, protocol, proto

#2333 Revert "Add Orderbook Mid Price Cache (#2289)"
  indexer/packages/redis/__tests__/caches/orderbook-mid-prices-cache.test.ts
  indexer/packages/redis/src/caches/orderbook-mid-prices-cache.ts
  indexer/packages/redis/src/caches/scripts.ts
  indexer/packages/redis/src/index.ts
  indexer/packages/redis/src/scripts/add_market_price.lua
  indexer/packages/redis/src/scripts/get_market_median_price.lua
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
  indexer/services/ender/src/lib/candles-generator.ts
  indexer/services/roundtable/__tests__/tasks/cache-orderbook-mid-prices.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/cache-orderbook-mid-prices.ts
Labels: indexer

#2326 Add function to fetch availability zone id
  indexer/packages/base/package.json
  indexer/packages/base/src/az-id.ts
  indexer/packages/base/src/config.ts
  indexer/packages/base/src/index.ts
  indexer/pnpm-lock.yaml
Labels: indexer

#2330 [OTE-784] Compliance roundtable address filter
  indexer/packages/compliance/src/clients/elliptic-provider.ts
  indexer/packages/compliance/src/index.ts
  indexer/packages/postgres/__tests__/stores/compliance-data-table.test.ts
  indexer/packages/postgres/src/stores/compliance-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/roundtable/__tests__/tasks/update-compliance-data.test.ts
  indexer/services/roundtable/src/tasks/update-compliance-data.ts
Labels: indexer

#2338 Add Orderbook Mid Price Cache
  indexer/packages/redis/__tests__/caches/orderbook-mid-prices-cache.test.ts
  indexer/packages/redis/src/caches/orderbook-mid-prices-cache.ts
  indexer/packages/redis/src/caches/scripts.ts
  indexer/packages/redis/src/index.ts
  indexer/packages/redis/src/scripts/add_market_price.lua
  indexer/packages/redis/src/scripts/get_market_median_price.lua
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
  indexer/services/ender/src/lib/candles-generator.ts
  indexer/services/roundtable/__tests__/tasks/cache-orderbook-mid-prices.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/cache-orderbook-mid-prices.ts
Labels: indexer

#2335 Add current equity as a pnl tick.
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
Labels: indexer

#2337 Update MsgSetActiveState proto
  proto/dydxprotocol/accountplus/tx.proto
  protocol/x/accountplus/types/tx.pb.go
Labels: protocol, proto

#2341 Fix: deterministically fetch perp info from state
  protocol/testutil/constants/positions.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_test.go
Labels: protocol

#2347 Revert "Full Node Streaming - reorder protobuf single length fields before variable length fields (backport #2227)"
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#2356 Add sql script latency metrics
  indexer/services/ender/__tests__/handlers/funding-handler.test.ts
  indexer/services/ender/src/handlers/asset-handler.ts
  indexer/services/ender/src/handlers/funding-handler.ts
  indexer/services/ender/src/handlers/liquidity-tier-handler.ts
  indexer/services/ender/src/handlers/markets/market-create-handler.ts
  indexer/services/ender/src/handlers/markets/market-modify-handler.ts
  indexer/services/ender/src/handlers/markets/market-price-update-handler.ts
  indexer/services/ender/src/handlers/order-fills/deleveraging-handler.ts
  indexer/services/ender/src/handlers/order-fills/liquidation-handler.ts
  indexer/services/ender/src/handlers/order-fills/order-handler.ts
  indexer/services/ender/src/handlers/perpetual-market-handler.ts
  indexer/services/ender/src/handlers/stateful-order/conditional-order-placement-handler.ts
  indexer/services/ender/src/handlers/stateful-order/conditional-order-triggered-handler.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-placement-handler.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-removal-handler.ts
  indexer/services/ender/src/handlers/subaccount-update-handler.ts
  indexer/services/ender/src/handlers/trading-rewards-handler.ts
  indexer/services/ender/src/handlers/transfer-handler.ts
  indexer/services/ender/src/handlers/update-clob-pair-handler.ts
  indexer/services/ender/src/handlers/update-perpetual-handler.ts
  indexer/services/ender/src/scripts/handlers/dydx_block_processor_ordered_handlers.sql
  indexer/services/ender/src/scripts/handlers/dydx_block_processor_unordered_handlers.sql
Labels: indexer

#2331 [TRA-617] Integrate PML and Megavault
  indexer/packages/v4-protos/src/codegen/dydxprotocol/listing/genesis.ts
  proto/dydxprotocol/listing/genesis.proto
  protocol/app/app.go
  protocol/app/testdata/default_genesis_state.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/testutil/constants/genesis.go
  protocol/testutil/keeper/listing.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/listing/genesis.go
  protocol/x/listing/keeper/keeper.go
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/keeper/listing_test.go
  protocol/x/listing/keeper/msg_create_market_permissionless.go
  protocol/x/listing/keeper/msg_create_market_permissionless_test.go
  protocol/x/listing/module.go
  protocol/x/listing/types/expected_keepers.go
  protocol/x/listing/types/genesis.go
  protocol/x/listing/types/genesis.pb.go
  protocol/x/listing/types/params.go
  protocol/x/vault/keeper/params.go
Labels: indexer, protocol, proto, pml

#2357 Revert "Revert "feat: usdt protection in antehandler (backport #2315)""
  protocol/app/ante.go
  protocol/app/ante/market_update.go
  protocol/app/ante/market_update_test.go
  protocol/app/ante_test.go
Labels: protocol

#2332 [OTE-829] upgrade handler for affiliates
  protocol/app/testdata/default_genesis_state.json
  protocol/app/upgrades/v7.0.0/upgrade_container_test.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/x/affiliates/types/genesis.go
Labels: protocol

#2325 [CT-1198] Add smart account and circuit break ante handler
  protocol/lib/metrics/metric_keys.go
  protocol/x/accountplus/ante/ante.go
  protocol/x/accountplus/ante/ante_test.go
  protocol/x/accountplus/ante/circuit_breaker.go
  protocol/x/accountplus/ante/circuit_breaker_test.go
  protocol/x/accountplus/authenticator/signature_authenticator.go
  protocol/x/accountplus/keeper/authenticators.go
  protocol/x/accountplus/lib/lib.go
  protocol/x/accountplus/types/errors.go
Labels: protocol

#2361 enable username generation roundtable
  indexer/services/roundtable/src/config.ts
Labels: indexer, feature:indexer/affiliates

#2318 [OTE-823] Fix FNS onchain events staging + retrieval logic
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/streaming/full_node_streaming_manager.go
  protocol/x/clob/module.go
Labels: protocol

#2364 Use vault table rather than placeholder config flags to fetch vaults.
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
Labels: indexer, backport/indexer/v7.x

#2366 Add OE Abort rate test flag
  protocol/app/app.go
  protocol/app/flags/flags.go
Labels: protocol

#2368 Add oracle prices index on ("marketId", "effectiveAtHeight")
  indexer/packages/postgres/src/db/migrations/migration_files/20240926133526_create_oracle_prices_market_id_effective_at_height_index.ts
Labels: indexer

#2360 [TRA-617] Fix calculation for atomic resolution
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/keeper/listing_test.go
Labels: protocol, pml

#2376 Include getting main subaccount equity / pnl for megavault PnL query.
  indexer/packages/postgres/src/constants.ts
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
Labels: indexer, backport/indexer/v7.x

#2369 Add a cli method for vault withdrawal
  protocol/x/vault/client/cli/tx.go
Labels: protocol

#2379 migrate vault shares to megavault shares in v7 upgrade handler
  protocol/app/upgrades/v7.0.0/upgrade.go
  protocol/app/upgrades/v7.0.0/upgrade_container_test.go
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/x/vault/keeper/deprecated_state.go
Labels: protocol

#2380 [OTE-839] add query for unconditional revshare
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/tx.rpc.msg.ts
  proto/dydxprotocol/revshare/query.proto
  proto/dydxprotocol/revshare/tx.proto
  protocol/x/revshare/client/cli/query.go
  protocol/x/revshare/client/cli/query_params.go
  protocol/x/revshare/keeper/grpc_query_unconditional_revshare.go
  protocol/x/revshare/keeper/grpc_query_unconditional_revshare_test.go
  protocol/x/revshare/types/query.pb.go
  protocol/x/revshare/types/query.pb.gw.go
  protocol/x/revshare/types/tx.pb.go
Labels: indexer, protocol, proto

#2384 [OTE-840] add missing HasEndBlocker interface
  protocol/x/affiliates/module.go
Labels: protocol

#2352 Create consumer using rack id
  indexer/packages/kafka/__tests__/consumer.test.ts
  indexer/packages/kafka/src/consumer.ts
  indexer/services/ender/src/helpers/kafka/kafka-controller.ts
  indexer/services/scripts/src/print-block.ts
  indexer/services/socks/src/helpers/kafka/kafka-controller.ts
  indexer/services/vulcan/src/helpers/kafka/kafka-controller.ts
Labels: indexer

#2390 Add function to fetch availability zone id (#2326)
  indexer/packages/base/package.json
  indexer/packages/base/src/az-id.ts
  indexer/packages/base/src/config.ts
  indexer/packages/base/src/index.ts
  indexer/pnpm-lock.yaml
Labels: indexer

#2392 register deprecated MsgSetVaultQuotingParams
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  proto/dydxprotocol/vault/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/unsupported_msgs.go
  protocol/app/msgs/unsupported_msgs_test.go
  protocol/lib/ante/nested_msg_test.go
  protocol/lib/ante/unsupported_msgs.go
  protocol/x/vault/types/codec.go
  protocol/x/vault/types/tx.pb.go
Labels: indexer, protocol, proto

#2393 Create consumer using rack id (#2352)
  indexer/packages/kafka/__tests__/consumer.test.ts
  indexer/packages/kafka/src/consumer.ts
  indexer/services/ender/src/helpers/kafka/kafka-controller.ts
  indexer/services/scripts/src/print-block.ts
  indexer/services/socks/src/helpers/kafka/kafka-controller.ts
  indexer/services/vulcan/src/helpers/kafka/kafka-controller.ts
Labels: indexer

#2394 initialize megavault module account in 7.0.0 upgrade handler
  protocol/app/upgrades.go
  protocol/app/upgrades/v7.0.0/upgrade.go
  protocol/app/upgrades/v7.0.0/upgrade_container_test.go
Labels: protocol, backport/protocol/v7.x

#2388 [CT-1203] add clob pair id and subaccount num filters
  protocol/x/accountplus/authenticator/authentication_request.go
  protocol/x/accountplus/authenticator/clob_pair_id_filter.go
  protocol/x/accountplus/authenticator/clob_pair_id_filter_test.go
  protocol/x/accountplus/authenticator/composition_test.go
  protocol/x/accountplus/authenticator/constants.go
  protocol/x/accountplus/authenticator/message_filter.go
  protocol/x/accountplus/authenticator/requests.go
  protocol/x/accountplus/authenticator/subaccount_filter.go
  protocol/x/accountplus/authenticator/subaccount_filter_test.go
  protocol/x/accountplus/testutils/spy_authenticator.go
Labels: protocol

#2398 Preupgrade binary name for release/protocol/v6.x branch
  protocol/testing/version/VERSION_FULL_NAME_PREUPGRADE
Labels: indexer, protocol, proto

#2399 Internalize logic to stage FinalizeBlock events
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/streaming.ts
  proto/dydxprotocol/clob/streaming.proto
  protocol/mocks/MemClobKeeper.go
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/noop_streaming_manager.go
  protocol/streaming/types/interface.go
  protocol/streaming/util/util.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/streaming.pb.go
  protocol/x/subaccounts/keeper/subaccount.go
Labels: indexer, protocol, proto

#2407 [CT-1258] add order removal reason for expired permissioned keys
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/order_removals.ts
  proto/dydxprotocol/clob/order_removals.proto
  protocol/indexer/shared/order_removal_reason.go
  protocol/x/clob/types/order_removals.pb.go
Labels: indexer, protocol, proto

#2408 [CT-1259] account plus module code cleanup
  protocol/app/app.go
  protocol/x/accountplus/ante/ante.go
  protocol/x/accountplus/authenticator/all_of.go
  protocol/x/accountplus/authenticator/any_of.go
  protocol/x/accountplus/authenticator/clob_pair_id_filter.go
  protocol/x/accountplus/authenticator/clob_pair_id_filter_test.go
  protocol/x/accountplus/authenticator/composite.go
  protocol/x/accountplus/authenticator/composition_test.go
  protocol/x/accountplus/authenticator/manager.go
  protocol/x/accountplus/authenticator/manager_test.go
  protocol/x/accountplus/authenticator/message_filter.go
  protocol/x/accountplus/authenticator/message_filter_test.go
  protocol/x/accountplus/authenticator/signature_authenticator.go
  protocol/x/accountplus/authenticator/signature_authenticator_test.go
  protocol/x/accountplus/authenticator/subaccount_filter.go
  protocol/x/accountplus/authenticator/subaccount_filter_test.go
  protocol/x/accountplus/keeper/authenticators.go
  protocol/x/accountplus/keeper/keeper_test.go
  protocol/x/accountplus/lib/authentication_request.go
  protocol/x/accountplus/testutils/generic_authenticator.go
  protocol/x/accountplus/testutils/spy_authenticator.go
  protocol/x/accountplus/types/iface.go
  protocol/x/accountplus/types/requests.go
Labels: protocol
