Repository dydxprotocol/v4-chain, pull requests merged in 2024-03, with the labels that each got.

#1111 [OTE-141] Implement skeleton for post /compliance/geoblock endpoint
  indexer/pnpm-lock.yaml
  indexer/services/comlink/__tests__/controllers/api/v4/compliance-v2-controller.test.ts
  indexer/services/comlink/package.json
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
  indexer/services/comlink/src/lib/constants.ts
Labels: indexer

#1126 Add script to print candle time boundaries
  indexer/services/scripts/README.md
  indexer/services/scripts/package.json
  indexer/services/scripts/src/print-candle-time-boundaries.ts
Labels: indexer

#1130 [CT-508] msgBatchCancel success + failure fields
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/tx.ts
  proto/dydxprotocol/clob/tx.proto
  protocol/x/clob/types/tx.pb.go
Labels: indexer, protocol, proto

#1133 [CT-645] Add protos for orderbook stream query service
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/mocks/QueryClient.go
  protocol/x/clob/keeper/grpc_stream_orderbook.go
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#1131 [CT-645] Move off chain updates and v1 to a different package
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  proto/dydxprotocol/indexer/off_chain_updates/off_chain_updates.proto
  proto/dydxprotocol/indexer/protocol/v1/clob.proto
  proto/dydxprotocol/indexer/protocol/v1/subaccount.proto
  proto/dydxprotocol/indexer/shared/removal_reason.proto
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/perpetual_market_create_test.go
  protocol/indexer/events/stateful_order.go
  protocol/indexer/events/stateful_order_test.go
  protocol/indexer/off_chain_updates/off_chain_updates.go
  protocol/indexer/off_chain_updates/off_chain_updates_test.go
  protocol/indexer/off_chain_updates/types/off_chain_updates.pb.go
  protocol/indexer/protocol/v1/types/clob.pb.go
  protocol/indexer/protocol/v1/types/subaccount.pb.go
  protocol/indexer/protocol/v1/v1_mappers.go
  protocol/indexer/protocol/v1/v1_mappers_test.go
  protocol/indexer/shared/order_removal_reason.go
  protocol/indexer/shared/order_removal_reason_test.go
  protocol/indexer/shared/types/removal_reason.pb.go
  protocol/mocks/QueryClient.go
  protocol/testing/e2e/gov/wind_down_market_test.go
  protocol/testutil/memclob/offchain_updates.go
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/final_settlement.go
  protocol/x/clob/keeper/grpc_stream_orderbook.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_cancel_orders_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_test_util.go
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#1134 [CT-644] instantiate grpc stream manager
  protocol/app/app.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/testutil/keeper/clob.go
  protocol/x/clob/keeper/keeper.go
Labels: protocol

#1136 Rename SparklinesController
  indexer/services/comlink/src/controllers/api/v4/sparklines-controller.ts
Labels: indexer

#1137 [CT-631] add index that includes createdAt to fills to address read replica lag
  indexer/packages/postgres/src/db/migrations/migration_files/20240304115004_create_fills_clob_pair_id_created_at_height_created_at_index.ts
Labels: indexer

#1110 [CT-514] Clob `MsgBatchCancel` functionality
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/tx.ts
  proto/dydxprotocol/clob/tx.proto
  protocol/app/module/interface_registry.go
  protocol/app/process/other_msgs_test.go
  protocol/app/process/utils_disallow_msgs.go
  protocol/app/process/utils_disallow_msgs_test.go
  protocol/go.mod
  protocol/go.sum
  protocol/lib/log/constants.go
  protocol/mocks/ClobKeeper.go
  protocol/testutil/app/app.go
  protocol/testutil/constants/messages.go
  protocol/testutil/encoding/utils.go
  protocol/x/clob/ante/clob.go
  protocol/x/clob/e2e/batch_cancel_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/tx.pb.go
Labels: indexer, protocol, proto

#1132 [TRA-64] Use market specific insurance fund for cross or isolated markets
  protocol/app/module_accounts.go
  protocol/daemons/liquidation/client/grpc_helper_test.go
  protocol/mocks/ClobKeeper.go
  protocol/testing/e2e/gov/perpetuals_test.go
  protocol/testutil/constants/perpetuals.go
  protocol/testutil/constants/pricefeed.go
  protocol/testutil/constants/prices.go
  protocol/testutil/daemons/pricefeed/exchange_config/market_id.go
  protocol/testutil/keeper/perpetuals.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/liquidations.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/mev_test.go
  protocol/x/clob/keeper/process_operations_liquidations_test.go
  protocol/x/clob/keeper/process_operations_long_term_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/clob/types/liquidations_keeper.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/prices/keeper/msg_server_update_market_prices_test.go
  protocol/x/prices/keeper/smoothed_price_test.go
  protocol/x/prices/keeper/update_price_test.go
  protocol/x/prices/keeper/validate_market_price_updates_test.go
  protocol/x/subaccounts/keeper/transfer.go
  protocol/x/subaccounts/keeper/transfer_test.go
  protocol/x/subaccounts/types/expected_keepers.go
Labels: protocol, isolated-markets

#1140 Fix mock-gen build
  protocol/mocks/Makefile
Labels: protocol

#1142 [TRA-78] Add function to retrieve collateral pool addr for a subaccount
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_test.go
Labels: protocol, isolated-markets

#1143 Cherry-pick read only changes into v3.x release
  indexer/services/comlink/src/controllers/api/v4/candles-controller.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/controllers/api/v4/height-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-funding-controller.ts
  indexer/services/comlink/src/controllers/api/v4/orderbook-controller.ts
  indexer/services/comlink/src/controllers/api/v4/perpetual-markets-controller.ts
  indexer/services/comlink/src/controllers/api/v4/sparklines-controller.ts
  indexer/services/comlink/src/controllers/api/v4/time-controller.ts
  indexer/services/comlink/src/controllers/api/v4/trades-controller.ts
  indexer/services/socks/__tests__/lib/subscriptions.test.ts
  indexer/services/socks/__tests__/websocket/index.test.ts
  indexer/services/socks/src/helpers/header-utils.ts
  indexer/services/socks/src/lib/subscription.ts
  indexer/services/socks/src/websocket/index.ts
  indexer/services/socks/src/websocket/restrict-countries.ts
Labels: indexer

#1138 [CT-646] stream offchain updates through stream manager
  protocol/app/app.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/x/clob/keeper/grpc_stream_orderbook.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/types/errors.go
Labels: protocol

#1145 [CT-652] add command line flag for full node streaming
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
Labels: protocol

#1148 [TRA-86] scaffold x/vault
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/rpc.query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/vault/genesis.proto
  proto/dydxprotocol/vault/query.proto
  proto/dydxprotocol/vault/tx.proto
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/vault/client/cli/query.go
  protocol/x/vault/client/cli/tx.go
  protocol/x/vault/genesis.go
  protocol/x/vault/keeper/grpc_query.go
  protocol/x/vault/keeper/keeper.go
  protocol/x/vault/keeper/keeper_test.go
  protocol/x/vault/keeper/msg_server.go
  protocol/x/vault/keeper/msg_server_test.go
  protocol/x/vault/module.go
  protocol/x/vault/types/codec.go
  protocol/x/vault/types/expected_keepers.go
  protocol/x/vault/types/genesis.go
  protocol/x/vault/types/genesis.pb.go
  protocol/x/vault/types/keys.go
  protocol/x/vault/types/query.pb.go
  protocol/x/vault/types/tx.pb.go
Labels: indexer, protocol, proto, feature:x/vault

#1146 [TRA-84] Move SA module address transfers to use perpetual based SA accounts
  protocol/testutil/constants/positions.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/mev_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/process_operations_liquidations_test.go
  protocol/x/clob/keeper/process_operations_long_term_test.go
  protocol/x/clob/keeper/process_operations_stateful_validation_test.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/perpetuals/simulation/genesis.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/transfer.go
  protocol/x/subaccounts/keeper/transfer_test.go
  protocol/x/subaccounts/types/expected_keepers.go
Labels: protocol, isolated-markets

#1152 [CT-647] initialize new streams and send orderbook snapshot
  protocol/mocks/ClobKeeper.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/types/clob_keeper.go
Labels: protocol

#1147 [CT-647] construct the initial orderbook snapshot
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClob.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/memclob/memclob_grpc_streaming.go
  protocol/x/clob/memclob/memclob_grpc_streaming_test.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/memclob.go
Labels: protocol

#1125 [OTE-200] OIMF protos
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/perpetual.ts
  proto/dydxprotocol/perpetuals/perpetual.proto
  protocol/mocks/PerpetualsKeeper.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/testutil/constants/perpetuals.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/perpetuals/perpetuals.go
  protocol/x/perpetuals/client/cli/query_perpetual_test.go
  protocol/x/perpetuals/genesis.go
  protocol/x/perpetuals/keeper/msg_server_set_liquidity_tier.go
  protocol/x/perpetuals/keeper/msg_server_set_liquidity_tier_test.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/module_test.go
  protocol/x/perpetuals/simulation/genesis.go
  protocol/x/perpetuals/types/errors.go
  protocol/x/perpetuals/types/liquidity_tier.go
  protocol/x/perpetuals/types/perpetual.pb.go
  protocol/x/perpetuals/types/types.go
Labels: indexer, protocol, proto

#1149 [CT-517] E2E tests batch cancel
  protocol/testutil/constants/orders.go
  protocol/x/clob/e2e/batch_cancel_test.go
  protocol/x/clob/keeper/orders.go
Labels: protocol

#1155 [TRA-70] Add state migrations for isolated markets
  protocol/app/upgrades.go
  protocol/app/upgrades/v5.0.0/upgrade.go
  protocol/mocks/PerpetualsKeeper.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/types.go
Labels: protocol, isolated-markets

#1162 Add aggregate comlink response code stats
  indexer/services/comlink/src/request-helpers/export-response-code-stats.ts
Labels: indexer

#1157 [OTE-209] Emit metrics gated through execution mode
  protocol/lib/metrics/lib.go
  protocol/lib/metrics/lib_test.go
  protocol/lib/metrics/metric_keys.go
  protocol/x/sending/keeper/transfer.go
Labels: protocol, chore

#1164 [TRA-98] Update upper limit of subaccount number constraint
  indexer/packages/v4-protos/src/codegen/dydxprotocol/subaccounts/subaccount.ts
  proto/dydxprotocol/subaccounts/subaccount.proto
  protocol/x/clob/types/message_cancel_order_test.go
  protocol/x/clob/types/message_place_order_test.go
  protocol/x/sending/types/message_create_transfer_test.go
  protocol/x/subaccounts/module_test.go
  protocol/x/subaccounts/types/errors.go
  protocol/x/subaccounts/types/genesis_test.go
  protocol/x/subaccounts/types/subaccount.go
  protocol/x/subaccounts/types/subaccount.pb.go
  protocol/x/subaccounts/types/subaccount_test.go
Labels: indexer, protocol, proto, isolated-markets

#1166 Make funding payment event ordering deterministic
  protocol/x/subaccounts/keeper/subaccount.go
Labels: protocol

#1159 [OTE-162] Modify `GetInitialMarginQuoteQuantums` to reflect OIMF
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/types/liquidity_tier.go
  protocol/x/perpetuals/types/liquidity_tier_test.go
Labels: protocol

#1161 [OTE-214] Calculate current OI and pass to `GetMarginRequirements` calculation
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/errors.go
Labels: protocol

#1167 Update Api documentation to have correct required fields
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/candles-controller.ts
  indexer/services/comlink/src/controllers/api/v4/fills-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-block-trading-rewards-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-funding-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-pnl-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-trading-reward-aggregations-controller.ts
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
  indexer/services/comlink/src/controllers/api/v4/perpetual-markets-controller.ts
  indexer/services/comlink/src/controllers/api/v4/perpetual-positions-controller.ts
  indexer/services/comlink/src/controllers/api/v4/trades-controller.ts
  indexer/services/comlink/src/controllers/api/v4/transfers-controller.ts
Labels: indexer

#1158 [TRA-81] Check isolated market constraints in UpdateSubaccount.
  protocol/app/e2e/ante_test.go
  protocol/daemons/liquidation/client/grpc_helper_test.go
  protocol/testutil/constants/perpetuals.go
  protocol/testutil/constants/pricefeed.go
  protocol/testutil/constants/prices.go
  protocol/testutil/daemons/pricefeed/exchange_config/market_id.go
  protocol/x/prices/keeper/msg_server_update_market_prices_test.go
  protocol/x/prices/keeper/smoothed_price_test.go
  protocol/x/prices/keeper/update_price_test.go
  protocol/x/prices/keeper/validate_market_price_updates_test.go
  protocol/x/subaccounts/keeper/isolated_subaccount.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/types/update.go
  protocol/x/subaccounts/types/update_test.go
Labels: protocol, isolated-markets

#1171 [TRA-112] Add util to convert between parent and child subaccount numbers
  indexer/packages/postgres/__tests__/lib/api-translations.test.ts
  indexer/packages/postgres/src/constants.ts
  indexer/packages/postgres/src/lib/api-translations.ts
Labels: indexer

#1169 [tra-87] add x/vault protos
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/rpc.tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/vault.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/vault/tx.proto
  proto/dydxprotocol/vault/vault.proto
  protocol/app/basic_manager/basic_manager.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/normal_msgs.go
  protocol/app/msgs/normal_msgs_test.go
  protocol/testutil/app/app.go
  protocol/x/vault/keeper/msg_server_deposit_to_vault.go
  protocol/x/vault/types/msg_deposit_to_vault.go
  protocol/x/vault/types/tx.pb.go
  protocol/x/vault/types/vault.pb.go
Labels: indexer, protocol, proto

#1139 feat: VoteExtension Slinky logic
  protocol/app/process/market_price_decoder.go
  protocol/app/vote_extensions/expected_keepers.go
  protocol/app/vote_extensions/extend_vote_handler.go
  protocol/app/vote_extensions/extend_vote_handler_test.go
  protocol/app/vote_extensions/oracle_client.go
  protocol/app/vote_extensions/oracle_client_test.go
  protocol/daemons/slinky/client/market_pair_fetcher.go
  protocol/daemons/slinky/client/market_pair_fetcher_test.go
  protocol/daemons/slinky/client/price_fetcher.go
  protocol/go.mod
  protocol/go.sum
  protocol/lib/slinky/utils.go
  protocol/lib/slinky/utils_test.go
  protocol/mocks/ExtendVoteHandler.go
  protocol/mocks/Makefile
  protocol/mocks/MarketPairFetcher.go
  protocol/mocks/PricesKeeper.go
  protocol/mocks/UpdateMarketPriceTxDecoder.go
  protocol/testutil/keeper/prices.go
  protocol/x/prices/keeper/slinky_adapter.go
  protocol/x/prices/keeper/slinky_adapter_test.go
  protocol/x/prices/types/types.go
Labels: protocol

#1135 feat: Proposal logic for Slinky
  protocol/app/app.go
  protocol/app/constants/constants.go
  protocol/app/prepare/expected_keepers.go
  protocol/app/prepare/prepare_proposal.go
  protocol/app/prepare/prepare_proposal_test.go
  protocol/app/prepare/prices/default_price_update_generator.go
  protocol/app/prepare/prices/errors.go
  protocol/app/prepare/prices/price_update_generator.go
  protocol/app/prepare/prices/slinky_price_update_generator.go
  protocol/app/prepare/prices/slinky_price_update_generator_test.go
  protocol/app/process/default_market_price_decoder.go
  protocol/app/process/errors.go
  protocol/app/process/full_node_process_proposal.go
  protocol/app/process/full_node_process_proposal_test.go
  protocol/app/process/market_prices.go
  protocol/app/process/market_prices_test.go
  protocol/app/process/process_proposal.go
  protocol/app/process/process_proposal_test.go
  protocol/app/process/slinky_market_price_decoder.go
  protocol/app/process/slinky_market_price_decoder_test.go
  protocol/app/process/transactions.go
  protocol/app/process/transactions_test.go
  protocol/mocks/Makefile
  protocol/mocks/PriceUpdateGenerator.go
Labels: protocol

#1181 [Backport v3.x] backport full node streaming PRs
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  proto/dydxprotocol/indexer/off_chain_updates/off_chain_updates.proto
  proto/dydxprotocol/indexer/protocol/v1/clob.proto
  proto/dydxprotocol/indexer/protocol/v1/subaccount.proto
  proto/dydxprotocol/indexer/shared/removal_reason.proto
  protocol/app/ante_whitebox_test.go
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/perpetual_market_create_test.go
  protocol/indexer/events/stateful_order.go
  protocol/indexer/events/stateful_order_test.go
  protocol/indexer/off_chain_updates/off_chain_updates.go
  protocol/indexer/off_chain_updates/off_chain_updates_test.go
  protocol/indexer/off_chain_updates/types/off_chain_updates.pb.go
  protocol/indexer/protocol/v1/types/clob.pb.go
  protocol/indexer/protocol/v1/types/subaccount.pb.go
  protocol/indexer/protocol/v1/v1_mappers.go
  protocol/indexer/protocol/v1/v1_mappers_test.go
  protocol/indexer/shared/order_removal_reason.go
  protocol/indexer/shared/order_removal_reason_test.go
  protocol/indexer/shared/types/removal_reason.pb.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClob.go
  protocol/mocks/MemClobKeeper.go
  protocol/mocks/QueryClient.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/memclob/offchain_updates.go
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/final_settlement.go
  protocol/x/clob/keeper/grpc_stream_orderbook.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_cancel_orders_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_grpc_streaming.go
  protocol/x/clob/memclob/memclob_grpc_streaming_test.go
  protocol/x/clob/memclob/memclob_test_util.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/memclob.go
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#1183 rename block_already_parsed metric since it's now expected
  indexer/services/ender/__tests__/lib/on-message.test.ts
  indexer/services/ender/src/caches/block-cache.ts
Labels: indexer

#1184 Fix stats prefix for trading rewards API
  indexer/services/comlink/src/controllers/api/v4/historical-block-trading-rewards-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-trading-reward-aggregations-controller.ts
  indexer/services/comlink/src/request-helpers/export-response-code-stats.ts
Labels: indexer

#1179 [TRA-116] add x/vault total shares store
  protocol/testutil/constants/vault.go
  protocol/x/vault/keeper/shares.go
  protocol/x/vault/keeper/shares_test.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/keys.go
  protocol/x/vault/types/keys_test.go
  protocol/x/vault/types/vault_id.go
  protocol/x/vault/types/vault_id_test.go
Labels: protocol

#1175 [TRA-120] move cancel order msg server logic into keeper
  protocol/mocks/ClobKeeper.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/types/clob_keeper.go
Labels: protocol

#1178 [TRA-80] Update subaccount-to-subaccount transfers for collateral pools.
  protocol/mocks/SubaccountsKeeper.go
  protocol/testing/e2e/funding/funding_e2e_test.go
  protocol/testutil/constants/perpetuals.go
  protocol/testutil/constants/positions.go
  protocol/x/sending/keeper/transfer.go
  protocol/x/sending/types/expected_keepers.go
  protocol/x/subaccounts/keeper/transfer.go
  protocol/x/subaccounts/keeper/transfer_test.go
  protocol/x/subaccounts/types/types.go
Labels: protocol, isolated-markets

#1180 [TRA-121] move place stateful order logic from msg server to keeper
  protocol/mocks/ClobKeeper.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/types/clob_keeper.go
Labels: protocol

#1190 Use read replica rather than main instance for aggregate-trading-rewards query
  indexer/services/roundtable/src/tasks/aggregate-trading-rewards.ts
Labels: indexer

#1191 use read replica rather than main instance (#1190)
  indexer/services/roundtable/src/tasks/aggregate-trading-rewards.ts
Labels: indexer

#1192 [TRA-103] Add subaccountNumber field in fills response result
  indexer/services/comlink/__tests__/controllers/api/v4/fills-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/fills-controller.ts
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1194 Fix mock gen
  protocol/app/prepare/prices/default_price_update_generator.go
  protocol/mocks/AnteDecorator.go
  protocol/mocks/AppOptions.go
  protocol/mocks/BankKeeper.go
  protocol/mocks/BridgeKeeper.go
  protocol/mocks/BridgeQueryClient.go
  protocol/mocks/BridgeServiceClient.go
  protocol/mocks/CacheMultiStore.go
  protocol/mocks/Configurator.go
  protocol/mocks/DelayMsgKeeper.go
  protocol/mocks/EthClient.go
  protocol/mocks/ExchangeConfigUpdater.go
  protocol/mocks/ExchangeQueryHandler.go
  protocol/mocks/ExchangeToMarketPrices.go
  protocol/mocks/FileHandler.go
  protocol/mocks/GrpcClient.go
  protocol/mocks/GrpcServer.go
  protocol/mocks/HealthCheckable.go
  protocol/mocks/IndexerEventManager.go
  protocol/mocks/IndexerMessageSender.go
  protocol/mocks/Logger.go
  protocol/mocks/Makefile
  protocol/mocks/MemClob.go
  protocol/mocks/MemClobKeeper.go
  protocol/mocks/MsgRouter.go
  protocol/mocks/MultiStore.go
  protocol/mocks/PerpetualsClobKeeper.go
  protocol/mocks/PerpetualsKeeper.go
  protocol/mocks/PrepareBridgeKeeper.go
  protocol/mocks/PrepareClobKeeper.go
  protocol/mocks/PreparePerpetualsKeeper.go
  protocol/mocks/PriceFeedMutableMarketConfigs.go
  protocol/mocks/PriceFetcher.go
  protocol/mocks/ProcessBridgeKeeper.go
  protocol/mocks/ProcessClobKeeper.go
  protocol/mocks/ProcessPerpetualKeeper.go
  protocol/mocks/ProcessStakingKeeper.go
  protocol/mocks/QueryClient.go
  protocol/mocks/QueryServer.go
  protocol/mocks/RequestHandler.go
  protocol/mocks/SendingKeeper.go
  protocol/mocks/Server.go
  protocol/mocks/SubaccountsKeeper.go
  protocol/mocks/TimeProvider.go
  protocol/mocks/TxBuilder.go
  protocol/mocks/TxConfig.go
  protocol/mocks/oracle_client.go
Labels: protocol

#1195 [Fix mock gen pt 2] oracle client mock in its own file
  protocol/mocks/Makefile
  protocol/mocks/OracleClient.go
  protocol/mocks/oracle_client.go
Labels: protocol

#1187 [TRA-102] add subaccountNumber field in assetPositions return result
  indexer/services/comlink/__tests__/controllers/api/v4/addresses-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/asset-positions-controller.test.ts
  indexer/services/comlink/__tests__/lib/helpers.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/controllers/api/v4/asset-positions-controller.ts
  indexer/services/comlink/src/lib/constants.ts
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1197 [TRA-85] scaffold x/vault endblocker
  protocol/app/app.go
  protocol/x/vault/abci.go
  protocol/x/vault/keeper/keeper.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/module.go
  protocol/x/vault/types/expected_keepers.go
  protocol/x/vault/types/vault_id.go
  protocol/x/vault/types/vault_id_test.go
Labels: protocol

#1165 [CT-515] Combine place, cancel, batch cancel rate limiters
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/block_rate_limit_config.ts
  proto/dydxprotocol/clob/block_rate_limit_config.proto
  protocol/app/app.go
  protocol/app/testdata/default_genesis_state.json
  protocol/app/upgrades.go
  protocol/app/upgrades/v5.0.0/upgrade.go
  protocol/lib/metrics/constants.go
  protocol/mocks/ClobKeeper.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/testutil/constants/genesis.go
  protocol/testutil/keeper/clob.go
  protocol/x/clob/ante/rate_limit.go
  protocol/x/clob/client/cli/query_block_rate_limit_configuration_test.go
  protocol/x/clob/e2e/app_test.go
  protocol/x/clob/e2e/rate_limit_test.go
  protocol/x/clob/genesis_test.go
  protocol/x/clob/keeper/block_rate_limit_config.go
  protocol/x/clob/keeper/grpc_query_block_rate_limit_configuration_test.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/msg_server_update_block_rate_limit_config_test.go
  protocol/x/clob/keeper/rate_limit.go
  protocol/x/clob/module_test.go
  protocol/x/clob/rate_limit/multi_block_rate_limiter.go
  protocol/x/clob/rate_limit/noop_rate_limiter.go
  protocol/x/clob/rate_limit/order_rate_limiter.go
  protocol/x/clob/rate_limit/panic_rate_limiter.go
  protocol/x/clob/rate_limit/rate_limit.go
  protocol/x/clob/rate_limit/single_block_rate_limiter.go
  protocol/x/clob/types/block_rate_limit_config.go
  protocol/x/clob/types/block_rate_limit_config.pb.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/genesis_test.go
Labels: indexer, protocol, proto

#1202 Do not emit stat if we are skipping block
  indexer/services/ender/__tests__/lib/on-message.test.ts
  indexer/services/ender/src/lib/on-message.ts
Labels: indexer

#1199 test: Fix flaky slinky client test
  protocol/daemons/slinky/client/client.go
  protocol/daemons/slinky/client/client_test.go
  protocol/daemons/slinky/client/price_fetcher_test.go
Labels: protocol

#1201 [TRA-108] Add market type to indexer events.
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/protocol/v1/perpetual.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  proto/dydxprotocol/indexer/events/events.proto
  proto/dydxprotocol/indexer/protocol/v1/perpetual.proto
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/perpetual_market_create.go
  protocol/indexer/events/perpetual_market_create_test.go
  protocol/indexer/protocol/v1/types/perpetual.pb.go
  protocol/indexer/protocol/v1/v1_mappers.go
  protocol/indexer/protocol/v1/v1_mappers_test.go
  protocol/testutil/keeper/clob.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/genesis_test.go
  protocol/x/clob/keeper/clob_pair.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/get_price_premium_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/msg_server_create_clob_pair_test.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/module_test.go
Labels: indexer, protocol, proto, isolated-markets

#1141 feat: Slinky full integration PR
  protocol/app/app.go
  protocol/app/app_test.go
  protocol/app/flags/flags.go
  protocol/app/prepare/full_node_prepare_proposal.go
  protocol/app/prepare/prepare_proposal.go
  protocol/app/process/slinky_market_price_decoder.go
  protocol/app/process/slinky_market_price_decoder_test.go
  protocol/cmd/dydxprotocold/cmd/config.go
  protocol/daemons/flags/flags.go
  protocol/daemons/slinky/config/market.json
  protocol/daemons/slinky/config/oracle.json
  protocol/go.mod
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/e2e/trading_rewards/trading_rewards_test.go
  protocol/testing/genesis.sh
  protocol/testing/testnet-local/local.sh
  protocol/testutil/app/app.go
  protocol/testutil/appoptions/app_options.go
  protocol/x/clob/client/cli/cancel_order_cli_test.go
  protocol/x/clob/client/cli/liquidations_cli_test.go
  protocol/x/clob/client/cli/place_order_cli_test.go
  protocol/x/prices/client/cli/prices_cli_test.go
  protocol/x/prices/keeper/slinky_adapter_test.go
Labels: protocol

#1206 [TRA-134] construct simple vault orders
  protocol/lib/big_math.go
  protocol/lib/big_math_test.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/expected_keepers.go
Labels: protocol, feature:x/vault

#1177 bug: Handle paginated querying to prices-keeper in slinky + pricefeed daemon
  protocol/daemons/pricefeed/client/sub_task_runner.go
  protocol/daemons/shared/paginated_grpc_request.go
  protocol/daemons/shared/paginated_grpc_request_test.go
  protocol/daemons/slinky/client/market_pair_fetcher.go
Labels: bug, protocol

#1188 [TRA-126] Add E2E test for isolated subaccount transfers.
  protocol/testutil/constants/subaccounts.go
  protocol/x/sending/e2e/isolated_subaccount_transfers_test.go
Labels: protocol, isolated-markets

#1212 Fix upgrade rate limit config logic, add helpful logs
  protocol/app/upgrades/v5.0.0/upgrade.go
Labels: protocol

#1210 Upgrade cosmos fork to use libsecp256k1 from go-ethereum
  protocol/Makefile
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1211 pass initial kafka timestamp from Ender -> Vulcan for better e2e order latency tracking
  indexer/packages/kafka/__tests__/batch-kafka-producer.test.ts
  indexer/packages/kafka/src/batch-kafka-producer.ts
  indexer/services/bazooka/src/vulcan-helpers.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-triggered-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-removal-handler.test.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/__tests__/lib/block-processor.test.ts
  indexer/services/ender/src/handlers/handler.ts
  indexer/services/ender/src/handlers/stateful-order/conditional-order-triggered-handler.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-placement-handler.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-removal-handler.ts
  indexer/services/ender/src/lib/block-processor.ts
  indexer/services/ender/src/lib/kafka-publisher.ts
  indexer/services/ender/src/lib/on-message.ts
  indexer/services/ender/src/lib/types.ts
  indexer/services/ender/src/validators/asset-validator.ts
  indexer/services/ender/src/validators/deleveraging-validator.ts
  indexer/services/ender/src/validators/funding-validator.ts
  indexer/services/ender/src/validators/liquidity-tier-validator.ts
  indexer/services/ender/src/validators/market-validator.ts
  indexer/services/ender/src/validators/order-fill-validator.ts
  indexer/services/ender/src/validators/perpetual-market-validator.ts
  indexer/services/ender/src/validators/stateful-order-validator.ts
  indexer/services/ender/src/validators/subaccount-update-validator.ts
  indexer/services/ender/src/validators/trading-rewards-validator.ts
  indexer/services/ender/src/validators/transfer-validator.ts
  indexer/services/ender/src/validators/update-clob-pair-validator.ts
  indexer/services/ender/src/validators/update-perpetual-validator.ts
  indexer/services/ender/src/validators/validator.ts
Labels: indexer

#1215 [SKI-1] Remove smoothed prices
  protocol/app/app.go
  protocol/app/prepare/prepare_proposal_test.go
  protocol/app/process/expected_keepers.go
  protocol/app/process/full_node_process_proposal_test.go
  protocol/app/process/market_prices_test.go
  protocol/app/process/process_proposal.go
  protocol/app/process/process_proposal_test.go
  protocol/app/process/transactions_test.go
  protocol/lib/metrics/constants.go
  protocol/mocks/PricesKeeper.go
  protocol/testutil/keeper/assets.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/keeper/perpetuals.go
  protocol/testutil/keeper/prices.go
  protocol/testutil/keeper/rewards.go
  protocol/testutil/keeper/sending.go
  protocol/testutil/keeper/subaccounts.go
  protocol/x/prices/genesis_test.go
  protocol/x/prices/keeper/grpc_query_market_test.go
  protocol/x/prices/keeper/keeper.go
  protocol/x/prices/keeper/keeper_test.go
  protocol/x/prices/keeper/market_param_test.go
  protocol/x/prices/keeper/market_price_test.go
  protocol/x/prices/keeper/market_test.go
  protocol/x/prices/keeper/msg_server_create_oracle_market_test.go
  protocol/x/prices/keeper/msg_server_update_market_param_test.go
  protocol/x/prices/keeper/msg_server_update_market_prices_test.go
  protocol/x/prices/keeper/slinky_adapter_test.go
  protocol/x/prices/keeper/smoothed_price.go
  protocol/x/prices/keeper/smoothed_price_test.go
  protocol/x/prices/keeper/update_price.go
  protocol/x/prices/keeper/update_price_test.go
  protocol/x/prices/keeper/update_price_whitebox_test.go
  protocol/x/prices/keeper/util.go
  protocol/x/prices/keeper/util_test.go
  protocol/x/prices/keeper/validate_market_price_updates_test.go
  protocol/x/prices/module_test.go
  protocol/x/prices/types/types.go
Labels: protocol

#1209 [CT-700] separate indexer and grpc streaming events
  protocol/app/app.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClob.go
  protocol/mocks/MemClobKeeper.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_grpc_streaming.go
  protocol/x/clob/memclob/memclob_grpc_streaming_test.go
  protocol/x/clob/memclob/memclob_purge_invalid_memclob_state_test.go
  protocol/x/clob/memclob/memclob_remove_order_test.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/memclob.go
Labels: protocol

#1205 [TRA-103] Add parentSubaccountNumber endpoint for fills
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/helpers/mock-generators.ts
  indexer/packages/postgres/__tests__/stores/funding-index-updates-table.test.ts
  indexer/packages/postgres/__tests__/stores/perpetual-position-table.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/addresses-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/fills-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/sparklines-controller.test.ts
  indexer/services/comlink/__tests__/helpers/helpers.ts
  indexer/services/comlink/__tests__/lib/helpers.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/fills-controller.ts
  indexer/services/comlink/src/lib/validation/schemas.ts
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/caches/candle-cache.test.ts
  indexer/services/ender/__tests__/handlers/markets/market-create-handler.test.ts
  indexer/services/roundtable/__tests__/helpers/pnl-ticks-helper.test.ts
  indexer/services/roundtable/__tests__/tasks/market-updater.test.ts
Labels: indexer

#1216 [CT-700] only send response when there is at least one update
  protocol/streaming/grpc/grpc_streaming_manager.go
Labels: protocol

#1196 Update go version to 1.22 in README.md
  protocol/README.md
Labels: protocol

#1217 [CT-709] Refactor helper methods into kafka package for re-use in Ender
  indexer/packages/kafka/package.json
  indexer/packages/kafka/src/index.ts
  indexer/packages/kafka/src/websocket-helper.ts
  indexer/pnpm-lock.yaml
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/src/handlers/helpers.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
Labels: indexer

#1213 [TRA-152] refresh all vault orders
  protocol/lib/metrics/constants.go
  protocol/x/vault/abci_test.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/shares.go
  protocol/x/vault/types/vault_id.go
  protocol/x/vault/types/vault_id_test.go
Labels: protocol

#1200 [TRA-139] Add logic to transfer collateral when open/close isolated perpetual position.
  protocol/testutil/constants/positions.go
  protocol/x/subaccounts/keeper/isolated_subaccount.go
  protocol/x/subaccounts/keeper/isolated_subaccount_test.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_helper.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/keeper/update.go
  protocol/x/subaccounts/types/isolated_perpetual_position_state_transition.go
  protocol/x/subaccounts/types/isolated_perpetual_position_state_transition_test.go
Labels: protocol, isolated-markets

#1182 perf: optimize `slinky_adapter` via in-memory cache [SKI-13]
  protocol/app/app.go
  protocol/x/prices/keeper/currency_pair_id_cache.go
  protocol/x/prices/keeper/keeper.go
  protocol/x/prices/keeper/market.go
  protocol/x/prices/keeper/market_param.go
  protocol/x/prices/keeper/market_param_test.go
  protocol/x/prices/keeper/slinky_adapter.go
Labels: protocol

#1176 [OTE-221] Add query for PendingSendPacket
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ratelimit/pending_send_packet.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ratelimit/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ratelimit/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/ratelimit/query.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/ratelimit/pending_send_packet.proto
  proto/dydxprotocol/ratelimit/query.proto
  protocol/go.mod
  protocol/x/ratelimit/client/cli/pending_send_packets.go
  protocol/x/ratelimit/client/cli/pending_send_packets_test.go
  protocol/x/ratelimit/client/cli/query.go
  protocol/x/ratelimit/keeper/grpc_query.go
  protocol/x/ratelimit/keeper/grpc_query_test.go
  protocol/x/ratelimit/module_test.go
  protocol/x/ratelimit/types/keys.go
  protocol/x/ratelimit/types/keys_test.go
  protocol/x/ratelimit/types/pending_send_packet.pb.go
  protocol/x/ratelimit/types/query.pb.go
  protocol/x/ratelimit/types/query.pb.gw.go
Labels: indexer, protocol, proto, backport/protocol/v4.x

#1208 [TRA-125] Update withdrawal gating to be per collateral pool.
  indexer/packages/v4-protos/src/codegen/dydxprotocol/subaccounts/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/subaccounts/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/subaccounts/query.ts
  proto/dydxprotocol/subaccounts/query.proto
  protocol/testutil/constants/addresses.go
  protocol/testutil/constants/clob_pair.go
  protocol/testutil/constants/subaccounts.go
  protocol/x/clob/e2e/withdrawal_gating_test.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/subaccounts/keeper/grpc_query_withdrawal_and_transfers_blocked_info.go
  protocol/x/subaccounts/keeper/grpc_query_withdrawal_and_transfers_blocked_info_test.go
  protocol/x/subaccounts/keeper/negative_tnc_subaccount.go
  protocol/x/subaccounts/keeper/negative_tnc_subaccount_test.go
  protocol/x/subaccounts/keeper/oimf_test.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/types/expected_keepers.go
  protocol/x/subaccounts/types/keys.go
  protocol/x/subaccounts/types/query.pb.go
  protocol/x/subaccounts/types/query.pb.gw.go
Labels: indexer, protocol, proto, state-breaking, isolated-markets

#1227 OIMF: Simplify interface for `GetDeltaOpenInterestFromUpdates`
  protocol/x/subaccounts/keeper/oimf.go
  protocol/x/subaccounts/keeper/oimf_test.go
  protocol/x/subaccounts/keeper/subaccount.go
Labels: protocol

#1228 Regenerate swagger docs.
  protocol/client/docs/statik/statik.go
  protocol/client/docs/swagger-ui/swagger.yaml
Labels: protocol

#1233 [CT-687] Batch Cancel Rate Limit Metrics
  protocol/lib/metrics/metric_keys.go
  protocol/x/clob/rate_limit/order_rate_limiter.go
Labels: protocol

#1223 [CT-709] Add flag to send subaccount websocket message from Ender for long term orders
  indexer/packages/kafka/src/websocket-helper.ts
  indexer/packages/redis/src/helpers/order-helper.ts
  indexer/packages/redis/src/index.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-placement-handler.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/src/handlers/helpers.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
Labels: indexer

#1224 [CT-709] Add flag to send subaccount websocket message for long term orders in vulcan
  indexer/packages/v4-proto-parser/__tests__/order-helpers.test.ts
  indexer/packages/v4-proto-parser/src/order-helpers.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/src/config.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
Labels: indexer

#1232 [OTE-244] Add upgrade handler for OIMF
  protocol/app/upgrades/v5.0.0/upgrade.go
  protocol/mocks/PerpetualsKeeper.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/x/perpetuals/types/types.go
Labels: protocol

#1229 [TRA-110] Implement GET /address/parentSubaccountNumber API
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/lib/api-translations.test.ts
  indexer/packages/postgres/src/lib/api-translations.ts
  indexer/services/comlink/__tests__/controllers/api/v4/addresses-controller.test.ts
  indexer/services/comlink/__tests__/lib/helpers.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/controllers/api/v4/fills-controller.ts
  indexer/services/comlink/src/lib/helpers.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1170 [OTE-218] Add state validity test for perpetual market type
  protocol/Makefile
  protocol/app/upgrades/v5.0.0/upgrade_container_test.go
  protocol/testing/containertest/testnet_test.go
  protocol/testing/containertest/testnet_utils.go
Labels: protocol

#1231 [OTE-245] Update OI after fill and added unit tests
  protocol/testutil/constants/perpetuals.go
  protocol/testutil/perpetuals/perpetuals.go
  protocol/x/clob/keeper/deleveraging_test.go
  protocol/x/clob/keeper/liquidations_test.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/perpetuals/keeper/perpetual.go
  protocol/x/perpetuals/keeper/perpetual_test.go
  protocol/x/perpetuals/types/types.go
  protocol/x/subaccounts/keeper/oimf.go
  protocol/x/subaccounts/keeper/oimf_test.go
  protocol/x/subaccounts/keeper/subaccount.go
  protocol/x/subaccounts/keeper/subaccount_test.go
  protocol/x/subaccounts/types/errors.go
Labels: protocol

#1238 [TRA-118] store x/vault parameters in state, add query, and update via governance
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/genesis.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/params.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/tx.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/vault/genesis.proto
  proto/dydxprotocol/vault/params.proto
  proto/dydxprotocol/vault/query.proto
  proto/dydxprotocol/vault/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/lib/ante/internal_msg.go
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/vault/client/cli/query.go
  protocol/x/vault/client/cli/query_test.go
  protocol/x/vault/genesis.go
  protocol/x/vault/keeper/grpc_query.go
  protocol/x/vault/keeper/grpc_query_test.go
  protocol/x/vault/keeper/msg_server_update_params.go
  protocol/x/vault/keeper/msg_server_update_params_test.go
  protocol/x/vault/keeper/params.go
  protocol/x/vault/keeper/params_test.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/genesis.go
  protocol/x/vault/types/genesis.pb.go
  protocol/x/vault/types/keys.go
  protocol/x/vault/types/params.go
  protocol/x/vault/types/params.pb.go
  protocol/x/vault/types/params_test.go
  protocol/x/vault/types/query.pb.go
  protocol/x/vault/types/query.pb.gw.go
  protocol/x/vault/types/tx.pb.go
Labels: indexer, protocol, proto, feature:x/vault

#1220 [TRA-135] Implement MsgDepositToVault
  .vscode/launch.json
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/vault.ts
  proto/dydxprotocol/vault/tx.proto
  proto/dydxprotocol/vault/vault.proto
  protocol/app/module/interface_registry.go
  protocol/lib/metrics/constants.go
  protocol/mocks/Makefile
  protocol/mocks/PerpetualsKeeper.go
  protocol/mocks/VaultKeeper.go
  protocol/testutil/constants/vault.go
  protocol/testutil/encoding/utils.go
  protocol/testutil/keeper/vault.go
  protocol/x/perpetuals/types/types.go
  protocol/x/vault/keeper/msg_server_deposit_to_vault.go
  protocol/x/vault/keeper/msg_server_deposit_to_vault_test.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/shares.go
  protocol/x/vault/keeper/shares_test.go
  protocol/x/vault/keeper/vault_info.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/expected_keepers.go
  protocol/x/vault/types/msg_deposit_to_vault.go
  protocol/x/vault/types/msg_deposit_to_vault_test.go
  protocol/x/vault/types/num_shares.go
  protocol/x/vault/types/num_shares_test.go
  protocol/x/vault/types/tx.pb.go
  protocol/x/vault/types/types.go
  protocol/x/vault/types/vault.pb.go
  protocol/x/vault/types/vault_id.go
Labels: indexer, protocol, proto, feature:x/vault

#1218 [TRA-106] Implement /transfers/parentSubaccountNumber indexer API
  indexer/services/comlink/__tests__/controllers/api/v4/transfers-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/transfers-controller.ts
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1245 [SKI-16] Slinky Dockerfile Removal
  protocol/Dockerfile
Labels: protocol

#1241 [CT-712] send order update when short term order state fill amounts a…
  protocol/x/clob/keeper/order_state.go
Labels: protocol

#1243 [TRA-102] Add API to get asset positions for parent subaccount
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/services/comlink/__tests__/controllers/api/v4/asset-positions-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/asset-positions-controller.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1240 [CT-712] send fill amount updates for reverted operations in prepare check state
  protocol/x/clob/abci.go
Labels: protocol

#1226 [TRA-167] v5.0.0 state migration negative tnc subaccount store.
  protocol/app/upgrades.go
  protocol/app/upgrades/v5.0.0/upgrade.go
  protocol/x/subaccounts/keeper/negative_tnc_subaccount.go
  protocol/x/subaccounts/types/types.go
Labels: protocol, isolated-markets

#1252 [CT-723] add block number + stage to grpc updates
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/app/app.go
  protocol/lib/context.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClobKeeper.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/testutil/memclob/keeper.go
  protocol/x/clob/abci.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#1248 [TRA-172] change vault state key to not use serialization
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/types/vault_id.go
  protocol/x/vault/types/vault_id_test.go
Labels: protocol

#1254 [SKI-18] Fix localnet
  protocol/docker-compose.yml
  protocol/testing/testnet-local/local.sh
Labels: protocol

#1255 [TRA-99] Add E2E test for isolated subaccounts having order matches / placing orders.
  protocol/testutil/constants/subaccounts.go
  protocol/x/clob/e2e/isolated_subaccount_orders_test.go
Labels: protocol, isolated-markets

#1256 [TRA-181] Add query function for collateral pool address.
  indexer/packages/v4-protos/src/codegen/dydxprotocol/subaccounts/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/subaccounts/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/subaccounts/query.ts
  proto/dydxprotocol/subaccounts/query.proto
  protocol/mocks/QueryClient.go
  protocol/x/subaccounts/keeper/grpc_query_collateral_pool.go
  protocol/x/subaccounts/keeper/grpc_query_collateral_pool_test.go
  protocol/x/subaccounts/types/query.pb.go
  protocol/x/subaccounts/types/query.pb.gw.go
Labels: indexer, protocol, proto, isolated-markets

#1242 [OTE-248] Update LiquidityTierUpsertEvent to add OI caps
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  proto/dydxprotocol/indexer/events/events.proto
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/liquidity_tier.go
  protocol/indexer/events/liquidity_tier_test.go
  protocol/x/perpetuals/keeper/perpetual.go
Labels: indexer, protocol, proto

#1258 Enable isolated perpetuals in sim tests.
  protocol/x/perpetuals/simulation/genesis.go
Labels: protocol

#1257 [TRA-165] Update withdrawal gating E2E test for isolated subaccounts.
  protocol/testutil/constants/orders.go
  protocol/testutil/constants/subaccounts.go
  protocol/x/clob/e2e/withdrawal_gating_test.go
Labels: protocol, isolated-markets

#1253 [TRA-170] Track shares of owners in vaults
  protocol/x/vault/keeper/msg_server_deposit_to_vault_test.go
  protocol/x/vault/keeper/shares.go
  protocol/x/vault/keeper/shares_test.go
  protocol/x/vault/types/keys.go
  protocol/x/vault/types/vault_id.go
Labels: protocol

#1261 [CT-727] avoid state reads when sending updates
  protocol/x/clob/keeper/order_state.go
Labels: protocol

#1250 Fix bugs in pruneable order migration
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/order_state_test.go
Labels: protocol

#1246 Upgrade cosmos fork to v0.50.5
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#1247 [OTE-249] Test upgrade handlers for OIMF
  protocol/app/upgrades/v5.0.0/upgrade_container_test.go
Labels: protocol

#1264 [TRA-115] decommission vaults at the beginning of a block
  protocol/x/vault/abci.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/keeper/vault_info.go
  protocol/x/vault/keeper/vault_test.go
  protocol/x/vault/module.go
Labels: protocol, feature:x/vault

#1267 [TRA-185] keep track of vault shares as integers
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/vault.ts
  proto/dydxprotocol/vault/vault.proto
  protocol/x/vault/keeper/msg_server_deposit_to_vault_test.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/shares.go
  protocol/x/vault/keeper/shares_test.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/keeper/vault_test.go
  protocol/x/vault/types/num_shares.go
  protocol/x/vault/types/num_shares_test.go
  protocol/x/vault/types/vault.pb.go
Labels: indexer, protocol, proto

#1262 [TRA-114] implement full vault strategy
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/vault.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/expected_keepers.go
  protocol/x/vault/types/params.go
  protocol/x/vault/types/params_test.go
Labels: protocol, feature:x/vault

#1272 Enable rate limiting in socks by default
  indexer/services/socks/src/config.ts
Labels: indexer

#1271 [TRA-182] rename order_size_ppm to order_size_pct_ppm in vault params
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/params.ts
  proto/dydxprotocol/vault/params.proto
  protocol/app/testdata/default_genesis_state.json
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testutil/constants/genesis.go
  protocol/x/vault/keeper/msg_server_update_params_test.go
  protocol/x/vault/keeper/orders.go
  protocol/x/vault/keeper/orders_test.go
  protocol/x/vault/keeper/params_test.go
  protocol/x/vault/types/errors.go
  protocol/x/vault/types/params.go
  protocol/x/vault/types/params.pb.go
  protocol/x/vault/types/params_test.go
Labels: indexer, protocol, proto

#1270 [Backport v4.x] backport full node streaming to v4.x branch
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  proto/dydxprotocol/indexer/off_chain_updates/off_chain_updates.proto
  proto/dydxprotocol/indexer/protocol/v1/clob.proto
  proto/dydxprotocol/indexer/protocol/v1/subaccount.proto
  proto/dydxprotocol/indexer/shared/removal_reason.proto
  protocol/app/app.go
  protocol/app/flags/flags.go
  protocol/app/flags/flags_test.go
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/perpetual_market_create_test.go
  protocol/indexer/events/stateful_order.go
  protocol/indexer/events/stateful_order_test.go
  protocol/indexer/off_chain_updates/off_chain_updates.go
  protocol/indexer/off_chain_updates/off_chain_updates_test.go
  protocol/indexer/off_chain_updates/types/off_chain_updates.pb.go
  protocol/indexer/protocol/v1/types/clob.pb.go
  protocol/indexer/protocol/v1/types/subaccount.pb.go
  protocol/indexer/protocol/v1/v1_mappers.go
  protocol/indexer/protocol/v1/v1_mappers_test.go
  protocol/indexer/shared/order_removal_reason.go
  protocol/indexer/shared/order_removal_reason_test.go
  protocol/indexer/shared/types/removal_reason.pb.go
  protocol/lib/context.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/MemClob.go
  protocol/mocks/MemClobKeeper.go
  protocol/mocks/QueryClient.go
  protocol/streaming/grpc/grpc_streaming_manager.go
  protocol/streaming/grpc/noop_streaming_manager.go
  protocol/streaming/grpc/types/manager.go
  protocol/testing/e2e/gov/wind_down_market_test.go
  protocol/testutil/keeper/clob.go
  protocol/testutil/memclob/keeper.go
  protocol/testutil/memclob/offchain_updates.go
  protocol/x/clob/abci.go
  protocol/x/clob/abci_test.go
  protocol/x/clob/keeper/clob_pair_test.go
  protocol/x/clob/keeper/final_settlement.go
  protocol/x/clob/keeper/grpc_stream_orderbook.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/msg_server_cancel_orders.go
  protocol/x/clob/keeper/msg_server_cancel_orders_test.go
  protocol/x/clob/keeper/order_state.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_grpc_streaming.go
  protocol/x/clob/memclob/memclob_grpc_streaming_test.go
  protocol/x/clob/memclob/memclob_purge_invalid_memclob_state_test.go
  protocol/x/clob/memclob/memclob_remove_order_test.go
  protocol/x/clob/memclob/memclob_test_util.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/mem_clob_keeper.go
  protocol/x/clob/types/memclob.go
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#1273 [TRA-111] add vault query
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/vault/query.ts
  proto/dydxprotocol/vault/query.proto
  protocol/x/vault/client/cli/query.go
  protocol/x/vault/keeper/grpc_query_vault.go
  protocol/x/vault/keeper/grpc_query_vault_test.go
  protocol/x/vault/types/query.pb.go
  protocol/x/vault/types/query.pb.gw.go
Labels: indexer, protocol, proto, feature:x/vault

#1266 [TRA-108] Update indexer to ingest and return market type for perpetuals
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20240327144524_add_perpetual_markets_market_type.ts
  indexer/packages/postgres/src/models/perpetual-market-model.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/perpetual-market-types.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/services/comlink/__tests__/lib/request-helpers/request-transformer.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/__tests__/validators/asset-validator.test.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/handlers/dydx_perpetual_market_handler.sql
  indexer/services/ender/src/scripts/helpers/dydx_protocol_market_type_to_perpetual_market_type.sql
Labels: indexer

#1237 [CT-708] Indexer track e2e latency
  indexer/packages/v4-protos/src/index.ts
  indexer/packages/v4-protos/src/utils.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/src/lib/helper.ts
  indexer/services/socks/src/lib/message-forwarder.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/__tests__/helpers/constants.ts
  indexer/services/vulcan/__tests__/helpers/helpers.ts
  indexer/services/vulcan/__tests__/helpers/websocket-helpers.ts
  indexer/services/vulcan/__tests__/lib/on-message.test.ts
  indexer/services/vulcan/src/handlers/handler.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
  indexer/services/vulcan/src/handlers/order-update-handler.ts
  indexer/services/vulcan/src/lib/on-message.ts
Labels: indexer

#1276 [TRA-188] add cli for deposit to vault
  protocol/x/vault/client/cli/query.go
  protocol/x/vault/client/cli/tx.go
  protocol/x/vault/client/cli/util.go
Labels: protocol

#1274 [TRA-105] Add subaccountNumber to PerpetualPositionResponseObject
  indexer/services/comlink/__tests__/controllers/api/v4/addresses-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/perpetual-positions-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/controllers/api/v4/perpetual-positions-controller.ts
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1280 [CT-712] send updates for both normal order matches and liquidation
  protocol/x/clob/abci.go
Labels: protocol

#1281 [CT-712] send updates for both normal order matches and liquidation (…
  protocol/x/clob/abci.go
Labels: protocol

#1263 Remove volatile market
  protocol/testing/testnet-dev/dev.sh
  protocol/testing/testnet-staging/staging.sh
Labels: protocol

#1283 [CT-712] send updates for both normal order matches and liquidation (…
  protocol/x/clob/abci.go
Labels: protocol

#1275 [SKI-21] Bump slinky version to v0.3.1
  protocol/app/app.go
  protocol/app/vote_extensions/expected_keepers.go
  protocol/go.mod
  protocol/go.sum
  protocol/mocks/PricesKeeper.go
  protocol/x/prices/keeper/slinky_adapter.go
  protocol/x/prices/keeper/slinky_adapter_test.go
  protocol/x/prices/types/types.go
Labels: protocol

#1285 Clean up socks logging
  indexer/services/socks/src/helpers/wss.ts
Labels: indexer

#1287 Cherrypick Slinky changes
  protocol/app/app.go
  protocol/app/vote_extensions/expected_keepers.go
  protocol/go.mod
  protocol/go.sum
  protocol/mocks/PricesKeeper.go
  protocol/testing/testnet-dev/dev.sh
  protocol/testing/testnet-staging/staging.sh
  protocol/x/prices/keeper/slinky_adapter.go
  protocol/x/prices/keeper/slinky_adapter_test.go
  protocol/x/prices/types/types.go
Labels: protocol

#1288 Cherry-pick socks logging change
  indexer/services/socks/src/helpers/wss.ts
Labels: indexer

#1284 [CT-681] fix liquidated side and offsetting side for indexer delevera…
  indexer/services/ender/__tests__/handlers/order-fills/deleveraging-handler.test.ts
  indexer/services/ender/src/scripts/handlers/dydx_deleveraging_handler.sql
Labels: indexer

#1282 [TRA-105] Add API for parent subaccount perpetual positions
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/services/comlink/__tests__/controllers/api/v4/perpetual-positions-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/perpetual-positions-controller.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#1294 Use sample rate with stream destroyed stats.
  indexer/services/socks/src/helpers/wss.ts
Labels: indexer

#1295 Cherry pick "Use sample rate with stream destroyed stats. (#1294)"
  indexer/services/socks/src/helpers/wss.ts
Labels: indexer
