Repository dydxprotocol/v4-chain, pull requests merged in 2024-11, with the labels that each got.

#2552 Dont set default value for fills rows
  indexer/packages/postgres/src/db/migrations/migration_files/20240829161445_add_fills_affiliateearnedrevshare.ts
Labels: indexer

#2554 Add gRPC gateway routing for affiliate queries
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/lcd.ts
  proto/dydxprotocol/affiliates/query.proto
  protocol/x/affiliates/module.go
  protocol/x/affiliates/types/query.pb.go
  protocol/x/affiliates/types/query.pb.gw.go
Labels: non-breaking, backport/protocol/v7.x

#2556 Bump Comet version
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#2560 Revert "[CT-629] Fix entryPrice calc (backport #2455) (#2496)"
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/src/scripts/helpers/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/helpers/dydx_update_perpetual_position_aggregate_fields.sql
Labels: indexer

#2569 fix(affiliates): [OTE-898] Refactor subaccount username generation
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/helpers/mock-generators.ts
  indexer/packages/postgres/__tests__/stores/subaccount-usernames-table.test.ts
  indexer/packages/postgres/src/stores/subaccount-usernames-table.ts
  indexer/packages/postgres/src/types/subaccount-usernames-types.ts
  indexer/pnpm-lock.yaml
  indexer/services/comlink/src/controllers/api/v4/affiliates-controller.ts
  indexer/services/roundtable/__tests__/helpers/usernames-helper.test.ts
  indexer/services/roundtable/__tests__/tasks/subaccount-username-generator.test.ts
  indexer/services/roundtable/package.json
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/helpers/adjectives.json
  indexer/services/roundtable/src/helpers/nouns.json
  indexer/services/roundtable/src/helpers/usernames-helper.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/subaccount-username-generator.ts
Labels: indexer

#2570 Allow configuring day vault PnL starts.
  indexer/packages/postgres/__tests__/stores/pnl-ticks-table.test.ts
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
Labels: indexer

#2573 Use alphanumeric suffix for username
  indexer/services/roundtable/__tests__/helpers/usernames-helper.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/helpers/usernames-helper.ts
  indexer/services/roundtable/src/tasks/subaccount-username-generator.ts
Labels: indexer

#2575 fix(affiliates): Generate username with address, not subaccount id
  indexer/services/roundtable/__tests__/helpers/usernames-helper.test.ts
  indexer/services/roundtable/__tests__/tasks/subaccount-username-generator.test.ts
  indexer/services/roundtable/src/helpers/usernames-helper.ts
  indexer/services/roundtable/src/tasks/subaccount-username-generator.ts
Labels: indexer

#2578 Use repeatable read for pnl tick generation.
  indexer/services/roundtable/src/tasks/create-pnl-ticks.ts
Labels: indexer, backport/indexer/v7.x

#2579 fix(affiliate): Use DB transaction for username generation; add more stats for update…
  indexer/services/roundtable/__tests__/helpers/usernames-helper.test.ts
  indexer/services/roundtable/__tests__/tasks/subaccount-username-generator.test.ts
  indexer/services/roundtable/src/helpers/adjectives.json
  indexer/services/roundtable/src/helpers/nouns.json
  indexer/services/roundtable/src/tasks/subaccount-username-generator.ts
  indexer/services/roundtable/src/tasks/update-affiliate-info.ts
Labels: indexer

#2582 Fix username generator unit test
  indexer/services/roundtable/__tests__/tasks/subaccount-username-generator.test.ts
Labels: indexer

#2585 fix(affiliates): exclude liquidation fees in referred fee calculation
  indexer/packages/postgres/__tests__/stores/affiliate-info-table.test.ts
  indexer/packages/postgres/src/stores/affiliate-info-table.ts
Labels: indexer

#2588 Update cosmossdk.io/math to v1.4.0
  protocol/go.mod
  protocol/go.sum
Labels: protocol, backport/protocol/v7.x

#2586 [CT-1320] proto for FNS price updates
  indexer/packages/v4-protos/src/codegen/dydxprotocol/bundle.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/streaming.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/prices/streaming.ts
  indexer/packages/v4-protos/src/codegen/gogoproto/bundle.ts
  indexer/packages/v4-protos/src/codegen/google/bundle.ts
  proto/dydxprotocol/clob/query.proto
  proto/dydxprotocol/clob/streaming.proto
  proto/dydxprotocol/prices/streaming.proto
  protocol/x/clob/types/query.pb.go
  protocol/x/clob/types/streaming.pb.go
  protocol/x/prices/types/streaming.pb.go
Labels: indexer, protocol, proto

#2594 Check for invalid addresses in `SetAffiliateWhitelist`
  protocol/x/affiliates/keeper/keeper.go
  protocol/x/affiliates/keeper/keeper_test.go
Labels: protocol

#2592 [CT-1321] subscribe to market prices streaming services
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/noop_streaming_manager.go
  protocol/streaming/types/interface.go
  protocol/streaming/ws/websocket_server.go
  protocol/x/clob/keeper/grpc_stream_orderbook.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/prices/keeper/market_price.go
Labels: protocol

#2599 Optimize query for latest pnl tick at specific time.
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
Labels: indexer

#2600 Revert "[CT-629] Fix entryPrice calc (#2455)"
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/src/scripts/helpers/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/helpers/dydx_update_perpetual_position_aggregate_fields.sql
Labels: indexer

#2598 Use materialized view for vault pnl data.
  indexer/packages/postgres/__tests__/stores/vault-pnl-ticks-view.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20241119162238_create_vault_hourly_view.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20241119163402_create_vault_daily_view.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/stores/vault-pnl-ticks-view.ts
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
  indexer/services/roundtable/__tests__/tasks/refresh-vault-pnl.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/tasks/refresh-vault-pnl.ts
Labels: indexer

#2595 feat(oe): Enable OE by default (target: v8.0+)
  protocol/app/flags/flags.go
  protocol/testutil/app/app.go
Labels: protocol

#2603 Start refresh vault PnL task.
  indexer/services/roundtable/src/index.ts
Labels: indexer

#2607 make megavault withdrawal logging more succinct
  protocol/x/vault/keeper/withdraw.go
Labels: protocol

#2590 Candles Cache Improvements
  indexer/packages/postgres/src/index.ts
  indexer/packages/redis/__tests__/caches/orderbook-mid-prices-cache.test.ts
  indexer/packages/redis/src/caches/orderbook-mid-prices-cache.ts
  indexer/packages/redis/src/caches/scripts.ts
  indexer/packages/redis/src/scripts/add_market_price.lua
  indexer/packages/redis/src/scripts/add_orderbook_mid_prices.lua
  indexer/packages/redis/src/scripts/get_market_median_price.lua
  indexer/packages/redis/src/scripts/get_orderbook_mid_prices.lua
  indexer/services/ender/__tests__/caches/orderbook-mid-price-memory-cache.test.ts
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
  indexer/services/ender/src/caches/orderbook-mid-price-memory-cache.ts
  indexer/services/ender/src/config.ts
  indexer/services/ender/src/index.ts
  indexer/services/ender/src/lib/candles-generator.ts
  indexer/services/roundtable/__tests__/tasks/cache-orderbook-mid-prices.test.ts
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/tasks/cache-orderbook-mid-prices.ts
Labels: indexer

#2615 Upgrade connect dependency to allow market authorities to remove markets
  protocol/Dockerfile
  protocol/daemons/pricefeed/client/price_fetcher/mutable_state_test.go
  protocol/daemons/pricefeed/client/price_fetcher/price_fetcher_test.go
  protocol/daemons/pricefeed/client/types/mutable_exchange_market_config_test.go
  protocol/daemons/pricefeed/client/types/mutable_market_config_test.go
  protocol/daemons/pricefeed/client/types/price_feed_mutable_market_configs_test.go
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#2611 [CT-1326] send price updates after block is finalized
  protocol/app/app.go
  protocol/lib/metrics/metric_keys.go
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/noop_streaming_manager.go
  protocol/streaming/types/interface.go
  protocol/testutil/keeper/prices.go
  protocol/x/prices/keeper/keeper.go
  protocol/x/prices/keeper/market_price.go
Labels: protocol

#2616 [TRA-890] Return nearest hour PnL as final data point for vaults pnl.
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
Labels: indexer

#2610 Update `DefaultFundingPpm` for PML markets
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/testing/genesis.sh
  protocol/x/listing/types/constants.go
Labels: protocol

#2589 [TRA-885] Upgrade handler to set market, perp and clob pair id to fixed number
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/perpetuals/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/prices/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/prices/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/prices/query.ts
  proto/dydxprotocol/clob/query.proto
  proto/dydxprotocol/perpetuals/query.proto
  proto/dydxprotocol/prices/query.proto
  protocol/app/upgrades.go
  protocol/app/upgrades/v7.0/upgrade_container_test.go
  protocol/app/upgrades/v8.0/constants.go
  protocol/app/upgrades/v8.0/migrate_accountplus_test.go
  protocol/app/upgrades/v8.0/upgrade.go
  protocol/app/upgrades/v8.0/upgrade_container_test.go
  protocol/mocks/ClobKeeper.go
  protocol/mocks/PerpetualsKeeper.go
  protocol/mocks/PricesKeeper.go
  protocol/mocks/QueryClient.go
  protocol/mocks/QueryServer.go
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/testing/version/VERSION_CURRENT
  protocol/testing/version/VERSION_FULL_NAME_PREUPGRADE
  protocol/testing/version/VERSION_PREUPGRADE
  protocol/x/clob/keeper/grpc_query_clob_pair.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/query.pb.go
  protocol/x/clob/types/query.pb.gw.go
  protocol/x/perpetuals/keeper/grpc_query_perpetual.go
  protocol/x/perpetuals/types/query.pb.go
  protocol/x/perpetuals/types/query.pb.gw.go
  protocol/x/perpetuals/types/types.go
  protocol/x/prices/keeper/grpc_query_market.go
  protocol/x/prices/types/query.pb.go
  protocol/x/prices/types/query.pb.gw.go
  protocol/x/prices/types/types.go
Labels: indexer, protocol, proto

#2620 allow megavault operator to set default quoting params
  protocol/x/vault/keeper/msg_server_update_default_quoting_params.go
  protocol/x/vault/keeper/msg_server_update_default_quoting_params_test.go
Labels: protocol

#2619 Fix flaky Candles test
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
Labels: indexer

#2609 feat(blocktime): Use gov-controlled`next_block_delay` to replace `timeout_commit`
  indexer/packages/v4-protos/src/codegen/dydxprotocol/blocktime/params.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/blocktime/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/blocktime/tx.ts
  proto/dydxprotocol/blocktime/params.proto
  proto/dydxprotocol/blocktime/tx.proto
  protocol/app/app.go
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/go.mod
  protocol/go.sum
  protocol/lib/ante/internal_msg.go
  protocol/x/blocktime/keeper/block_delay.go
  protocol/x/blocktime/keeper/block_delay_test.go
  protocol/x/blocktime/keeper/msg_server.go
  protocol/x/blocktime/types/errors.go
  protocol/x/blocktime/types/keys.go
  protocol/x/blocktime/types/params.go
  protocol/x/blocktime/types/params.pb.go
  protocol/x/blocktime/types/tx.go
  protocol/x/blocktime/types/tx.pb.go
  protocol/x/blocktime/types/tx_test.go
Labels: indexer, protocol, proto
