Repository dydxprotocol/v4-chain, pull requests merged in 2025-07, with the labels that each got.

#2957 (fix) raise roundtable heap limit to 6G
  indexer/services/roundtable/package.json
Labels: indexer

#2962 upgrade cosmos-sdk dependency to include security patch ISA-2025-005
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#2960 (perf) patch kafkajs and protobufjs
  indexer/Dockerfile.service.local
  indexer/Dockerfile.service.remote
  indexer/packages/kafka/package.json
  indexer/packages/kafka/patches/.gitkeep
  indexer/packages/kafka/patches/kafkajs+2.2.4.patch
  indexer/packages/v4-protos/package.json
  indexer/packages/v4-protos/patches/protobufjs+7.5.3.patch
  indexer/pnpm-lock.yaml
  indexer/services/auxo/package.json
  indexer/services/auxo/patches/.gitkeep
  indexer/services/auxo/patches/kafkajs+2.2.4.patch
  indexer/services/bazooka/package.json
  indexer/services/bazooka/patches/.gitkeep
  indexer/services/bazooka/patches/kafkajs+2.2.4.patch
  indexer/services/comlink/patches/.gitkeep
  indexer/services/ender/package.json
  indexer/services/ender/patches/.gitkeep
  indexer/services/ender/patches/kafkajs+2.2.4.patch
  indexer/services/example-service/patches/.gitkeep
  indexer/services/roundtable/package.json
  indexer/services/roundtable/patches/.gitkeep
  indexer/services/roundtable/patches/kafkajs+2.2.4.patch
  indexer/services/scripts/package.json
  indexer/services/scripts/patches/.gitkeep
  indexer/services/scripts/patches/kafkajs+2.2.4.patch
  indexer/services/socks/__tests__/helpers/from-kafka-helpers.test.ts
  indexer/services/socks/__tests__/lib/message-forwarder.test.ts
  indexer/services/socks/__tests__/websocket/index.test.ts
  indexer/services/socks/package.json
  indexer/services/socks/patches/.gitkeep
  indexer/services/socks/patches/kafkajs+2.2.4.patch
  indexer/services/socks/src/helpers/from-kafka-helpers.ts
  indexer/services/socks/src/helpers/wss.ts
  indexer/services/socks/src/lib/constants.ts
  indexer/services/socks/src/lib/errors.ts
  indexer/services/socks/src/lib/message-forwarder.ts
  indexer/services/socks/src/types.ts
  indexer/services/socks/src/websocket/index.ts
  indexer/services/vulcan/package.json
  indexer/services/vulcan/patches/.gitkeep
  indexer/services/vulcan/patches/kafkajs+2.2.4.patch
Labels: indexer

#2938 [ENG-159] Script to auto launch markets
  protocol/scripts/markets/launch_markets.py
Labels: protocol

#2970 Add governance & save order router rev share to state
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/revshare.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/revshare/tx.ts
  proto/dydxprotocol/revshare/query.proto
  proto/dydxprotocol/revshare/revshare.proto
  proto/dydxprotocol/revshare/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/lib/ante/internal_msg.go
  protocol/lib/constants.go
  protocol/lib/keys.go
  protocol/lib/keys_test.go
  protocol/x/revshare/client/cli/query.go
  protocol/x/revshare/client/cli/query_params.go
  protocol/x/revshare/keeper/grpc_query_order_router_revshare.go
  protocol/x/revshare/keeper/grpc_query_order_router_revshare_test.go
  protocol/x/revshare/keeper/msg_set_order_router_rev_share.go
  protocol/x/revshare/keeper/msg_set_order_router_rev_share_test.go
  protocol/x/revshare/keeper/revshare.go
  protocol/x/revshare/keeper/revshare_test.go
  protocol/x/revshare/types/errors.go
  protocol/x/revshare/types/keys.go
  protocol/x/revshare/types/message_set_order_router_rev_share.go
  protocol/x/revshare/types/query.pb.go
  protocol/x/revshare/types/query.pb.gw.go
  protocol/x/revshare/types/revshare.pb.go
  protocol/x/revshare/types/tx.pb.go
Labels: indexer, protocol, proto, feature:order_router_rev_share

#2981 Add logic for ORRS
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/order.ts
  proto/dydxprotocol/clob/order.proto
  protocol/testutil/constants/orders.go
  protocol/testutil/constants/stateful_orders.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/orders_test.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/events.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/clob/types/liquidation_order.go
  protocol/x/clob/types/message_place_order.go
  protocol/x/clob/types/message_place_order_test.go
  protocol/x/clob/types/order.pb.go
  protocol/x/clob/types/orderbook.go
  protocol/x/clob/types/types.go
  protocol/x/prices/types/expected_keepers.go
  protocol/x/revshare/keeper/msg_set_order_router_rev_share.go
  protocol/x/revshare/keeper/msg_set_order_router_rev_share_test.go
  protocol/x/revshare/keeper/revshare.go
  protocol/x/revshare/keeper/revshare_test.go
  protocol/x/revshare/types/message_set_order_router_rev_share.go
  protocol/x/revshare/types/types.go
  protocol/x/rewards/keeper/keeper.go
  protocol/x/rewards/keeper/keeper_test.go
  protocol/x/subaccounts/keeper/transfer.go
  protocol/x/subaccounts/keeper/transfer_test.go
Labels: indexer, protocol, proto, feature:order_router_rev_share

#2998 perf(socks): restore large semi space, revert node 20 packages
  indexer/.nvmrc
  indexer/packages/base/package.json
  indexer/packages/compliance/package.json
  indexer/packages/dev/package.json
  indexer/packages/kafka/package.json
  indexer/packages/notifications/package.json
  indexer/packages/postgres/package.json
  indexer/packages/redis/package.json
  indexer/packages/v4-proto-parser/package.json
  indexer/pnpm-lock.yaml
  indexer/services/auxo/package.json
  indexer/services/bazooka/package.json
  indexer/services/comlink/package.json
  indexer/services/ender/package.json
  indexer/services/example-service/package.json
  indexer/services/roundtable/package.json
  indexer/services/scripts/package.json
  indexer/services/socks/package.json
  indexer/services/vulcan/package.json
Labels: indexer

#3005 Add script for adding an order router rev sahre
  protocol/scripts/revshare/add_order_router_rev_share.py
Labels: protocol

#2785 [CT-1356] Handle TWAP Cancels and Expiry
  protocol/x/clob/abci.go
  protocol/x/clob/e2e/twap_orders_test.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/keeper_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/stateful_order_state.go
  protocol/x/clob/keeper/stateful_order_state_test.go
  protocol/x/clob/keeper/twap_order_state.go
  protocol/x/clob/keeper/twap_order_state_test.go
  protocol/x/clob/types/order.go
Labels: protocol, twap
