Repository dydxprotocol/v4-chain, pull requests merged in 2025-05, with the labels that each got.

#2817 refactor(comlink): Separate readonly and primary Redis on comlink
  .github/workflows/indexer-reusable-build-and-run-with-pg-redis-kafka.yml
  indexer/packages/redis/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/orderbook-controller.ts
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
  indexer/services/comlink/src/helpers/redis/redis-controller.ts
  indexer/services/comlink/src/index.ts
Labels: indexer

#2818 (perf) use luxon.DateTime.fromSQL vs moment()
  indexer/packages/postgres/package.json
  indexer/packages/postgres/src/db/pg-config.ts
  indexer/pnpm-lock.yaml
Labels: indexer

#2823 add orders table index (subaccountId, status, goodTilBlock, goodTilBlockTime)
  indexer/packages/postgres/src/db/migrations/migration_files/20250502154753_add_orders_subaccountid_status_goodtilblock_goodtilblocktime_index.ts
Labels: indexer

#2827 MV cache + separate readonly Redis on comlink (backport #2783 and #2817)
  .github/workflows/indexer-reusable-build-and-run-with-pg-redis-kafka.yml
  indexer/packages/redis/__tests__/caches/vault-cache.test.ts
  indexer/packages/redis/src/caches/vault-cache.ts
  indexer/packages/redis/src/config.ts
  indexer/packages/redis/src/index.ts
  indexer/packages/redis/src/types.ts
  indexer/services/comlink/.env.test
  indexer/services/comlink/__tests__/controllers/api/v4/historical-pnl-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/__tests__/helpers/helpers.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/orderbook-controller.ts
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
  indexer/services/comlink/src/helpers/redis/redis-controller.ts
  indexer/services/comlink/src/index.ts
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#2833 optimize parent subaccount query and replace subaccounts index (address) with (address, subaccountNumber)
  indexer/packages/postgres/src/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20250505153439_replace_subaccounts_address_idx_with_address_subaccountnumber_idx.ts
  indexer/packages/postgres/src/lib/parent-subaccount-helpers.ts
Labels: indexer, backport/indexer/v8.x

#2838 drop unused fills table indices
  indexer/packages/postgres/src/db/migrations/migration_files/20250506164832_drop_unused_fills_idxs.ts
Labels: indexer, backport/indexer/v8.x

#2839 (perf) precompute DateTime's for candles
  indexer/packages/postgres/src/db/helpers.ts
  indexer/services/ender/__tests__/lib/candles-generator.test.ts
  indexer/services/ender/src/lib/candles-generator.ts
  indexer/services/scripts/src/helpers/pnl-validation-helpers.ts
  indexer/services/scripts/src/helpers/util.ts
  indexer/services/scripts/src/print-candle-time-boundaries.ts
Labels: indexer

#2842 (metrics) add processed_blocktime_lag metric
  indexer/services/ender/src/lib/on-message.ts
Labels: indexer

#2835 (perf) patch mangled timestamps from pg for from ISO
  indexer/packages/postgres/src/db/pg-config.ts
Labels: indexer

#2849 drop unused orders_clobpairid_side_price_index
  indexer/packages/postgres/src/db/migrations/migration_files/20250509125707_drop_orders_clobpairid_side_price_idx.ts
Labels: indexer, backport/indexer/v8.x

#2851 drop unused indices
  indexer/packages/postgres/src/db/migrations/migration_files/20250509164342_drop_unused_idxs.ts
Labels: indexer, backport/indexer/v8.x

#2853 [BUG2-313] Correct fill notification to use fill size/price rather than order
  indexer/services/ender/__tests__/helpers/notification-functions.test.ts
  indexer/services/ender/src/handlers/order-fills/order-handler.ts
  indexer/services/ender/src/helpers/notifications/notifications-functions.ts
Labels: indexer

#2855 Fix(orderbook): Fix to-indexer order replacement logic
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_place_order_reduce_only_test.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/memclob/memclob_test_util.go
Labels: protocol

#2858 add hex to bech32 script
  protocol/scripts/hex_to_bech32/hex_to_bech32.go
Labels: protocol

#2863 chore: add warn log for ts nonce rejection
  protocol/x/accountplus/keeper/timestampnonce.go
Labels: protocol

#2865 (perf) use multi-hgetall vs Lua script
  indexer/packages/redis/__tests__/caches/orderbook-levels-cache.test.ts
  indexer/packages/redis/src/caches/orderbook-levels-cache.ts
  indexer/packages/redis/src/caches/scripts.ts
  indexer/packages/redis/src/scripts/get_orderbook_side.lua
  indexer/services/comlink/__tests__/controllers/api/v4/orderbooks-controller.test.ts
  indexer/services/ender/__tests__/helpers/redis-helpers.ts
  indexer/services/roundtable/__tests__/tasks/delete-zero-price-levels.test.ts
  indexer/services/roundtable/__tests__/tasks/orderbook-instrumentation.test.ts
  indexer/services/roundtable/__tests__/tasks/uncross-orderbook.test.ts
  indexer/services/roundtable/src/tasks/delete-zero-price-levels.ts
  indexer/services/roundtable/src/tasks/uncross-orderbook.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
  indexer/services/vulcan/src/handlers/order-update-handler.ts
Labels: indexer

#2867 fix close position order by not replaying fully filled reduce-only IOC orders
  protocol/testutil/constants/orders.go
  protocol/x/clob/e2e/reduce_only_orders_test.go
  protocol/x/clob/memclob/memclob.go
Labels: protocol

#2868 [IND-596] Create funding payments store
  indexer/packages/base/package.json
  indexer/packages/base/tsconfig.json
  indexer/packages/dev/src/test-utils.ts
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/funding-payments-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20250529150054_create_funding_payments.ts
  indexer/packages/postgres/src/helpers/db-helpers.ts
  indexer/packages/postgres/src/models/funding-payments-model.ts
  indexer/packages/postgres/src/stores/funding-payments-table.ts
  indexer/packages/postgres/src/types/funding-payments-types.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/persistent-cache-types.ts
  indexer/pnpm-lock.yaml
Labels: indexer
