Repository dydxprotocol/v4-chain, pull requests merged in 2025-09, with the labels that each got.

#3061 Fix bugs in update pnl script after deployment testing
  indexer/services/roundtable/__tests__/tasks/update-pnl.test.ts
  indexer/services/roundtable/src/scripts/update_pnl.sql
  indexer/services/roundtable/src/tasks/update-pnl.ts
Labels: indexer

#3068 [Turnkey] Use turnkey signer as master for approvals
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/helpers/policy-engine.ts
  indexer/services/comlink/src/helpers/skip-helper.ts
Labels: indexer

#3077 feat(comlink): add cache-control config for /affiliates/metadata
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/affiliates-controller.ts
Labels: indexer

#3080 [Turnkey]
  indexer/services/comlink/__tests__/helpers/alchemy-helpers.test.ts
  indexer/services/comlink/src/controllers/api/v4/turnkey-controller.ts
  indexer/services/comlink/src/helpers/alchemy-helpers.ts
Labels: indexer

#3082 upgrade cometbft and v9.1
  protocol/app/upgrades.go
  protocol/app/upgrades/v9.1/constants.go
  protocol/app/upgrades/v9.1/upgrade.go
  protocol/app/upgrades/v9.1/upgrade_container_test.go
  protocol/go.mod
  protocol/go.sum
  protocol/testing/containertest/preupgrade_genesis.json
  protocol/testing/version/VERSION_CURRENT
  protocol/testing/version/VERSION_FULL_NAME_PREUPGRADE
  protocol/testing/version/VERSION_PREUPGRADE
Labels: protocol

#3085 GetDeposits endpoint for Auto bridges
  indexer/services/comlink/__tests__/controllers/api/v4/skip-bridge-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/skip-bridge-controller.ts
Labels: indexer

#3087 [Bridging] Make $50-$100 deposits slow to not pay fees
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/helpers/skip-helper.ts
Labels: indexer

#3100 [Alchemy] Webhook not registering addresses
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/turnkey-controller.ts
  indexer/services/comlink/src/lib/turnkey-helpers.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#3104 [Turnkey] Remove Custom Sender Domain for now.
  indexer/services/comlink/src/lib/turnkey-helpers.ts
Labels: indexer

#3092 Create governance messages for sliding affiliate scheme
  Makefile
  indexer/packages/v4-protos/package.json
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/affiliates.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/tx.rpc.msg.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/affiliates/tx.ts
  proto/dydxprotocol/affiliates/affiliates.proto
  proto/dydxprotocol/affiliates/query.proto
  proto/dydxprotocol/affiliates/tx.proto
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/lib/ante/internal_msg.go
  protocol/scripts/affiliates/update_affiliate_parameters.py
  protocol/scripts/genesis/sample_pregenesis.json
  protocol/x/affiliates/client/cli/query.go
  protocol/x/affiliates/keeper/grpc_query.go
  protocol/x/affiliates/keeper/grpc_query_test.go
  protocol/x/affiliates/keeper/keeper.go
  protocol/x/affiliates/keeper/keeper_test.go
  protocol/x/affiliates/keeper/msg_server.go
  protocol/x/affiliates/types/affiliates.pb.go
  protocol/x/affiliates/types/constants.go
  protocol/x/affiliates/types/keys.go
  protocol/x/affiliates/types/query.pb.go
  protocol/x/affiliates/types/query.pb.gw.go
  protocol/x/affiliates/types/tx.pb.go
Labels: indexer, protocol, proto

#3098 Add endpoint for fetching new pnl data
  indexer/packages/postgres/__tests__/stores/pnl-table.test.ts
  indexer/packages/postgres/src/stores/pnl-table.ts
  indexer/services/comlink/__tests__/controllers/api/v4/pnl-controller.test.ts
  indexer/services/comlink/__tests__/helpers/helpers.ts
  indexer/services/comlink/__tests__/lib/helpers.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/index-v4.ts
  indexer/services/comlink/src/controllers/api/v4/pnl-controller.ts
  indexer/services/comlink/src/lib/helpers.ts
  indexer/services/comlink/src/lib/validation/schemas.ts
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
Labels: indexer
