Repository dydxprotocol/v4-chain, pull requests merged in 2025-03, with the labels that each got.

#2738 fix(pnl): Fix PNL ticks leaderboard test flakiness
  indexer/packages/postgres/__tests__/stores/pnl-ticks-table.test.ts
Labels: indexer

#2735 feat(fills): Improve `fills/parentSubaccount` query
  indexer/packages/postgres/__tests__/stores/fill-table.test.ts
  indexer/packages/postgres/src/stores/fill-table.ts
  indexer/services/comlink/__tests__/controllers/api/v4/fills-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/fills-controller.ts
Labels: indexer

#2696 feat(default-funding): Add default funding to `nextFunding` calculation
  indexer/packages/postgres/src/types/perpetual-market-types.ts
  indexer/packages/redis/__tests__/caches/next-funding-cache.test.ts
  indexer/packages/redis/src/caches/next-funding-cache.ts
  indexer/services/ender/__tests__/handlers/funding-handler.test.ts
  indexer/services/ender/__tests__/helpers/redis-helpers.ts
  indexer/services/roundtable/__tests__/tasks/market-updater.test.ts
  indexer/services/roundtable/src/tasks/market-updater.ts
Labels: indexer

#2747 bump ibc-go to latest patch on fork (commit 8733b3e)
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#2753 bump ibc-go to latest patch on fork (commit 8733b3e)
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#2754 [outage] Measure call latency in market-updater
  indexer/services/roundtable/src/tasks/market-updater.ts
Labels: indexer

#2743 perf(postgres): Add short-term open order index for `cancel-stale-orders` task.
  indexer/packages/postgres/src/db/migrations/migration_files/20250310121018_add_orders_shortterm_open_idx.ts
Labels: indexer, indexer-postgres-improvement

#2737 remove single clob msg restriction for stateful orders
  protocol/app/ante.go
  protocol/x/clob/ante/clob.go
  protocol/x/clob/ante/clob_test.go
Labels: protocol

#2736 perf(postgres): Improve sparklines query
  indexer/packages/postgres/__tests__/stores/candle-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20250306153101_add_candles_sparklines_feb2025_idx.ts
  indexer/packages/postgres/src/stores/candle-table.ts
  indexer/services/comlink/__tests__/controllers/api/v4/sparklines-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/sparklines-controller.ts
  indexer/services/comlink/src/lib/constants.ts
  indexer/services/comlink/src/request-helpers/request-transformer.ts
Labels: indexer, indexer-postgres-improvement

#2760 fix(funding): Gracefully handle individual market errors in `sampleAllPerpetuals`
  protocol/x/perpetuals/keeper/perpetual.go
Labels: protocol

#2742 perf(postgres): Add index on blocks."time" and optimize roundtable query
  indexer/packages/postgres/__tests__/stores/block-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20250226144411_create_blocks_time_since_march2025_idx.ts
  indexer/packages/postgres/src/stores/block-table.ts
  indexer/services/roundtable/src/tasks/aggregate-trading-rewards.ts
Labels: indexer, indexer-postgres-improvement

#2744 [ENG-29] Use New Instant Liquidity Tier for IML
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/keeper/listing_test.go
  protocol/x/listing/keeper/msg_create_market_permissionless_test.go
  protocol/x/listing/types/constants.go
Labels: protocol

#2765 perf(postgres,comlink): Improve `order/parentSubaccount` query
  indexer/packages/postgres/src/stores/order-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/packages/postgres/src/types/subaccount-types.ts
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
Labels: indexer

#2764 perf(postgres,comlink): Improve `historical-pnl/parentSubaccount` query
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/services/comlink/src/controllers/api/v4/historical-pnl-controller.ts
Labels: indexer, indexer-postgres-improvement

#2746 Full Node Streaming: filter all pairs when none are specified
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/full_node_streaming_manager_test.go
  protocol/streaming/types/errors.go
Labels: protocol

#2745 Skip persisting vault orders in ender
  indexer/packages/postgres/__tests__/helpers/mock-generators.ts
  indexer/packages/postgres/src/index.ts
  indexer/packages/postgres/src/lib/helpers.ts
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/packages/redis/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-removal-handler.test.ts
  indexer/services/ender/__tests__/handlers/upsert-vault-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/validators/stateful-order-validator.test.ts
  indexer/services/ender/src/lib/block-processor.ts
  indexer/services/ender/src/validators/stateful-order-validator.ts
  indexer/services/ender/src/validators/validator.ts
  indexer/services/vulcan/__tests__/handlers/order-place-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-remove-handler.test.ts
  indexer/services/vulcan/__tests__/handlers/order-update-handler.test.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
  indexer/services/vulcan/src/helpers/orders.ts
  indexer/services/vulcan/src/index.ts
Labels: indexer
