Repository dydxprotocol/v4-chain, pull requests merged in 2025-08, with the labels that each got.

#3012 Add script to deserialize ender block data
  protocol/scripts/debugging/.gitignore
  protocol/scripts/debugging/Makefile
  protocol/scripts/debugging/README.md
  protocol/scripts/debugging/deserialize_proto.go
  protocol/scripts/debugging/events.json
Labels: protocol

#3013 Add orrs protocol changes
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/lib/order-translations.test.ts
  indexer/packages/postgres/__tests__/lib/protocol-translations.test.ts
  indexer/packages/postgres/src/lib/order-translations.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/redis/__tests__/caches/constants.ts
  indexer/packages/redis/__tests__/helpers/constants.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/protocol/v1/clob.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/src/helpers/translation-helper.ts
  indexer/services/ender/src/lib/translated-types.ts
  indexer/services/ender/src/lib/types.ts
  proto/dydxprotocol/indexer/events/events.proto
  proto/dydxprotocol/indexer/protocol/v1/clob.proto
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/order_fill.go
  protocol/indexer/events/order_fill_test.go
  protocol/indexer/protocol/v1/types/clob.pb.go
  protocol/indexer/protocol/v1/v1_mappers.go
  protocol/x/clob/e2e/long_term_orders_test.go
  protocol/x/clob/e2e/short_term_orders_test.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/types/match_with_orders.go
Labels: indexer, protocol, proto, feature:order_router_rev_share

#3016 Add postgres changes for ORRS
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20250804110830_add_order_router_rev_shares.ts
  indexer/packages/postgres/src/models/fill-model.ts
  indexer/packages/postgres/src/models/order-model.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/order-types.ts
  indexer/services/comlink/__tests__/lib/request-helpers/request-transformer.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/handlers/dydx_stateful_order_handler.sql
  indexer/services/ender/src/scripts/helpers/dydx_get_order_router_address_from_liquidity.sql
  indexer/services/ender/src/scripts/helpers/dydx_get_order_router_fee_from_liquidity.sql
  indexer/services/ender/src/scripts/helpers/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/helpers/dydx_order_fill_handler_per_order.sql
Labels: indexer

#3023 feat(comlink): add configurable Cache-Control middleware
  indexer/packages/base/src/cache-control.ts
  indexer/packages/base/src/index.ts
  indexer/pnpm-lock.yaml
  indexer/services/comlink/package.json
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/addresses-controller.ts
  indexer/services/comlink/src/controllers/api/v4/affiliates-controller.ts
  indexer/services/comlink/src/controllers/api/v4/asset-positions-controller.ts
  indexer/services/comlink/src/controllers/api/v4/candles-controller.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-controller.ts
  indexer/services/comlink/src/controllers/api/v4/compliance-v2-controller.ts
  indexer/services/comlink/src/controllers/api/v4/fills-controller.ts
  indexer/services/comlink/src/controllers/api/v4/funding-payments-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-block-trading-rewards-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-funding-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-pnl-controller.ts
  indexer/services/comlink/src/controllers/api/v4/historical-trading-reward-aggregations-controller.ts
  indexer/services/comlink/src/controllers/api/v4/orderbook-controller.ts
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
  indexer/services/comlink/src/controllers/api/v4/perpetual-markets-controller.ts
  indexer/services/comlink/src/controllers/api/v4/perpetual-positions-controller.ts
  indexer/services/comlink/src/controllers/api/v4/social-trading-controller.ts
  indexer/services/comlink/src/controllers/api/v4/sparklines-controller.ts
  indexer/services/comlink/src/controllers/api/v4/time-controller.ts
  indexer/services/comlink/src/controllers/api/v4/trades-controller.ts
  indexer/services/comlink/src/controllers/api/v4/transfers-controller.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
  indexer/services/comlink/src/request-helpers/server.ts
Labels: indexer

#3009 [ENG-266] Alchemy addresses hook to subscribe new wallets
  indexer/packages/base/src/config.ts
  indexer/pnpm-lock.yaml
  indexer/services/comlink/__tests__/helpers/alchemy-helpers.test.ts
  indexer/services/comlink/package.json
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/turnkey-controller.ts
  indexer/services/comlink/src/helpers/alchemy-helpers.ts
Labels: indexer

#3019 update cosmos-sdk and cometbft version to enable proposer set reduction
  protocol/app/msgs/all_msgs.go
  protocol/app/msgs/internal_msgs.go
  protocol/app/msgs/internal_msgs_test.go
  protocol/app/testdata/default_genesis_state.json
  protocol/go.mod
  protocol/go.sum
  protocol/lib/ante/internal_msg.go
  protocol/scripts/genesis/sample_pregenesis.json
Labels: protocol

#3036 Change to warn instead of error for invalid ORRS
  protocol/x/revshare/keeper/revshare.go
Labels: protocol

#3039 [CT-1365] Safely Handle Exceptions to TWAP Suborders
  protocol/x/clob/keeper/twap_order_state.go
Labels: protocol

#2815 [CT-1361] Add Support for TWAP Events in the Indexer
  indexer/packages/postgres/src/db/migrations/migration_files/20250423144330_add_twap_fields_to_orders_and_fills_table.ts
  indexer/packages/postgres/src/lib/protocol-translations.ts
  indexer/packages/postgres/src/models/order-model.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/fill-types.ts
  indexer/packages/postgres/src/types/order-types.ts
  indexer/packages/postgres/src/types/trade-types.ts
  indexer/packages/postgres/src/types/websocket-message-types.ts
  indexer/packages/v4-proto-parser/src/constants.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/events/events.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/indexer/protocol/v1/clob.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/ender/__tests__/handlers/order-fills/liquidation-handler.test.ts
  indexer/services/ender/__tests__/handlers/order-fills/order-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/conditional-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-placement-handler.test.ts
  indexer/services/ender/__tests__/handlers/stateful-order/stateful-order-removal-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/helpers/indexer-proto-helpers.ts
  indexer/services/ender/__tests__/scripts/scripts.test.ts
  indexer/services/ender/__tests__/validators/stateful-order-validator.test.ts
  indexer/services/ender/src/handlers/stateful-order/stateful-order-placement-handler.ts
  indexer/services/ender/src/helpers/postgres/postgres-functions.ts
  indexer/services/ender/src/scripts/handlers/dydx_stateful_order_handler.sql
  indexer/services/ender/src/scripts/helpers/dydx_get_order_status.sql
  indexer/services/ender/src/scripts/helpers/dydx_liquidation_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/helpers/dydx_order_fill_handler_per_order.sql
  indexer/services/ender/src/scripts/helpers/dydx_order_flags.sql
  indexer/services/ender/src/scripts/helpers/dydx_protocol_condition_type_to_order_type.sql
  indexer/services/ender/src/scripts/helpers/dydx_protocol_convert_to_order_type.sql
  indexer/services/ender/src/scripts/helpers/dydx_uuid_from_order_id.sql
  indexer/services/ender/src/validators/stateful-order-validator.ts
  proto/dydxprotocol/indexer/events/events.proto
  proto/dydxprotocol/indexer/protocol/v1/clob.proto
  protocol/indexer/events/events.pb.go
  protocol/indexer/events/stateful_order.go
  protocol/indexer/protocol/v1/types/clob.pb.go
  protocol/indexer/protocol/v1/v1_mappers.go
  protocol/x/clob/keeper/msg_server_place_order.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/twap_order_state.go
Labels: indexer, protocol, proto, twap

#3051 Create new instance for fee calculation
  protocol/x/revshare/keeper/revshare.go
  protocol/x/revshare/keeper/revshare_test.go
Labels: protocol

#3040 New PnL table for new pnl calculations job
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/pnl-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20250812131809_create_pnl_table.ts
  indexer/packages/postgres/src/models/pnl-model.ts
  indexer/packages/postgres/src/stores/pnl-table.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/pnl-types.ts
  indexer/packages/postgres/src/types/query-types.ts
Labels: indexer
