Repository dydxprotocol/v4-chain, pull requests merged in 2025-04, with the labels that each got.

#2772 perf(ender): Use empty JSONB for skipped event
  indexer/services/ender/src/lib/block-processor.ts
Labels: indexer

#2778 [CT-1354] Extend Order Proto for TWAP
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/order.ts
  proto/dydxprotocol/clob/order.proto
  protocol/x/clob/types/message_place_order.go
  protocol/x/clob/types/message_place_order_test.go
  protocol/x/clob/types/order.go
  protocol/x/clob/types/order.pb.go
  protocol/x/clob/types/order_id.go
  protocol/x/clob/types/order_id_test.go
  protocol/x/clob/types/order_test.go
Labels: indexer, protocol, proto

#2786 intrument sizes of bids and asks in orderbook cache
  indexer/services/roundtable/__tests__/tasks/orderbook-instrumentation.test.ts
  indexer/services/roundtable/src/tasks/orderbook-instrumentation.ts
Labels: indexer

#2790 fix(fills-controller): Re-enable pagination for `fills/parentSubaccountNumber`
  indexer/packages/postgres/__tests__/lib/parent-subaccount-helpers.test.ts
  indexer/packages/postgres/__tests__/lib/parent-subaccount-helpers.ts
  indexer/packages/postgres/__tests__/stores/fill-table.test.ts
  indexer/packages/postgres/src/lib/parent-subaccount-helpers.ts
  indexer/packages/postgres/src/stores/fill-table.ts
  indexer/packages/postgres/src/stores/order-table.ts
  indexer/packages/postgres/src/stores/pnl-ticks-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/fills-controller.test.ts
  indexer/services/comlink/src/controllers/api/v4/fills-controller.ts
Labels: indexer

#2791 pipeline redis queries in orders/parentSubaccount endpoint
  indexer/packages/redis/__tests__/caches/constants.ts
  indexer/packages/redis/__tests__/caches/subaccount-order-ids-cache.test.ts
  indexer/packages/redis/src/caches/subaccount-order-ids-cache.ts
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
Labels: indexer

#2794 in perpetual markets endpoint, find all markets in one query instead of one query per market
  indexer/packages/postgres/__tests__/stores/market-table.test.ts
  indexer/packages/postgres/src/stores/market-table.ts
  indexer/services/comlink/src/controllers/api/v4/perpetual-markets-controller.ts
Labels: indexer

#2795 fix perpetual-markets controller test
  indexer/services/comlink/__tests__/controllers/api/v4/perpetual-markets-controller.test.ts
Labels: indexer

#2783 perf(vault queries): Cache MV/Vault PNL on request
  indexer/packages/redis/__tests__/caches/vault-cache.test.ts
  indexer/packages/redis/src/caches/vault-cache.ts
  indexer/packages/redis/src/index.ts
  indexer/packages/redis/src/types.ts
  indexer/services/comlink/.env.test
  indexer/services/comlink/__tests__/controllers/api/v4/historical-pnl-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/__tests__/helpers/helpers.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#2804 [ENG-4] Add cross-margin launch for listings
  protocol/x/listing/keeper/listing.go
  protocol/x/listing/keeper/listing_test.go
Labels: protocol

#2806 (build) add datadog git repository and sha tags to dockerfile and indexer workflow
  .github/workflows/indexer-reusable-build-and-push-ecs-service.yml
  indexer/Dockerfile.service.remote
Labels: indexer

#2807 replace candles (ticker, resolution) index with (ticker, resolution, startedat desc)
  indexer/packages/postgres/src/db/migrations/migration_files/20250425155808_replace_candles_ticker_resolution_idx_with_ticker_resolution_startedat_idx.ts
Labels: indexer

#2798 (bug) don't remove CLOSE event handler on websocket send error
  indexer/pnpm-lock.yaml
  indexer/services/socks/__tests__/websocket/index.test.ts
  indexer/services/socks/package.json
  indexer/services/socks/src/helpers/wss.ts
  indexer/services/socks/src/lib/message-forwarder.ts
  indexer/services/socks/src/websocket/index.ts
Labels: indexer

#2812 Revert "perf(vault queries): Cache MV/Vault PNL on request (backport #2783)"
  indexer/packages/redis/__tests__/caches/vault-cache.test.ts
  indexer/packages/redis/src/caches/vault-cache.ts
  indexer/packages/redis/src/index.ts
  indexer/packages/redis/src/types.ts
  indexer/services/comlink/.env.test
  indexer/services/comlink/__tests__/controllers/api/v4/historical-pnl-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/vault-controller.test.ts
  indexer/services/comlink/__tests__/helpers/helpers.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/config.ts
  indexer/services/comlink/src/controllers/api/v4/vault-controller.ts
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#2780 [CT-1355] Handle Suborders in End Blocker
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/order.ts
  proto/dydxprotocol/clob/order.proto
  protocol/lib/big_math.go
  protocol/lib/quantums.go
  protocol/x/clob/abci.go
  protocol/x/clob/client/cli/tx_place_order.go
  protocol/x/clob/e2e/twap_orders_test.go
  protocol/x/clob/keeper/msg_server_place_order_test.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/process_operations_stateful_validation.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/keeper/twap_order_state.go
  protocol/x/clob/keeper/twap_order_state_test.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/message_place_order.go
  protocol/x/clob/types/order.go
  protocol/x/clob/types/order.pb.go
Labels: indexer, protocol, proto, twap
