Repository dydxprotocol/v4-chain, pull requests merged in 2025-02, with the labels that each got.

#2709 Check for blocked address before withdrawing to it
  protocol/testutil/keeper/bank.go
  protocol/x/subaccounts/keeper/transfer.go
  protocol/x/subaccounts/keeper/transfer_test.go
  protocol/x/subaccounts/types/expected_keepers.go
Labels: protocol

#2712 Fix ASA-2025-001 and ASA-2025-002
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#2716 [BUG2-156] Only return recent best effort canceled orders.
  indexer/packages/postgres/__tests__/stores/order-table.test.ts
  indexer/packages/postgres/src/stores/order-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/orders-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
  indexer/services/comlink/src/types.ts
  indexer/services/socks/__tests__/lib/message-forwarder.test.ts
  indexer/services/socks/__tests__/lib/subscriptions.test.ts
  indexer/services/socks/src/lib/subscription.ts
Labels: indexer

#2718 Fix bug with socks subaccount subscription with best effort canceled logic.
  indexer/services/comlink/src/controllers/api/v4/orders-controller.ts
  indexer/services/socks/__tests__/lib/subscriptions.test.ts
  indexer/services/socks/src/lib/subscription.ts
Labels: indexer

#2722 Create delisting gov proposal script
  protocol/scripts/governance/create_delisting_proposal.py
Labels: protocol

#2721 add cli to update default quoting params of vaults
  protocol/x/vault/client/cli/tx.go
Labels: protocol

#2704 Full Node Streaming Order Filtering by Subaccount impl and tests
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/query.ts
  proto/dydxprotocol/clob/query.proto
  protocol/streaming/full_node_streaming_manager.go
  protocol/streaming/full_node_streaming_manager_test.go
  protocol/streaming/noop_streaming_manager.go
  protocol/streaming/types/interface.go
  protocol/streaming/util/util.go
  protocol/streaming/util/util_test.go
  protocol/streaming/ws/websocket_server.go
  protocol/x/clob/keeper/grpc_stream_orderbook.go
  protocol/x/clob/types/query.pb.go
Labels: indexer, protocol, proto

#2725 initialize candles cache based on latest indexed block time
  indexer/packages/postgres/__tests__/stores/candle-table.test.ts
  indexer/packages/postgres/src/stores/candle-table.ts
  indexer/services/ender/src/caches/candle-cache.ts
Labels: indexer

#2728 fix(market-updater): Fix timing stats
  indexer/services/roundtable/src/tasks/market-updater.ts
Labels: indexer

#2730 perf(db): Improve `market-updater` task and `getLatestPrice` query
  indexer/packages/postgres/__tests__/stores/oracle-price-table.test.ts
  indexer/packages/postgres/src/stores/oracle-price-table.ts
  indexer/services/roundtable/src/helpers/pnl-ticks-helper.ts
  indexer/services/roundtable/src/tasks/market-updater.ts
Labels: indexer

#2732 Bump ibc-go from `v8.0.0` to fork
  protocol/go.mod
  protocol/go.sum
Labels: protocol
