Repository dydxprotocol/v4-chain, pull requests merged in 2025-01, with the labels that each got.

#2666 Patch for ASA-2024-0012 and 0013.
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#2678 [CT-1338] Add channel and id properties to error message on subscription failure.
  indexer/services/socks/__tests__/lib/subscriptions.test.ts
  indexer/services/socks/src/helpers/message.ts
  indexer/services/socks/src/lib/subscription.ts
  indexer/services/socks/src/types.ts
Labels: indexer

#2677 Add subaccount usernames table to list of tables to export.
  indexer/services/roundtable/src/lib/athena-ddl-tables/subaccount_usernames.ts
  indexer/services/roundtable/src/tasks/update-research-environment.ts
Labels: indexer

#2681 Move memstore hydration initialized flag to memstore
  protocol/mocks/ClobKeeper.go
  protocol/x/clob/ante/clob.go
  protocol/x/clob/ante/clob_test.go
  protocol/x/clob/keeper/keeper.go
  protocol/x/clob/keeper/keeper_test.go
  protocol/x/clob/types/clob_keeper.go
  protocol/x/clob/types/keys.go
Labels: protocol

#2683 chore(oe): More info log for OE
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#2686 feat(blocktime): Implement query for SynchronyParams
  indexer/packages/v4-protos/src/codegen/dydxprotocol/blocktime/query.lcd.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/blocktime/query.rpc.Query.ts
  indexer/packages/v4-protos/src/codegen/dydxprotocol/blocktime/query.ts
  proto/dydxprotocol/blocktime/query.proto
  protocol/mocks/QueryClient.go
  protocol/x/blocktime/client/cli/query.go
  protocol/x/blocktime/keeper/grpc_query.go
  protocol/x/blocktime/keeper/grpc_query_test.go
  protocol/x/blocktime/types/query.pb.go
  protocol/x/blocktime/types/query.pb.gw.go
Labels: indexer, protocol, proto

#2688 chore: Fix typo in `get-synchrony-params`
  protocol/x/blocktime/client/cli/query.go
Labels: protocol

#2690 fix: add metadata to more errors
  indexer/services/socks/src/lib/subscription.ts
Labels: indexer

#2689 Cast oracle price to bigint and then numeric to get proper values
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/services/ender/__tests__/handlers/markets/market-price-update-handler.test.ts
  indexer/services/ender/__tests__/helpers/constants.ts
  indexer/services/ender/src/scripts/handlers/dydx_market_price_update_handler.sql
Labels: indexer

#2692 Add schema checks for addresses in url endpoints
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/pnpm-lock.yaml
  indexer/services/comlink/__tests__/controllers/api/v4/addresses-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/historical-pnl-controller.test.ts
  indexer/services/comlink/__tests__/controllers/api/v4/transfers-controller.test.ts
  indexer/services/comlink/__tests__/lib/validation/schemas.test.ts
  indexer/services/comlink/package.json
  indexer/services/comlink/src/lib/validation/schemas.ts
Labels: indexer

#2699 fix(tx_search): Set `cometbft-db` to `v0.12` to fix tx_search issue (Long-term fix needed)
  protocol/go.mod
  protocol/go.sum
Labels: protocol

#2703 Downgrade batch cancel logs
  protocol/lib/metrics/constants.go
  protocol/x/clob/keeper/orders.go
Labels: protocol
