Repository dydxprotocol/v4-chain, pull requests merged in 2025-06, with the labels that each got.

#2854 (fix) improve handling of unhealthy websockets connections
  indexer/packages/kafka/src/websocket-helper.ts
  indexer/packages/redis/src/caches/place-order.ts
  indexer/packages/redis/src/caches/stateful-order-updates-cache.ts
  indexer/packages/v4-proto-parser/src/order-helpers.ts
  indexer/services/ender/src/lib/kafka-publisher.ts
  indexer/services/roundtable/src/helpers/websocket.ts
  indexer/services/socks/__tests__/lib/invalid-message.test.ts
  indexer/services/socks/__tests__/websocket/index.test.ts
  indexer/services/socks/src/helpers/from-kafka-helpers.ts
  indexer/services/socks/src/helpers/wss.ts
  indexer/services/socks/src/lib/constants.ts
  indexer/services/socks/src/lib/invalid-message.ts
  indexer/services/socks/src/lib/message-forwarder.ts
  indexer/services/socks/src/types.ts
  indexer/services/socks/src/websocket/index.ts
  indexer/services/vulcan/src/handlers/handler.ts
  indexer/services/vulcan/src/handlers/order-place-handler.ts
  indexer/services/vulcan/src/handlers/order-remove-handler.ts
Labels: indexer

#2869 [ENG-5] Funding Payment History
  indexer/packages/postgres/src/stores/funding-index-updates-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/services/roundtable/__tests__/tasks/update-funding-payments.test.ts
  indexer/services/roundtable/package.json
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
  indexer/services/roundtable/src/scripts/update_funding_payments.sql
  indexer/services/roundtable/src/tasks/update-funding-payments.ts
Labels: indexer

#2837 [CT-1362] Support Builder Codes in the Protocol
  indexer/packages/v4-protos/src/codegen/dydxprotocol/clob/order.ts
  proto/dydxprotocol/affiliates/tx.proto
  proto/dydxprotocol/clob/order.proto
  protocol/mocks/MemClobKeeper.go
  protocol/testutil/constants/orders.go
  protocol/x/clob/e2e/builder_code_test.go
  protocol/x/clob/keeper/deleveraging.go
  protocol/x/clob/keeper/orders.go
  protocol/x/clob/keeper/process_operations.go
  protocol/x/clob/keeper/process_operations_test.go
  protocol/x/clob/keeper/process_single_match.go
  protocol/x/clob/memclob/memclob.go
  protocol/x/clob/memclob/memclob_place_order_test.go
  protocol/x/clob/types/builder_code.go
  protocol/x/clob/types/errors.go
  protocol/x/clob/types/events.go
  protocol/x/clob/types/expected_keepers.go
  protocol/x/clob/types/message_place_order.go
  protocol/x/clob/types/message_place_order_test.go
  protocol/x/clob/types/order.pb.go
  protocol/x/clob/types/orderbook.go
  protocol/x/clob/types/tx.pb.go
  protocol/x/subaccounts/keeper/transfer.go
Labels: indexer, protocol, proto

#2892 update testnet chain ID from dydx-testnet-1 to dydx-testnet-4
  protocol/testing/testnet/testnet.sh
Labels: protocol

#2895 Fix race condition in update funding table task.
  indexer/services/roundtable/src/config.ts
  indexer/services/roundtable/src/index.ts
Labels: indexer

#2888 Add tx batching gas decorator fix
  protocol/app/ante.go
  protocol/app/ante/gas.go
  protocol/app/ante/gas_test.go
  protocol/app/ante_test.go
  protocol/app/app.go
  protocol/x/clob/ante/clob.go
  protocol/x/clob/ante/clob_test.go
  protocol/x/clob/e2e/long_term_orders_test.go
Labels: protocol

#2905 Add funding index column
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20250529150054_create_funding_payments.ts
  indexer/packages/postgres/src/types/funding-payments-types.ts
  indexer/services/roundtable/__tests__/tasks/update-funding-payments.test.ts
  indexer/services/roundtable/src/scripts/update_funding_payments.sql
Labels: indexer

#2906 Update comlink fundingIndex column for fundingPayments.
  indexer/packages/postgres/src/models/funding-payments-model.ts
  indexer/packages/postgres/src/types/db-model-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/funding-payments-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/request-helpers/request-transformer.ts
  indexer/services/comlink/src/types.ts
Labels: indexer

#2910 Revert indexer changes in release
  indexer/packages/base/package.json
  indexer/packages/base/tsconfig.json
  indexer/packages/dev/src/test-utils.ts
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/__tests__/stores/funding-payments-table.test.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20250529150054_create_funding_payments.ts
  indexer/packages/postgres/src/helpers/db-helpers.ts
  indexer/packages/postgres/src/models/funding-payments-model.ts
  indexer/packages/postgres/src/stores/funding-payments-table.ts
  indexer/packages/postgres/src/types/funding-payments-types.ts
  indexer/packages/postgres/src/types/index.ts
  indexer/packages/postgres/src/types/persistent-cache-types.ts
  indexer/pnpm-lock.yaml
Labels: indexer

#2923 Add funding index column (backport #2905)
  indexer/packages/postgres/__tests__/helpers/constants.ts
  indexer/packages/postgres/src/db/migrations/migration_files/20250529150054_create_funding_payments.ts
  indexer/packages/postgres/src/types/funding-payments-types.ts
  indexer/services/roundtable/__tests__/tasks/update-funding-payments.test.ts
  indexer/services/roundtable/src/scripts/update_funding_payments.sql
Labels: indexer

#2935 Don't default to null in builder codes migration
  indexer/packages/postgres/src/db/migrations/migration_files/20250514151100_add_builder_fees_to_orders_and_fills.ts
Labels: indexer

#2940 Adds createdAtHeight index to fills table
  indexer/packages/postgres/src/db/migrations/migration_files/20250623170556_add_fills_createdAtHeight_idx.ts
Labels: indexer

#2943 Disable transactions for index migration
  indexer/packages/postgres/src/db/migrations/migration_files/20250623170556_add_fills_createdAtHeight_idx.ts
Labels: indexer

#2939 Add metrics in funding payments roundtable task.
  indexer/services/roundtable/src/tasks/update-funding-payments.ts
Labels: indexer

#2948 Removes funding payments that are 0s from comlink response.
  indexer/packages/postgres/src/stores/funding-payments-table.ts
  indexer/packages/postgres/src/types/query-types.ts
  indexer/services/comlink/__tests__/controllers/api/v4/funding-payments-controller.test.ts
  indexer/services/comlink/public/api-documentation.md
  indexer/services/comlink/public/swagger.json
  indexer/services/comlink/src/controllers/api/v4/funding-payments-controller.ts
  indexer/services/comlink/src/lib/validation/schemas.ts
Labels: indexer

#2951 (fix) auxo: stop ender prior to db upgrade
  indexer/services/auxo/src/constants.ts
  indexer/services/auxo/src/index.ts
Labels: indexer
